.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  padding-right: 30px;
}

.select-wrapper i.chevron {
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--ar-secondary);
}

.select-custom {
  border: 0px none var(--ar-gray-100) !important;
  padding-top: 9px;
  padding-bottom: 9px;
  color: var(--ar-gray-600)
}


.select-custom:focus {
  color: var(--ar-gray-600)
}