.td-price {
  width: 30%;
  text-align: right;
}

.middle-width {
  min-width: 500px;
}

.payment-label {
  white-space: nowrap;
  max-width: 700px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}