<div>
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)" [selectedIndex]="index">
    <mat-tab label="Mes indicateurs" *ngIf="canViewIndicators()">
      <ng-template matTabContent>
        <my-indicators></my-indicators>
      </ng-template>
    </mat-tab>
    <mat-tab label="Indicateurs" *ngIf="canViewIndicators()">
      <ng-template matTabContent>
        <indicator-detailed [idIndicator]="idIndicator" [idEmployee]="idEmployee"></indicator-detailed>
      </ng-template>
    </mat-tab>
    <mat-tab label="CRI">
      <ng-template matTabContent>
        <incident-reporting></incident-reporting>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>