<mat-dialog-content class="container" *ngIf="selectedPayment">
  <div class="left">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" #tree class="tree">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
        [ngClass]="{'selected':getNodeName(selectedPayment)==node.name,'payment-tree-active':getNodeName(selectedPayment)==node.name}"
        class="pointer" (click)="selectNode(node)">
        <button mat-icon-button disabled></button>
        {{node.name}}
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding
        [ngClass]="{'selected':getNodeName(selectedPayment)==node.name,'payment-tree-active':getNodeName(selectedPayment)==node.name, 'isCanceled': selectedPayment.isCancelled===true}"
        class="pointer" (click)="selectNode(node)">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>
  </div>
  <div class="right">
    <mat-tab-group animationDuration="0ms" *ngIf="selectedPayment">
      <mat-tab label="Details">
        <div class="form-div">
          <table class="full-width">
            <tr>
              <td>
                <generic-input [(model)]="selectedPayment.id" label="Identifiant" [form]="paymentForm" propertyName="id"
                  [isMandatory]="false" [isDisabled]="true"></generic-input>
              </td>
              <td>
                <generic-input [(model)]="selectedPayment.bankId" label="Identifiant bancaire" [form]="paymentForm"
                  propertyName="bankId" [isMandatory]="false" [isDisabled]="true"></generic-input>
              </td>
              <td>
                <generic-toggle [(model)]="selectedPayment.isCancelled" label="Est annulé ?" [form]="paymentForm"
                  propertyName="isCancelled"></generic-toggle>
              </td>
            </tr>
            <tr>
              <td>
                <select-payment-types [(model)]="selectedPayment.paymentType" label="Type" [form]="paymentForm"
                  propertyName="paymentType" [isMandatory]="false" [isDisabled]="true"></select-payment-types>
              </td>
              <td *ngIf="selectedPayment.paymentType && selectedPayment.paymentType.id == paymentTypeCheck.id">
                <generic-input [(model)]="selectedPayment.checkNumber" label="N° de chèque" [form]="paymentForm"
                  propertyName="checkNumber" [isMandatory]="false" [isDisabled]="true"></generic-input>
              </td>
              <td>
                <generic-input [(model)]="selectedPayment.paymentAmount" label="Montant" [form]="paymentForm"
                  propertyName="paymentAmount" [isMandatory]="false" [isDisabled]="true" type="number"></generic-input>
              </td>
              <td>
                <generic-datepicker [(model)]="selectedPayment.paymentDate" label="Date du paiement"
                  [form]="paymentForm" propertyName="paymentDate" [isMandatory]="false"
                  [isDisabled]="true"></generic-datepicker>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
                <generic-textarea [(model)]="selectedPayment.label" label="Libellé" [form]="paymentForm"
                  propertyName="label" [isMandatory]="false" [isDisabled]="true" [numberOfLines]="2"></generic-textarea>
              </td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab
        [label]="'Commande '+currentCustomerOrder.id+' '+(currentCustomerOrder.customerOrderStatus?(' - '+currentCustomerOrder.customerOrderStatus.label):'')"
        *ngIf="currentCustomerOrder">
        <ng-template matTabContent>
          <div class="form-div">
            <quotation [idQuotation]="currentCustomerOrder.id" [isForIntegration]="true"
              [inputProvision]="currentProvision"></quotation>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab
        [label]="'Facture '+currentInvoice.id+' '+(currentInvoice.invoiceStatus?(' - '+currentInvoice.invoiceStatus.label):'')"
        *ngIf="currentInvoice">
        <ng-template matTabContent>
          <div class="form-div">
            <invoice-details [idInvoice]="currentInvoice.id" [isForIntegration]="true"></invoice-details>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Remboursement" *ngIf="currentRefund">
        <ng-template matTabContent>
          <div class="form-div">
            <table class="full-width">
              <tr>
                <td>
                  <generic-input [(model)]="currentRefund.id" label="Identifiant" [form]="paymentForm"
                    propertyName="refundid" [isMandatory]="false" [isDisabled]="true"></generic-input>
                </td>
                <td>
                  <generic-input [(model)]="currentRefund.refundIBAN" label="IBAN" [form]="paymentForm"
                    propertyName="refundIBAN" [isMandatory]="false" [isDisabled]="true"></generic-input>
                </td>
                <td>
                  <generic-input [(model)]="currentRefund.refundBic" label="BIC" [form]="paymentForm"
                    propertyName="refundBic" [isMandatory]="false" [isDisabled]="true"></generic-input>
                </td>
              </tr>
              <tr>
                <td>
                  <select-refund-type [(model)]="currentRefund.refundType" label="Type" [form]="paymentForm"
                    propertyName="refundType" [isMandatory]="false" [isDisabled]="true"></select-refund-type>
                </td>
                <td>
                  <generic-input [(model)]="currentRefund.refundAmount" label="Montant (€)" [form]="paymentForm"
                    propertyName="refundAmount" [isMandatory]="false" [isDisabled]="true" type="number"></generic-input>
                </td>
                <td>
                  <generic-datepicker [(model)]="currentRefund.refundDateTime" label="Date de génération"
                    [form]="paymentForm" propertyName="refundDateTime" [isMandatory]="false"
                    [isDisabled]="true"></generic-datepicker>
                </td>
              </tr>
              <tr>
                <td>
                  <autocomplete-tiers-individual [(model)]="currentRefund.tiers" [form]="paymentForm"
                    propertyName="refundtiers" [isMandatory]="false" label="Tiers destinataire" [isDisabled]="true"
                    [authorizeNonIndividualTiers]="true">
                  </autocomplete-tiers-individual>
                </td>
                <td>
                  <autocomplete-confrere [(model)]="currentRefund.confrere" [form]="paymentForm"
                    propertyName="refundconfrere" [isMandatory]="false" label="Confrère destinataire"
                    [isDisabled]="true">
                  </autocomplete-confrere>
                </td>
                <td>
                  <autocomplete-affaire [(model)]="currentRefund.affaire" [form]="paymentForm"
                    propertyName="refundaffaire" [isMandatory]="false" label="Affaire destinatrice" [isDisabled]="true">
                  </autocomplete-affaire>
                </td>
              </tr>
            </table>
            <table class="full-width">
              <tr>
                <td>
                  <generic-textarea [(model)]="currentRefund.label" label="Libellé" [form]="paymentForm"
                    propertyName="refundlabel" [isMandatory]="false" [isDisabled]="true"
                    [numberOfLines]="2"></generic-textarea>
                </td>
              </tr>
            </table>
            <table class="full-width">
              <tr>
                <td>
                  <generic-toggle [(model)]="currentRefund.isAlreadyExported" label="A été exporté ?"
                    [form]="paymentForm" propertyName="refundIsAlreadyExported"></generic-toggle>
                </td>
                <td>
                  <generic-toggle [(model)]="currentRefund.isMatched" label="A été pointé ?" [form]="paymentForm"
                    propertyName="refundIsMatched"></generic-toggle>
                </td>
              </tr>
            </table>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Virement" *ngIf="currentBankTransfert">
        <ng-template matTabContent>
          <div class="form-div">
            <table class="full-width">
              <tr>
                <td>
                  <generic-input [(model)]="currentBankTransfert.id" label="Identifiant" [form]="paymentForm"
                    propertyName="banktransfertid" [isMandatory]="false" [isDisabled]="true"></generic-input>
                </td>
                <td>
                  <generic-input [(model)]="currentBankTransfert.transfertIban" label="IBAN" [form]="paymentForm"
                    propertyName="banktransfertIBAN" [isMandatory]="false" [isDisabled]="true"></generic-input>
                </td>
                <td>
                  <generic-input [(model)]="currentBankTransfert.transfertBic" label="BIC" [form]="paymentForm"
                    propertyName="banktransfertBic" [isMandatory]="false" [isDisabled]="true"></generic-input>
                </td>
              </tr>
            </table>
            <table class="full-width">
              <tr>
                <td>
                  <generic-input [(model)]="currentBankTransfert.transfertAmount" label="Montant (€)"
                    [form]="paymentForm" propertyName="banktransfertAmount" [isMandatory]="false" [isDisabled]="true"
                    type="number"></generic-input>
                </td>
                <td>
                  <generic-datepicker [(model)]="currentBankTransfert.transfertDateTime" label="Date de virement prévue"
                    [form]="paymentForm" propertyName="banktransfertDateTime" [isMandatory]="false"
                    [isDisabled]="true"></generic-datepicker>
                </td>
              </tr>
            </table>
            <table class="full-width">
              <tr>
                <td>
                  <generic-textarea [(model)]="currentBankTransfert.label" label="Libellé" [form]="paymentForm"
                    propertyName="banktransfertlabel" [isMandatory]="false" [isDisabled]="true"
                    [numberOfLines]="2"></generic-textarea>
                </td>
              </tr>
            </table>
            <table class="full-width">
              <tr>
                <td>
                  <generic-toggle [(model)]="currentBankTransfert.isAlreadyExported" label="A été exporté ?"
                    [form]="paymentForm" propertyName="banktransfertIsAlreadyExported"></generic-toggle>
                </td>
                <td>
                  <generic-toggle [(model)]="currentBankTransfert.isSelectedForExport"
                    (onToggleChange)="toggleBankTransfertExport($event)" label="Est sélectionné pour l'export ?"
                    [form]="paymentForm" propertyName="banktransfertisSelectedForExport"></generic-toggle>
                </td>
                <td>
                  <generic-toggle [(model)]="currentBankTransfert.isMatched" label="A été pointé ?" [form]="paymentForm"
                    propertyName="banktransfertIsMatched"></generic-toggle>
                </td>
                <td>
                  <generic-toggle [(model)]="currentBankTransfert.isCancelled" label="Est annulé ?" [form]="paymentForm"
                    propertyName="banktransfertisCancelled"></generic-toggle>
                </td>
              </tr>
            </table>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab
        [label]="currentTiers.denomination ? currentTiers.denomination : (currentTiers.firstname+' '+currentTiers.lastname)"
        *ngIf="currentTiers">
        <ng-template matTabContent>
          <div class="form-div">
            <tiers [idTiers]="currentTiers.id"></tiers>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab [label]="currentResponsable.firstname+' '+currentResponsable.lastname" *ngIf="currentResponsable">
        <ng-template matTabContent>
          <div class="form-div">
            <tiers [idTiers]="currentResponsable.tiers.id" [idResponsable]="currentResponsable.id"></tiers>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab [label]="currentConfrere.label" *ngIf="currentConfrere">
        <ng-template matTabContent>
          <div class="form-div">
            <confrere [idConfrere]="currentConfrere.id"></confrere>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab [label]="currentCompetentAuthority.label" *ngIf="currentCompetentAuthority">
        <ng-template matTabContent>
          <div class="form-div">
            <competent-authority [idCompetentAuthority]="currentCompetentAuthority.id"></competent-authority>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab [label]="currentProvider.label" *ngIf="currentProvider">
        <ng-template matTabContent>
          <div class="form-div">
            <provider [idProvider]="currentProvider.id"></provider>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Comptabilité" *ngIf="searchAccountingRecord &&  searchAccountingRecord.idPayment">
        <ng-template matTabContent>
          <accounting-record [accountingRecordSearch]="searchAccountingRecord"></accounting-record>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-dialog-content>