<!-- Hero -->
<section class="bg-dark position-relative py-5">
  <div class="d-none d-dark-mode-block position-absolute top-0 start-0 w-100 h-100"
    style="background-color: rgba(255,255,255, .03);"></div>
  <div class="container position-relative z-2 py-5 mb-4 mb-sm-5" data-bs-theme="dark">
    <div class="row pb-5 mb-2 mb-sm-0 mb-lg-3">
      <div class="col-lg-10 col-xl-9">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Accueil</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Carrière - Nous Recrutons</li>
          </ol>
        </nav>

        <h1 class="display-2 pb-2 pb-sm-3">Rejoignez l’équipe JSS et participez à notre succès</h1>
        <ul class="list-unstyled d-flex flex-wrap mb-0">
          <li class="d-flex text-body py-1 me-4">
            <i class="ai-check-alt text-primary lead me-2"></i>
            Opportunités de développement professionnel
          </li>
          <li class="d-flex text-body py-1 me-4">
            <i class="ai-check-alt text-primary lead me-2"></i>
            Environnement dynamique et stimulant
          </li>
          <li class="d-flex text-body py-1">
            <i class="ai-check-alt text-primary lead me-2"></i>
            Contribution directe à la croissance de nos clients
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section class="container position-relative z-3" style="margin-top: -135px;">
  <div class="rounded-5 overflow-hidden">
    <div class="jarallax ratio ratio-16x9" data-jarallax data-speed="0.6">
      <div class="jarallax-img" style="background-image: url(assets/img/about/agency/parallax-image.jpg);"></div>
    </div>
  </div>
  <div class="row pt-5 mt-n2 mt-sm-0 mt-md-2 mt-lg-4 mt-xl-5">
    <div class="col-md-6 col-lg-5">
      <div class="fs-sm text-uppercase mb-3">Qui sommes-nous ?</div>
      <h2 class="display-6">Une équipe dédiée aux formalités légales et annonces légales</h2>
    </div>
    <div class="col-md-6 col-xl-5 offset-lg-1 offset-xl-2 pt-1 pt-sm-2 pt-md-5">
      <p class="fs-xl">Chez JSS, nous facilitons les démarches légales pour les entreprises en agissant en tant que
        mandataire pour leurs formalités juridiques et le dépôt d'annonces légales. Nous simplifions et accélérons le
        processus pour aider nos clients à se concentrer sur leur cœur de métier.</p>
      <p class="fs-xl mb-0">Nous recherchons des talents passionnés pour rejoindre notre équipe et apporter leur
        expertise dans un environnement propice au développement professionnel et personnel.</p>
    </div>
  </div>
</section>

<!-- Our Values -->
<section class="pt-5 mt-md-2 mt-xl-4 mt-xxl-5">
  <div class="container pt-2 pt-sm-4 pt-lg-5 mt-xxl-2">
    <div class="fs-sm text-uppercase mb-3">Nos Valeurs</div>
    <h2 class="display-6 pb-3 mb-lg-4">Ce qui nous distingue</h2>
    <div class="swiper" data-swiper-options='{
      "spaceBetween": 24,
      "pagination": {
        "el": ".swiper-pagination",
        "clickable": true
      },
      "breakpoints": {
        "576": { "slidesPerView": 2 },
        "992": { "slidesPerView": 3 }
      }
    }'>
      <div class="swiper-wrapper">

        <!-- Value Item -->
        <div class="swiper-slide h-auto">
          <div class="card border-0 bg-secondary rounded-5 h-100">
            <div class="card-body">
              <h3 class="h4">Excellence</h3>
              <p class="mb-0">Nous nous engageons à offrir un service irréprochable, garantissant qualité et rigueur
                dans chacune de nos missions.</p>
            </div>
          </div>
        </div>

        <!-- Value Item -->
        <div class="swiper-slide h-auto">
          <div class="card border-0 bg-secondary rounded-5 h-100">
            <div class="card-body">
              <h3 class="h4">Transparence</h3>
              <p class="mb-0">Nous valorisons une communication claire et honnête, tant en interne qu’avec nos
                clients.</p>
            </div>
          </div>
        </div>

        <!-- Value Item -->
        <div class="swiper-slide h-auto">
          <div class="card border-0 bg-secondary rounded-5 h-100">
            <div class="card-body">
              <h3 class="h4">Esprit d’équipe</h3>
              <p class="mb-0">Nous croyons en la force du collectif pour atteindre des objectifs ambitieux et
                accompagner le succès de nos clients.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination (bullets) -->
      <div class="swiper-pagination position-relative bottom-0 mt-2 pt-4 d-lg-none"></div>
    </div>
  </div>
</section>

<!-- How we work -->
<section class="container pt-5 mt-1 mt-sm-2 mt-xl-4 mt-xxl-5 pb-5">
  <div class="row align-items-center pt-2 pt-sm-3 pt-md-4 pt-lg-5 mt-xl-2 mt-xxl-3">
    <div class="col-md-6 col-xl-5 pb-3 pb-md-0 mb-4 mb-md-0">
      <div
        class="ratio ratio-1x1 d-flex align-items-center position-relative rounded-circle overflow-hidden bg-size-cover mx-auto"
        style="max-width: 530px; background-image: url(assets/img/about/agency/steps-image.jpg);">
        <div class="bg-black position-absolute top-0 start-0 w-100 h-100 opacity-50"></div>
        <div class="position-relative z-2 p-4" data-bs-theme="dark">
          <div class="text-center mx-auto" style="max-width: 275px;">
            <span class="d-block text-body fs-sm text-uppercase mb-3">Notre Culture</span>
            <h2 class="display-6 mb-0">L'innovation au service du juridique</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-5 offset-xl-1">
      <div class="ps-md-4 ps-xl-0">
        <div class="steps steps-hoverable">
          <div class="step py-3 py-xl-4">
            <div class="step-number">
              <div class="step-number-inner">01</div>
            </div>
            <div class="step-body">
              <h3 class="h5 pb-1 mb-2">Développement continu</h3>
              <p class="mb-0">Nous encourageons nos collaborateurs à se former continuellement pour rester à la pointe
                de l’industrie.</p>
            </div>
          </div>
          <div class="step py-3 py-xl-4">
            <div class="step-number">
              <div class="step-number-inner">02</div>
            </div>
            <div class="step-body">
              <h3 class="h5 pb-1 mb-2">Engagement client</h3>
              <p class="mb-0">La satisfaction client est notre priorité. Chaque action vise à apporter une réelle
                valeur ajoutée.</p>
            </div>
          </div>
          <div class="step py-3 py-xl-4">
            <div class="step-number">
              <div class="step-number-inner">03</div>
            </div>
            <div class="step-body">
              <h3 class="h5 pb-1 mb-2">Innovation et adaptation</h3>
              <p class="mb-0">Nous adaptons nos services aux évolutions légales et technologiques pour garantir la
                meilleure qualité de service.</p>
            </div>
          </div>
          <div class="step py-3 py-xl-4">
            <div class="step-number">
              <div class="step-number-inner">04</div>
            </div>
            <div class="step-body">
              <h3 class="h5 pb-1 mb-2">Esprit d’équipe</h3>
              <p class="mb-0">L’union fait la force. Chez JSS, la collaboration est au cœur de nos projets.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>