<!-- Header with home video  -->
<header>
  <div class="overlay"></div>

  <!-- The HTML5 video element that will create the background video on the header -->
  <video class="mt-5 mt-lg-0" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source [src]="videoParis" type="video/webm">
  </video>

  <!-- The header content -->
  <div class="container h-100 mt-5 mt-sm-0">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-auto h-100 text-left">
        <div class="w-100 text-white">
          <h1 class="display-3 text-white">Votre esprit libre, notre savoir-faire</h1>
          <p class="lead mb-0">Avec MyJSS, accédez à une information juridique fiable et actualisée pour prendre des
            décisions éclairées.</p>
        </div>
      </div>
      <div class="col-auto h-100 d-none d-lg-block ">
        <a href="">
          <img ui-sref='' [src]="logoJss" class="img-fluid" />
        </a>
      </div>
    </div>
  </div>
</header>

<!-- Our services -->
<section class="py-5">
  <div class="container py-3 py-sm-4 py-lg-5 my-md-2 my-lg-3 my-xl-4 my-xxl-5">
    <div class="text-center">
      <h2 class="h1 pb-3 mb-lg-4 text-white">Nos services</h2>
      <p>Nous proposons une large gamme de services de formalités, adaptés à vos besoins pour simplifier vos démarches
        administratives.</p>
    </div>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 pb-xl-2 pb-xxl-3 justify-content-center align-items-stretch">
      <div class="col-lg-5 d-flex pt-3 pt-xl-0">
        <div class="card h-100 border-0 rounded-5 w-100">
          <div class="card-body pb-3 px-3">
            <img src="assets/img/icons/Annonces.svg" alt="Icon">
            <h3 class="h4 text-white" routerLink="/services/announcement" style="cursor: pointer;">Annonces légales</h3>
            <p class="mb-0">Toutes les annonces légales, sur tout le territoire et sur tous les supports.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" routerLink="/services/announcement"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-flex pt-3 pt-xl-0">
        <div class="card h-100 border-0 rounded-5 w-100">
          <div class="card-body pb-3 px-3">
            <img src="assets/img/icons/Apostille.svg" alt="Icon">
            <h3 class="h4 text-white" routerLink="/services/apostille" style="cursor: pointer;">Apostille & Légalisation
            </h3>
            <p class="mb-0">Authentification et certification rapides et conformes de vos documents valables à
              l’international.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" routerLink="/services/apostille"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 pb-xl-2 pb-xxl-3 justify-content-center align-items-stretch">
      <div class="col-lg-5 d-flex pt-3 pt-xl-0">
        <div class="card h-100 border-0 rounded-5 w-100">
          <div class="card-body pb-3 px-3">
            <img src="assets/img/icons/Domiciliation.svg" alt="Icon">
            <h3 class="h4 text-white" routerLink="/services/domiciliation" style="cursor: pointer;">Domiciliation</h3>
            <p class="mb-0">Une domiciliation au cœur de Paris avec gestion simplifiée.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" routerLink="/services/domiciliation"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-flex pt-3 pt-xl-0">
        <div class="card h-100 border-0 rounded-5 w-100">
          <div class="card-body pb-3 px-3">
            <img src="assets/img/icons/Fourniture_documents.svg" alt="Icon">
            <h3 class="h4 text-white" routerLink="/services/document" style="cursor: pointer;">Fourniture de documents
            </h3>
            <p class="mb-0">Vos documents officiels fournis rapidement et en toute conformité.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" routerLink="/services/document"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container pb-5 mb-md-3 mb-lg-4 mb-xxl-5">
  <div class="row pb-md-4 pb-xl-5">
    <div class="col-md-6 mb-2 mb-md-0">
      <div class="card border-0 h-100 bg-size-cover bg-position-center"
        style="background-image: url(assets/img/parcourir_mon_compte_accueil.webp);">
        <div class="d-none d-sm-block d-md-none" style="height: 450px;"></div>
        <div class="d-sm-none" style="height: 350px;"></div>
      </div>
    </div>
    <div class="col-md-6 col-xl-5 offset-xl-1">
      <div class="pt-4 pb-sm-4 ps-md-4 ps-xl-0">
        <h2 class="h1 text-white pb-2 pb-sm-3 pb-xl-4">Parcourir l'espace <br>"Mon compte"</h2>
        <div class="d-flex pb-3 mb-2 mb-xl-3">
          <div class="text-body-secondary pt-1">01</div>
          <div class="ps-3">
            <h3 class="h5 text-white">Gestion de votre commande</h3>
            <p class="mb-0 text-body-secondary">Suivi de votre dossier en ligne via MyJSS et consultation des pièces
              obligatoires, avec une
              mise à jour en temps réel de l'avancement.</p>
          </div>
        </div>
        <div class="d-flex pb-3 mb-2 mb-xl-3">
          <div class="text-body-secondary pt-1">02</div>
          <div class="ps-3">
            <h3 class="h5 text-white">Périmètre</h3>
            <p class="mb-0">Accédez à l'ensemble de vos dossiers : commandes, devis, et suivez leur statut en temps
              réel.</p>
          </div>
        </div>
        <div class="d-flex pb-3 mb-2 mb-xl-3">
          <div class="text-body-secondary pt-1">03</div>
          <div class="ps-3">
            <h3 class="h5 text-white">Données sécurisées</h3>
            <p class="mb-0">Téléchargez facilement tous vos documents importants : factures, Kbis, et autres pièces
              justificatives en toute sécurité.</p>
          </div>
        </div>
        <div class="d-flex mb-2 mb-xl-3">
          <div class="text-body-secondary pt-1">04</div>
          <div class="ps-3">
            <h3 class="h5 text-white">Accompagnement sur mesure</h3>
            <p class="mb-0">Une plateforme simple à utiliser pour vous faire gagner du temps, avec des échanges directs
              en ligne avec votre formalité attitré et votre chargé de clientèle.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="background-opacity mb-5">
  <div class="container overflow-hidden">
    <generic-swiper *ngIf="tendencyPosts && tendencyPosts.length>0" [items]="tendencyPosts" title="Articles à la une">
      <ng-template let-post>
        <div class="h-100">
          <div class="card border-0 bg-tertiary">
            <a [routerLink]="'/post/'+post.slug">
              <img class="card-img-top" *ngIf="post.media"
                [src]="post.media && post.media.urlMediumLarge ? post.media.urlMediumLarge : post.media.urlFull"
                alt="Post image">
            </a>
            <div class="card-body pb-4">
              <div class="d-flex align-items-center mb-4 mt-n1">
                <span class="fs-sm text-body-secondary">{{post.date | date:'yyyy-MM-dd'}}</span>
                <span class="fs-xs opacity-20 mx-3">|</span>
                <a class="badge text-nav fs-xs border" *ngIf="post.postTags[0]">{{post.postTags[0].name}}</a>
              </div>
              <h3 class="h4 card-title card-title-truncate">
                <a [routerLink]="'/post/'+post.slug">{{post.titleText}}</a>
              </h3>
              <p class="card-text card-text-truncate">{{post.excerptText}}</p>
            </div>
            <div class="card-footer pt-3">
              <div class="d-flex align-items-center text-decoration-none pb-2">
                <img class="rounded-circle"
                  [src]="post.fullAuthor.avatar_url_size_48 ? post.fullAuthor.avatar_url_size_48 : post.fullAuthor.avatar_url_size_24 ? post.fullAuthor.avatar_url_size_24 : post.fullAuthor.avatar_url_size_96 "
                  width="48" alt="Post author">
                <h6 class="ps-3 mb-0">{{post.fullAuthor.name}}</h6>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </generic-swiper>
  </div>
</section>
<!-- TODO : uncomment when done -->
<!-- <generic-testimonial></generic-testimonial> -->
<div class="py-5 my-md-3 my-lg-4 my-xxl-5">
  <newsletter></newsletter>
</div>

<div class="py-5 my-5">
  <our-clients></our-clients>
</div>