<!-- Header with home video  -->
<header>
  <div class="overlay"></div>

  <!-- The HTML5 video element that will create the background video on the header -->
  <video class="mt-5 mt-lg-0" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source [src]="videoParis" type="video/webm">
  </video>

  <!-- The header content -->
  <div class="container h-100 mt-5 mt-sm-0">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-auto h-100 text-left">
        <div class="w-100 text-white">
          <h1 class="display-3 text-white">Votre esprit libre, notre savoir-faire</h1>
          <p class="lead mb-0">Avec MyJSS, accédez à une information juridique fiable et actualisée pour prendre des
            décisions éclairées.</p>
        </div>
      </div>
      <div class="col-auto h-100 d-none d-lg-block ">
        <a href="">
          <img ui-sref='' [src]="logoJss" class="img-fluid" />
        </a>
      </div>
    </div>
  </div>
</header>

<!-- Our services -->
<section>
  <div class="container my-5 py-5">
    <div class="text-center">
      <h1>
        Nos services
      </h1>
      <p>Nous proposons une large gamme de services de formalités, adaptés à vos besoins pour simplifier vos démarches
        administratives.</p>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 g-4 py-2 pb-xl-3">
      <!-- ANNONCES LEGALES -->
      <div class="col">
        <div class="card h-100 border-0 rounded-5">
          <div class="card-body pb-3">
            <img class="d-block mt-1 mt-sm-0 mb-4" [src]="annoncesLegalesPicto" />
            <h3 class="h4">Annonces légales</h3>
            <p class="mb-0">Toutes les annonces légales, sur tout le territoire et sur tous les supports.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle stretched-link" href="#"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- FORMALITÉ LEGALES -->
      <div class="col">
        <div class="card h-100 border-0 rounded-5">
          <div class="card-body pb-3">
            <img class="d-block mt-1 mt-sm-0 mb-4" [src]="formalitesPicto" />
            <h3 class="h4">Formalité légales</h3>
            <p class="mb-0">Un accompagnement complet pour toutes vos formalités juridiques.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle stretched-link" href="#"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 py-2 pb-xl-3">
      <!-- APOSTILLE & LEGALISATION -->
      <div class="col">
        <div class="card h-100 border-0 rounded-5">
          <div class="card-body pb-3">
            <img class="d-block mt-1 mt-sm-0 mb-4" [src]="apostilleLegaPicto" />
            <h3 class="h4">Apostille & Légalisation</h3>
            <p class="mb-0">Authentification rapide et conforme de vos documents valable à internationale.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle stretched-link" href="#"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- DOMICILIATION -->
      <div class="col">
        <div class="card h-100 border-0 rounded-5">
          <div class="card-body pb-3">
            <img class="d-block mt-1 mt-sm-0 mb-4" [src]="domiciliationPicto" />
            <h3 class="h4">Domiciliation</h3>
            <p class="mb-0">Une domiciliation au cœur de Paris avec gestion simplifiée.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle stretched-link" href="#"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- FOURNITURE DE DOCUMENTS -->
      <div class="col">
        <div class="card h-100 border-0 rounded-5">
          <div class="card-body pb-3">
            <img class="d-block mt-1 mt-sm-0 mb-4" [src]="fournitureDocumentsPicto" />
            <h3 class="h4">Fourniture de documents</h3>
            <p class="mb-0">Vos documents officiels fournis rapidement et en toute conformité.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle stretched-link" href="#"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container pb-5 mb-md-3 mb-lg-4 mb-xxl-5">
  <div class="row pb-md-4 pb-xl-5">
    <div class="col-md-6 mb-2 mb-md-0">
      <div class="card border-0 h-100 bg-size-cover bg-position-center"
        style="background-image: url(assets/img/account/parcourir_mon_compte.jpg);">
        <div class="d-none d-sm-block d-md-none" style="height: 450px;"></div>
        <div class="d-sm-none" style="height: 350px;"></div>
      </div>
    </div>
    <div class="col-md-6 col-xl-5 offset-xl-1">
      <div class="pt-4 pb-sm-4 ps-md-4 ps-xl-0">
        <h2 class="h1 text-white pb-2 pb-sm-3 pb-xl-4">Parcourir l'espace <br>"Mon compte"</h2>
        <div class="d-flex pb-3 mb-2 mb-xl-3">
          <div class="text-body-secondary pt-1">01</div>
          <div class="ps-3">
            <h3 class="h5 text-white">Gestion de votre commande</h3>
            <p class="mb-0 text-body-secondary">Suivi de votre dossier en ligne via MyJSS et consultation des pièces
              obligatoires, avec une
              mise à jour en temps réel de l'avancement.</p>
          </div>
        </div>
        <div class="d-flex pb-3 mb-2 mb-xl-3">
          <div class="text-body-secondary pt-1">02</div>
          <div class="ps-3">
            <h3 class="h5 text-white">Périmètre</h3>
            <p class="mb-0">Accédez à l'ensemble de vos dossiers : commandes, devis, et suivez leur statut en temps
              réel.</p>
          </div>
        </div>
        <div class="d-flex pb-3 mb-2 mb-xl-3">
          <div class="text-body-secondary pt-1">03</div>
          <div class="ps-3">
            <h3 class="h5 text-white">Données sécurisées</h3>
            <p class="mb-0">Téléchargez facilement tous vos documents importants : factures, Kbis, et autres pièces
              justificatives en toute sécurité.</p>
          </div>
        </div>
        <div class="d-flex mb-2 mb-xl-3">
          <div class="text-body-secondary pt-1">04</div>
          <div class="ps-3">
            <h3 class="h5 text-white">Accompagnement sur mesure</h3>
            <p class="mb-0">Une plateforme simple à utiliser pour vous faire gagner du temps, avec des échanges directs
              en ligne avec votre formalité attitré et votre chargé de clientèle.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="pb-5 mb-md-3 mb-lg-4 mb-xxl-5">
  <newsletter></newsletter>
</div>

<our-clients></our-clients>