<form [formGroup]="formaliteForm" *ngIf="formalite && provision">
  <mat-tab-group animationDuration="0ms" #tabs>
    <mat-tab [label]="provision.provisionType.label">
      <div class="form-div">
        <table class="full-width">
          <tr>
            <td>
              <autocomplete-competent-authority [(model)]="formalite.competentAuthorityServiceProvider"
                [form]="formaliteForm" propertyName="competentAuthorityServiceProvider" [isMandatory]="false"
                [filteredCompetentAuthority]="[competentAuthorityInfogreffe, competentAuthorityInpi]"
                [isDisabled]="!editMode" label="Fournisseur de service"></autocomplete-competent-authority>
            </td>
            <td
              *ngIf="formalite.competentAuthorityServiceProvider && formalite.competentAuthorityServiceProvider.id == competentAuthorityInpi.id">
              <chips-formalite-guichet-unique [(model)]="formalite.formalitesGuichetUnique" [form]="formaliteForm"
                propertyName="formaliteGuichetUnique" [isMandatory]="false" label="Nom du dossier GU"
                [isDisabled]="!editMode"></chips-formalite-guichet-unique>
            </td>
            <td
              *ngIf="formalite.waitedCompetentAuthority && formalite.formaliteStatus && formalite.formaliteStatus.code ==FORMALITE_STATUS_WAITING_DOCUMENT_AUTHORITY">
              <autocomplete-competent-authority [(model)]="formalite.waitedCompetentAuthority" [form]="formaliteForm"
                propertyName="waitedCompetentAuthority" [isMandatory]="false" label="Autorité compétente en attente"
                [isDisabled]="true"></autocomplete-competent-authority>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-textarea [(model)]="formalite.observations" label="Observations" [form]="formaliteForm"
                propertyName="observations" [isMandatory]="false" [isDisabled]="!editMode"
                [numberOfLines]="10"></generic-textarea>
            </td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Options">
      <provision-options [editMode]="editMode" [provision]="provision" (provisionChange)="provisionChangeFunction()">
      </provision-options>
    </mat-tab>
    <mat-tab label="Débours/frais" *ngIf="instanceOfCustomerOrder && !isStatusOpen">
      <add-debour [editMode]="editMode" [(provision)]="provision" [customerOrder]="quotation">
      </add-debour>
    </mat-tab>
    <mat-tab label="Documents" *ngIf="formalite.id && provision ">
      <attachments [entity]="provision" [editMode]="editMode" [entityType]="PROVISION_ENTITY_TYPE.entityType">
      </attachments>
    </mat-tab>
    <mat-tab label="Historique" *ngIf="formalite && formalite.id">
      <history [entity]="formalite" [entityType]="FORMALITE_ENTITY_TYPE"></history>
    </mat-tab>
  </mat-tab-group>
</form>