<form [formGroup]="formaliteForm" *ngIf="formalite && provision">
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)" [selectedIndex]="index">
    <mat-tab [label]="provision.provisionType.label">
      <div class="form-div">
        <sort-table [columns]="displayedColumns" [values]="formalites" tableName="Liasses Formalites"
          [actions]="tableAction"></sort-table>
        <mat-divider class="margin-mat-divider"></mat-divider>
        <button mat-raised-button color="accent" style="margin-left : 7px" *ngIf="editMode"
          matTooltip="Associer une liasse" (click)="associateLiasseWithProvider()"><mat-icon style="margin : 0"
            class="pointer">
            comment</mat-icon></button>

        <td
          *ngIf="formalite.competentAuthorityServiceProvider && formalite.competentAuthorityServiceProvider.id == competentAuthorityInpi.id && formalite.id">
          <chips-formalite-guichet-unique [(model)]="formalite.formalitesGuichetUnique" [form]="formaliteForm"
            propertyName="formaliteGuichetUnique" [isMandatory]="false" label="Nom du dossier GU"
            [isDisabled]="!editMode"></chips-formalite-guichet-unique>
        </td>

        <customer-order-comment *ngIf="provision && provision.id" [provision]="provision"></customer-order-comment>
      </div>
    </mat-tab>
    <mat-tab label="Dépôt d'actes"
      *ngIf="provision && provision.provisionType && provision.provisionType.isDisplayActeDepositScreen">
      <acte-deposit [editMode]="editMode" [provision]="provision" [affaire]="affaire"></acte-deposit>
    </mat-tab>
    <mat-tab label="Options">
      <provision-options [editMode]="editMode" [provision]="provision" (provisionChange)="provisionChangeFunction()">
      </provision-options>
    </mat-tab>
    <mat-tab label="Documents" *ngIf="formalite.id && provision ">
      <paper-set *ngIf="quotation &&  instanceOfCustomerOrderFn(quotation)" [customerOrder]="quotation"></paper-set>
      <attachments [entity]="provision" [editMode]="editMode" [entityType]="PROVISION_ENTITY_TYPE.entityType">
      </attachments>
    </mat-tab>
    <mat-tab label="Paiements & factures"
      *ngIf="formalite.id && provision && quotation &&  instanceOfCustomerOrderFn(quotation)">
      <provision-payment [editMode]="editMode" [provision]="provision" [quotation]="quotation">
      </provision-payment>
    </mat-tab>
    <mat-tab label="Historique GU" *ngIf="formalite && formalite.id && formalite.formalitesGuichetUnique ">
      <ng-template matTabContent>
        <guichet-unique-status [formalitesGuichetUnique]="formalite.formalitesGuichetUnique"></guichet-unique-status>
      </ng-template>
    </mat-tab>
    <mat-tab label="Historique" *ngIf="formalite && formalite.id">
      <ng-template matTabContent>
        <history [entity]="formalite" [entityType]="FORMALITE_ENTITY_TYPE" [parseTypeList]="formaliteStatus"></history>
      </ng-template>
    </mat-tab>
    <mat-tab label="Historique (prestation)" *ngIf="provision && provision.id">
      <ng-template matTabContent>
        <history [entity]="provision" [entityType]="PROVISION_ENTITY_TYPE"></history>
      </ng-template>
    </mat-tab>
    <mat-tab label="Débours" *ngIf="formalite && formalite.id && canAddNewInvoice()">
      <ng-template matTabContent>
        <debour [provision]="provision"></debour>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</form>
