<div class="card">
  <div class="col text-center">
    <mat-tab-group>
      <mat-tab label="Espace reclamation">
      <autocomplete-affaire [(model)]="selectedAffaire" [form]="principalForm" propertyName="affaire"
        label="Affaire à reclamer" [isMandatory]="true" (onOptionSelected)="fillAffaire($event)"></autocomplete-affaire>
        <table class="full-width">
          <tr>
            <generic-textarea [(model)]="customerOrderNumber"
              label="Nº commande associée" [form]="principalForm"
              propertyName="Commande associée" [numberOfLines]="1"
              (keypress)="numberFilter($event)">
            </generic-textarea>
          </tr>
        </table>
      <div class="mt-3">
        <select-complain-problem [(model)]="selectedComplainProblem" label="Sélectionner le problème" [form]="principalForm" propertyName="complainProblem"
          [isMandatory]="true">
        </select-complain-problem>
      </div>
      <div class="mt-3">
        <select-complain-origin [(model)]="selectedComplainOrigin" label="Sélectionner l'origine" [form]="principalForm" propertyName="complainOrigin"
          [isMandatory]="true">
        </select-complain-origin>
      </div>
      <div class="mt-3">
        <select-complain-cause [(model)]="selectedComplainCause" label="Sélectionner la cause" [form]="principalForm" propertyName="complainCause"
          [isMandatory]="true">
        </select-complain-cause>
      </div>
      <div class="mt-3">
      <autocomplete-employee [(model)]="selectedEmployee" [form]="principalForm"
                propertyName="assignedTo" [isMandatory]="false" [isDisabled]="false" label="Commande assignée à"
                (onOptionSelected)="updateAssignedToForCustomerOrder($event)">
              </autocomplete-employee>
       </div>
       <table class="full-width">
        <tr>
          <generic-textarea [(model)]="observations"
            label="Observations / Informations complémentaires" [form]="principalForm"
            propertyName="observations" [numberOfLines]="4">
          </generic-textarea>
        </tr>
      </table>
      <div class="mt-3" style="text-align: center;">
        <button matTooltip="Reclamation" mat-fab color="accent" (click)="submitForm()">Soumettre</button>
      </div>
    </mat-tab>
      <mat-tab label="Reclamations associés">
        <sort-table [columns]="displayedColumnsComplains" [values]="complainList"
        tableName="Reclamations" *ngIf="displayedColumnsComplains && displayedColumnsComplains.length>0 ">
    </sort-table>
    </mat-tab>
  </mat-tab-group>
  </div>
</div>
