<section class="container">
  <div class="text-center">
    <h2>Témoignages</h2>
  </div>
  <div class="row mb-0 align-items-start">
    <div class="h-auto col-4 d-flex flex-column">
      <div class="card card-carousel border-0 rounded-4">
        <div class="card-body">
          <div class="d-flex align-items-center mb-4">
            <img class="rounded-circle" src="assets/img/avatar/23.jpg" width="60" alt="Avatar">
            <div class="ps-3 d-flex flex-column justify-content-center">
              <h5 class="h5 mb-0">Jane Cooper</h5>
              <p class="text-gray mb-0">Medical assistant</p>
            </div>
          </div>
          <p class="mb-0">Sit risus metus, vel neque eu lectus duis. Vulputate facilisi at feugiat mi aenean nunc enim
            faucibus arcu. Diam id accumsan sit.</p>
        </div>
      </div>
    </div>
    <div class="h-auto col-4 d-flex flex-column">
      <div class="card card-carousel border-0 rounded-4">
        <div class="card-body">
          <div class="d-flex align-items-center mb-4">
            <img class="rounded-circle" src="assets/img/avatar/23.jpg" width="60" alt="Avatar">
            <div class="ps-3 d-flex flex-column justify-content-center">
              <h5 class="h5 mb-0">Wade Warren</h5>
              <p class="text-gray mb-0">Medical assistant</p>
            </div>
          </div>
          <p class="mb-0">Vitae tempor morbi tellus pulvinar. Ut iaculis sit tristique in turpis volutpat quam nec.
            Pretium eu nulla egestas ultrices. Donec in pulvinar ut fermentum a, nunc, aliquam. Integer dui dui ornare
            sed interdum. Enim.</p>
        </div>
      </div>
    </div>
    <div class="h-auto col-4 d-flex flex-column">
      <div class="card card-carousel border-0 rounded-4">
        <div class="card-body">
          <div class="d-flex align-items-center mb-4">
            <img class="rounded-circle" src="assets/img/avatar/23.jpg" width="60" alt="Avatar">
            <div class="ps-3">
              <h5 class="h5 mb-0">Esther Howard</h5>
            </div>
          </div>
          <p class="mb-0">Ante turpis leo dictum adipiscing nisl magnis elementum eu. Integer consequat sed ipsum massa
            egestas integer proin id. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex align-items-end">
    <div class="h-auto col-4 d-flex flex-column">
      <div class="card card-carousel border-0 rounded-4">
        <div class="card-body">
          <div class="d-flex align-items-center mb-4">
            <img class="rounded-circle" src="assets/img/avatar/23.jpg" width="60" alt="Avatar">
            <div class="ps-3">
              <h5 class="h5 mb-0">Cameron Williams</h5>
            </div>
          </div>
          <p class="mb-0">Nam convallis maecenas leo sapien interdum id. Facilisi dictum lacinia in phasellus. Nullam id
            sed tempor, volutpat blandit urna sagittis, commodo vestibulum. Adipiscing dictumst nunc enim massa.</p>
        </div>
      </div>
    </div>
    <div class="h-auto col-4 d-flex flex-column">
      <div class="card card-carousel border-0 rounded-4">
        <div class="card-body">
          <div class="d-flex align-items-center mb-4">
            <img class="rounded-circle" src="assets/img/avatar/23.jpg" width="60" alt="Avatar">
            <div class="ps-3">
              <h5 class="h5 mb-0">Leslie Alexander</h5>
            </div>
          </div>
          <p class="mb-0">Malesuada at ullamcorper adipiscing lobortis vestibulum. Aliquet lobortis justo arcu ut auctor
            porttitor amet, tortor. Justo.</p>
        </div>
      </div>
    </div>
    <div class="h-auto col-4 d-flex flex-column">
      <div class="card card-carousel border-0 rounded-4">
        <div class="card-body">
          <div class="d-flex align-items-center mb-4">
            <img class="rounded-circle" src="assets/img/avatar/23.jpg" width="60" alt="Avatar">
            <div class="ps-3">
              <h5 class="h5 mb-0">Brooklyn Simons</h5>
            </div>
          </div>
          <p class="mb-0">In quisque dolor, aliquam faucibus. Gravida diam ornare egestas proin quis odio suspendisse
            pellentesque. Condimentum risus, rutrum curabitur faucibus mi a turpis morbi. Nulla euismod dolor quis amet
            sed.</p>
        </div>
      </div>
    </div>
  </div>
</section>