<section class="container pt-5 pb-lg-2 pb-xl-4 py-xxl-5 my-5">

  <!-- Fil d'Ariane -->
  <nav aria-label="breadcrumb">
    <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contacts v.2</li>
    </ol>
  </nav>

  <div class="row pb-1 pb-sm-3 pb-lg-4">
    <div class="col-lg-4 pe-xxl-4">

      <!-- Titre de la page -->
      <h1 class="display-2">Contacts</h1>
      <p class="fs-lg pb-4 mb-0 mb-sm-2">Contactez-nous en remplissant le formulaire ci-dessous ou appelez-nous dès
        maintenant</p>
    </div>
    <div class="col-lg-8 col-xl-7 offset-xl-1">

      <!-- Formulaire de contact -->
      <form class="row g-4 needs-validation" novalidate>
        <div class="col-sm-6">
          <label class="form-label fs-base" for="name">Nom</label>
          <input class="form-control form-control-lg" type="text" placeholder="Votre nom" required id="name">
          <div class="invalid-feedback">Veuillez entrer votre nom !</div>
        </div>
        <div class="col-sm-6">
          <label class="form-label fs-base" for="email">E-mail</label>
          <input class="form-control form-control-lg" type="email" placeholder="Adresse e-mail" required id="email">
          <div class="invalid-feedback">Veuillez fournir une adresse e-mail valide !</div>
        </div>
        <div class="col-sm-6">
          <label class="form-label fs-base" for="phone">Téléphone</label>
          <input class="form-control form-control-lg" type="text" placeholder="Numéro de téléphone" id="phone">
        </div>
        <div class="col-sm-6">
          <label class="form-label fs-base" for="location">Localisation</label>
          <select class="form-select form-select-lg" id="location">
            <option value="All locations">Toutes les localisations</option>
            <option value="Asia and Pacific">Asie et Pacifique</option>
            <option value="Central Europe">Europe centrale</option>
            <option value="Eastern Europe">Europe de l'Est</option>
            <option value="North America">Amérique du Nord</option>
            <option value="South America">Amérique du Sud</option>
          </select>
        </div>
        <div class="col-sm-12">
          <label class="form-label fs-base" for="message">Comment pouvons-nous vous aider ?</label>
          <textarea class="form-control form-control-lg" rows="5" placeholder="Entrez votre message ici..." required
            id="message"></textarea>
          <div class="invalid-feedback">Veuillez entrer votre message !</div>
        </div>
        <div class="col-sm-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="agree">
            <label class="form-check-label" for="agree">J'accepte les <a
                class="nav-link d-inline fs-normal text-decoration-underline p-0" style="cursor: pointer;"
                (click)="openCgv($event)">Conditions
                générales de vente</a></label>
          </div>
        </div>
        <div class="col-sm-12 pt-2">
          <button class="btn btn-lg btn-primary" type="submit">Envoyer une demande</button>
        </div>
      </form>
    </div>
  </div>
</section>