.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  cursor: pointer;
  padding-right: 30px;
}

.select-wrapper i.chevron {
  position: absolute;
  right: 21px;
  top: 65%;
  transform: translateY(-70%);
  pointer-events: none;
  color: var(--ar-secondary);
}