<div class="upload-div">
  <mat-form-field class="full-width" [formGroup]="form!">
    <mat-label>{{label}}</mat-label>
    <mat-select [formControlName]="propertyName" color="accent"
      [required]="isMandatory && (conditionnalRequired==undefined || conditionnalRequired)"
      [compareWith]="compareWithId">
      @for (type of types; track type) {
        <mat-option [value]="type" (click)="changeSelection(type)">
          {{displayLabel(type)}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <span>
    @if (isDisplayPreviewShortcut) {
      <mat-icon color="accent" matTooltip="Afficher" matTooltipShowDelay="1000" matSuffix (click)="clickOnPreviewIcon()"
        class="pointer ">
        visibility
      </mat-icon>
    }
    @if (!isDisabled && model!=undefined) {
      <mat-icon color="accent" matSuffix (click)="clearField();$event.stopPropagation() "
        class="pointer">
        close
      </mat-icon>
    }
    @if (model) {
      <mat-icon color="accent" class="pointer" (click)="previewFile(model)" color="accent"
        matTooltip="Prévisualiser le fichier">visibility
      </mat-icon>
    }
    @if (model) {
      <mat-icon color="accent" class="pointer" (click)="downloadFile(model)" color="accent"
        matTooltip="Utiliser le fichier">download
      </mat-icon>
    }
  </span>
  <span>
    @if (model) {
      <mat-icon color="accent" class="pointer" (click)="uploadFile()" color="accent" matTooltip="Choisir un fichier"
        >upload
      </mat-icon>
    }
  </span>
</div>
