<div id="container">
  <!-- TODO : Fill with the logos of the clients -->
  <div class="scroll align-items-center" [ngStyle]="{'animation-direction': scrollDirection}" id="scroll-one">
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
  </div>
  <div class="scroll align-items-center" [ngStyle]="{'animation-direction': scrollDirection}" id="scroll-two">
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
    <img class='item' [src]="engieLogo" />
  </div>
  <div class='fade'></div>
</div>