<section class="pt-4" *ngIf="currentTag">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-8">
        <div class="display-1 text-primary">#{{currentTag.name}}</div>
        <p>{{currentTag.count}} article{{currentTag.count>1?'s':''}} pour ce tag</p>
      </div>
    </div>
  </div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main content START -->
<section class="position-relative pt-0" *ngIf="currentTag">
  <div class="container">
    <div class="row">
      <!-- Main Post START -->
      <div class="col-12" *ngFor="let post of posts">
        <!-- Card item START -->
        <div class="card border rounded-3 up-hover p-4 mb-4">
          <div class="row g-3">
            <div class="col-lg-5">
              <!-- Categories -->
              <ng-container *ngIf="post.jssCategories!=null && post.jssCategories.length>0">
                <a *ngFor="let category of post.jssCategories" style="cursor: pointer;"
                  (click)="openCategoryPosts(category,$event)"
                  class="badge text-bg-danger mb-2 margin-category btn-primary-soft"
                  [style.background-color]="category.color+' !important'"><i
                    class="fas fa-circle me-2 small fw-bold"></i>{{category.name}}</a>
              </ng-container>
              <!-- Title -->
              <h2 class="card-title">
                <a style="cursor: pointer;" (click)="openPost(post,$event)" class="btn-link text-reset stretched-link"
                  [innerHTML]="post.titleText| trustHtml"></a>
              </h2>
              <!-- Author info -->
              <div class="d-flex align-items-center position-relative mt-3">
                <div class="avatar me-2">
                  <img class="avatar-img rounded-circle" [src]="post.fullAuthor.avatar_url_size_24" alt="avatar">
                </div>
                <div>
                  <h5 class="mb-1"><a style="cursor: pointer;" (click)="openAuthorPosts(post.fullAuthor,$event)"
                      class="stretched-link text-reset btn-link">{{post.fullAuthor.name}}</a>
                  </h5>
                  <ul class="nav align-items-center small">
                    <li class="nav-item me-3">{{post.date | date:'EEEE d MMMM'}}</li>
                    <li class="nav-item"><i class="far fa-clock me-1"></i>{{getTimeReading(post.contentText)}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Detail -->
            <div class="col-md-6 col-lg-4">
              <p *ngIf="post.excerptText && post.excerptText.length>0" [innerHTML]="post.excerptText | trustHtml"></p>
            </div>
            <!-- Image -->
            <div class="col-md-6 col-lg-3">
              <img class="rounded-3" [src]="post.media.urlMediumLarge ? post.media.urlMediumLarge : post.media.urlFull"
                alt="Card image">
            </div>
          </div>
        </div>
        <!-- Card item END -->
      </div>
      <!-- Load more -->
      <div class="col-12 text-center mt-5">
        <button type="button" class="btn btn-primary-soft  " *ngIf="displayLoadMoreButton" (click)="getNextPosts()">Voir
          + d'articles <i class="bi bi-arrow-down-circle ms-2 align-middle"></i></button>
      </div>
    </div>
  </div>
</section>