<div class="mat-elevation-z2 form-div">
  <form [formGroup]="principalForm">
    <div class="full-width">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Type</mat-label>
                <mat-select formControlName="tiersType" [(ngModel)]="tiers.tiersType" [compareWith]="compareWithId"
                  [disabled]="editMode==false">
                  <mat-option *ngFor="let tiersType of tiersTypes" [value]="tiersType">
                    {{tiersType.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>N° client/prospect</mat-label>
                <input matInput formControlName="tiersId" [(ngModel)]="tiers.id" placeholder="N° client/prospect">
              </mat-form-field>
            </td>
            <td [hidden]="tiers.isIndividual">
              <mat-form-field class="full-width">
                <mat-label>Denomination</mat-label>
                <input matInput formControlName="denomination" [(ngModel)]="tiers.denomination"
                  placeholder="Dénomination">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Première facturation</mat-label>
                <input matInput [matDatepicker]="datePickerFirstBilling" [(ngModel)]="tiers.firstBilling"
                  formControlName="firstBilling">
                <mat-datepicker-toggle matSuffix [for]="datePickerFirstBilling"></mat-datepicker-toggle>
                <mat-datepicker #datePickerFirstBilling></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <mat-slide-toggle formControlName="isIndividual" [(ngModel)]="tiers.isIndividual">Particulier ?
              </mat-slide-toggle>
            </td>
            <td *ngIf="tiers.isIndividual==true">
              <mat-radio-group class="radio-group-column" [(ngModel)]="tiers.civility" formControlName="civility">
                <mat-radio-button *ngFor="let civility of civilities" [value]="civility">
                  {{civility.label}}
                </mat-radio-button>
              </mat-radio-group>
            </td>
            <td *ngIf="tiers.isIndividual==true">
              <mat-form-field class="full-width">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="lastname" [(ngModel)]="tiers.lastname" placeholder="Nom">
              </mat-form-field>
            </td>
            <td *ngIf="tiers.isIndividual==true">
              <mat-form-field class="full-width">
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="firstname" [(ngModel)]="tiers.firstname" placeholder="Nom">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Catégorie</mat-label>
                <mat-select formControlName="tiersCategory" [(ngModel)]="tiers.tiersCategory"
                  [compareWith]="compareWithId" [disabled]="editMode==false">
                  <mat-option *ngFor="let tiersCategory of tiersCategories" [value]="tiersCategory">
                    {{tiersCategory.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Commercial</mat-label>
                <input type="text" matInput formControlName="salesEmployee"
                  [matAutocomplete]="autoCompleteSalesEmployee" [(ngModel)]="tiers.salesEmployee">
                <mat-icon matSuffix (click)="tiers.salesEmployee=null" *ngIf="editMode && tiers.salesEmployee!=null">
                  close
                </mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoCompleteSalesEmployee="matAutocomplete"
                  [displayWith]="displayEmployee">
                  <mat-option *ngFor="let employee of filteredSalesEmployees | async" [value]="employee">
                    {{employee.firstname}} {{employee.lastname}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Formaliste</mat-label>
                <input type="text" matInput formControlName="formalisteEmployee"
                  [matAutocomplete]="autoCompleteFormalisteEmployee" [(ngModel)]="tiers.formalisteEmployee">
                <mat-icon matSuffix (click)="tiers.formalisteEmployee=null"
                  *ngIf="editMode && tiers.formalisteEmployee!=null">close</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoCompleteFormalisteEmployee="matAutocomplete"
                  [displayWith]="displayEmployee">
                  <mat-option *ngFor="let employee of filteredFormalisteEmployees | async" [value]="employee">
                    {{employee.firstname}} {{employee.lastname}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Insertion</mat-label>
                <input type="text" matInput formControlName="insertionEmployee"
                  [matAutocomplete]="autoCompleteInsertionEmployee" [(ngModel)]="tiers.insertionEmployee">
                <mat-icon matSuffix (click)="tiers.insertionEmployee=null"
                  *ngIf="editMode && tiers.insertionEmployee!=null">close</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoCompleteInsertionEmployee="matAutocomplete"
                  [displayWith]="displayEmployee">
                  <mat-option *ngFor="let employee of filteredInsertionEmployees | async" [value]="employee">
                    {{employee.firstname}} {{employee.lastname}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Destinataire courrier</mat-label>
                <textarea (keyup)="limitTextareaSize('mailRecipient',3)"
                  (keydown)="limitTextareaSize('mailRecipient',3)" (paste)="limitTextareaSize('mailRecipient',3)"
                  rows="3" matInput formControlName="mailRecipient" [(ngModel)]="tiers.mailRecipient"></textarea>
              </mat-form-field>
            </td>
            <td style="vertical-align: baseline;">
              <mat-label>Langue de communication</mat-label>
              <mat-radio-group class="radio-group-column" [(ngModel)]="tiers.language" formControlName="language">
                <mat-radio-button *ngFor=" let language of languages" [value]="language"
                  [checked]=" this.tiers.language != undefined && this.tiers.language.id == language.id">
                  {{language.label}}
                </mat-radio-button>
              </mat-radio-group>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Service de livraison</mat-label>
                <mat-select formControlName="deliveryService" [(ngModel)]="tiers.deliveryService"
                  [compareWith]="compareWithId" [disabled]="editMode==false">
                  <mat-option *ngFor="let deliveryService of deliveryServices" [value]="deliveryService">
                    {{deliveryService.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>


        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Adresse</mat-label>
                <input matInput formControlName="address" [(ngModel)]="tiers.address" placeholder="Adresse"
                  autocomplete="do-not-autofill">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Ville</mat-label>
                <input matInput placeholder="Ville" [(ngModel)]="tiers.city" [matAutocomplete]="autoCompleteCity"
                  formControlName="city" autocomplete="do-not-autofill">
                <mat-autocomplete #autoCompleteCity="matAutocomplete" [displayWith]="displayLabel"
                  (optionSelected)='fillPostalCode($event.option.value)'>
                  <mat-option *ngFor="let city of filteredCities" [value]="city">
                    {{city.label}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Code postal</mat-label>
                <input matInput placeholder="Code postal" [(ngModel)]="tiers.postalCode"
                  [matAutocomplete]="autoCompletePostalCode" formControlName="postalCode"
                  autocomplete="do-not-autofill">
                <mat-autocomplete #autoCompletePostalCode="matAutocomplete"
                  (optionSelected)='fillCity($event.option.value)'>
                  <mat-option *ngFor="let postalCode of filteredPostalCodes" [value]="postalCode">
                    {{postalCode}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Pays</mat-label>
                <input matInput placeholder="Pays" [(ngModel)]="tiers.country" [matAutocomplete]="autoCompleteCountry"
                  formControlName="country" autocomplete="do-not-autofill">
                <mat-autocomplete #autoCompleteCountry="matAutocomplete" [displayWith]="displayLabel">
                  <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                    {{country.label}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Code porte</mat-label>
                <input matInput formControlName="intercom" [(ngModel)]="tiers.intercom" placeholder="Code porte"
                  autocomplete="do-not-autofill">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td [hidden]="tiers.isIndividual">
              <mat-form-field class="full-width">
                <mat-label>TVA intercommunaitaire</mat-label>
                <input matInput formControlName="intercommunityVat" [(ngModel)]="tiers.intercommunityVat"
                  placeholder="TVA intercommunaitaire" autocomplete="do-not-autofill">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Tarif spécial</mat-label>
                <input matInput placeholder="Tarif spécial" [(ngModel)]="tiers.specialOffer"
                  [matAutocomplete]="autoSpecialOffer" formControlName="specialOffer" autocomplete="do-not-autofill">
                <button
                  *ngIf="tiers.specialOffer==undefined || tiers.specialOffer==null || tiers.specialOffer.id ==undefined || tiers.specialOffer.id==null"
                  matSuffix mat-icon-button (click)="openSpecialOffersDialog()">
                  <mat-icon>search</mat-icon>
                </button>
                <button (click)="tiers.specialOffer=null"
                  *ngIf="tiers.specialOffer!=undefined && tiers.specialOffer!=null && tiers.specialOffer.id !=undefined && tiers.specialOffer.id!=null"
                  matSuffix mat-icon-button>
                  <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #autoSpecialOffer="matAutocomplete" [displayWith]="displayLabel">
                  <mat-option *ngFor="let specialOffer of filteredSpecialOffers | async" [value]="specialOffer">
                    {{specialOffer.code}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Taux RCA Formalité</mat-label>
                <input matInput formControlName="rcaFormaliteRate" [(ngModel)]="tiers.rcaFormaliteRate" type="number"
                  placeholder="Taux RCA Formalité">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Taux RCA Insertion</mat-label>
                <input matInput formControlName="rcaInsertionRate" [(ngModel)]="tiers.rcaInsertionRate" type="number"
                  placeholder="Taux RCA Insertion">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Mails</mat-label>
                <mat-chip-list #chipListMails>
                  <mat-chip *ngFor="let mail of tiers.mails" (removed)="removeMail(mail)">
                    {{mail.mail}}
                    <button matChipRemove *ngIf="editMode">
                      <mat-icon>cancel</mat-icon>
                    </button>
                    <mat-icon matChipRemove *ngIf="editMode==false" (click)="prepareMail(mail)">mail</mat-icon>
                  </mat-chip>
                  <input placeholder="Saisir un mail" #mailInput formControlName="mails"
                    [matChipInputFor]="chipListMails" [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
                    (matChipInputTokenEnd)="addMail($event)">
                </mat-chip-list>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Téléphones</mat-label>
                <mat-chip-list #chipListPhones>
                  <mat-chip *ngFor="let phone of tiers.phones" (removed)="removePhone(phone)">
                    {{phone.phoneNumber}}
                    <button matChipRemove *ngIf="editMode">
                      <mat-icon>cancel</mat-icon>
                    </button>
                    <mat-icon matChipRemove *ngIf="editMode==false" (click)="call(phone)">phone</mat-icon>
                  </mat-chip>
                  <input placeholder="Saisir un téléphone" #phoneInput formControlName="phones"
                    [matChipInputFor]="chipListPhones" [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
                    (matChipInputTokenEnd)="addPhone($event)">
                </mat-chip-list>
              </mat-form-field>
            </td>
            <td *ngIf="tiers.isIndividual==false">
              <!-- TODO : fill it when reponsibles done-->
              <mat-form-field class="full-width">
                <mat-label>Nombre de responsables abonnés</mat-label>
                <input matInput formControlName="responsibleSuscribersNumber"
                  placeholder="Nombre de responsables abonnés">
              </mat-form-field>
            </td>
            <td *ngIf="tiers.isIndividual==false">
              <!-- TODO : fill it when reponsibles done-->
              <mat-form-field class="full-width">
                <mat-label>Nombre de comptes web</mat-label>
                <input matInput formControlName="webAccountNumber" placeholder="Nombre de comptes web">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Consignes</mat-label>
                <textarea rows="4" matInput formControlName="instructions" [(ngModel)]="tiers.instructions"></textarea>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Observations / Informations complémentaires</mat-label>
                <textarea rows="4" matInput formControlName="observations" [(ngModel)]="tiers.observations"></textarea>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
  </form>
</div>
