<!-- Page container-->
<section class="container pt-5 mt-5">

  <!-- Breadcrumb-->
  <nav aria-label="breadcrumb">
    <ol class="pt-lg-5 pb-lg-4 pb-2 breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
      <li class="breadcrumb-item"><a routerLink="/tools">Outils</a></li>
      <li class="breadcrumb-item">
        <!-- <span *ngIf="selectedTab">{{ selectedTab.label }}</span> -->
      </li>
    </ol>
  </nav>


  <div class="accordion-item border-top mb-0" *ngIf="!post">
    <div class="accordion-header">
      <p class="card-text placeholder-glow">
        <span class="placeholder placeholder-sm col-7 me-2"></span>
        <span class="placeholder placeholder-sm col-4"></span>
        <span class="placeholder placeholder-sm col-4 me-2"></span>
        <span class="placeholder placeholder-sm col-6"></span>
        <span class="placeholder placeholder-sm col-8"></span>
      </p>
    </div>
  </div>

  <div class="row " *ngIf="post">
    <div class="col-lg-9 col-xl-8 pe-lg-4 pe-xl-0">

      <!-- Post title + post meta -->
      <h1 class="pb-2 pb-lg-3" [innerHTML]="post.titleText| trustHtml">
      </h1>
      <div class="d-flex flex-wrap align-items-center justify-content-between border-bottom mb-4">
        <div class="d-flex align-items-center mb-4 me-4">
          <span class="fs-sm me-2">Par :</span>
          <div class="position-relative fw-semibold p-0" data-scroll data-scroll-offset="80">
            {{post.fullAuthor.name}}
            <span class="d-block position-absolute start-0 bottom-0 w-100"
              style="background-color: currentColor; height: 1px;"></span>
          </div>
        </div>
        <div class="d-flex align-items-center mb-4">
          <span class="fs-sm me-2">Partager le post:</span>
          <div class="d-flex">
            <a class="nav-link p-2 me-2" (click)="shareOnLinkedin()" data-bs-toggle="tooltip" data-bs-placement="top"
              title="LinkedIn" aria-label="LinkedIn">
              <i class="ai-linkedIn fs-sm"></i>
            </a>
            <a class="nav-link p-2 me-2" (click)="shareOnInstagram()" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Instagram" aria-label="Instagram">
              <i class="ai-instagram"></i>
            </a>
            <a class="nav-link p-2 me-2" (click)="shareOnFacebook()" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Facebook" aria-label="Facebook">
              <i class="ai-facebook"></i>
            </a>
            <a class="nav-link p-2" (click)="shareByMail()" data-bs-toggle="tooltip" data-bs-placement="top"
              title="mail" aria-label="mail">
              <i class="ai-mail"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Lire l'article avec Play/Pause et contrôler la vitesse -->
      <!-- Audio player for article text with controls -->
      <div class="rounded-1 text-secondary bg-secondary text-color my-4">
        <div class="p-2">
          <h4 class="text-secondary" style="cursor: pointer;" (click)="togglePlayPause()">
            <i class="bi mx-2" [class]="isPlaying ? 'ai-pause' : 'ai-play-filled'"></i>
            Ecouter l'article
          </h4>
          <div class="mx-2 mt-3" *ngIf="isPlaying">
            <label class="" for="speedControl">Vitesse : </label>
            <span class="">{{ speechRate }}x</span>
            <input type="range" class="form-range" min="0.5" max="2" step="0.1" id="speedControl"
              [(ngModel)]="speechRate" (input)="updateSpeed()">
          </div>
        </div>
      </div>

      <!-- Post content -->
      <span class="fs-lg pt-2 pt-sm-3" [innerHTML]="post.contentText| trustHtml"></span>

      <!-- Tags -->
      <div class="d-flex flex-wrap pb-5 pt-3 pt-md-4 pt-xl-5 mt-xl-n2" *ngIf="post.postTags && post.postTags.length>0">
        <h3 class="h6 py-1 mb-0 me-4">Relevant tags:</h3>
        <div *ngFor="let tag of post.postTags">
          <a class="nav-link fs-sm py-1 px-0 me-3" style="cursor: pointer;" (click)="openTagPosts(tag, $event)">
            <span class="text-primary">#</span>{{tag.name}}
          </a>
        </div>
      </div>

      <!-- Author widget -->
      <div class="border-top border-bottom py-4" id="author">
        <div class="d-flex align-items-start py-2">
          <img class="d-block rounded-circle mb-3" [src]="post.fullAuthor.avatar_url_size_96" width="56"
            alt="Author image">
          <div class="d-md-flex w-100 ps-4">
            <div style="max-width: 26rem;">
              <h3 class="h5 mb-2">{{post.fullAuthor.name}}</h3>
              <p class="fs-sm mb-0">{{post.fullAuthor.description}}</p>
            </div>
            <div class="pt-4 pt-md-0 ps-md-4 ms-md-auto">
              <h3 class="h5">Partager le post:</h3>
              <div class="d-flex">
                <a class="nav-link p-2 me-2" (click)="shareOnLinkedin()" data-bs-toggle="tooltip"
                  data-bs-placement="bottom" title="Linkedin" aria-label="Linkedin">
                  <i class="ai-linkedIn fs-sm"></i>
                </a>
                <a class="nav-link p-2 me-2" (click)="shareOnInstagram()" data-bs-toggle="tooltip"
                  data-bs-placement="bottom" title="Instagram" aria-label="Instagram">
                  <i class="ai-instagram"></i>
                </a>
                <a class="nav-link p-2 me-2" (click)="shareOnFacebook()" data-bs-toggle="tooltip"
                  data-bs-placement="bottom" title="Facebook" aria-label="Facebook">
                  <i class="ai-facebook"></i>
                </a>
                <a class="nav-link p-2" (click)="shareByMail()" data-bs-toggle="tooltip" data-bs-placement="bottom"
                  title="Mail" aria-label="Mail">
                  <i class="ai-mail"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TODO : Comments -->
      <div class="pt-4 pt-xl-5 mt-4" id="comments">
        <h2 class="h1 py-lg-1 py-xl-3">14 comments</h2>

        <!-- Comment -->
        <div class="border-bottom py-4 mt-2 mb-4">
          <div class="d-flex align-items-center pb-1 mb-3">
            <img class="rounded-circle" src="assets/img/avatar/08.jpg" width="48" alt="Comment author">
            <div class="ps-3">
              <h6 class="mb-0">Albert Flores</h6>
              <span class="fs-sm text-body-secondary">5 hours ago</span>
            </div>
          </div>
          <p class="pb-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tellus lectus, tempus eu
            urna eu, imperdiet dignissim augue. Aliquam fermentum est a ligula bibendum, ac gravida ipsum dictum. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur suscipit
            quam ut velit condimentum, nec mollis risus semper. Curabitur quis mauris eget ligula tincidunt venenatis.
            Sed congue pulvinar hendrerit.</p>
          <button class="nav-link fs-sm fw-semibold px-0 py-2" type="button">
            Reply
            <i class="ai-redo fs-xl ms-2"></i>
          </button>
        </div>

        <!-- Comment -->
        <div class="border-bottom pt-2 pb-4">
          <div class="d-flex align-items-center pb-1 mb-3">
            <img class="rounded-circle" src="assets/img/avatar/11.jpg" width="48" alt="Comment author">
            <div class="ps-3">
              <h6 class="mb-0">Jenny Wilson</h6>
              <span class="fs-sm text-body-secondary">2 days ago at 9:20</span>
            </div>
          </div>
          <p class="pb-2 mb-0">Pellentesque urna pharetra, quis maecenas. Sit dolor amet nulla aenean eu, ac. Nisl mi
            tempus, iaculis viverra vestibulum scelerisque imperdiet montes mauris massa elit pretium elementum eget
            tortor quis</p>
          <button class="nav-link fs-sm fw-semibold px-0 py-2" type="button">
            Reply
            <i class="ai-redo fs-xl ms-2"></i>
          </button>

          <!-- Comment reply -->
          <div class="card card-body border-0 bg-secondary mt-4">
            <div class="d-flex align-items-center pb-1 mb-3">
              <img class="rounded-circle" src="assets/img/avatar/10.jpg" width="48" alt="Comment author">
              <div class="ps-3">
                <h6 class="mb-0">Ralph Edwards</h6>
                <span class="fs-sm text-body-secondary">2 days ago at 11:45</span>
              </div>
            </div>
            <p class="mb-0"><a class="fw-bold text-decoration-none" href="#">Jenny Wilson</a> Massa morbi duis et
              ornare urna dictum vestibulum pulvinar nunc facilisis ornare id at at ut arcu integer tristique placerat
              non turpis nibh turpis ullamcorper est porttitor.</p>
          </div>
        </div>

        <!-- Comment -->
        <div class="border-bottom py-4 mt-2 mb-4">
          <div class="d-flex align-items-center pb-1 mb-3">
            <img class="rounded-circle" src="assets/img/avatar/07.jpg" width="48" alt="Comment author">
            <div class="ps-3">
              <h6 class="mb-0">Esther Howard</h6>
              <span class="fs-sm text-body-secondary">May 19, 2022</span>
            </div>
          </div>
          <p class="pb-2 mb-0">Donec et sollicitudin tellus. Duis maximus, dui eget egestas mattis, purus ex tempor
            nulla, quis tempor sapien neque at nisl. Aliquam eu nisi ut nisl ultrices posuere. Praesent dignissim
            efficitur nisi, a hendrerit ipsum elementum sit amet. Vivamus non ante nisl. Nunc faucibus velit at eros
            mollis semper.</p>
          <button class="nav-link fs-sm fw-semibold px-0 py-2" type="button">
            Reply
            <i class="ai-redo fs-xl ms-2"></i>
          </button>
        </div>

        <!-- All comments button -->
        <div class="text-end pb-5 mb-lg-1 mb-xl-3">
          <a class="btn btn-link px-0" href="#">
            Show all comments
            <i class="ai-chevron-right fs-lg ms-1"></i>
          </a>
        </div>


        <!-- Comment form -->
        <div class="card border-0 bg-secondary pt-2 p-md-2 p-xl-3 p-xxl-4 mt-n3 mt-md-0">
          <div class="card-body">
            <h2 class="pb-2 pb-lg-3 pb-xl-4">Leave a comment</h2>
            <form class="row needs-validation g-4" novalidate>
              <div class="col-sm-6">
                <label class="form-label" for="c-name">Name</label>
                <input class="form-control" type="text" placeholder="Your name" required id="c-name">
                <div class="invalid-feedback">Please enter your name!</div>
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="c-email">Email</label>
                <input class="form-control" type="email" placeholder="Your email" required id="c-email">
                <div class="invalid-feedback">Please provide a valid email address!</div>
              </div>
              <div class="col-12">
                <label class="form-label" for="c-comment">Comment</label>
                <textarea class="form-control" rows="4" placeholder="Type your comment here..." required
                  id="c-comment"></textarea>
                <div class="invalid-feedback">Please enter a comment message!</div>
              </div>
              <div class="col-12">
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" id="c-save">
                  <label class="form-check-label" for="c-save">Save my name and email</label>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">Post a comment</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- Sidebar (offcanvas on sreens < 992px) -->
    <aside class="col-lg-3 offset-xl-1">
      <div class="offcanvas-lg offcanvas-end" data-bs-scroll="true" id="sidebar">
        <div class="offcanvas-header">
          <h4 class="offcanvas-title">Sidebar</h4>
          <a class="ms-auto" type="button" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close">
            <i class="ai-cross-alt fs-sm"></i>
          </a>
        </div>

        <div class="offcanvas-body">
          <h4 *ngIf="hotPosts[0] && hotPosts[1]" class="pt-1 pt-lg-0 mt-lg-n2">Populaires :</h4>
          <div class="mb-lg-5 mb-4">
            <article *ngIf="hotPosts[0]" class="position-relative pb-2 mb-3 mb-lg-4">
              <img class="rounded-5" (click)="openPost(hotPosts[0], $event)"
                [src]="hotPosts[0].media.urlLarge ? hotPosts[0].media.urlLarge : hotPosts[0].media.urlFull"
                alt="Post image">
              <h5 class="h6 mt-3 mb-0">
                <a class="stretched-link" (click)="openPost(hotPosts[0], $event)">{{hotPosts[0].titleText}}</a>
              </h5>
            </article>
            <article *ngIf="hotPosts[1]" class="position-relative pb-2 mb-3 mb-lg-4">
              <img class="rounded-5" (click)="openPost(hotPosts[1], $event)"
                [src]="hotPosts[1].media.urlLarge ? hotPosts[1].media.urlLarge : hotPosts[1].media.urlFull"
                alt="Post image">
              <h5 class="h6 mt-3 mb-0">
                <a class="stretched-link" (click)="openPost(hotPosts[1], $event)">{{hotPosts[1].titleText}}</a>
              </h5>
            </article>
          </div>

          <!-- Recent posts -->
          <h4 class="pt-3 pt-lg-1 mb-4">Recents :</h4>
          <ul class="list-unstyled mb-lg-5 mb-4">
            <li class="border-bottom pb-3 mb-3" *ngIf="recentPosts[0]">
              <span class="h6 mb-0">
                <a (click)="openPost(recentPosts[0], $event)">{{recentPosts[0].titleText}}</a>
              </span>
            </li>
            <li class="border-bottom pb-3 mb-3" *ngIf="recentPosts[1]">
              <span class="h6 mb-0">
                <a (click)="openPost(recentPosts[1], $event)">{{recentPosts[1].titleText}}</a>
              </span>
            </li>
            <li class="border-bottom pb-3 mb-3" *ngIf="recentPosts[2]">
              <span class="h6 mb-0">
                <a (click)="openPost(recentPosts[2], $event)">{{recentPosts[2].titleText}}</a>
              </span>
            </li>
            <li class="border-bottom pb-3" *ngIf="recentPosts[3]">
              <span class="h6 mb-0">
                <a (click)="openPost(recentPosts[3], $event)">{{recentPosts[3].titleText}}</a>
              </span>
            </li>
          </ul>

          <!-- Relevant tags -->
          <h4 class="pt-3 pt-lg-1 mb-4" *ngIf="post.postTags && post.postTags[0]">Tags associés :</h4>
          <div class="d-flex flex-wrap mt-n3 ms-n3 mb-lg-5 mb-4 pb-3 pb-lg-0">
            <a *ngFor="let tag of post.postTags" class="btn btn-outline-secondary rounded-pill mt-3 ms-3"
              (click)="openTagPosts(tag, $event)">{{tag.name}}</a>
          </div>
        </div>
      </div>
    </aside>
  </div>
</section>


<!-- Related articles (carousel) -->
<generic-swiper *ngIf="relatedPosts" [items]="relatedPosts" subtitle="" title="Articles associés">
  <ng-template let-relatedPost>
    <!-- Post -->
    <article>
      <div class="position-relative">
        <img class="rounded-5"
          [src]="relatedPost.media.urlLarge ? relatedPost.media.urlLarge : relatedPost.media.urlFull" alt="Post image">
        <h3 class="h4 mt-4 mb-0">
          <a class="stretched-link" style="cursor: pointer;"
            (click)="openPost(relatedPost, $event)">{{relatedPost.titleText}}</a>
        </h3>
      </div>
    </article>
  </ng-template>
</generic-swiper>


<!-- Sidebar toggle button -->
<button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" type="button"
  data-bs-toggle="offcanvas" data-bs-target="#sidebar">
  <i class="ai-layout-column me-2"></i>
  Sidebar
</button>