<h1 mat-dialog-title>Transférer le responsable</h1>
<div mat-dialog-content>
  <form [formGroup]="transferResponsibleForm">
    <table class="full-width ">
      <p>Responsable actuel :</p>
      <tr>
        <td>
          <autocomplete-responsable [(model)]="selectedResponsable" [form]="transferResponsibleForm"
            propertyName="selectedResponsable" label="Responsable" [isDisabled]="true" [previewAction]="false">
          </autocomplete-responsable>
        </td>
      </tr>
      <p>Nouveau responsable :</p>
      <tr>
        <td>
          <autocomplete-responsable [(model)]="newResponsable" [form]="transferResponsibleForm"
            propertyName="newResponsable" [isMandatory]="true" (onOptionSelected)="fillResponsable($event)"
            label="Responsable"></autocomplete-responsable>
        </td>
      </tr>
    </table>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="closeDialog()">Annuler</button>
  <button mat-raised-button color="warn" (click)="transferResponsible()">Valider</button>
</div>