<h1 mat-dialog-title>Montant à utiliser</h1>
<div mat-dialog-content>
  <p>{{label}}</p>
  <generic-input [(model)]="amount" label="Montant à utiliser" [form]="amountForm" propertyName="amount"
    [isMandatory]="true" [isDisabled]="false" type="number" (onInputChange)="valueModified()"></generic-input>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onClose()">Annuler</button>
  <button mat-raised-button color="warn" (click)="onConfirm()">Valider</button>
</div>