<h1 mat-dialog-title>Importer une annonce complexe</h1>
<div mat-dialog-content>
  <p>Copiez/collez le texte Word dans le cadre ci-dessous et validez.</p>
  <table class="full-width ">
    <tr>
      <td>
        <iframe width="100%" height="401" src="assets/html-cleaner/convert.html" (load)="onLoad()"
          id="htmlConverter"></iframe>
      </td>
    </tr>
  </table>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="closeDialog()">Annuler</button>
  <button mat-raised-button color="warn" (click)="importHtml()">Valider</button>
</div>