<div *ngIf="selectedSerie">
  <div class="container">
    <div class="bg-container">
      <div class="w-100 justify-content-between">
        <div class="container header-hub-bg d-flex align-items-center rounded-1">
          <div class="row w-100">
            <div class="col-12">
              <div class="d-flex align-items-center flex-wrap py-2">
                <div class="image-banner mb-1">
                  <img *ngIf="selectedSerie.picture"
                    [src]="selectedSerie.picture.urlMediumLarge || selectedSerie.picture.urlFull"
                    [alt]="selectedSerie.picture.alt_text" class="banner-img rounded-1">
                </div>
                <div>
                  <p class="text-muted mb-1">Spécial série</p>
                  <h1 class="fw-bold mb-2">{{ selectedSerie.name }}</h1>
                  <div class="text-body">{{selectedSerie.excerptText}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <serie-hub [selectedEntityType]="selectedSerie"></serie-hub>
</div>