.mat-accordion-container {
  padding-top: 15px
}

.row-field-container {
  padding-top: 15px;
}

.status-text {
  white-space: nowrap;
  padding-right: 10px;
}

::ng-deep.mat-mdc-menu-panel {
  max-width: none !important;
}
