<ng-template #accordionTools>
  <mat-icon matTooltip="Ouvrir tous les onglets" (click)="accordion!.openAll();$event.stopPropagation();"
    class="pointer">
    unfold_more_double</mat-icon>
  <mat-icon matTooltip="Fermer tous les autres onglets" (click)="accordion!.closeAll();" class="pointer">
    unfold_less_double</mat-icon>
</ng-template>
<div class="mat-accordion-container full-width" *ngIf="asso && asso.affaire">
  <mat-accordion multi>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>Détails de la commande n°{{asso.customerOrder.id}}
        </mat-panel-title>
        <mat-panel-description>
          <span class="status-text">{{asso.customerOrder.customerOrderStatus.label}}</span>
          <mat-icon matTooltip="Voir/éditer la commande" (click)="displayCustomerOrder($event)"
            (auxclick)="displayCustomerOrder($event)" class="pointer status-text">
            shopping_cart</mat-icon>
          <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ordering-customer [quotation]="asso.customerOrder" [editMode]="false">
      </ordering-customer>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="mat-accordion-container full-width" *ngIf="asso && asso.affaire">
  <mat-accordion multi>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>Détails de l'affaire
          {{asso.affaire.denomination?asso.affaire.denomination:(asso.affaire.firstname + ' '
          +asso.affaire.lastname)}} - {{asso.affaire.address}} - {{asso.affaire.postalCode}} -
          {{asso.affaire.city.label}}
        </mat-panel-title>
        <mat-panel-description>
          <avatar-chip *ngIf="asso.assignedTo" [employee]="asso.assignedTo"
            (onChangeAssigne)="updateAssignedToForAffaire($event,asso)">
          </avatar-chip>
          <mat-icon matTooltip="Voir/éditer l'affaire" (click)="displayAffaire($event);$event.stopPropagation();"
            (auxclick)="displayAffaire($event);$event.stopPropagation();" class="pointer status-text">
            edit</mat-icon>
          <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <add-affaire [affaire]="asso.affaire" [editMode]="false"></add-affaire>
      <div *ngIf="asso && asso.id ">
        <autocomplete-employee [(model)]="asso.assignedTo" [form]="affaireForm" propertyName="assignedTo"
          [isMandatory]="true" [isDisabled]="false" label="Affaire assignée à"
          (onOptionSelected)="updateAssignedToForAffaire($event,asso)">
        </autocomplete-employee>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="mat-accordion-container full-width" *ngIf="asso && asso.provisions">
  <mat-accordion multi class="mat-accordion-container">
    <mat-expansion-panel *ngFor="let provision of asso.provisions" [expanded]="!provision.id"
      [expanded]="provision.id==inputProvisionId">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{provision.provisionType ? (provision.provisionFamilyType.label +' -
          '+provision.provisionType.label):''}}
        </mat-panel-title>
        <mat-panel-description>
          <span class="status-text"
            *ngIf="getActiveWorkflowElementsForProvisionFn(provision)">{{getActiveWorkflowElementsForProvisionFn(provision).label}}</span>
          <avatar-chip *ngIf="asso.assignedTo" [employee]="provision.assignedTo"
            (onChangeAssigne)="updateAssignedToForProvision($event, provision)">
          </avatar-chip>
          <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
        </mat-panel-description>
        <mat-panel-description *ngIf="editMode">
          <mat-icon matTooltip="Supprimer la prestation" (click)="deleteProvision(asso,provision)" class="pointer">
            delete</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <provision-item [quotation]="asso.customerOrder?asso.customerOrder:asso.quotation"
        *ngIf="asso.affaire && asso.affaire.id" [editMode]="editMode" [provision]="provision" [affaire]="asso.affaire"
        [instanceOfCustomerOrder]="true" [isStatusOpen]="isStatusOpen">
      </provision-item>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="row-field-container">
  <button mat-raised-button *ngIf="editMode" (click)="createProvision(asso)" color="primary" class="mini-fab-add">
    Ajouter une prestation pour
    {{asso.affaire.denomination?asso.affaire.denomination:(asso.affaire.firstname + '
    '+asso.affaire.lastname)}}
  </button>
</div>
<button matTooltip="Sauvegarder" mat-fab color="warn" class="fab-button" *ngIf="editMode==true" (click)="saveAsso()">
  <mat-icon>save</mat-icon>
</button>
<button matTooltip="Modifier l'affaire / prestation" mat-fab color="accent" class="fab-button"
  *ngIf="editMode==false && asso" (click)="editAsso()">
  <mat-icon>edit</mat-icon>
</button>

<!-- Status menu -->
<button matTooltip="Changer de statut" mat-fab color="accent" class="second-fab-button"
  (click)="setCurrentProvisionWorkflow(asso.provisions[0])"
  *ngIf="canModifyStatus() && editMode==false && asso && asso.provisions && asso.provisions.length==1"
  [matMenuTriggerFor]="menu3">
  <mat-icon>done</mat-icon>
</button>
<button matTooltip="Changer de statut" mat-fab color="accent" class="second-fab-button"
  *ngIf="canModifyStatus() && editMode==false && asso && asso.provisions && asso.provisions.length>1"
  [matMenuTriggerFor]="menu2">
  <mat-icon>done</mat-icon>
  <mat-menu #menu2="matMenu" style="min-height: 0px;padding: 0;" xPosition="before">
    <button mat-menu-item [matMenuTriggerFor]="menu3" (mouseover)="setCurrentProvisionWorkflow(provision)"
      *ngFor="let provision of asso.provisions">{{provision.provisionType ? (provision.provisionFamilyType.label +' -
      '+provision.provisionType.label):''}}</button>
  </mat-menu>
</button>

<mat-menu #menu3="matMenu" style="min-height: 0px;padding: 0;" xPosition="before">
  <ng-container *ngIf="currentProvisionWorkflow">
    <button mat-menu-item (click)="displayProvisionWorkflowDialog(currentProvisionWorkflow)">
      <span>Voir le workflow</span>
    </button>
    <button disabled mat-menu-item
      *ngIf="getActiveWorkflowElementsForProvisionFn(currentProvisionWorkflow).successors && getActiveWorkflowElementsForProvisionFn(currentProvisionWorkflow).successors.length>0">
      <span>Passer à</span>
    </button>
    <button mat-menu-item
      *ngFor="let status of  getActiveWorkflowElementsForProvisionFn(currentProvisionWorkflow).successors"
      (click)="changeStatus(status,currentProvisionWorkflow)">
      <mat-icon>{{status.icon}}</mat-icon><span>{{status.label}}</span>
    </button>
    <button disabled mat-menu-item
      *ngIf="getActiveWorkflowElementsForProvisionFn(currentProvisionWorkflow).predecessors && getActiveWorkflowElementsForProvisionFn(currentProvisionWorkflow).predecessors.length>0">
      <span>Revenir à</span>
    </button>
    <button mat-menu-item
      *ngFor="let status of getActiveWorkflowElementsForProvisionFn(currentProvisionWorkflow).predecessors"
      (click)="changeStatus(status,currentProvisionWorkflow)">
      <mat-icon>{{status.icon}}</mat-icon><span>{{status.label}}</span>
    </button>
  </ng-container>
</mat-menu>

<!-- Mail menu -->
<button matTooltip="Recevoir un mail" mat-fab color="accent" class="third-fab-button"
  (click)="setCurrentProvisionWorkflow(asso.provisions[0])"
  *ngIf="editMode==false && asso && asso.provisions && asso.provisions.length==1" [matMenuTriggerFor]="menu4">
  <mat-icon>mail</mat-icon>
</button>
<button matTooltip="Recevoir un mail" mat-fab color="accent" class="third-fab-button"
  *ngIf="  editMode==false && asso && asso.provisions && asso.provisions.length>1" [matMenuTriggerFor]="menu5">
  <mat-icon>mail</mat-icon>
  <mat-menu #menu5="matMenu" style="min-height: 0px;padding: 0;" xPosition="before">
    <button mat-menu-item [matMenuTriggerFor]="menu4" (mouseover)="setCurrentProvisionWorkflow(provision)"
      *ngFor="let provision of asso.provisions">{{provision.provisionType ? (provision.provisionFamilyType.label +' -
      '+provision.provisionType.label):''}}</button>
  </mat-menu>
</button>
<mat-menu #menu4="matMenu" style="min-height: 0px;padding: 0;" xPosition="before">
  <button mat-menu-item
    *ngIf="currentProvisionWorkflow && currentProvisionWorkflow.announcement && currentProvisionWorkflow.announcement.confrere && currentProvisionWorkflow.announcement.confrere.id==confrereJssPaper.id"
    (click)="generatePublicationReceipt(currentProvisionWorkflow.announcement)">
    <span>Générer un justificatif de parution</span>
  </button>
  <button mat-menu-item
    *ngIf="currentProvisionWorkflow && currentProvisionWorkflow.announcement && currentProvisionWorkflow.announcement.isProofReadingDocument"
    (click)="generateProofReading(currentProvisionWorkflow.announcement)">
    <span>Générer une épreuve de relcture</span>
  </button>
  <button mat-menu-item
    *ngIf="currentProvisionWorkflow && currentProvisionWorkflow.announcement && currentProvisionWorkflow.announcement.confrere && currentProvisionWorkflow.announcement.confrere.journalType.id==journalTypePaper.id"
    (click)="generatePublicationReceiptMail(currentProvisionWorkflow.announcement)">
    <span>Recevoir le mail d'attestation de parution</span>
  </button>
  <button mat-menu-item
    *ngIf="currentProvisionWorkflow && currentProvisionWorkflow.announcement && currentProvisionWorkflow.announcement.confrere && currentProvisionWorkflow.announcement.confrere.id==confrereJssSpel.id"
    (click)="generatePublicationFlag(currentProvisionWorkflow.announcement)">
    <span>Générer un témoin de publication</span>
  </button>
  <button mat-menu-item
    *ngIf="currentProvisionWorkflow && currentProvisionWorkflow.announcement && currentProvisionWorkflow.announcement.confrere && currentProvisionWorkflow.announcement.confrere.journalType.id==journalTypeSpel.id"
    (click)="generatePublicationFlagMail()">
    <span>Recevoir le mail de témoin de publication</span>
  </button>
  <button mat-menu-item *ngIf="currentProvisionWorkflow" (click)="generateAttachmentQueryMail()">
    <span>Envoyer un mail de demande de pièces</span>
  </button>
</mat-menu>
