/* for sidenav to take a whole page */

html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.third-width {
  width: 33%;
}

.double-third-width {
  width: 66%;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-drawer-content {
  background-color: #F0F0F0 !important;
}

.mat-drawer.mat-drawer-side {
  z-index: 0 !important;
}

.mat-raised-button {
  margin-right: 8px !important;
}

.button-row>button {
  margin-right: 10px;
}

.row-field-container {
  flex-direction: row;
  display: flex;
}

.row-field-container>.button-row>button {
  bottom: -5px;
}

.row-field-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
  width: 170px
}

.row-field-container-flex-item {
  flex: 1;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}


.radio-group-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mini-fab-add mat-form-field.mat-form-field, mat-option, .mat-cell {
  font-size: 12px !important;
}

.mat-list-item-content {
  font-size: 12px !important;
  padding: 0 !important;
  margin-left: 13px;
}

.mat-list-item {
  height: 30px !important;
}

.mat-cell {
  padding: 4px !important;
}


.mat-radio-group.ng-invalid.ng-touched .mat-radio-outer-circle {
  border-color: #c0392b;
}

.mat-radio-group.ng-invalid.ng-touched .mat-radio-label-content {
  color: #c0392b;
}

.form-div {
  background-color: white;
  margin-top: 15px;
  padding: 10px;
}

.pointer {
  cursor: pointer;
}

.tooltip {
  margin-top: 5px !important;
}

.mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-menu-panel {
  min-height: auto !important;
}

.mat-tab-label.mat-tab-label-active {
  background-color: #c4ae8b;
}

mat-radio-group {
  padding-bottom: 16px;
}

mat-form-field.mat-form-field-should-float label {
  font-size: 14px;
}

.fab-button {
  position: fixed !important;
  bottom: 40px !important;
  right: 40px !important;
  z-index: 9999;
}

.second-fab-button {
  position: fixed !important;
  bottom: 40px !important;
  right: 110px !important;
  z-index: 9999;
}

.third-fab-button {
  position: fixed !important;
  bottom: 40px !important;
  right: 180px !important;
  z-index: 9999;
}

.fourth-fab-button {
  position: fixed !important;
  bottom: 40px !important;
  right: 250px !important;
  z-index: 9999;
}

.fifth-fab-button {
  position: fixed !important;
  bottom: 40px !important;
  right: 320px !important;
  z-index: 9999;
}

.mat-expansion-panel-header-description {
  flex-grow: 0 !important;
}

tr.table-row:hover {
  background: whitesmoke;
}

.fieldset-no-border {
  border: none;
  display: contents;
}

.ql-align-right {
  text-align: right;
}

.ql-align-center {
  text-align: center;
}

.ql-align-left {
  text-align: left;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v76/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

@font-face {
  font-family: "Antagometrica BT";
  src: url("https://db.onlinewebfonts.com/t/d0b6817fff760d3bbe95277bce46e6d4.eot");
  /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/d0b6817fff760d3bbe95277bce46e6d4.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/d0b6817fff760d3bbe95277bce46e6d4.woff2") format("woff2"),
    /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/d0b6817fff760d3bbe95277bce46e6d4.woff") format("woff"),
    /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/d0b6817fff760d3bbe95277bce46e6d4.ttf") format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/d0b6817fff760d3bbe95277bce46e6d4.svg#Antagometrica BT") format("svg");
  /* iOS 4.1- */
}

@font-face {
  font-family: "Avenir Black";
  src: url("https://db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.eot");
  /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.woff2") format("woff2"),
    /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.woff") format("woff"),
    /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.ttf") format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.svg#Avenir Black") format("svg");
  /* iOS 4.1- */
}


/** Mat Table **/

.mat-header-row {
  opacity: 1 !important;
  background: 0% 0% no-repeat padding-box padding-box #1C3D58 !important;
  height: 30px !important;
}

tr.mat-row {
  height: 20px !important;
}

.mat-header-row>th {
  color: white !important;
  text-align: center !important;
}

.mat-row:nth-child(odd) {
  background-color: #F7F4F0;
}

.mat-row:nth-child(even) {
  background-color: #FFFFFF;
}

.mat-row:nth-child(odd):hover {
  background-color: #6B9CBF;
}

.mat-row:nth-child(even):hover {
  background-color: #6B9CBF;
}
