/* for sidenav to take a whole page */

html, body {
  margin: 0;
  height: 100%;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.third-width {
  width: 33%;
}

.double-third-width {
  width: 66%;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-drawer.mat-drawer-side {
  z-index: 0 !important;
}

.mat-mdc-raised-button {
  margin-right: 8px !important;
}

.button-row>button {
  margin-right: 10px;
}

.row-field-container {
  flex-direction: row;
  display: flex;
}

.row-field-container>.button-row>button {
  bottom: -5px;
}

.row-field-container .mat-mdc-form-field+.mat-form-field {
  margin-left: 8px;
  width: 170px
}

.row-field-container-flex-item {
  flex: 1;
}

.fab-extended-button-containter {
  text-align: center;
  padding-bottom: 15px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-group-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mini-fab-add mat-form-field.mat-mdc-form-field, mat-option, .mat-mdc-cell {
  font-size: 12px !important;
}

.mat-mdc-list-item {
  height: 30px !important;
}

.mat-mdc-cell {
  padding: 4px !important;
}

.form-div {
  margin-top: 15px;
  padding: 10px;
  padding-bottom: 0px;
}

.pointer {
  cursor: pointer;
}

.tooltip {
  margin-top: 5px !important;
}

.mat-mdc-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-mdc-menu-panel {
  min-height: auto !important;
}

.fab-button {
  position: fixed !important;
  bottom: 40px !important;
  right: 40px !important;
  z-index: 9999;
}

.second-fab-button {
  position: fixed !important;
  bottom: 40px !important;
  right: 110px !important;
  z-index: 9999;
}

.third-fab-button {
  position: fixed !important;
  bottom: 40px !important;
  right: 180px !important;
  z-index: 9999;
}

.fourth-fab-button {
  position: fixed !important;
  bottom: 40px !important;
  right: 250px !important;
  z-index: 9999;
}

.fifth-fab-button {
  position: fixed !important;
  bottom: 40px !important;
  right: 320px !important;
  z-index: 9999;
}

.mat-expansion-panel-header-description {
  flex-grow: 0 !important;
}

tr.table-row:hover {
  transition: all 0.2s ease;
}

.fieldset-no-border {
  border: none;
  display: contents;
}

.avatar-select {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

.select-with-avatar {
  display: flex;
}

.material-icons {
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.rounded-div-icon {
  cursor: pointer;
  border-radius: 23px;
  width: 33px;
}

.rounded-div-icon mat-icon {
  margin-left: 5px;
  margin-top: 3px;
}

.min-widht-table {
  min-width: auto !important;
}

.margin-mat-divider {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}