@import "~@angular/material/theming";

@include mat-core();

// generated custom palette
$primary-palette: (
    50: #ffffff,
    100: #ffffff,
    200: #f1ebe3,
    300: #d9cab4,
    400: #cebc9f,
    500: #c4ae8b,
    600: #baa077,
    700: #af9262,
    800: #a18352,
    900: #8d7248,
    A100: #ffffff,
    A200: #fbf6ed,
    A400: #dec8a3,
    A700: #d0bb98,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
)
);

$secondary-palette:  (
  50: #9dc2e0,
  100: #639ecd,
  200: #3c83bd,
  300: #2b5d86,
  400: #234d6f,
  500: #1c3d58,
  600: #152d41,
  700: #0d1d2a,
  800: #060d12,
  900: #000000,
  A100: #81bff2,
  A200: #2490e9,
  A400: #1c598b,
  A700: #1f4b6f,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
)
);


$warn-palette: (
  50 : #fdf8f7,
  100 : #efbeb8,
  200 : #e5938b,
  300 : #d85d50,
  400 : #d24637,
  500 : #c0392b,
  600 : #a73225,
  700 : #8e2a20,
  800 : #75231a,
  900 : #5c1b15,
  A100 : #feedec,
  A200 : #fb9489,
  A400 : #e74837,
  A700 : #d83d2d,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary: mat-palette($primary-palette);
$secondary: mat-palette($secondary-palette);
$warn: mat-palette($warn-palette);

$theme: mat-light-theme($primary, $secondary, $warn);

@include angular-material-theme($theme);

$custom-typography: mat-typography-config(
  $font-family: Avenir Black
);
@include mat-core($custom-typography);


.blue-snackbar {
  background: #1C3D58 ;
  color:white;
}

.blue-snackbar .mat-simple-snackbar-action  {
  color: white;
}

.red-snackbar {
  background: #c0392b ;
  color:white;
}

.red-snackbar .mat-simple-snackbar-action  {
  color: white;
}
