@import "~@angular/material/theming";

@include mat-core();

// generated custom palette
$primary-palette: (
  50: #f9f6ea,
  100: #e7dbaf,
  200: #dac784,
  300: #caaf4d,
  400: #c0a239,
  500: #a88e32,
  600: #907a2b,
  700: #796624,
  800: #61521d,
  900: #4a3e16,
  A100: #fcf5dd,
  A200: #f4da7f,
  A400: #dab533,
  A700: #c2a232,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
)
);

$secondary-palette:  (
  50: #d4dae3,
  100: #a5b3c5,
  200: #8396af,
  300: #5c728f,
  400: #50637d,
  500: #44546a,
  600: #384557,
  700: #2c3645,
  800: #202832,
  900: #14191f,
  A100: #c1d3eb,
  A200: #749cd3,
  A400: #476a9a,
  A700: #49607e,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
)
);


$warn-palette: (
  50 : #fdf8f7,
  100 : #efbeb8,
  200 : #e5938b,
  300 : #d85d50,
  400 : #d24637,
  500 : #c0392b,
  600 : #a73225,
  700 : #8e2a20,
  800 : #75231a,
  900 : #5c1b15,
  A100 : #feedec,
  A200 : #fb9489,
  A400 : #e74837,
  A700 : #d83d2d,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary: mat-palette($primary-palette);
$secondary: mat-palette($secondary-palette);
$warn: mat-palette($warn-palette);

$theme: mat-light-theme($primary, $secondary, $warn);

@include angular-material-theme($theme);

$custom-typography: mat-typography-config(
  $font-family: Avenir Black
);
@include mat-core($custom-typography);
