<div [hidden]="!editMode && (tiers.id==undefined || tiers.id==null)">
  <mat-tab-group animationDuration="0ms" [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Fiche du tiers">
      <tiers-main [tiers]="tiers" [editMode]="editMode">
      </tiers-main>
    </mat-tab>
    <mat-tab label="Pièces, réglements, facturations & relances">
      <settlement-billing [tiers]="tiers" [editMode]="editMode"></settlement-billing>
    </mat-tab>
    <mat-tab label="Responsable(s)">
      <responsable-main [tiers]="tiers" [editMode]="editMode"></responsable-main>
    </mat-tab>
    <mat-tab label="Documents" *ngIf="tiers.id!=null && tiers.id!=undefined">
      <attachments [entity]="tiers" [editMode]="editMode" [entityType]="TIERS_ENTITY_TYPE.entityType">
      </attachments>
    </mat-tab>
    <mat-tab label="Mails" *ngIf="tiers.id">
      <ng-template matTabContent>
        <automatic-mail-list [tiers]="tiers">
        </automatic-mail-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Devis" *ngIf="tiers.id!=null && tiers.id!=undefined">
      <ng-template matTabContent>
        <quotation-list class="integration-component" *ngIf="this.quotationSearch.customerOrders"
          [quotationSearch]="quotationSearch" [isForTiersIntegration]="true">
        </quotation-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Commandes" *ngIf="tiers.id!=null && tiers.id!=undefined">
      <ng-template matTabContent>
        <ordering-list class="integration-component" *ngIf="this.orderingSearch.customerOrders"
          [orderingSearch]="orderingSearch" [isForTiersIntegration]="true">
        </ordering-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Prepa visite" *ngIf="tiers.id!=null && tiers.id!=undefined" >
      <visit-prepa-tiers-responsible-info [tiers]="tiers" ></visit-prepa-tiers-responsible-info>
      <visit-prepa-customer-orders-responsible [tiers]="tiers"></visit-prepa-customer-orders-responsible>
    </mat-tab>
    <mat-tab label="Reclamation">
      <complaint-tiers [tiers]="tiers"></complaint-tiers>
    </mat-tab>
    <mat-tab label="Prestations" *ngIf="tiers.id!=null && tiers.id!=undefined">
      <ng-template matTabContent>
        <provision-list class="integration-component"
          *ngIf="this.provisionSearch.customerOrders && this.provisionSearch.customerOrders.length>0"
          [affaireSearch]="provisionSearch" [isForTiersIntegration]="true">
        </provision-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Factures" *ngIf="invoiceSearch.customerOrders">
      <ng-template matTabContent>
        <invoice-list [invoiceSearch]="invoiceSearch" [isForTiersIntegration]="true"></invoice-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Comptes" *ngIf="responsableAccountSearch && responsableAccountSearch.id && !this.idResponsable">
      <ng-template matTabContent>
        <accounting-record [tiersToDisplay]="responsableAccountSearch"></accounting-record>
      </ng-template>
    </mat-tab>
    <mat-tab label="RFF" *ngIf="rffSearch && rffSearch.tiers  ">
      <ng-template matTabContent>
        <div class="mat-elevation-z2 form-div">
          <rff-list [rffSearch]="rffSearch" [isForTiersIntegration]="true"></rff-list>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Suivi" *ngIf="tiers.id!=null && tiers.id!=undefined">
      <ng-template matTabContent>
        <tiers-followup [tiers]="tiers" [editMode]="editMode"></tiers-followup>
      </ng-template>
    </mat-tab>
    <mat-tab label="Historique" *ngIf="tiers.id!=null && tiers.id!=undefined">
      <ng-template matTabContent>
        <history [entity]="tiers" [entityType]="TIERS_ENTITY_TYPE"></history>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<div [hidden]="(tiers.id!=undefined && tiers.id!=null)">
  <tiers-list></tiers-list>
</div>
<button matTooltip="Sauvegarder" mat-fab color="warn" class="fab-button" *ngIf="editMode==true" (click)="saveTiers()">
  <mat-icon>save</mat-icon>
</button>
<button matTooltip="Modifier le tiers" mat-fab color="accent" class="fab-button"
  *ngIf="editMode==false && tiers.id!=undefined && tiers.id!=null" (click)="editTiers()">
  <mat-icon>edit</mat-icon>
</button>
<button matTooltip="Ajouter un tiers" mat-fab color="accent" class="fab-button"
  *ngIf="editMode==false && (tiers.id==undefined || tiers.id==null)" (click)="createTiers()">
  <mat-icon>add</mat-icon>
</button>
<button matTooltip="Supprimer le tiers" mat-fab color="warn" class="third-fab-button"
  *ngIf="editMode==false &&  tiers.id" (click)="deleteTiers()">
  <mat-icon>delete</mat-icon>
</button>
