<div [hidden]="!editMode && (tiers.id==undefined || tiers.id==null)">
  <mat-tab-group animationDuration="0ms" #tabs [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Principal">
      <tiers-main [tiers]="tiers" [editMode]="editMode">
      </tiers-main>
    </mat-tab>
    <mat-tab label="Responsable(s)">
      <responsable-main [tiers]="tiers" [editMode]="editMode"></responsable-main>
    </mat-tab>
    <mat-tab label="Gestion des pièces" *ngIf="isTiersTypeProspect()==false">
      <document-management [tiers]="tiers" [editMode]="editMode">
      </document-management>
    </mat-tab>
    <mat-tab label="Réglement, facturation & relance">
      <settlement-billing [tiers]="tiers" [editMode]="editMode"></settlement-billing>
    </mat-tab>
    <mat-tab label="Documents" *ngIf="tiers.id!=null && tiers.id!=undefined">
      <tiers-attachments [tiers]="tiers" [editMode]="editMode">
      </tiers-attachments>
    </mat-tab>
    <mat-tab label="Suivi" *ngIf="tiers.id!=null && tiers.id!=undefined">
      <tiers-followup [tiers]="tiers" [editMode]="editMode"></tiers-followup>
    </mat-tab>
    <mat-tab label="Historique" *ngIf="tiers.id!=null && tiers.id!=undefined">
      <history [entity]="tiers" [entityType]="TIERS_ENTITY_TYPE"></history>
    </mat-tab>
  </mat-tab-group>
</div>
<button matTooltip="Sauvegarder" mat-fab color="warn" class="fab-button" *ngIf="editMode==true" (click)="saveTiers()">
  <mat-icon>save</mat-icon>
</button>
<button matTooltip="Modifier le tiers" mat-fab color="accent" class="fab-button"
  *ngIf="editMode==false && tiers.id!=undefined && tiers.id!=null" (click)="editTiers()">
  <mat-icon>edit</mat-icon>
</button>
<button matTooltip="Ajouter un tiers" mat-fab color="accent" class="fab-button"
  *ngIf="editMode==false && (tiers.id==undefined || tiers.id==null)" (click)="createTiers()">
  <mat-icon>add</mat-icon>
</button>
<button matTooltip="Rechercher un tiers" mat-fab color="accent" class="second-fab-button" *ngIf="editMode==false"
  (click)="openSearch()">
  <mat-icon>search</mat-icon>
</button>
<button matTooltip="Ajouter un tiers" mat-fab color="accent" class="second-fab-button"
  *ngIf="editMode==false && tiers.id!=undefined && tiers.id!=null" (click)=" createTiers()">
  <mat-icon>add</mat-icon>
</button>
