<div class="mat-elevation-z2 form-div" *ngIf="invoice">
  <div class=" advise">
    <form [formGroup]="invoiceForm">
      <div class="full-width">
        <table class="full-width">
          <tr>
            <td>
              <generic-toggle [(model)]="hideConfidentFields" label="Cacher les champs sûrs" [form]="invoiceForm"
                propertyName="hideConfidentFields"></generic-toggle>
            </td>
            <td>
              <single-attachment *ngIf="invoice.id" [entity]="invoice"
                [entityType]="AZURE_INVOICE_ENTITY_TYPE.entityType" [editMode]="false"
                [attachmentTypeToDisplay]="attachmentTypeProviderInvoice">
              </single-attachment>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr *ngIf="!hideConfidentFields || invoice.invoiceIdConfidence<confidentThreshold">
            <td>
              <generic-input [(model)]="invoice.invoiceId" label="Numéro de facture fournisseur" [form]="invoiceForm"
                propertyName="invoiceId" [isMandatory]="true" [isDisabled]="false"
                [hint]="'Confiance de '+invoice.invoiceIdConfidence*100+'%'"></generic-input>
            </td>
          </tr>
          <tr *ngIf="!hideConfidentFields || invoice.invoiceDateConfidence<confidentThreshold">
            <td>
              <generic-datepicker [(model)]="invoice.invoiceDate" label="Date de la facture" [form]="invoiceForm"
                propertyName="invoiceDate" [isMandatory]="true" [isDisabled]="false"
                [hint]="'Confiance de '+invoice.invoiceDateConfidence*100+'%'"></generic-datepicker>
            </td>
          </tr>
          <tr *ngIf="!hideConfidentFields || invoice.vendorTaxIdConfidence<confidentThreshold">
            <td>
              <autocomplete-competent-authority [(model)]="invoice.competentAuthority" [form]="invoiceForm"
                propertyName="competentAuthority" [isMandatory]="true" label="Autorité compétente"
                [hint]="'Confiance de '+invoice.vendorTaxIdConfidence*100+'%'"></autocomplete-competent-authority>
            </td>
          </tr>
          <tr *ngIf="!hideConfidentFields || invoice.invoiceTotalConfidence<confidentThreshold">
            <td><generic-input [(model)]="invoice.invoiceTotal" label="Total TTC" [form]="invoiceForm"
                propertyName="invoiceTotal" [isMandatory]="true" [isDisabled]="false" type="number"
                [hint]="'Confiance de '+invoice.invoiceTotalConfidence*100+'%'"></generic-input>
            </td>
          </tr>
          <tr *ngIf="!hideConfidentFields || invoice.invoicePreTaxTotalConfidence<confidentThreshold">
            <td><generic-input [(model)]="invoice.invoicePreTaxTotal" label="Total HT" [form]="invoiceForm"
                propertyName="invoicePreTaxTotal" [isMandatory]="true" [isDisabled]="false" type="number"
                [hint]="'Confiance de '+invoice.invoicePreTaxTotalConfidence*100+'%'"></generic-input>
            </td>
          </tr>
          <tr *ngIf="!hideConfidentFields || invoice.invoiceTaxTotalConfidence<confidentThreshold">
            <td><generic-input [(model)]="invoice.invoiceTaxTotal" label="Total TVA" [form]="invoiceForm"
                propertyName="invoiceTaxTotal" [isMandatory]="true" [isDisabled]="false" type="number"
                [hint]="'Confiance de '+invoice.invoiceTaxTotalConfidence*100+'%'"></generic-input>
            </td>
          </tr>
          <tr *ngIf="!hideConfidentFields || invoice.invoiceNonTaxableTotalConfidence<confidentThreshold">
            <td><generic-input [(model)]="invoice.invoiceNonTaxableTotal" label="Total NT" [form]="invoiceForm"
                propertyName="invoiceNonTaxableTotal" [isMandatory]="true" [isDisabled]="false" type="number"
                [hint]="'Confiance de '+invoice.invoiceNonTaxableTotalConfidence*100+'%'"></generic-input>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</div>
<button matTooltip="Sauvegarder" mat-fab color="warn" class="fab-button" (click)="editInvoice()">
  <mat-icon>save</mat-icon>
</button>
<button matTooltip="Désactiver la facture" mat-fab color="accent" class="second-fab-button" (click)="disableInvoice()">
  <mat-icon>close</mat-icon>
</button>