.btn-tab:active {
    border: solid 1px black;
}

.btn-tab:focus {
    box-shadow: none;
}

.date-pill-bg {
    background: #F6F9FC;

}

.kiosk-img {
    box-shadow: -2px 2px 4px #18171926;
    max-height: 320px;
}

.bg-gray {
    background-color: #5050506e;
}

.shake-highlight {
    animation: spin-decelerate 2.5s ease-in-out;
}

@keyframes spin-decelerate {
    0% {
        transform: rotateY(0deg) scale(2);
    }

    40% {
        transform: rotateY(720deg) scale(1.7);
    }

    70% {
        transform: rotateY(900deg) scale(1.4);
    }

    100% {
        transform: rotateY(1080deg) scale(1);
    }
}