<mat-form-field class="full-width" [formGroup]="form!">
  <mat-label>Téléphones</mat-label>
  <mat-chip-list #chipList [formControlName]="propertyName">
    <mat-chip *ngFor="let chip of model" (removed)="removeElement(chip)">
      {{getValueFromObject(chip)}}
      <button matChipRemove *ngIf="!isDisabled">
        <mat-icon>cancel</mat-icon>
      </button>
      <mat-icon matChipRemove *ngIf="isDisabled" (click)="call(chip)">phone</mat-icon>
    </mat-chip>
    <input placeholder="Saisir un téléphone et appuyer sur Entrée" #chipInput [matChipInputFor]="chipList"
      [disabled]="isDisabled" [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
      (matChipInputTokenEnd)="addElement($event)">
  </mat-chip-list>
</mat-form-field>
