<section class="container pb-5 mb-md-3 mb-lg-4 mb-xxl-5">
  <div class="row pb-md-4 pb-xl-5">
    <div class="col-md-6 mb-2 mb-md-0">
      <div class="card border-0 h-100 bg-size-cover bg-position-center"
        style="background-image: url(assets/img/account/parcourir_mon_compte.jpg);">
        <div class="d-none d-sm-block d-md-none" style="height: 450px;"></div>
        <div class="d-sm-none" style="height: 350px;"></div>
      </div>
    </div>
    <div class="col-md-6 col-xl-5 offset-xl-1">
      <div class="pt-4 pb-sm-4 ps-md-4 ps-xl-0">
        <h2 class="h1 text-white pb-2 pb-sm-3 pb-xl-4">Parcourir l'espace <br>"Mon compte"</h2>
        <div class="d-flex pb-3 mb-2 mb-xl-3">
          <div class="text-body-secondary pt-1">01</div>
          <div class="ps-3">
            <h3 class="h5 text-white">Gestion de votre commande</h3>
            <p class="mb-0 text-body-secondary">Suivi de votre dossier en ligne via MYJSS et consultation des pièces
              obligatoires, avec une
              mise à jour en temps réel de l'avancement.</p>
          </div>
        </div>
        <div class="d-flex pb-3 mb-2 mb-xl-3">
          <div class="text-body-secondary pt-1">02</div>
          <div class="ps-3">
            <h3 class="h5 text-white">Périmètre</h3>
            <p class="mb-0">Accédez à l'ensemble de vos dossiers : commandes, devis, et suivez leur statut en temps
              réel.</p>
          </div>
        </div>
        <div class="d-flex pb-3 mb-2 mb-xl-3">
          <div class="text-body-secondary pt-1">03</div>
          <div class="ps-3">
            <h3 class="h5 text-white">Données sécurisées</h3>
            <p class="mb-0">Téléchargez facilement tous vo documents importants : factures, Kbis, et autres pièces
              justificatives en toute sécurité.</p>
          </div>
        </div>
        <div class="d-flex mb-2 mb-xl-3">
          <div class="text-body-secondary pt-1">04</div>
          <div class="ps-3">
            <h3 class="h5 text-white">Accompagnement sur mesure</h3>
            <p class="mb-0">Une plateforme simple à utiliser pour vous faire gagner du temps, avec des échanges directs
              en ligne avec votre formaliset attitré et votre chargé de clientèle.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>