<section class="container mt-4 py-sm-3 py-md-4 py-lg-5 my-xxl-3">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="pt-lg-5 pb-lg-4 pb-2 breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
      <li class="breadcrumb-item" *ngFor="let item of breadcrumbItems; let last = last" [ngClass]="{'active': last}"
        aria-current="page">
        <a *ngIf="!last" href="">{{ item }}</a>
        <span *ngIf="last">{{ item }}</span>
      </li>
    </ol>
  </nav>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs " role="tablist">
    <li class="nav-item" *ngFor="let tab of tabs; let i = index">
      <a class="nav-link" [class.active]="tab.active" (click)="onTabClick(i)">
        <i class="fi-home me-2 "></i>
        {{ tab.name }}
      </a>
    </li>
  </ul>

  <!-- Content Section -->
  <div class="tab-content">
    <div *ngIf="tabs[0].active">
      <div class="tab-pane" id="announcement">
        <announcement></announcement>
      </div>
    </div>
    <div *ngIf="tabs[1].active">
      <div class="tab-pane" id="formality">
        <formality></formality>
      </div>
    </div>
    <div *ngIf="tabs[2].active">
      <div class="tab-pane" id="apostille">
        <apostille></apostille>
      </div>
    </div>
    <div *ngIf="tabs[3].active">
      <div class="tab-pane" id="domiciliation">
        <domiciliation></domiciliation>
      </div>
    </div>
    <div *ngIf="tabs[4].active">
      <div class="tab-pane" id="document">
        <document></document>
      </div>
    </div>
  </div>
</section>