/*---------------  Scroll title --------------- */

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-scroll {
    animation: scroll-left 10s linear infinite;
}

.text-white .text-nowrap a {
    color: var(--ar-secondary) !important;
}


/* --------------- Volume dropdown --------------- */
.vertical-range {
    width: 6px;
    height: 100px;
    padding: 0;
    margin: 0 auto;
    display: block;
}

.dropdown-menu {
    width: auto !important;
    min-width: 40px;
    padding: 0.5rem;
    text-align: center;
}

/* --------------- Progression Bar ---------------- */

/* Audio progression-bar (horizontal) */
.form-range {
    width: 180px;
    height: 6px;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
}

/* Fixed progression-bar background*/
.form-range::-webkit-slider-runnable-track {
    background: #dee2e6;
    /* Gris clair Bootstrap */
    height: 6px;
    border-radius: 3px;
}

/* Progression-bar red */
.form-range::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #FF5757 0%, #FF5757 var(--progress), #dee2e6 var(--progress), #dee2e6 100%);
}

/* Bouton (thumb) invisible */
.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 0px;
    background: transparent;
    border: none;
    box-shadow: none;
    margin-top: -6px;
}

/* Firefox fallback */
.form-range::-moz-range-thumb {
    width: 0px;
    height: 0px;
    background: transparent;
    border: none;
}

.form-range::-moz-range-track {
    background: #dee2e6;
    height: 6px;
    border-radius: 3px;
}

/* IE / Edge */
.form-range::-ms-thumb {
    width: 0;
    height: 0;
    background: transparent;
    border: none;
}