<mat-form-field class="full-width" [formGroup]="form!">
  <mat-label>{{label}}</mat-label>
  <mat-select [formControlName]="propertyName"
    [required]="isMandatory && (conditionnalRequired==undefined || conditionnalRequired)" [compareWith]="compareWithId">
    <mat-option *ngFor="let type of types" [value]="type">
      {{displayLabel(type)}}
    </mat-option>
  </mat-select>
  <mat-icon matSuffix (click)="clearField();$event.stopPropagation()" *ngIf="!isDisabled && model!=undefined"
    class="pointer">
    close
  </mat-icon>
  <mat-icon matTooltip="Ajouter aux notes (maintenez CTRL appuyé pour ajouter un titre)" matTooltipShowDelay="1000"
    matSuffix (click)="addToNotes($event)" *ngIf="isDisabled && model!=undefined" class="pointer note-icon">
    adjust
  </mat-icon>
</mat-form-field>
