.download-card {
    cursor: pointer;
    border: 4px dashed #ccccccb9;
    text-align: center;
    padding: 20px;
    transition: border-color 0.3s ease;
}

.download-card:hover {
    border-color: var(--ar-secondary);
}

.download-card.dragover {
    border-color: var(--ar-secondary);
}

.max-size {
    color: #999;
    font-size: 0.9rem;
}

.blue-card {
    background-color: #F6F9FC;
    padding: 2rem;
    height: auto;
}

.light-grey {
    color: var(--ar-gray-500);
}


.white-card {
    background-color: var(--ar-primary);
    position: relative;
    cursor: pointer;
    border: 3px solid transparent;
}

.card.selected {
    border: 3px solid var(--ar-secondary);
}

.pill {
    position: relative;
    z-index: 1;
}

.col.with-right-border {
    border-right: 1px solid var(--ar-gray-500);
}