<div class="container">

  <section>
    <p class="sub-title">Sélectionnez une affaire</p>

    <div class="row mb-5">
      <!-- Afficher les cartes avec ngFor -->
      <div *ngFor="let affaire of affaires" class="col-12 col-sm-6 col-lg-4 my-2">
        <div class="white-card card rounded-1 d-flex flex-column h-100 p-4 "
          [ngClass]="{'selected': selectedCardId === affaire.id}" (click)="selectCard(affaire.id, $event)">
          <div class="row d-flex flex-row align-items-center">
            <i class="ai-briefcase col-1"></i>
            <h6 class="col m-0">{{ affaire.title }}</h6>
          </div>
          <div class="row align-items-center">
            <!-- Les boutons pills -->
            <a *ngFor="let button of affaire.services"
              class="btn btn-secondary rounded-pill mt-2 ms-1 mt-md-3 ms-md-3 col-auto pill">
              {{ button.label }} <i class="{{ button.icon }} ms-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="pb-3 row align-items-center">
      <strong class="col-auto">
        <ng-container *ngIf="true">
          <span>10000000000000 - EXEMPLE BIS - 18 BOULEVARD DE LA TRINITÉ</span>
        </ng-container>
      </strong>
      <a class="btn btn-secondary rounded-pill col-auto pill ms-3 fs-xs">Transfert de Siège Hors Ressort
      </a>
    </div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item ">
        <a href="#documents" class="nav-link active quotation-tabs" data-bs-toggle="tab" role="tab">
          Documents
        </a>
      </li>
      <li class="nav-item">
        <a href="#profile" class="nav-link" data-bs-toggle="tab" role="tab">
          Annonces légales
        </a>
      </li>
      <li class="nav-item ">
        <a href="#home" class="nav-link quotation-tabs" data-bs-toggle="tab" role="tab">
          Domiciliation
        </a>
      </li>
      <li class="nav-item">
        <a href="#profile" class="nav-link" data-bs-toggle="tab" role="tab">
          Apostille et Légalisation
        </a>
      </li>
      <li class="nav-item ">
        <a href="#home" class="nav-link quotation-tabs" data-bs-toggle="tab" role="tab">
          Traduction
        </a>
      </li>
      <li class="nav-item">
        <a href="#profile" class="nav-link" data-bs-toggle="tab" role="tab">
          Certification
        </a>
      </li>
    </ul>

    <!-- Tabs content -->
    <div class="tab-content quotation-container">
      <div class="tab-pane fade show active" id="documents" role="tabpanel">
        <h6><i class="ai-circle-info me-2"></i>
          Information</h6>
        <div class="pb-3">

          <div class="row mb-3">
            <div class="col-md-2">
              <generic-input label="Nombre de salariés" [form]="docInformationForm"
                [propertyName]="'Nombre de salariés'" [isMandatory]="true" [isDisabled]="false" [maxLength]="150">
              </generic-input>
            </div>

            <div class="col-md-2">
              <generic-datetime-picker label="Date de début d'activité" [form]="docInformationForm" [propertyName]="''"
                [isMandatory]="true" [isDisabled]="false">
              </generic-datetime-picker>
            </div>
            <div class="col-md-2">
              <generic-datetime-picker label="Date de début d'activité" [form]="docInformationForm" [propertyName]="''"
                [isMandatory]="true" [isDisabled]="false">
              </generic-datetime-picker>
            </div>

            <div class="col-md-6">
              <generic-input label="Code APE souhaité (code NAF)" [form]="docInformationForm"
                [propertyName]="'Code APE souhaité'" [isMandatory]="true" [isDisabled]="false" [maxLength]="150">
              </generic-input>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <!-- <generic-select label="Catégorisation 1 de l'activité" [form]="docInformationForm"
                [propertyName]="'Catégorisation 1 activite'" [isMandatory]="true" [isDisabled]="false"
                [maxLength]="150">
              </generic-select> -->
            </div>

            <div class="col-md-6">
              <generic-input label="Précision" [form]="docInformationForm" [propertyName]="'Precision'"
                [isMandatory]="true" [isDisabled]="false" [maxLength]="150">
              </generic-input>
            </div>
          </div>

          <!-- Adresse -->
          <!-- <div class="row mb-3">
            <div class="col-md-6">
              <generic-input [(model)]="quotation.assoAffaireOrders[indexAsso].affaire.address" label="Adresse"
                [form]="docInformationForm" [propertyName]="'address'+indexAsso" [isMandatory]="true" [isDisabled]="false"
                [maxLength]="100">
              </generic-input>
            </div>
            <div class="col-md-6">
              <generic-input [(model)]="quotation.assoAffaireOrders[indexAsso].affaire.cedexComplement"
                label="Complément d'adresse" [form]="docInformationForm" [propertyName]="'cedexComplement'+indexAsso"
                [isMandatory]="true" [isDisabled]="false" [maxLength]="50">
              </generic-input>
            </div>
          </div> -->

          <!-- Code postal, Ville, Pays -->
          <!-- <div class="row mb-3">
            <div class="col-md-4">
              <generic-input [(model)]="quotation.assoAffaireOrders[indexAsso].affaire.postalCode" label="Code postal"
                [form]="idenficationForm" [propertyName]="'postalCode'+indexAsso" [isMandatory]="true"
                [isDisabled]="false" [maxLength]="10">
              </generic-input>
            </div>
            <div class="col-md-4">
              <autocomplete-city [(model)]="quotation.assoAffaireOrders[indexAsso].affaire.city" label="Ville"
                [form]="idenficationForm" [propertyName]="'city'+indexAsso" [isMandatory]="true" [isDisabled]="false"
                [modelCountry]="" [preFilterPostalCode]="quotation.assoAffaireOrders[indexAsso].affaire.postalCode">
              </autocomplete-city>
            </div>
            <div class="col-md-4">
              <select-country [(model)]="quotation.assoAffaireOrders[indexAsso].affaire.country" label="Pays"
                [form]="idenficationForm" [propertyName]="'city'+indexAsso" [isMandatory]="true" [isDisabled]="false">
              </select-country>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>


  <section class="quotation-container">
    <h6><i class="ai-paperclip pe-2"></i>Pièces justificatives</h6>
    <div class="row">
      <div class="col-6">
        <ul>
          <li *ngFor="let doc of uploadedDocuments">
            {{doc}}
          </li>
        </ul>
        <div class="blue-card card rounded-1">
          <!-- Ligne 1 : Nom du fichier et icône trash -->
          <div class="row d-flex justify-content-between align-items-center p-1">
            <p class="col-auto mb-0">Nom-du-fichier.pdf</p>
            <a class="col-auto"><i class="ai-trash" (click)="deleteFile()"></i></a>
          </div>

          <div class="row p-1">
            <!-- Error -->
            <div *ngIf="isError">
              <div class="row d-flex justify-content-start align-items-center p-1">
                <i class="col-auto ai-circle-x me-2 text-danger-emphasis"></i>
                <p class="col-auto mb-0 text-danger-emphasis">Erreur</p>
              </div>
              <div class="fs-sm fw-semibold mb-2"></div>
              <div class="progress mb-3" style="height: 4px;">
                <div class="progress-bar bg-danger" role="progressbar"
                  [ngStyle]="{'width': downloadingPercentage + '%'}" aria-valuenow="55" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>

            <!-- In progress -->
            <div *ngIf="downloadingPercentage!==100 && !isError">
              <div class="row d-flex justify-content-start align-items-center p-1">
                <div class="col-auto mb-0">
                  <p class="m-0 light-grey">{{downloadingPercentage}} KB sur {{totalFileWeight}} KB &#x2022;</p>
                </div>
                <div class="col-auto mb-0">
                  <div class="spinner-border spinner-border-sm me-1" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div> Chargement
                </div>
              </div>
              <div class="row">
                <div class="progress mb-3" style="height: 4px;">
                  <div class="progress-bar bg-body-secondary" role="progressbar"
                    [ngStyle]="{'width': downloadingPercentage + '%'}" aria-valuenow="55" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
            </div>

            <!-- Success -->
            <div *ngIf="downloadingPercentage===100 && !isError">
              <div class="row d-flex justify-content-start align-items-center p-1">
                <i class="col-auto ai-circle-check-filled me-2 text-success-emphasis"></i>
                <p class="col-auto mb-0">Terminé</p>
              </div>
              <div class="progress mb-3" style="height: 4px;">
                <div class="progress-bar bg-success" role="progressbar"
                  [ngStyle]="{'width': downloadingPercentage + '%'}" aria-valuenow="55" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="row my-3">
            <div class="col-4">
              Date du document*
            </div>
            <div class="col-8">
              <generic-datetime-picker>
              </generic-datetime-picker>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="h-100 rounded-1 download-card p-4 d-flex flex-column align-items-center justify-content-center"
          (click)="onCardClick()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
          (drop)="onDrop($event)">
          <input class="d-none" type="file" #fileDropRef id="fileDropRef" multiple (change)="onFileSelected($event)" />
          <h6>Choisissez des fichiers ou déposez-les ici</h6>
          <i class="ai-upload fs-1 mb-3"></i>
          <p class="max-size">Formats acceptés : PDF, JPEG, PNG, HEIC, jusqu'à 50 Mo</p>
          <label for="fileDropRef" class="btn btn-outline-secondary m-auto rounded-1">Parcourir</label>
        </div>
      </div>
    </div>
  </section>
</div>