.white-card {
  background-color: var(--ar-primary);
  position: relative;
  cursor: pointer;
  border: 3px solid transparent;
}

.card.selected {
  border: 3px solid var(--ar-secondary);
}

.pill {
  position: relative;
  z-index: 1;
}

:host ::ng-deep .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  min-height: 200px;
}

:host ::ng-deep .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  min-height: 200px;
}

.modal-footer .btn-danger:hover {
  color: var(--ar-danger);
}

.nav-item, .nav-tabs {
  margin-bottom: 0px !important;
}

::ng-deep .custom-tooltip .tooltip-inner {
  /* background-color: #fff; */
  color: var(--ar-gray-100);
  border: 1px solid #ccc;
}

:host ::ng-deep single-upload .download-card {
  height: 150px !important;
  padding: 10px !important;
  min-height: auto !important;
}

:host ::ng-deep single-upload .download-card i {
  font-size: 1.5rem !important;
  margin-bottom: 5px !important;
}

:host ::ng-deep single-upload .download-card h6,
:host ::ng-deep single-upload .download-card p {
  font-size: 0.8rem !important;
  margin-bottom: 2px !important;
}