<div class="container d-flex flex-column min-vh-100 pb-5" *ngIf="quotation">

  <section>
    <p class="sub-title">Sélectionnez une affaire</p>

    <div class="row mb-5">
      <!-- Show card with ngFor -->
      <div *ngFor="let asso of quotation.assoAffaireOrders;let index = index" class="col-12 col-sm-6 col-lg-4 my-2">
        <div class="white-card card rounded-1 d-flex flex-column h-100 p-4 "
          [ngClass]="{'selected': selectedAssoIndex == index}" (click)="selectCard(index, $event)">
          <div class="row d-flex flex-row align-items-center">
            <i class="ai-briefcase col-1"></i>
            <h6 class="col m-0"> {{asso.affaire.siret?(asso.affaire.siret + ' - '):''}}{{
              asso.affaire.denomination
              ?asso.affaire.denomination : (asso.affaire.firstname+ ' ' +
              asso.affaire.lastname) }} -{{asso.affaire.address}}</h6>
          </div>

          <div class="row align-items-center" *ngIf="asso.services">
            <!-- Pill buttons -->
            <a *ngFor="let service of asso.services;let indexService = index"
              (click)="selectServiceIndex(indexService, index!)"
              [ngClass]="{'btn-secondary': index == selectedAssoIndex && indexService == selectedServiceIndex, 'btn-outline-primary': index != selectedAssoIndex || indexService != selectedServiceIndex}"
              class="btn btn-secondary rounded-pill mt-2 ms-1 mt-md-3 ms-md-3 col-auto pill">
              {{service.serviceLabelToDisplay}}
              <i *ngIf="index == selectedAssoIndex && indexService == selectedServiceIndex"
                class="ai-circle-arrow-right ms-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="pb-3 row align-items-center" *ngIf="selectedAssoIndex!=null && selectedServiceIndex!=null">
      <strong class="col-auto">
        <ng-container *ngIf="true">
          <span>
            {{quotation.assoAffaireOrders[selectedAssoIndex].affaire.siret?(quotation.assoAffaireOrders[selectedAssoIndex].affaire.siret
            + ' - '):''}}{{
            quotation.assoAffaireOrders[selectedAssoIndex].affaire.denomination
            ?quotation.assoAffaireOrders[selectedAssoIndex].affaire.denomination :
            (quotation.assoAffaireOrders[selectedAssoIndex].affaire.firstname+ ' ' +
            quotation.assoAffaireOrders[selectedAssoIndex].affaire.lastname) }}
            -{{quotation.assoAffaireOrders[selectedAssoIndex].affaire.address}}</span>
        </ng-container>
      </strong>
      <a class="btn btn-secondary rounded-pill col-auto pill ms-3 fs-xs">
        {{quotation.assoAffaireOrders[selectedAssoIndex].services[selectedServiceIndex].serviceLabelToDisplay }}
      </a>
    </div>
    <ul class="nav nav-tabs" role="tablist" *ngIf="selectedAssoIndex!=null && selectedServiceIndex!=null && quotation.assoAffaireOrders[selectedAssoIndex] &&
       quotation.assoAffaireOrders[selectedAssoIndex].services[selectedServiceIndex]">
      <li class="nav-item" *ngIf="(quotation.assoAffaireOrders[selectedAssoIndex].services[selectedServiceIndex].assoServiceFieldTypes ||
        quotation.assoAffaireOrders[selectedAssoIndex].services[selectedServiceIndex].assoServiceDocuments)">
        <a href="#documents" class="nav-link active quotation-tabs" data-bs-toggle="tab" role="tab">
          Documents
        </a>
      </li>
      <ng-container
        *ngFor="let provision of quotation.assoAffaireOrders[selectedAssoIndex].services[selectedServiceIndex].provisions; let index = index">
        <li class="nav-item"
          *ngIf="provision.provisionType.provisionScreenType.code == PROVISION_SCREEN_TYPE_ANNOUNCEMENT">
          <a [attr.href]="'#announcement' + index" class="nav-link quotation-tabs" data-bs-toggle="tab" role="tab">
            Annonce légale {{ provision.order }}
          </a>
        </li>
        <li class="nav-item "
          *ngIf="provision.provisionType.provisionScreenType.code == PROVISION_SCREEN_TYPE_DOMICILIATION ">
          <a href="#home" class="nav-link quotation-tabs" data-bs-toggle="tab" role="tab">
            Domiciliation
          </a>
        </li>
      </ng-container>
    </ul>

    <!-- Tabs content Documents -->
    <div class="tab-content " *ngIf="selectedAssoIndex!=null && selectedServiceIndex!=null">
      <div class="tab-pane fade show active" id="documents" role="tabpanel">
        <div class="quotation-container">
          <h6><i class="ai-circle-info me-2"></i>Information</h6>

          <div class="pb-3">
            <div class="row g-3 align-items-start">
              <span
                *ngIf="quotation.assoAffaireOrders[selectedAssoIndex].services[selectedServiceIndex].assoServiceFieldTypes.length ==0">Aucune
                information à remplir pour ce service, vous pouvez cliquer sur le bouton étape suivante.</span>
              <ng-container
                *ngFor="let assoServiceFieldType of quotation.assoAffaireOrders[selectedAssoIndex].services[selectedServiceIndex].assoServiceFieldTypes; let i = index">

                <!-- TEXT -->
                <div class="col-12 col-md-6 col-lg-4"
                  *ngIf="assoServiceFieldType.serviceFieldType.dataType == SERVICE_FIELD_TYPE_TEXT">
                  <generic-input [(model)]="assoServiceFieldType.stringValue"
                    [label]="assoServiceFieldType.serviceFieldType.label" [form]="informationForm"
                    [propertyName]="'stringFieldType'+i" [isMandatory]="assoServiceFieldType.isMandatory"
                    [maxLength]="255">
                  </generic-input>
                </div>

                <!-- TEXTAREA -->
                <div class="col-12 col-lg-4"
                  *ngIf="assoServiceFieldType.serviceFieldType.dataType == SERVICE_FIELD_TYPE_TEXTAREA">
                  <generic-textarea [(model)]="assoServiceFieldType.textAreaValue"
                    [label]="assoServiceFieldType.serviceFieldType.label" [form]="informationForm" [maxLength]="255"
                    [propertyName]="'textAreaFieldType'+i" [isMandatory]="assoServiceFieldType.isMandatory">
                  </generic-textarea>
                </div>

                <!-- DATE -->
                <div class="col-12 col-md-6 col-lg-2"
                  *ngIf="assoServiceFieldType.serviceFieldType.dataType == SERVICE_FIELD_TYPE_DATE">
                  <div class="form-group w-auto">
                    <generic-date-picker [(model)]="assoServiceFieldType.dateValue"
                      [label]="assoServiceFieldType.serviceFieldType.label" [form]="informationForm"
                      [propertyName]="'dateFieldType'+i" [isMandatory]="assoServiceFieldType.isMandatory">
                    </generic-date-picker>
                  </div>
                </div>

                <!-- INTEGER -->
                <div class="col-12 col-md-6 col-lg-3"
                  *ngIf="assoServiceFieldType.serviceFieldType.dataType == SERVICE_FIELD_TYPE_INTEGER">
                  <generic-input [(model)]="assoServiceFieldType.integerValue"
                    [label]="assoServiceFieldType.serviceFieldType.label" [form]="informationForm"
                    [propertyName]="'integerFieldType'+i" [isMandatory]="assoServiceFieldType.isMandatory"
                    type="number">
                  </generic-input>
                </div>

                <!-- SELECT -->
                <div class="col-12 col-md-6 col-lg-2"
                  *ngIf="assoServiceFieldType.serviceFieldType.dataType == SERVICE_FIELD_TYPE_SELECT">
                  <select-value-service-field-type [(model)]="assoServiceFieldType.selectValue"
                    [label]="assoServiceFieldType.serviceFieldType.label" [form]="informationForm"
                    [propertyName]="'selectFieldType'+i" [serviceFieldType]="assoServiceFieldType.serviceFieldType"
                    [isMandatory]="assoServiceFieldType.isMandatory">
                  </select-value-service-field-type>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div *ngIf="currentUser">
          <div
            *ngFor="let assoServiceDocument of quotation.assoAffaireOrders[selectedAssoIndex].services[selectedServiceIndex].assoServiceDocuments; let i = index">
            <div *ngIf="assoServiceDocument.isMandatory" class="quotation-container mb-4">
              <quotation-file-uploader [entity]="assoServiceDocument"
                (isUploadComplete)="onIsCompleteChange($event, selectedAssoIndex, selectedServiceIndex, i, assoServiceDocument)"
                (isUploadDeleted)="onIsUploadDelete($event, selectedAssoIndex, selectedServiceIndex, i, assoServiceDocument)"></quotation-file-uploader>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tabs content Annonce légale-->
    <div *ngIf="selectedAssoIndex!=null && selectedServiceIndex!=null">
      <div class="tab-content">
        <ng-container
          *ngFor="let provision of quotation.assoAffaireOrders[selectedAssoIndex].services[selectedServiceIndex].provisions; let index = index">
          <div
            *ngIf="provision.provisionType.provisionScreenType.code==PROVISION_SCREEN_TYPE_ANNOUNCEMENT && provision.announcement"
            [id]="'announcement' + index" class="tab-pane fade" role="tabpanel">

            <!-- announcement form : Information -->
            <div class="quotation-container">
              <h6><i class="ai-circle-info me-2"></i>Information</h6>
              <div class="row form-switch justify-content-start p-0">
                <div class="col-md-5">
                  <label class="col-form-label" for="announcementPublicationDate">Publication souhaitée</label>
                  <div class="col">
                    <select-string [types]="selectionRedaction" label="Publier l'annonce au JSS ?" [isMandatory]="false"
                      [form]="informationForm" [propertyName]="'selectionRedaction'+provision.order"
                      [(model)]="selectedRedaction[selectedServiceIndex][index]"
                      (selectionChange)="changeDoNotGenerateAnnouncement($event, provision)">
                    </select-string>
                  </div>
                </div>
                <div class="col-md-3" *ngIf="isDoNotGenerateAnnouncement">
                  <label class="col col-form-label" for="announcementPublicationDate">Date de publication
                    souhaitée*</label>
                  <div class="col">
                    <generic-date-picker [(model)]="provision.announcement.publicationDate"
                      label="Date de publication souhaitée" [form]="informationForm"
                      [propertyName]="'publicationDate'+provision.order" [isMandatory]="true" [isDisabled]="false"
                      [minDate]="minDatePublication"></generic-date-picker>
                  </div>
                </div>
              </div>
            </div>

            <!-- announcement form : Option -->
            <div *ngIf="isDoNotGenerateAnnouncement" class="quotation-container mb-2">
              <h6><i class="ai-grid me-2"></i>Option</h6>
              <div class="d-flex flex-wrap gap-4 align-items-center">

                <div class="form-check form-switch d-flex m-0 pe-md-5 pe-2 right-border">
                  <generic-toggle [(model)]="provision.isRedactedByJss" label="Confier la rédaction au JSS"
                    [form]="informationForm" [propertyName]="'isRedactedByJss'+provision.order"
                    [isDisabled]="false"></generic-toggle>
                </div>

                <div class="form-check form-switch d-flex ms-md-4 m-0" *ngIf="provision.isRedactedByJss">
                  <generic-toggle [(model)]="provision.announcement.isProofReadingDocument"
                    label="Recevoir une épreuve de relecture avant publication" [form]="informationForm"
                    [propertyName]="'isProofReadingDocument'+provision.order" [isDisabled]="false"></generic-toggle>
                </div>
              </div>
            </div>


            <!-- announcement form : text area -->
            <div *ngIf="provision.isDoNotGenerateAnnouncement && !provision.isRedactedByJss"
              class="quotation-container mb-5">

              <div class="row">
                <div class="col-md-3">

                  <!-- Toggle relecture -->
                  <div class="form-check  d-flex align-items-center mb-4" style="padding-left: 0px;">
                    <generic-toggle [(model)]="provision.announcement.isReReadByJss" label="Relecture par le JSS"
                      [form]="informationForm" [propertyName]="'isReReadByJss'+provision.order"
                      [isDisabled]="false"></generic-toggle>
                  </div>

                  <!-- Département -->
                  <div class="mb-3" *ngIf="departments">
                    <select-department [(model)]="provision.announcement.department" label="Département de publication"
                      [form]="informationForm" [propertyName]="'department'+provision.order" [isMandatory]="true"
                      [isDisabled]="false"></select-department>
                  </div>

                  <!-- Rubrique -->
                  <div class="mb-3" *ngIf="noticeTypeFamilies">
                    <select-notice-type-family [(model)]="provision.announcement.noticeTypeFamily"
                      label="Rubrique de publication" [form]="informationForm"
                      [propertyName]="'noticeTypeFamily'+provision.order" [isMandatory]="true"
                      [isDisabled]="false"></select-notice-type-family>
                  </div>

                  <!-- Sous-rubrique -->
                  <!-- TODO : do not work -->
                  <div class="mb-3" *ngIf="provision.announcement.noticeTypeFamily && noticeTypes">
                    <select-multiple-notice-type [(model)]="provision.announcement.noticeTypes"
                      label="Sous-rubrique(s) de publication" [form]="informationForm"
                      [noticeTypeFamily]="provision.announcement.noticeTypeFamily"
                      [propertyName]="'noticeTypes'+provision.order" [isMandatory]="true"
                      [isDisabled]="false"></select-multiple-notice-type>
                  </div>
                </div>

                <div class="col-md-9">
                  <label for="announcementTextarea" class="form-label">Texte de l'annonce</label>
                  <ckeditor id="announcementTextarea" [editor]="ckEditorHeader" [config]="config"
                    [data]="announcementNoticeInit" (change)="onNoticeChange($event, provision)">
                  </ckeditor>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>

  <div
    class="position-fixed bottom-0 start-0 w-100 bg-light shadow-sm p-3 m-0 d-flex justify-content-between align-items-center z-3">
    <button type="button" class="btn btn-secondary rounded-1 mx-5 d-flex align-items-center"
      (click)="moveToPreviousService()">
      <i class="ai-arrow-left"></i>
      <span class="d-none d-sm-inline ms-2">Étape précédente</span>
    </button>

    <button type="button" class="btn btn-secondary rounded-1 mx-5 d-flex align-items-center" *ngIf="canSaveQuotation()"
      (click)="saveFieldsValue()">
      <span class="spinner-grow spinner-grow-sm me-2" *ngIf="isFetchingPrincing"></span><span
        class="d-sm-inline me-2">Étape
        suivante</span>
      <i class="ai-arrow-right"></i>
    </button>
  </div>
</div>

<!-- Modal de confirmation -->
<div class="modal fade" id="confirmBackModal" #confirmBackModal tabindex="-1" aria-labelledby="confirmBackModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmBackModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir revenir en arrière ? L'ensemble de votre progression sera perdue.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger ms-2" (click)="confirmGoBack()"
          data-bs-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>