.white-card {
  background-color: var(--ar-primary);
  position: relative;
  cursor: pointer;
  border: 3px solid transparent;
}

.card.selected {
  border: 3px solid var(--ar-secondary);
}

.pill {
  position: relative;
  z-index: 1;
}

:host ::ng-deep .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  min-height: 200px;
}

:host ::ng-deep .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  min-height: 200px;
}

.modal-footer .btn-danger:hover {
  color: var(--ar-danger);
}

.nav-item, .nav-tabs {
  margin-bottom: 0px !important;
}

::ng-deep .custom-tooltip .tooltip-inner {
  /* background-color: #fff; */
  color: var(--ar-gray-100);
  border: 1px solid #ccc;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: var(--ar-secondary);
  border-width: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--ar-primary);
  background-color: var(--ar-secondary-bg);
  transition: transform 0.1s ease-in-out;
  transform: scale(1.03);
}

.nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link {
  border-color: var(--ar-tertiary);
  border-bottom: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--ar-secondary);
  background-color: var(--ar-primary);
  border-bottom-width: 3px;
  transition: transform 0.1s ease-in-out;
}