<h1 mat-dialog-title>Montant non taxable</h1>
<div mat-dialog-content>
  <p>Indiquer le montant non taxable pour ce débours (max. {{maxAmount}} € ) :</p>
  <generic-input [(model)]="nonTaxableAmount" label="Montant non taxable" [form]="amountForm" propertyName="amount"
    [isMandatory]="true" [isDisabled]="false" type="number" (onInputChange)="valueModified()"></generic-input>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onClose()">Annuler</button>
  <button mat-raised-button color="warn" (click)="onConfirm()">Valider</button>
</div>