.custom-multiselect {
  height: auto;
  min-height: 120px;
  padding: 0.5rem;
  overflow-y: auto;
}

.custom-multiselect option {
  padding: 0.5rem;
}

.select-wrapper {
  position: relative;
}

.select-wrapper .chevron {
  pointer-events: none;
  top: 38px;
  color: #6c757d;
}