<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>
  <p *ngIf="temporaryOperationId">Confirmer-vous la suppression des éléments ci-dessous ? </p>
  <p *ngIf="operationId">Voulez-vous écrire les contre-passes pour les éléments ci-dessous ? </p>
  <p *ngIf="removedLetteringInvoices().length>0">Attention, l'annulation de ces éléments causera le délettrage
    {{removedLetteringInvoices().length==1?"de la":"des"}} facture{{removedLetteringInvoices().length==1?"":"s"}}
    {{removedLetteringInvoices().join(", ")}}</p>
  <div class="mat-elevation-z2 form-div">
    <div class=" full-width">
      <sort-table [columns]="displayedColumns" [values]="accountingRecords" tableName="Ecritures"
        [actions]="tableAction">
      </sort-table>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onClose()">Annuler</button>
  <button mat-raised-button color="warn" (click)="onConfirm()">Valider</button>
</div>
