<h1 mat-dialog-title>Montant facturé</h1>
<div mat-dialog-content>
  <p>Indiquer le montant à facturer pour ce frais :</p>
  <generic-input [(model)]="invoicedAmount" label="Montant facturé" [form]="amountForm" propertyName="invoicedAmount"
    [isMandatory]="true" [isDisabled]="false" type="number"></generic-input>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onClose()">Annuler</button>
  <button mat-raised-button color="warn" (click)="onConfirm()">Valider</button>
</div>