<mat-form-field class="full-width" [formGroup]="form!">
  <mat-label>Ville</mat-label>
  <input matInput placeholder="Ville" [matAutocomplete]="autoCompleteCity" [formControlName]="propertyName"
    autocomplete="do-not-autofill">
  <mat-autocomplete autoActiveFirstOption #autoCompleteCity="matAutocomplete" [displayWith]="displayLabel"
    (optionSelected)='optionSelected($event.option.value)'>
    <mat-option *ngFor="let city of filteredTypes" [value]="city">
      {{city.label}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
