@if (series) {
  <div>
    <div class="container">
      <div class="bg-container">
        <div class="w-100 justify-content-between">
          @if (topSerie) {
            <div class="container header-hub-bg d-flex align-items-center rounded-1">
              <div class="row w-100">
                <div class="col-12">
                  <div class="row d-flex align-items-center flex-wrap py-2">
                    <div class="col">
                      <p class="text-muted mb-1">Notre série à la une</p>
                      <a [routerLink]='"/post/serie/" + topSerie.slug'>
                        <h1 class="fw-bold mb-2">{{ topSerie.name }}</h1>
                      </a>
                      <div class="text-body">{{topSerie.excerptText}}</div>
                    </div>
                    <div class=" col mb-1 w-100">
                      <a [routerLink]='"/post/serie/" + topSerie.slug'>@if (topSerie.picture) {
                        <img
                          [src]="topSerie.picture.urlMediumLarge || topSerie.picture.urlFull"
                          [alt]="topSerie.picture.alt_text" class="banner-img rounded-1">
                      }</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
          @if (!series ||  series.length>0) {
            <div class="row pt-5">
              <div class="col-md-12">
                <div class="section-title-block d-flex pb-3">
                  <h3 class="section-widget-title">Toutes nos séries</h3>
                </div>
              </div>
              @if (!series) {
                <div class="pb-3">
                  <div class="panel-loader">
                    <div class="skeleton skeleton-header"></div>
                    <div class="skeleton skeleton-line"></div>
                    <div class="skeleton skeleton-line"></div>
                    <div class="skeleton skeleton-line short"></div>
                    <div class="skeleton skeleton-block"></div>
                  </div>
                </div>
              }
              @if (page == 0 && series && series.slice(1).length>0) {
                <div class="row p-0 fixed-size-img-series">
                  @for (serie of series.slice(1); track serie) {
                    <div class="col-12 col-md-4 mb-2">
                      <article class="border-0 card h-100">
                        <div class="card-img px-1 d-flex">
                          <div class="image-hover-style-1 w-100">
                            <a [routerLink]='"/post/serie/" + serie.slug'> @if (serie.picture) {
                              <img class="lazyload"
                                [src]="serie.picture.urlMediumLarge!=null ? serie.picture.urlMediumLarge : serie.picture.urlFull"
                                [alt]="serie.picture.alt_text" class="w-100">
                            } </a>
                          </div>
                        </div>
                        <div class="card-body">
                          <p>
                            <a class="h4 card-text-truncate" [routerLink]='"/post/serie/" + serie.slug'>
                            {{serie.titleText}}</a>
                          </p>
                          <span class="fs-7 card-text-truncate mb-0" [innerHTML]="serie.excerptText| trustHtml"></span>
                        </div>
                      </article>
                    </div>
                  }
                </div>
              }
              @if (page!=0 && series && series.length>0) {
                <div class="row p-0 fixed-size-img-series">
                  @for (serie of series; track serie) {
                    <div class="col-12 col-md-4 mb-2">
                      <article class="border-0 card h-100">
                        <div class="card-img px-1 d-flex">
                          <div class="image-hover-style-1 w-100">
                            <a [routerLink]='"/post/serie/" + serie.slug'> @if (serie.picture) {
                              <img class="lazyload"
                                [src]="serie.picture.urlMediumLarge!=null ? serie.picture.urlMediumLarge : serie.picture.urlFull"
                                [alt]="serie.picture.alt_text" class="w-100">
                            } </a>
                          </div>
                        </div>
                        <div class="card-body">
                          <p>
                            <a class="h4 card-text-truncate" [routerLink]='"/post/serie/" + serie.slug'>
                            {{serie.titleText}}</a>
                          </p>
                          <span class="fs-7 card-text-truncate mb-0" [innerHTML]="serie.excerptText| trustHtml"></span>
                        </div>
                      </article>
                    </div>
                  }
                </div>
              }
            </div>
          }
          @if (totalPage > 1) {
            <nav class="mt-4">
              <ul class="pagination justify-content-center">
                @for (p of pages; track p) {
                  <li class="page-item" [class.active]="p === page">
                    <a class="page-link" [routerLink]="[p]">{{ p + 1 }}</a>
                  </li>
                }
              </ul>
            </nav>
          }
        </div>
      </div>
    </div>
  </div>
}