.td-price {
  width: 30%;
  text-align: right;
}

.affaire {
  font-weight: 600;
  padding-top: 15px;
}

table {
  width: 100%;
}

.total-table {
  padding-top: 30px;
  font-weight: 600;
}

.invoice-title {
  display: flex;
}

.invoice-chip {
  margin-left: 10px;
}

.container-affaire {
  margin-top: 20px;
}

.sub-row {
  padding-left: 20px;
}

.top {
  padding-top: 20px;
}

.chips-status {
  position: absolute;
  right: 10px;
}

.description-table {
  padding-top: 10px;
}

.underline {
  text-decoration: underline;
}

.td-info {
  vertical-align: top;
  width: 33%;
  border-right: solid;
  border-width: 1px;
  padding: 10px;
}

.middle-width {
  min-width: 500px;
}

.min-height {
  padding-bottom: 65px;
}

.payment-label {
  max-width: 700px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}