<section class="container py-5 mt-md-4 mt-3">
  <div class="py-3 py-sm-4 py-lg-5 my-md-2 my-lg-3 my-xl-4 my-xxl-5">
    <div class="row">
      <div class="col">
        <h1 class="text-white">{{title}}</h1>
      </div>
      <div class="col text-end pt-3">
        <button type=" button"
          class="btn btn-prev btn-icon btn-sm btn-outline-primary rounded-circle me-2 d-none d-md-inline-flex"
          aria-label="Prev" (click)="moveLeft()">
          <i class="ai-arrow-left"></i>
        </button>
        <button type="button"
          class="btn btn-next btn-icon btn-sm btn-outline-primary rounded-circle ms-2 d-none d-md-inline-flex"
          aria-label="Next" (click)="moveRight()">
          <i class="ai-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 pb-xl-2 pb-xxl-3">
      <drag-scroll #nav class="carousel-container">
        <div *ngFor="let item of carouselItems" class="card card-carousel mx-2 h-100 border-0 rounded-5">
          <div drag-scroll-item *ngIf="item.image && !item.title && !item.description" class="card-img">
            <a class="card-hover zoom-effect" [href]="item.image">
              <div
                class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden z-2 opacity-0">
                <i class="ai-zoom-in fs-2 text-white position-relative z-2"></i>
                <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-40"></div>
              </div>
              <div class="zoom-effect-wrapper rounded-5">
                <div class="zoom-effect-img image-only">
                  <img [src]="item.image" alt="Gallery image">
                </div>
              </div>
            </a>
          </div>

          <div class="card h-100 border-0 rounded-5 " *ngIf="item.title && item.description &&!item.image">
            <div drag-scroll-item
              class="card-body d-flex flex-column align-items-center justify-content-center h-100 pb-3">
              <h4 class="card-title text-white">{{ item.title }}</h4>
              <p class="card-text text-grey mb-0">{{ sanitizeText(item.description) }}
              </p>
            </div>
            <div class="card-footer border-0 pt-3 mb-3">
              <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle stretched-link" href="#"
                aria-label="Learn more">
                <i class="ai-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </drag-scroll>
    </div>

    <div class="pagination-bullets">
      <span *ngFor="let page of pages; let i = index" [class.active]="i === currentPage" (click)="goToPage(i)">
      </span>
    </div>
  </div>
</section>