@if (formalitesGuichetUnique) {
  <div>
    <mat-tab-group animationDuration="0ms">
      @for (formaliteGuichetUnique of formalitesGuichetUnique; track formaliteGuichetUnique; let index = $index) {
        <mat-tab
          [label]="getFormaliteLabel(formaliteGuichetUnique)">
          <mat-vertical-stepper [linear]="false" #stepper animationDuration="500" [selectedIndex]="selectedIndex[index]">
            @for (historyItem of formaliteGuichetUnique.formaliteStatusHistoryItems; track historyItem) {
              @if (historyItem.status.code!=GUICHET_UNIQUE_STATUS_VALIDATION_PENDING || !formaliteGuichetUnique.validationsRequests) {
                <mat-step
                  >
                  <ng-template matStepLabel>{{historyItem.status.label}} @if (historyItem.partnerCenter || historyItem.partner) {
                    <span
                      >- {{historyItem.partnerCenter
                    ?historyItem.partnerCenter.name :historyItem.partner.denomination}}</span>
                    }@if (historyItem.created ) {
                    <span
                    > - le {{historyItem.created |date:'dd/MM/yyyy HH:mm'}}</span>
                  }</ng-template>
                </mat-step>
              }
              @if (historyItem.status.code==GUICHET_UNIQUE_STATUS_VALIDATION_PENDING && formaliteGuichetUnique.validationsRequests) {
                <mat-step
                  >
                  <ng-template matStepLabel>{{historyItem.status.label}}</ng-template>
                  @for (validation of  formaliteGuichetUnique.validationsRequests; track validation) {
                    <ul>
                      <li>{{validation.statusDate |date:'dd/MM/yyyy HH:mm'}} - {{validation.partnerCenter ?
                        validation.partnerCenter.name :
                      validation.partner.denomination}}</li>
                      <ul>
                        <li>Demandé le : {{validation.created | date:'dd/MM/yyyy HH:mm'}} </li>
                        <li>Etat : {{validation.status.label}}</li>
                        <li>Nombre de validation : {{validation.validationNumber}}</li>
                        @if (validation.rejectionReasons && validation.rejectionReasons.length>0) {
                          <li>Motifs de rejets :
                            <ul>
                              @for (rejectionReason of validation.rejectionReasons; track rejectionReason) {
                                <li>
                                  {{rejectionReason.label}}
                                </li>
                              }
                            </ul>
                          </li>
                        }
                        @if (validation.validationObservation) {
                          <li
                          [innerHTML]="'Observations : '+validation.validationObservation| trustHtml"></li>
                        }
                      </ul>
                    </ul>
                  }
                  @if (formaliteGuichetUnique.regularizationRequests) {
                    <p>Liste des rejets : </p>
                  }
                  @for (regularizationRequest of  formaliteGuichetUnique.regularizationRequests; track regularizationRequest) {
                    <ul>
                      <li>{{regularizationRequest.created |date:'dd/MM/yyyy HH:mm'}} - Deadline au
                      {{regularizationRequest.deadline |date:'dd/MM/yyyy HH:mm'}}</li>
                      <ul>
                        <li>Statut : {{getRegularisationStatus(regularizationRequest.status)}} </li>
                        @if (regularizationRequest.rejectionCause) {
                          <li>Cause du rejet :
                          {{regularizationRequest.rejectionCause.label}} </li>
                        }
                      </ul>
                    </ul>
                  }
                </mat-step>
              }
            }
          </mat-vertical-stepper>
        </mat-tab>
      }
    </mat-tab-group>
  </div>
}
