<section class="pt-5 mt-5 container">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="pt-lg-5 pb-lg-4 pb-2 breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
      <li class="breadcrumb-item"><a>Nos services</a></li>
      <li class="breadcrumb-item">
        <span *ngIf="selectedTab">{{ selectedTab.label }}</span>
      </li>
    </ol>
  </nav>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" *ngFor="let item of myJssServicesItems;">
      <span class="nav-link active" *ngIf="item === selectedTab">
        <i class="fi-home me-2"></i>
        {{ item.label }}
      </span>
      <a class="nav-link" *ngIf="item !== selectedTab" [routerLink]="item.route">
        <i class="fi-home me-2"></i>
        {{ item.label }}
      </a>
    </li>
  </ul>
</section>

<!-- Content Section -->
<div class="tab-content">
  <div>
    <div class="tab-pane">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>