.btn-logo {
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding: 0.6rem;
  background-color: var(--ar-blue-dark-bg);
}

.bird-icon {
  width: 32px;
  height: 32px;
}

/* Gradientshine Shine */
button:after {
  content: '';
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 220px;
  position: absolute;
  z-index: 1;
  animation: slide 1.3s ease-out forwards;

  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#007db9e8', GradientType=1);
  /* IE6-9 */
}

:host {
  display: inline-block;
  --accent-color: var(--ar-blue-dark-bg);
  --bg-light: #f9f9f9;
  --stagger-delay: 10ms;
}

.tooltip-trigger {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #666;
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.tooltip-base {
  position: absolute;
  max-width: 300px;
  width: 250px;
  transform: translateY(80%);
  /* Slide from bottom */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    visibility 0.3s;
}

.tooltip-trigger:hover .tooltip-base {
  opacity: 1;
  visibility: visible;
  transform: translateY(50%);
}

.tooltip-content {
  position: relative;
  background: var(--bg-light);
  border: 2px solid #ceb794;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.194);
  z-index: 1000;
  display: block;
  white-space: wrap;
}

/* animation */

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}