<div *ngIf="formalitesInfogreffe">
  <mat-tab-group animationDuration="0ms">
    <mat-tab *ngFor="let formaliteInfogreffe of formalitesInfogreffe;let index = index"
      [label]="formaliteInfogreffe.identifiantFormalite.emetteurCodePart">
      <mat-vertical-stepper [linear]="false" #stepper animationDuration="500">
        <ng-container>
          <ul *ngFor="let evenement of formaliteInfogreffe.evenements">
            <li> {{evenement.codeEtat}} </li>
            <li> {{evenement.date |date:'dd/MM/yyyy HH:mm'}}</li>
          </ul>
        </ng-container>
      </mat-vertical-stepper>
    </mat-tab>
  </mat-tab-group>
</div>