.mat-content {
  width: 100%;
  display: block;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.menu {
  width: 0px;
  height: 0px;
  cursor: pointer;
  padding: 16px;
  border-radius: 23px;
  margin-right: 5px;
}

.menu .mat-icon {
  position: relative;
  top: -10px;
  left: -10px;
  font-size: 20px;
}

.div-personnal-action {
  text-align: right;
  padding: 8px;
}

.notification-component {
  margin: 10px;
}


.mat-card {
  margin-right: 10px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.mat-mdc-card-header {
  padding-top: 10px;
}

.mat-card-icon {
  position: absolute;
  right: 15px;
}