.navbar-brand {
  padding: 0;
  border-radius: 3px;
  margin-right: 2px;
  position: absolute;
  left: 47px;
  z-index: 1;
  height: 70px;
  top: 10px;
}

.navbar-brand-invert {
  filter: invert(1);
}

.sidebar-header {
  padding-top: 35px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 43px;
  border-bottom: solid #ebebeb 1px;
  display: inline-flex;
  width: 100%;
  height: 57px;
}

.menu .mat-icon {
  position: relative;
  top: -10px;
  left: -10px;
  font-size: 20px;
}

.notif {
  position: absolute !important;
  bottom: 10px;
  left: 8px;
}

.light {
  position: absolute;
  bottom: 10px;
  left: 158px;
}

.search {
  position: absolute;
  bottom: 10px;
  left: 59px;
}

.bug-report {
  position: absolute;
  bottom: 10px;
  left: 108px;
}

mat-nav-list {
  padding-top: 22px;
}

mat-nav-list a {
  display: block;
  padding-left: 12px;
  padding-top: 2px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 8px;
  width: 196px;
  height: 32px;
  border-radius: 24px;
  font-size: 14px;
  letter-spacing: 0;
  text-decoration: none;
  z-index: 99;
}

mat-nav-list a mat-icon {
  padding-right: 5px;
}

mat-nav-list a span {
  position: absolute !important;
}

.nav-list-main-menu a:hover,
.menu-item-active {
  transition: all 0.5s ease;
}

.nav-list-main-menu {
  overflow-y: auto;
  max-height: calc(100vh - 185px);
}