<div class="sidebar-header">
  <img class="navbar-brand" ui-sref='main.tiers' [src]="logoOsiris" [ngClass]="{'navbar-brand-invert':isDarkTheme}" />
</div>
<mat-nav-list class="nav-list-main-menu">
  <a mat-list-item routerLink="/dashboard" *ngIf="canViewDashboardModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/dashboard' )>=0}">
    <mat-icon>dashboard</mat-icon> <span>Tableau de bord</span>
  </a>
  <a mat-list-item routerLink="/reporting/list" *ngIf="canViewReportingModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/reporting' )>=0}">
    <mat-icon>trending_up</mat-icon> <span>Reporting</span>
  </a>
  <a mat-list-item routerLink="/tiers" *ngIf="canViewTiersModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/tiers' )>=0}">
    <mat-icon>group</mat-icon> <span>Tiers / Responsables</span>
  </a>
  <a mat-list-item routerLink="/confrere/null" *ngIf="canViewConfrereModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/confrere' )>=0}">
    <mat-icon>share</mat-icon> <span>Confreres</span>
  </a>
  <a mat-list-item routerLink="/administration/competent/authority" *ngIf="canViewCompetentAuthorityModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/administration/competent/authority' )>=0}">
    <mat-icon>gavel</mat-icon> <span>Autorités compétentes</span>
  </a>
  <a mat-list-item routerLink="/administration/provider" *ngIf="canViewProviderModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/administration/provider' )>=0}">
    <mat-icon>factory</mat-icon> <span>Fournisseurs</span>
  </a>
  <a mat-list-item routerLink="/quotation" *ngIf="canViewQuotationModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/quotation' )>=0 && getCurrentRoute().indexOf('/kanban' )<0}">
    <mat-icon>request_quote</mat-icon> <span>Devis</span>
  </a>
  <a mat-list-item routerLink="/order" *ngIf="canViewCustomerOrderModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/order' )>=0 && getCurrentRoute().indexOf('/kanban' )<0}">
    <mat-icon>shopping_cart</mat-icon> <span>Commandes</span>
  </a>
  <a mat-list-item routerLink="/recurring-order" *ngIf="canViewCustomerOrderModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/recurring-order' )>=0}">
    <mat-icon>repeat</mat-icon> <span>Commandes récurrentes</span>
  </a>
  <a mat-list-item routerLink="/paper-set" *ngIf="canViewPaperSetModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/paper-set' )>=0}">
    <mat-icon>history_edu</mat-icon> <span>Gestion des documents</span>
  </a>
  <a mat-list-item routerLink="/affaire" *ngIf="canViewAffaireModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/affaire' )>=0}">
    <mat-icon>work</mat-icon> <span>Affaires</span>
  </a>
  <a mat-list-item routerLink="/provision" *ngIf="canViewProvisionModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/provision' )>=0}">
    <mat-icon>design_services</mat-icon> <span>Prestations</span>
  </a>
  <a mat-list-item routerLink="/invoicing" *ngIf="canViewInvoiceModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/invoicing' )>=0}">
    <mat-icon>point_of_sale</mat-icon> <span>Facturation</span>
  </a>
  <a mat-list-item routerLink="/accounting" *ngIf="canViewAccountingModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/accounting' )>=0}">
    <mat-icon>account_balance</mat-icon> <span>Comptabilité</span>
  </a>
  <a mat-list-item routerLink="/administration" *ngIf="canViewAdministrationModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/administration' )>=0 && getCurrentRoute().indexOf('/administration/competent/authority' )<0 && getCurrentRoute().indexOf('/administration/provider' )<0}">
    <mat-icon>settings</mat-icon> <span>Administration</span>
  </a>
  <a mat-list-item routerLink="/my-profil" [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/my-profil' )>=0}">
    <mat-icon>manage_accounts</mat-icon> <span>Mon profil</span>
  </a>
  <a mat-list-item routerLink="/monitoring" *ngIf="canViewSupervisionModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/monitoring' )>=0}">
    <mat-icon>bar_chart_4_bars</mat-icon> <span>Supervision</span>
  </a>
</mat-nav-list>
<button mat-mini-fab color="accent" class="light" (click)="toggleDarkTheme()" matTooltip="Ca va être tout noir ...">
  <mat-icon>lightbulb</mat-icon>
</button>
<button mat-mini-fab color="accent" class="bug-report" id="jiraBugReporter">
  <mat-icon>bug_report</mat-icon>
</button>
<button mat-mini-fab color="accent" class="search" (click)="openSearch()">
  <mat-icon>search</mat-icon>
</button>
<button mat-mini-fab color="accent" class="notif" (click)="openNotificationDialog()"
  [matBadge]="getNotificationNumber()" matBadgePosition="below after" [matBadgeHidden]="getNotificationNumber()==0"
  matBadgeColor="warn" matBadgeSize="small">
  <mat-icon>notifications</mat-icon>
</button>