<div class="sidebar-header">
  <div class="menu bug-report" id="jiraBugReporter" matTooltip="Délarer un bug ou une évolution">
    <mat-icon>bug_report</mat-icon>
  </div>
  <div class="menu" matTooltip="Rechercher (F8)">
    <mat-icon (click)="openSearch()">search</mat-icon>
  </div>
  <div class="menu notif" matTooltip="Notifications (F9)">
    <mat-icon (click)="openNotificationDialog()" [matBadge]="getNotificationNumber()" matBadgePosition="below after"
      [matBadgeHidden]="getNotificationNumber()==0" matBadgeColor="warn" matBadgeSize="small">
      notifications</mat-icon>
  </div>
  <img class="navbar-brand" ui-sref='main.tiers' [src]="logoOsiris" />
</div>
<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" *ngIf="canViewDashboardModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/dashboard' )>=0}">
    <mat-icon>dashboard</mat-icon> <span>Tableau de bord</span>
  </a>
  <a mat-list-item routerLink="/tiers" *ngIf="canViewTiersModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/tiers' )>=0}">
    <mat-icon>group</mat-icon> <span>Tiers / Responsables</span>
  </a>
  <a mat-list-item routerLink="/confrere/null" *ngIf="canViewConfrereModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/confrere' )>=0}">
    <mat-icon>share</mat-icon> <span>Confreres</span>
  </a>
  <a mat-list-item routerLink="/quotation" *ngIf="canViewQuotationModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/quotation' )>=0}">
    <mat-icon>request_quote</mat-icon> <span>Devis</span>
  </a>
  <a mat-list-item routerLink="/order" *ngIf="canViewCustomerOrderModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/order' )>=0}">
    <mat-icon>shopping_cart</mat-icon> <span>Commande</span>
  </a>
  <a mat-list-item routerLink="/affaire" *ngIf="canViewAffaireModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/affaire' )>=0}">
    <mat-icon>work</mat-icon> <span>Affaires</span>
  </a>
  <a mat-list-item routerLink="/provision" *ngIf="canViewProvisionModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/provision' )>=0}">
    <mat-icon>design_services</mat-icon> <span>Prestations</span>
  </a>
  <a mat-list-item routerLink="/journal" *ngIf="canViewJournalModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/journal' )>=0}">
    <mat-icon>feed</mat-icon> <span>Journaux </span>
  </a>
  <a mat-list-item routerLink="/invoicing" *ngIf="canViewInvoiceModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/invoicing' )>=0}">
    <mat-icon>point_of_sale</mat-icon> <span>Facturation</span>
  </a>
  <a mat-list-item routerLink="/accounting" *ngIf="canViewAccountingModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/accounting' )>=0}">
    <mat-icon>account_balance</mat-icon> <span>Comptabilité</span>
  </a>
  <a mat-list-item routerLink="/administration" *ngIf="canViewAdministrationModule()"
    [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/administration' )>=0}">
    <mat-icon>settings</mat-icon> <span>Administration</span>
  </a>
  <a mat-list-item routerLink="/my-profil" [ngClass]="{'menu-item-active':getCurrentRoute().indexOf('/my-profil' )>=0}">
    <mat-icon>manage_accounts</mat-icon> <span>Mon profil</span>
  </a>
</mat-nav-list>
