<mat-form-field class="full-width" [formGroup]="form!">
  <mat-label>Récupérer une affaire existante</mat-label>
  <input matInput placeholder="Récupérer une affaire existante" [matAutocomplete]="autoCompleteAffaire"
    [formControlName]="propertyName" autocomplete="do-not-autofill">
  <mat-autocomplete autoActiveFirstOption #autoCompleteAffaire="matAutocomplete" [displayWith]="displayAffaire"
    (optionSelected)='optionSelected($event.option.value)'>
    <mat-option *ngFor="let affaire of filteredTypes" [value]="affaire">
      {{getAffaireLabel(affaire)}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
