<h1 mat-dialog-title>Programmer/éditer une notification</h1>
<div mat-dialog-content>
  <p>Décrivez / commentez ci-dessous la notification.</p>
  @if (notification.customerOrder) {
    <div>Commande n°{{notification.customerOrder.id}}</div>
  }
  @if (notification.quotation) {
    <div>Devis n°{{notification.quotation.id}}</div>
  }
  @if (notification.service) {
    <div>Service {{notification.service.serviceLabelToDisplay}}</div>
  }
  @if (notification.provision) {
    <div>Prestation {{notification.provision.provisionType.label}}</div>
  }
  @if (notification.invoice) {
    <div>Facture {{notification.invoice.id}}</div>
  }
  @if (notification.tiers) {
    <div>Tiers {{notification.tiers.denomination ?notification.tiers.denomination :
    (notification.tiers.firstname +' '+notification.tiers.lastname)}}</div>
  }
  @if (notification.responsable) {
    <div>Responsable {{ (notification.responsable.firstname +'
    '+notification.responsable.lastname)}}</div>
  }
  @if (notification.affaire) {
    <div>Affaire {{notification.affaire.denomination ?notification.affaire.denomination :
    (notification.affaire.firstname +' '+notification.affaire.lastname)}}</div>
  }
  <table class="full-width" style="padding-top: 15px;">
    <tr>
      <td>
        <generic-textarea [(model)]="notification.detail1" label="Contenu de la notification" [form]="notificationForm"
        propertyName="detail1" [isMandatory]="true" [isDisabled]="false" [numberOfLines]="5"></generic-textarea>
      </td>
    </tr>
    <tr>
      <td>
        <generic-datetime-picker [(model)]="notification.updatedDateTime" label="Date/heure de notification"
          [form]="notificationForm" propertyName="updatedDateTime" [isMandatory]="false" [isDisabled]="false">
        </generic-datetime-picker>
      </td>
    </table>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="accent" (click)="onClose()">Annuler</button>
    <button mat-raised-button color="warn" (click)="onConfirm()">Enregistrer</button>
  </div>
  @if (preLoadedNotifications && preLoadedNotifications.length>0) {
    <notification-list [isForIntegration]="true" [notifications]="preLoadedNotifications"
    ></notification-list>
  }