<div class="position-relative ">
  <div [formGroup]="form!" class="needs-validation">
    @if (isDisplayLabel && label && label.length>0) {
      <label [for]="'fl-text'+uniqueId"
      class="form-label">{{label}}</label>
    }
    @if (icon) {
<i class=" fs-lg position-absolute top-50 start-0 ms-3" [ngClass]="{'icon-with-error':errorMessage && form!.controls[propertyName].hasError('notFilled'),
      'translate-middle-y' : !isDisplayLabel,'translate-quarter-y' : isDisplayLabel}" [class]="'bi-'+icon"></i>
    }
    <input class="form-control " [ngClass]="{'ps-5': icon}" [id]="'fl-text'+uniqueId" [maxlength]="maxLength+''"
      [minlength]="minLength+''" [formControlName]="propertyName" [placeholder]="label" (blur)="blurForm()"
      (keyup.enter)="onEnterTrigger($event)" [type]="type=='number'?'text':type" (change)="parse($event)">
      @if (errorMessage && form!.controls[propertyName].hasError('notFilled')) {
        <div class="error">{{errorMessage}}</div>
      }
    </div>
  </div>
