<mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)" [selectedIndex]="index">
  <mat-tab label="Gestion des commentaires MyJSS">
    <ng-template matTabContent>
      <myjss-comment-management></myjss-comment-management>
    </ng-template>
  </mat-tab>
  <mat-tab label=" Gestion des webinaires">
    <ng-template matTabContent>
      <webinar-participant></webinar-participant>
    </ng-template>
  </mat-tab>
  <mat-tab label=" Gestion des candidatures">
    <ng-template matTabContent>
      <candidacy></candidacy>
    </ng-template>
  </mat-tab>
  <mat-tab label=" Gestion des coupons">
    <ng-template matTabContent>
      <voucher></voucher>
    </ng-template>
  </mat-tab>
</mat-tab-group>