<mat-form-field class="full-width" [formGroup]="form!">
  <mat-label>{{label}}</mat-label>
  <mat-chip-grid #chipListPaymentType>
    @for (paymentType of model; track paymentType) {
      <mat-chip-row (removed)="removeElement(paymentType)">
        {{paymentType.label}}
        @if (!isDisabled) {
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        }
      </mat-chip-row>
    }
    <input matInput placeholder="Choisir un type de paiement" [formControlName]="propertyName" #paymentTypeInput
      [matChipInputFor]="chipListPaymentType" [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
      [disabled]="isDisabled" [matAutocomplete]="autoComplete">
    </mat-chip-grid>
    <mat-autocomplete autoActiveFirstOption #autoComplete="matAutocomplete" [displayWith]="displayLabel"
      (optionSelected)="addPaymentType($event)">
      @for (paymentType of filteredPaymentTypes | async; track paymentType) {
        <mat-option [value]="paymentType">
          {{paymentType.label}}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>