<div class="mat-elevation-z2 form-div">
  <div class=" full-width padding-top">
    <div>
      <table class="full-width">
        <tr>
          <td *ngIf="!invoice.provider">
            <autocomplete-responsable [(model)]="invoice.responsable" [form]="invoiceForm" propertyName="responsable"
              (onOptionSelected)="fillResponsable($event)" [isMandatory]="true" label="Responsable"
              [isDisabled]="!editMode   || invoice.id!=undefined || idInvoiceForCreditNote?true:false">
            </autocomplete-responsable>
          </td>
          <td *ngIf="!invoice.responsable ">
            <autocomplete-provider [(model)]=" invoice.provider" [form]="invoiceForm" propertyName="provider"
              [isMandatory]="true"
              [isDisabled]="!editMode   || invoice.id!=undefined || idInvoiceForCreditNote?true:false"
              (onOptionSelected)="fillProvider($event)" label="Fournisseur"></autocomplete-provider>
          </td>
          <!--td  *ngIf="!invoice.provider && !invoice.responsable">
            <autocomplete-competent-authority [(model)]="invoice.competentAuthority"
              [isDisabled]="!editMode   || invoice.id!=undefined || idInvoiceForCreditNote?true:false"
              [form]="invoiceForm" propertyName="competentAuthority" [isMandatory]="true"
              [conditionnalRequired]="invoice.responsable==undefined && invoice.tiers==undefined && invoice.confrere ==undefined && invoice.provider==undefined"
              (onOptionSelected)="fillCompetentAuthority($event)"
              label="Autorité compétente"></autocomplete-competent-authority> // TODO refonte
          </td-->
        </tr>
      </table>
      <table class="full-width" *ngIf="!invoice.provider && !invoice.isCreditNote">
        <tr>
          <td>
            <radio-group-billing-label [(model)]="invoice.billingLabelType" [form]="invoiceForm"
              [isDisabled]="!editMode || !isManualInvoice()" propertyName="billingLabelType"
              label="Libellé sur facture">
            </radio-group-billing-label>
          </td>
        </tr>
      </table>
      <table class="full-width"
        *ngIf="invoice.billingLabelType!=undefined && invoice.billingLabelType.code!=undefined && invoice.billingLabelType.id==billingLableTypeOther.id ">
        <tr>
          <td>
            <generic-input [(model)]="invoice.billingLabel" label="Libellé" [form]="invoiceForm"
              propertyName="billingLabel" [isMandatory]="true" [maxLength]="40"
              [isDisabled]="!editMode || !isManualInvoice()">
            </generic-input>
          </td>
          <td>
            <generic-input [(model)]="invoice.billingLabelAddress" label="Adresse" [form]="invoiceForm"
              propertyName="billingAddress" [isMandatory]="true" [isDisabled]="!editMode || !isManualInvoice()"
              [maxLength]="160">
            </generic-input>
          </td>
          <td>
            <autocomplete-postal-code [(model)]="invoice.billingLabelPostalCode" [form]="invoiceForm"
              [byPassAutocompletValidator]="true" label="Code postal" [isDisabled]="!editMode || !isManualInvoice()"
              propertyName="postalCode" [isMandatory]="true"
              [conditionnalRequired]="invoice.billingLabelCountry != null && invoice.billingLabelCountry.id == countryFrance.id"
              (onOptionSelected)="fillCity($event)"></autocomplete-postal-code>
          </td>
          <td>
            <generic-input [(model)]="invoice.cedexComplement" label="Complément CEDEX" [form]="invoiceForm"
              propertyName="cedexComplement" [isMandatory]="false" [isDisabled]="!editMode || !isManualInvoice()"
              [maxLength]="20"></generic-input>
          </td>
          <td>
            <autocomplete-city [(model)]="invoice.billingLabelCity" [modelCountry]="invoice.billingLabelCountry"
              [preFilterPostalCode]="invoice.billingLabelPostalCode" [isDisabled]="!editMode || !isManualInvoice()"
              label="Ville" [form]="invoiceForm" propertyName="city" [isMandatory]="true"
              (onOptionSelected)="fillPostalCode($event)">
            </autocomplete-city>
          </td>
          <td>
            <autocomplete-country [(model)]="invoice.billingLabelCountry" [form]="invoiceForm" propertyName="country"
              label="Pays" [isDisabled]="!editMode || !isManualInvoice()" [isMandatory]="true"></autocomplete-country>
          </td>
          <td>
            <generic-toggle [(model)]="invoice.billingLabelIsIndividual" [isDisabled]="!editMode || !isManualInvoice()"
              label="Est particulier ?" [form]="invoiceForm" propertyName="billingLabelIsIndividual"></generic-toggle>
          </td>
          <td *ngIf="invoice.billingLabelIsIndividual==false">
            <generic-input [(model)]="invoice.billingLabelIntercommunityVat" [isDisabled]="!editMode"
              label="TVA intercommunaitaire" [form]="invoiceForm" propertyName="billingLabelIntercommunityVat"
              [isMandatory]="false" [conditionnalRequired]="" [customValidators]="[checkVAT('intercommunityVat')]">
            </generic-input>
          </td>
        </tr>
      </table>
      <table class="full-width">
        <tr>
          <td *ngIf="!invoice.isCreditNote && invoice.provider">
            <generic-input [(model)]="invoice.commandNumber" label="N° de commande" [form]="invoiceForm"
              propertyName="commandNumber" [isMandatory]="false" [isDisabled]="!editMode || !isManualInvoice()"
              [maxLength]="40">
            </generic-input>
          </td>
          <td>
            <generic-input [(model)]="invoice.manualAccountingDocumentNumber" label="Référence de la pièce comptable"
              [form]="invoiceForm" propertyName="manualAccountingDocumentNumber" [isMandatory]="false"
              [isDisabled]="!editMode || !isManualInvoice()" [maxLength]="150">
            </generic-input>
          </td>
          <td *ngIf="invoice.provider && !invoice.isCreditNote">
            <autocomplete-customer-order [(model)]="indexedCustomerOrder" [form]="invoiceForm"
              propertyName="indexedCustomerOrder" [isMandatory]="false" label="Numéro de commande Osiris"
              (onOptionSelected)="fillCustomerOrder($event)"></autocomplete-customer-order>
          </td>
          <td *ngIf="invoice.customerOrderForInboundInvoice">
            <select-provision [(model)]="invoice.provision" [form]="invoiceForm" propertyName="provision"
              [isMandatory]="false" label="Prestation" [isMandatory]="true"
              [types]="getProvisionForCustomerOrder()"></select-provision>
          </td>
        </tr>
      </table>
      <table class="full-width">
        <tr>
          <td>
            <select-payment-types [(model)]="invoice.manualPaymentType" label="Type de paiement" [form]="invoiceForm"
              *ngIf="!invoice.isCreditNote && !invoice.provider" propertyName="manualPaymentType" [isMandatory]="true"
              [isDisabled]="!editMode || invoice.id!=undefined"></select-payment-types>
          </td>
          <td>
            <generic-datepicker [(model)]="invoice.dueDate" label="Date d'échéance" [form]="invoiceForm"
              *ngIf=" !invoice.isCreditNote && !invoice.provider" propertyName="dueDate" [isMandatory]="false"
              [isDisabled]="!editMode || invoice.id!=undefined"></generic-datepicker>
          </td>
          <td>
            <generic-datepicker [(model)]="invoice.manualAccountingDocumentDate" label="Date de la pièce comptable"
              [form]="invoiceForm" propertyName="manualAccountingDocumentDate" [isMandatory]="false"
              [isDisabled]="!editMode || !isManualInvoice()" [minDate]="minDate"
              [maxDate]="maxDate"></generic-datepicker>
          </td>
          <td>
            <single-attachment *ngIf="invoice.id && !invoice.isCreditNote && !invoice.provider" [entity]="invoice"
              [entityType]="INVOICE_ENTITY_TYPE.entityType" [editMode]="true"
              [attachmentTypeToDisplay]="attachmentTypeInvoice" (onUploadedFile)="updateAttachments($event)">
            </single-attachment>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class=" full-width padding-bottom">
    <sort-table [columns]="displayedColumns" [values]="invoiceItems" tableName="Facture Ajout" [actions]="tableAction"
      [noMaxHeight]="true" [noPaddingBottom]="true" (onRowClick)="selectInvoiceItem($event)"
      [refreshTable]="refreshTable.asObservable()">
    </sort-table>
  </div>
  <div class="align-right">
    <span class="mat-mdc-cell mdc-data-table__cell ">Total TTC : {{getInvoiceTotal()}} €</span>
  </div>
  <div>
    <table class="full-width ">
      <tr>
        <td>
          <generic-input [(model)]="invoiceItem.label" label="Libellé" [form]="invoiceForm" propertyName="label"
            [isMandatory]="true" [isDisabled]="!editMode || invoice.id!=undefined" [maxLength]="200"></generic-input>
        </td>
        <td>
          <autocomplete-billing-item [(model)]="invoiceItem.billingItem" [form]="invoiceForm"
            label="Poste de facturation" propertyName="Poste de facturation" [isMandatory]="true"
            (onOptionSelected)="fillBillingItem(invoiceItem,invoiceItem.billingItem)" [isMandatory]="true"
            [isDisabled]="!editMode || invoice.id!=undefined">
          </autocomplete-billing-item>
        </td>
      </tr>
      <tr *ngIf="invoiceItem.billingItem">
        <td>
          <autocomplete-accounting-account *ngIf="invoiceItem.billingItem.billingType.accountingAccountProduct"
            [(model)]="invoiceItem.billingItem.billingType.accountingAccountProduct" [form]="invoiceForm"
            propertyName="accountingAccountProduct" [isMandatory]="false" [isDisabled]="true"
            label="Compte comptable produit">
          </autocomplete-accounting-account>
        </td>
        <td>
          <autocomplete-accounting-account *ngIf="invoiceItem.billingItem.billingType.accountingAccountCharge"
            [(model)]="invoiceItem.billingItem.billingType.accountingAccountCharge" [form]="invoiceForm"
            propertyName="accountingAccountCharge" [isMandatory]="false" [isDisabled]="true"
            label="Compte comptable charge">
          </autocomplete-accounting-account>
        </td>
      </tr>
    </table>
    <table class="full-width">
      <tr>
        <td>
          <generic-input [(model)]="invoiceItem.preTaxPrice" label="Prix HT" [form]="invoiceForm"
            propertyName="preTaxPrice" [isMandatory]="true" [isDisabled]="!editMode || invoice.id!=undefined"
            type="number" (onFormChange)="fillPreTaxPricedReinvoiced(invoiceItem,invoice)"></generic-input>
        </td>
        <td *ngIf="invoice.provider && indexedCustomerOrder">
          <generic-input [(model)]="invoiceItem.preTaxPriceReinvoiced" label="Prix HT refacturé" [form]="invoiceForm"
            propertyName="preTaxPriceReinvoiced" [isMandatory]="true" [isDisabled]="!editMode || invoice.id!=undefined"
            type="number"></generic-input>
        </td>
        <td>
          <select-vat [(model)]="invoiceItem.vat" label="TVA applicable" [form]="invoiceForm" propertyName="vat"
            [isMandatory]="true"
            [isDisabled]="!editMode || invoice.id!=undefined || (invoiceItem.billingItem && invoiceItem.billingItem.billingType.isOverrideVat)"></select-vat>
        </td>
        <td>
          <generic-input [(model)]="invoiceItem.discountAmount" label="Remise totale" [form]="invoiceForm"
            propertyName="discountAmount" [isMandatory]="false" [isDisabled]="!editMode || invoice.id!=undefined"
            type="number" *ngIf="invoice.provider"></generic-input>
        </td>
      </tr>
    </table>
  </div>
</div>
<button matTooltip="Ajouter une ligne de facturation" mat-fab color="accent" class="second-fab-button"
  *ngIf="!editMode   || invoice.id==undefined" (click)="addInvoiceItem()">
  <mat-icon>add</mat-icon>
</button>
<button matTooltip="Enregistrer la facture" mat-fab color="warn" class="fab-button" (click)="saveInvoice()">
  <mat-icon>save</mat-icon>
</button>
