<div>
  <div>
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target)" placeholder="Rechercher">
    </mat-form-field>
  </div>
  <div class="table-container-scroll">
    <sort-table [columns]="displayedColumns" (onRowClick)="selectEntity($event)" [values]="entities"
      tableName="Référentiel" [idRowSelected]="idRowSelected" [filterText]="searchText">
    </sort-table>
  </div>
</div>
<div class="mat-elevation-z2 form-div" *ngIf="selectedEntity ">
  <form [formGroup]="entityForm">
    <div class="full-width">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <table class="full-width">
          <tr *ngIf="selectedEntity.id">
            <td>
              <generic-input [(model)]="selectedEntity.id" label="Identifiant technique" [form]="entityForm"
                propertyName="id" [isMandatory]="true" [isDisabled]="true"></generic-input>
            </td>
          </tr>
          <tr>
            <td>
              <generic-input [(model)]="selectedEntity.code" label="Codification" [maxLength]="20" [form]="entityForm"
                propertyName="code" [isMandatory]="true" [isDisabled]="!editMode"></generic-input>
            </td>
          </tr>
          <tr>
            <td>
              <generic-input [(model)]="selectedEntity.label" label="Nom fonctionnel" [maxLength]="200"
                [form]="entityForm" propertyName="label" [isMandatory]="true" [isDisabled]="!editMode"></generic-input>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <select-competent-authority-type [(model)]="selectedEntity.competentAuthorityType"
                label="Type d'autorité compétente" [form]="entityForm" propertyName="competentAuthorityType"
                [isMandatory]="true" [isDisabled]="!editMode"></select-competent-authority-type>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <select-regions [(model)]="selectedEntity.regions" label="Régions" [form]="entityForm"
                propertyName="regions" [isMandatory]="true" [isDisabled]="!editMode"
                [conditionnalRequired]="!selectedEntity.departments && !selectedEntity.cities"></select-regions>
            </td>
            <td>
              <select-departments [(model)]="selectedEntity.departments" label="Départements" [form]="entityForm"
                [conditionnalRequired]="!selectedEntity.regions && !selectedEntity.cities" propertyName="departments"
                [isMandatory]="true" [isDisabled]="!editMode"></select-departments>
            </td>
            <td>
              <chips-city [(model)]="selectedEntity.cities" [form]="entityForm" propertyName="cities"
                [isMandatory]="true" [isDisabled]="!editMode" label="Villes"
                [conditionnalRequired]="!selectedEntity.regions && !selectedEntity.departments"></chips-city>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-toggle [(model)]="selectedEntity.hasAccount" label="Possède un compte ?" [form]="entityForm"
                propertyName="hasAccount"></generic-toggle>
            </td>
            <td *ngIf="selectedEntity.hasAccount">
              <generic-input [(model)]="selectedEntity.iban" label="IBAN" [form]="entityForm" propertyName="iban"
                [isMandatory]="true" [isDisabled]="!editMode" [conditionnalRequired]="selectedEntity.hasAccount"
                [maxLength]="40"></generic-input>
            </td>
            <td *ngIf="selectedEntity.hasAccount">
              <generic-input [(model)]="selectedEntity.jssAccount" label="Compte du JSS chez AC" [form]="entityForm"
                propertyName="jssAccount" [isMandatory]="true" [isDisabled]="!editMode"
                [conditionnalRequired]="selectedEntity.hasAccount" [maxLength]="40"></generic-input>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <chips-mail [(model)]="selectedEntity.mails" label="Mails" [form]="entityForm" propertyName="mails"
                [isMandatory]="true" [isDisabled]="!editMode"></chips-mail>
            </td>
            <td>
              <chips-mail [(model)]="selectedEntity.accountingMails" label="Mails (comptabilité)" [form]="entityForm"
                propertyName="accountingMails" [isMandatory]="false" [isDisabled]="!editMode"></chips-mail>
            </td>
            <td>
              <chips-phone [(model)]="selectedEntity.phones" label="Téléphones" [form]="entityForm"
                propertyName="phones" [isMandatory]="true" [isDisabled]="!editMode"></chips-phone>
            </td>
            <td>
              <generic-input [(model)]="selectedEntity.contact" label="Contact" [form]="entityForm"
                propertyName="contact" [isMandatory]="false" [isDisabled]="!editMode" [maxLength]="60"></generic-input>
            </td>
            <td>
              <generic-input [(model)]="selectedEntity.schedulle" label="Horaires" [form]="entityForm"
                propertyName="schedulle" [isMandatory]="false" [isDisabled]="!editMode" [maxLength]="2000">
              </generic-input>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td *ngIf="selectedEntity.accountingAccountProvider">
              <autocomplete-accounting-account [(model)]="selectedEntity.accountingAccountProvider" [form]="entityForm"
                propertyName="accountingAccountProvider" [isMandatory]="false" [isDisabled]="true"
                label="Compte comptable fournisseur">
              </autocomplete-accounting-account>
            </td>
            <td *ngIf="selectedEntity.accountingAccountCustomer">
              <autocomplete-accounting-account [(model)]="selectedEntity.accountingAccountCustomer" [form]="entityForm"
                propertyName="accountingAccountCustomer" [isMandatory]="false" [isDisabled]="true"
                label="Compte comptable client">
              </autocomplete-accounting-account>
            </td>
            <td>
              <generic-input [(model)]="selectedEntity.reinvoicing" label="Refacturation (%)" [form]="entityForm"
                propertyName="reinvoicing" [isMandatory]="false" [isDisabled]="!editMode" type="number"></generic-input>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-textarea [(model)]="selectedEntity.mailRecipient" label="Destinataire(s) courrier"
                [form]="entityForm" propertyName="mailRecipient" [isMandatory]="false" [isDisabled]="!editMode"
                (filterInput)="limitTextareaSize(3)"></generic-textarea>
            </td>
            <td>
              <generic-input [(model)]="selectedEntity.address" label="Adresse" [form]="entityForm"
                propertyName="address" [isMandatory]="false" [isDisabled]="!editMode" [maxLength]="200"></generic-input>
            </td>
            <td>
              <autocomplete-postal-code [(model)]="selectedEntity.postalCode" [form]="entityForm" label="Code postal"
                [isDisabled]="!editMode" propertyName="postalCode" [isMandatory]="false"
                [byPassAutocompletValidator]="true" (onOptionSelected)="fillCity($event)">
              </autocomplete-postal-code>
            </td>
            <td>
              <generic-input [(model)]="selectedEntity.cedexComplement" label="Complément CEDEX" [form]="entityForm"
                propertyName="cedexComplement" [isMandatory]="false" [isDisabled]="!editMode"
                [maxLength]="20"></generic-input>
            </td>
            <td>
              <autocomplete-city [(model)]="selectedEntity.city" [modelCountry]="selectedEntity.country"
                [preFilterPostalCode]="selectedEntity.postalCode" [form]="entityForm" propertyName="city"
                [isMandatory]="false" [isDisabled]="!editMode" label="Ville"
                (onOptionSelected)="fillPostalCode($event)">
              </autocomplete-city>
            </td>
            <td>
              <autocomplete-country [(model)]="selectedEntity.country" [form]="entityForm" propertyName="country"
                label="Pays" [isDisabled]="!editMode" [isMandatory]="false" [isDisabled]="!editMode">
              </autocomplete-country>
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
  </form>
</div>
