<section class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5 mb-5">
  <div class="text-center ">
    <h2 class=" h1 pb-2 pb-md-3 mb-lg-4 text-white">{{title}}</h2>
  </div>
  <div class="row pt-2 pt-md-4 pt-lg-3 pt-xl-4 g-4 g-sm-3 g-md-4">
    <div class="col-lg-8 order-lg-2">
      <div class="d-md-flex h-100 rounded-5 overflow-hidden px-4 px-sm-5 pt-5 ">
        <div class="d-md-flex px-2 px-sm-0 px-xl-2 px-xxl-4 pt-xl-3">
          <div class="position-absolute top-50 start-50 translate-middle" *ngIf="!videoPlaying">
            <button class="btn btn-icon btn-xl btn-primary rounded-circle" aria-label="Play video"
              (click)="playVideo()">
              <i class="ai-play-filled"></i>
            </button>
          </div>

          <div class="w-100 flex-md-shrink-0 rounded-5 mx-auto video-display ">
            <video #videoPlayer class="w-100 h-100 position-absolute top-0 start-0" controls [poster]="posterPath">
              <source [src]="videoPath" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4 order-lg-1">
      <a class="card card-top border-0 h-100 text-decoration-none " style="cursor: pointer; "
        (click)="jumpTo( firstJumpTo)">
        <div class="card border-0 h-100 py-lg-2 py-xl-4">
          <div class="card-body ">
            <p class="text-grey">Etape 01</p>
            <h3 class="text-white"> {{firstStepTitle}} </h3>
            <p class="mb-0 text-grey">{{firstStepDescription}}</p>
          </div>
        </div>
      </a>
    </div>
    <div
      [ngClass]="thirdStepTitle &&  thirdJumpTo>0 ? 'col-sm-6 col-lg-6 order-lg-3' : 'col-sm-12 col-lg-12 order-lg-3'">
      <a class=" card border-0 h-100 text-decoration-none" style="cursor: pointer;" (click)="jumpTo(secondJumpTo)">
        <div class="card border-0 h-100 py-lg-2 py-xl-4">
          <div class="card-body">
            <p class="text-grey">Etape 02</p>
            <h3 class="h4 card-title mt-0 text-white">{{secondStepTitle}}</h3>
            <p class="card-text text-grey">{{secondStepDescription}}</p>
          </div>
        </div>
      </a>
    </div>
    <div *ngIf="thirdStepTitle && thirdStepDescription && thirdJumpTo>0" class="col-sm-6 col-lg-6 order-lg-4">
      <a class="card border-0 h-100 text-decoration-none" style="cursor: pointer;" (click)="jumpTo(thirdJumpTo)">
        <div class="card border-0 h-100 py-lg-2 py-xl-4">
          <div class="card-body">
            <p class="text-grey">Etape 03</p>
            <h3 class="text-white">{{thirdStepTitle}}</h3>
            <p class="mb-0 text-grey">{{thirdStepDescription}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>