<section class="container overflow-hidden pb-5">
  <div class="card-info">
    <div class="row">
      <div class="col-1">
        <swiper-container #datesSwiper class="datesSwiper" direction="vertical" space-between="10" mousewheel="true"
          speed="500" slides-per-view="3">
          <swiper-slide *ngFor="let item of history">
            <div class="d-flex flex-column border-0 rounded-3">{{item.year}}</div>
          </swiper-slide>
        </swiper-container>
      </div>

      <div class="col-11">
        <swiper-container #mainSwiper direction="vertical" thumbs-swiper=".datesSwiper" space-between="50"
          mousewheel="true">
          <swiper-slide *ngFor="let item of history" auto-height="true">
            <div class="row flex-grow-1 ms-2">
              <div class="card rounded-3 col-8 order-md-2 d-none d-md-block p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src={{item.image}} alt="Image">
              </div>
              <div class="col-lg-4 order-md-2">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">{{item.year}}</h1>
                  <small class="mb-xl-4">{{item.category}}</small>
                  <p class="fs-2 mb-4 mb-xl-5">{{item.text}}</p>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>