<section class="container overflow-hidden pb-5">
  <div class="card-info">
    <div class="row">
      <div class="d-none d-lg-block col-lg-1">
        <swiper-container #datesSwiper class="datesSwiper" direction="vertical" space-between="10" mousewheel="true"
          speed="500" slides-per-view="3">
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">1898</div>
          </swiper-slide>
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">1900</div>
          </swiper-slide>
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">1985</div>
          </swiper-slide>
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">2002</div>
          </swiper-slide>
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">2003</div>
          </swiper-slide>
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">2004</div>
          </swiper-slide>
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">2014</div>
          </swiper-slide>
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">2015</div>
          </swiper-slide>
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">2016</div>
          </swiper-slide>
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">2019</div>
          </swiper-slide>
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">2020</div>
          </swiper-slide>
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">2022</div>
          </swiper-slide>
          <swiper-slide>
            <div class="d-flex flex-column border-0 rounded-3">2023</div>
          </swiper-slide>
        </swiper-container>
      </div>

      <div class="col-lg-11 col-12">
        <swiper-container #mainSwiper direction="vertical" thumbs-swiper=".datesSwiper" space-between="300"
          mousewheel="true">
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0">
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/1898.png" alt="Image">
              </div>
              <div class="col-lg-4 order-md-2 ps-lg-3">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">1898</h1>
                  <small class="mb-xl-4">ANNONCES LÉGALES</small>
                  <p class="fs-2 mb-4 mb-xl-5">Création du supplément de l’annuaire général des sociétés françaises par
                    actions</p>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0 ">
              <div class="col-lg-4 order-md-2 pe-lg-3 pe-0">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">1900</h1>
                  <small class="mb-xl-4">ANNONCES LÉGALES</small>
                  <p class="fs-2 mb-4 mb-xl-5">Première habilitation dans le département de la Seine</p>
                </div>
              </div>
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/1900.jpg" alt="Image">
              </div>
            </div>
          </swiper-slide>
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0 ">
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/1985.jpg" alt="Image">
              </div>
              <div class="col-lg-4 order-md-2 ps-lg-3">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">1985</h1>
                  <small class="mb-xl-4">FORMALITÉS</small>
                  <p class="fs-2 mb-4 mb-xl-5">Création du service de formalité légales</p>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0 ">
              <div class="col-lg-4 order-md-2 pe-lg-3 pe-0">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">2002</h1>
                  <small class="mb-xl-4">SITE WEB</small>
                  <p class="fs-2 mb-4 mb-xl-5">Lancement du site internet jss.fr</p>
                </div>
              </div>
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/2002.jpg" alt="Image">
              </div>
            </div>
          </swiper-slide>
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0 ">
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/2003.jpg" alt="Image">
              </div>
              <div class="col-lg-4 order-md-2 ps-lg-3">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">2003</h1>
                  <small class="mb-xl-4">FORMATIONS</small>
                  <p class="fs-2 mb-4 mb-xl-5">Création du service des formations juridiques</p>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0 ">
              <div class="col-lg-4 order-md-2 pe-lg-3 pe-0">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">2004</h1>
                  <small class="mb-xl-4"></small>
                  <p class="fs-2 mb-4 mb-xl-5">Création de la revue juridique, “le Journal des Sociétés”, mensuel du
                    juriste et de l’entreprise</p>
                </div>
              </div>
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/2004.jpg" alt="Image">
              </div>
            </div>
          </swiper-slide>
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0 ">
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/2014.jpg" alt="Image">
              </div>
              <div class="col-lg-4 order-md-2 ps-lg-3">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">2014</h1>
                  <small class="mb-xl-4">TRAITEMENT DES FORMALITÉS</small>
                  <p class="fs-2 mb-4 mb-xl-5">Création du service de formalités dématérialisée</p>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0 ">
              <div class="col-lg-4 order-md-2 pe-lg-3 pe-0">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">2015</h1>
                  <small class="mb-xl-4">CROISSANCE EXTERNE</small>
                  <p class="fs-2 mb-4 mb-xl-5">Rachat du Journal “les Annonces de la Seine"</p>
                </div>
              </div>
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/2015.jpg" alt="Image">
              </div>
            </div>
          </swiper-slide>
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0 ">
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/2016.png" alt="Image">
              </div>
              <div class="col-lg-4 order-md-2 ps-lg-3">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">2016</h1>
                  <small class="mb-xl-4">ANNONCES LÉGALES</small>
                  <p class="fs-2 mb-4 mb-xl-5">Nouvelles habilitations dans les départements 78, 91 et 95</p>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0 ">
              <div class="col-lg-4 order-md-2 pe-lg-3 pe-0">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">2019</h1>
                  <small class="mb-xl-4">DOMICILIATION</small>
                  <p class="fs-2 mb-4 mb-xl-5">Création du Service Domiciliation</p>
                </div>
              </div>
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/2019.jpg" alt="Image">
              </div>
            </div>
          </swiper-slide>
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0 ">
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/2020.jpg" alt="Image">
              </div>
              <div class="col-lg-4 order-md-2 ps-lg-3">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">2020</h1>
                  <small class="mb-xl-4">ANNONCES LÉGALES</small>
                  <p class="fs-2 mb-4 mb-xl-5">Ouverture du Service de Presse de En Ligne (SPEL)</p>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0 ">
              <div class="col-lg-4 order-md-2 pe-lg-3 pe-0">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">2022</h1>
                  <small class="mb-xl-4">JOURNAL SPÉCIAL DES SOCIÉTÉS</small>
                  <p class="fs-2 mb-4 mb-xl-5">Le journal devient hebdomadaire</p>
                </div>
              </div>
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/2022.jpg" alt="Image">
              </div>
            </div>
          </swiper-slide>
          <swiper-slide auto-height="true">
            <div class="row flex-grow-1 ms-sm-2 justify-content-center g-2 g-lg-0 ">
              <div class="card rounded-3 col-8 order-md-2 p-0 overflow-hidden">
                <img class="object-fit-contain w-100" src="assets/img/societe/our-story/2023.png" alt="Image">
              </div>
              <div class="col-lg-4 order-md-2 ps-lg-3">
                <div class="d-flex flex-column card border-0 rounded-3 h-100 p-4 px-lg-5">
                  <h1 class="mb-xl-4">2023</h1>
                  <small class="mb-xl-4">JOURNAL SPÉCIAL DES SOCIÉTÉS</small>
                  <p class="fs-2 mb-4 mb-xl-5">Digitalisation du journal</p>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>