<div class="mat-elevation-z2 form-div">
  <div class=" full-width">
    <sort-table [columns]="displayedColumns" [values]="accountingRecords" tableName="Ecritures Ajout"
      [noPaddingBottom]="true" [actions]="tableAction" (onRowClick)="selectAccountingRecord($event)"
      [refreshTable]="refreshTable.asObservable()">
    </sort-table>
  </div>
  <div class=" full-width padding-top">
    <div>
      <table class="full-width table-fixed-layout">
        <tr>
          <td>
            <select-accounting-journal [(model)]="accountingRecord.accountingJournal" label="Journal"
              [form]="accountingRecordForm" propertyName="accountingJournal" [isMandatory]="true"
              [excludedJournals]="[accountingJournalSales,accountingJournalPurchases,accountingJournalANouveau]">
            </select-accounting-journal>
          </td>
          <td>
            <autocomplete-accounting-account [(model)]="accountingRecord.accountingAccount"
              [form]="accountingRecordForm" propertyName="accountingAccount" [isMandatory]="true"
              label="Compte comptable">
            </autocomplete-accounting-account>
          </td>
        </tr>
        <tr>
          <td>
            <generic-input [(model)]="accountingRecord.manualAccountingDocumentNumber"
              label="Référence de pièce comptable" [form]="accountingRecordForm"
              propertyName="manualAccountingDocumentNumber" [isMandatory]="true" [maxLength]="150"></generic-input>
          </td>
          <td>
            <generic-datepicker [(model)]="accountingRecord.operationDateTime" label="Date de l'opération"
              [form]="accountingRecordForm" propertyName="operationDateTime" [isMandatory]="true" [minDate]="minDate"
              [maxDate]="maxDate">
            </generic-datepicker>
          </td>
        </tr>
        <tr>
          <td>
            <generic-input [(model)]="accountingRecord.label" label="Libellé" [form]="accountingRecordForm"
              propertyName="label" [isMandatory]="true" [maxLength]="1000"></generic-input>
          </td>
          <td>
            <generic-datepicker [(model)]="accountingRecord.manualAccountingDocumentDeadline"
              label="Date limite de paiement" [form]="accountingRecordForm"
              propertyName="manualAccountingDocumentDeadline" [isMandatory]="false">
            </generic-datepicker>
          </td>
        </tr>
        <tr>
          <td>
            <generic-input [(model)]="accountingRecord.debitAmount" label="Débit" [form]="accountingRecordForm"
              propertyName="debitAmount" [isMandatory]="true"
              [conditionnalRequired]="!accountingRecord.creditAmount || accountingRecord.creditAmount==0" type="number"
              (onInputChange)="accountingRecord.creditAmount=0;computeBalanceAndDebitAndCreditAccumulation();">
            </generic-input>
          </td>
          <td>
            <generic-input [(model)]="accountingRecord.creditAmount" label="Crédit" [form]="accountingRecordForm"
              propertyName="creditAmount" [isMandatory]="true"
              [conditionnalRequired]="!accountingRecord.debitAmount || accountingRecord.debitAmount==0" type="number"
              (onInputChange)="accountingRecord.debitAmount=0;computeBalanceAndDebitAndCreditAccumulation();">
            </generic-input>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<button matTooltip="Ajouter une opération" mat-fab color="accent" class="second-fab-button"
  (click)="addAccountingRecord()">
  <mat-icon>add</mat-icon>
</button>
<button matTooltip="Contrepasser" mat-fab color="accent" class="third-fab-button" (click)="counterPart()">
  <mat-icon>undo</mat-icon>
</button>
<button matTooltip="Enregistrer les opérations" mat-fab color="warn" class="fab-button" (click)="saveOperations()">
  <mat-icon>save</mat-icon>
</button>
