<div class="mat-elevation-z2 form-div">
  <div class=" full-width">
    <div *ngFor="let accountingRecord of accountingRecords">
      <table class="full-width table-fixed-layout">
        <tr>
          <td>
            <select-accounting-journal [(model)]="accountingRecord.accountingJournal" label="Journal"
              [form]="accountingRecordForm" propertyName="accountingJournal" [isMandatory]="true">
            </select-accounting-journal>
          </td>
          <td>
            <autocomplete-accounting-account [(model)]="accountingRecord.accountingAccount"
              [form]="accountingRecordForm" propertyName="accountingAccount" [isMandatory]="true"
              label="Compte comptable"></autocomplete-accounting-account>
          </td>
        </tr>
        <tr>
          <td>
            <generic-input [(model)]="accountingRecord.manualAccountingDocumentNumber"
              label="Référence de pièce comptable" [form]="accountingRecordForm"
              propertyName="manualAccountingDocumentNumber" [isMandatory]="true" [maxLength]="150"></generic-input>
          </td>
          <td>
            <generic-datepicker [(model)]="accountingRecord.manualAccountingDocumentDate"
              label="Date de la pièce comptable" [form]="accountingRecordForm"
              propertyName="manualAccountingDocumentDate" [isMandatory]="true"></generic-datepicker>
          </td>
        </tr>
        <tr>
          <generic-input [(model)]="accountingRecord.label" label="Libellé" [form]="accountingRecordForm"
            propertyName="label" [isMandatory]="true" [maxLength]="100"></generic-input>
        </tr>
        <tr>
          <td>
            <generic-input [(model)]="accountingRecord.debitAmount" label="Débit" [form]="accountingRecordForm"
              propertyName="debitAmount" [isMandatory]="true"
              [conditionnalRequired]="!accountingRecord.creditAmount || accountingRecord.creditAmount==0" type="number">
            </generic-input>
          </td>
          <td>
            <generic-input [(model)]="accountingRecord.creditAmount" label="Crédit" [form]="accountingRecordForm"
              propertyName="creditAmount" [isMandatory]="true"
              [conditionnalRequired]="!accountingRecord.debitAmount || accountingRecord.debitAmount==0" type="number">
            </generic-input>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


creditAmount: number;
debitAmount: number;
