<div class="mat-elevation-z2 form-div" *ngIf="tiers">
  <form [formGroup]="principalForm">
    <div class="full-width">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <table class="full-width">
          <tr>
            <td>
              <select-tiers-type [(model)]="tiers.tiersType" label="Type" [isDisabled]="!editMode"
                [form]="principalForm" propertyName="tiersType" [isMandatory]="true">
              </select-tiers-type>
            </td>
            <td>
              <generic-input [(model)]="tiers.id" label="N° client/prospect" [form]="principalForm"
                propertyName="tiersId" [isDisabled]="true"></generic-input>
            </td>
            <td *ngIf="tiers.isIndividual==false">
              <generic-input [(model)]="tiers.denomination" label="Dénomination" [form]="principalForm"
                propertyName="denomination" [isMandatory]="true" [conditionnalRequired]="!tiers.isIndividual"
                [maxLength]="60">
              </generic-input>
            </td>
            <td>
              <generic-datepicker [(model)]="tiers.firstBilling" label="Première facturation" [form]="principalForm"
                propertyName="firstBilling" [isDisabled]="true"></generic-datepicker>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-toggle [(model)]="tiers.isIndividual" label="Particulier ?" [form]="principalForm"
                propertyName="isIndividual"></generic-toggle>
            </td>
            <td [hidden]="tiers.isIndividual==false">
              <radio-group-civility [(model)]="tiers.civility" [form]="principalForm" propertyName="civility">
              </radio-group-civility>
            </td>
            <td *ngIf="tiers.isIndividual==true">
              <generic-input [(model)]="tiers.lastname" label="Nom" [form]="principalForm" propertyName="lastname"
                [isMandatory]="true" [conditionnalRequired]="tiers.isIndividual" [maxLength]="20"></generic-input>
            </td>
            <td *ngIf="tiers.isIndividual==true">
              <generic-input [(model)]="tiers.firstname" label="Prénom" [form]="principalForm" propertyName="firstname"
                [isMandatory]="true" [conditionnalRequired]="tiers.isIndividual" [maxLength]="20"></generic-input>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <select-tiers-category [(model)]="tiers.tiersCategory" label="Catégorie" [form]="principalForm"
                [isDisabled]="!editMode" propertyName="tiersCategory"></select-tiers-category>
            </td>
            <td>
              <autocomplete-sales-employee [(model)]="tiers.salesEmployee" [isDisabled]="!editMode"
                [form]="principalForm" propertyName="salesEmployee" [isMandatory]="true"></autocomplete-sales-employee>
            </td>
            <td>
              <autocomplete-formaliste-employee [(model)]="tiers.formalisteEmployee" [isDisabled]="!editMode"
                [form]="principalForm" propertyName="formalisteEmployee">
              </autocomplete-formaliste-employee>
            </td>
            <td>
              <autocomplete-insertion-employee [(model)]="tiers.insertionEmployee" [isDisabled]="!editMode"
                [form]="principalForm" propertyName="insertionEmployee">
              </autocomplete-insertion-employee>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-textarea [(model)]="tiers.mailRecipient" label="Destinataires(s) courrier" [form]="principalForm"
                propertyName="mailRecipient" (filterInput)="limitTextareaSize(3)">
              </generic-textarea>
            </td>
            <td style="vertical-align: baseline;">
              <radio-group-language [(model)]="tiers.language" [form]="principalForm" propertyName="language"
                label="Langue de communication"></radio-group-language>
            </td>
            <td>
              <select-delivery-service [(model)]="tiers.deliveryService" label="Service de livraison"
                [form]="principalForm" propertyName="deliveryService" [isMandatory]="true" [isDisabled]="!editMode">
              </select-delivery-service>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-input [(model)]="tiers.address" label="Adresse" [form]="principalForm" propertyName="address"
                [isMandatory]="true" [maxLength]="20"></generic-input>
            </td>
            <td>
              <autocomplete-city [(model)]="tiers.city" [modelCountry]="tiers.country" [form]="principalForm"
                propertyName="city" [isMandatory]="true" (onOptionSelected)="fillPostalCode($event)">
              </autocomplete-city>
            </td>
            <td>
              <autocomplete-postal-code [(model)]="tiers.postalCode" [form]="principalForm" propertyName="postalCode"
                [isMandatory]="true"
                [conditionnalRequired]="tiers.country != null && tiers.country.code == COUNTRY_CODE_FRANCE"
                (onOptionSelected)="fillCity($event)"></autocomplete-postal-code>
            </td>
            <td>
              <autocomplete-country [(model)]="tiers.country" [form]="principalForm" propertyName="country"
                [isMandatory]="true"></autocomplete-country>
            </td>
            <td>
              <generic-input [(model)]="tiers.intercom" label="Code porte" [form]="principalForm"
                propertyName="intercom" [maxLength]="12"></generic-input>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td *ngIf="tiers.isIndividual==false">
              <generic-input [(model)]="tiers.intercommunityVat" label="TVA intercommunaitaire" [form]="principalForm"
                propertyName="intercommunityVat" [isMandatory]="true" [conditionnalRequired]="tiers.isIndividual==false"
                [customValidators]="[checkVAT('intercommunityVat')]"></generic-input>
            </td>
            <td>
              <chips-special-offers [(model)]="tiers.specialOffers" [form]="principalForm" propertyName="specialOffers"
                [isDisabled]="!editMode"></chips-special-offers>
            </td>
            <td>
              <generic-input [(model)]="tiers.rcaFormaliteRate" label="Taux RCA Formalité" [form]="principalForm"
                propertyName="rcaFormaliteRate" type="number"></generic-input>
            </td>
            <td>
              <generic-input [(model)]="tiers.rcaInsertionRate" label="Taux RCA Insertion" [form]="principalForm"
                propertyName="rcaInsertionRate" type="number"></generic-input>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <chips-mail [(model)]="tiers.mails" [form]="principalForm" label="Mails" propertyName="mails"
                [isDisabled]="!editMode">
              </chips-mail>
            </td>
            <td>
              <chips-phone [(model)]="tiers.phones" [form]="principalForm" propertyName="phones" label="Téléphones"
                [isDisabled]="!editMode"></chips-phone>
            </td>
            <td *ngIf="tiers.isIndividual==false">
              <!-- TODO : fill it when reponsibles done-->
              <mat-form-field class="full-width">
                <mat-label>Nombre de responsables abonnés</mat-label>
                <input matInput formControlName="responsibleSuscribersNumber"
                  placeholder="Nombre de responsables abonnés">
              </mat-form-field>
            </td>
            <td *ngIf="tiers.isIndividual==false">
              <!-- TODO : fill it when reponsibles done-->
              <mat-form-field class="full-width">
                <mat-label>Nombre de comptes web</mat-label>
                <input matInput formControlName="webAccountNumber" placeholder="Nombre de comptes web">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-textarea [(model)]="tiers.instructions" label="Consignes" [form]="principalForm"
                propertyName="instructions" [numberOfLines]="4"></generic-textarea>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <generic-textarea [(model)]="tiers.observations" label="Observations / Informations complémentaires"
                [form]="principalForm" propertyName="observations" [numberOfLines]="4"></generic-textarea>
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
  </form>
</div>
