<div class="mat-elevation-z2 form-div" *ngIf="tiers">
  <form [formGroup]="principalForm">
    <div class="full-width">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <table class="full-width">
          <tr>
            <td>
              <select-tiers-type [(model)]="tiers.tiersType" label="Type" [isDisabled]="!editMode"
                [form]="principalForm" propertyName="tiersType" [isMandatory]="true"></select-tiers-type>
            </td>
            <td>
              <generic-input [(model)]="tiers.id" label="N° client/prospect" [form]="principalForm"
                propertyName="tiersId" [isDisabled]="true"></generic-input>
            </td>
            <td *ngIf="tiers.isIndividual==false">
              <generic-input [(model)]="tiers.denomination" label="Dénomination" [form]="principalForm"
                propertyName="denomination" [isMandatory]="true" [conditionnalRequired]="!tiers.isIndividual">
              </generic-input>
            </td>
            <td>
              <generic-datepicker [(model)]="tiers.firstBilling" label="Première facturation" [form]="principalForm"
                propertyName="firstBilling" [isDisabled]="true"></generic-datepicker>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-toggle [(model)]="tiers.isIndividual" label="Particulier ?" [form]="principalForm"
                propertyName="isIndividual"></generic-toggle>
            </td>
            <td [hidden]="tiers.isIndividual==false">
              <radio-group-civility [(model)]="tiers.civility" [form]="principalForm" propertyName="civility">
              </radio-group-civility>
            </td>
            <td *ngIf="tiers.isIndividual==true">
              <generic-input [(model)]="tiers.lastname" label="Nom" [form]="principalForm" propertyName="lastname"
                [isMandatory]="true" [conditionnalRequired]="tiers.isIndividual" [maxLength]="20"></generic-input>
            </td>
            <td *ngIf="tiers.isIndividual==true">
              <generic-input [(model)]="tiers.firstname" label="Prénom" [form]="principalForm" propertyName="firstname"
                [isMandatory]="true" [conditionnalRequired]="tiers.isIndividual" [maxLength]="20"></generic-input>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <select-tiers-category [(model)]="tiers.tiersCategory" label="Catégorie" [form]="principalForm"
                propertyName="tiersCategory" [isDisabled]="!editMode"></select-tiers-category>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Commercial</mat-label>
                <input type="text" matInput formControlName="salesEmployee"
                  [matAutocomplete]="autoCompleteSalesEmployee" [(ngModel)]="tiers.salesEmployee">
                <mat-icon matSuffix (click)="tiers.salesEmployee=null" *ngIf="editMode && tiers.salesEmployee!=null">
                  close
                </mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoCompleteSalesEmployee="matAutocomplete"
                  [displayWith]="displayEmployee">
                  <mat-option *ngFor="let employee of filteredSalesEmployees | async" [value]="employee">
                    {{employee.firstname}} {{employee.lastname}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Formaliste</mat-label>
                <input type="text" matInput formControlName="formalisteEmployee"
                  [matAutocomplete]="autoCompleteFormalisteEmployee" [(ngModel)]="tiers.formalisteEmployee">
                <mat-icon matSuffix (click)="tiers.formalisteEmployee=null"
                  *ngIf="editMode && tiers.formalisteEmployee!=null">close</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoCompleteFormalisteEmployee="matAutocomplete"
                  [displayWith]="displayEmployee">
                  <mat-option *ngFor="let employee of filteredFormalisteEmployees | async" [value]="employee">
                    {{employee.firstname}} {{employee.lastname}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Insertion</mat-label>
                <input type="text" matInput formControlName="insertionEmployee"
                  [matAutocomplete]="autoCompleteInsertionEmployee" [(ngModel)]="tiers.insertionEmployee">
                <mat-icon matSuffix (click)="tiers.insertionEmployee=null"
                  *ngIf="editMode && tiers.insertionEmployee!=null">close</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoCompleteInsertionEmployee="matAutocomplete"
                  [displayWith]="displayEmployee">
                  <mat-option *ngFor="let employee of filteredInsertionEmployees | async" [value]="employee">
                    {{employee.firstname}} {{employee.lastname}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Destinataire(s) courrier</mat-label>
                <textarea (keyup)="limitTextareaSize('mailRecipient',3)"
                  (keydown)="limitTextareaSize('mailRecipient',3)" (paste)="limitTextareaSize('mailRecipient',3)"
                  rows="3" matInput formControlName="mailRecipient" [(ngModel)]="tiers.mailRecipient"></textarea>
              </mat-form-field>
            </td>
            <td style="vertical-align: baseline;">
              <mat-label>Langue de communication</mat-label>
              <mat-radio-group class="radio-group-column" [(ngModel)]="tiers.language" formControlName="language">
                <mat-radio-button *ngFor=" let language of languages" [value]="language"
                  [checked]=" this.tiers.language != undefined && this.tiers.language.id == language.id">
                  {{language.label}}
                </mat-radio-button>
              </mat-radio-group>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Service de livraison</mat-label>
                <mat-select formControlName="deliveryService" [(ngModel)]="tiers.deliveryService"
                  [compareWith]="compareWithId" [disabled]="editMode==false">
                  <mat-option *ngFor="let deliveryService of deliveryServices" [value]="deliveryService">
                    {{deliveryService.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>


        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Adresse</mat-label>
                <input matInput formControlName="address" [(ngModel)]="tiers.address" placeholder="Adresse"
                  autocomplete="do-not-autofill">
              </mat-form-field>
            </td>
            <td>
              <autocomplete-city [(model)]="tiers.city" [modelCountry]="tiers.country" [form]="principalForm"
                propertyName="city" [isMandatory]="true" (onOptionSelected)="fillPostalCode($event)">
              </autocomplete-city>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Code postal</mat-label>
                <input matInput placeholder="Code postal" [(ngModel)]="tiers.postalCode"
                  [matAutocomplete]="autoCompletePostalCode" formControlName="postalCode"
                  autocomplete="do-not-autofill">
                <mat-autocomplete autoActiveFirstOption #autoCompletePostalCode="matAutocomplete"
                  (optionSelected)='fillCity($event.option.value)'>
                  <mat-option *ngFor="let postalCode of filteredPostalCodes" [value]="postalCode">
                    {{postalCode}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Pays</mat-label>
                <input matInput placeholder="Pays" [(ngModel)]="tiers.country" [matAutocomplete]="autoCompleteCountry"
                  formControlName="country" autocomplete="do-not-autofill">
                <mat-autocomplete autoActiveFirstOption #autoCompleteCountry="matAutocomplete"
                  [displayWith]="displayLabel">
                  <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                    {{country.label}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Code porte</mat-label>
                <input matInput formControlName="intercom" [(ngModel)]="tiers.intercom" placeholder="Code porte"
                  autocomplete="do-not-autofill">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td [hidden]="tiers.isIndividual">
              <mat-form-field class="full-width">
                <mat-label>TVA intercommunaitaire</mat-label>
                <input matInput formControlName="intercommunityVat" [(ngModel)]="tiers.intercommunityVat"
                  placeholder="TVA intercommunaitaire" autocomplete="do-not-autofill">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Tarifs spéciaux</mat-label>
                <mat-chip-list class="mat-chip-list-stacked" #chipListSpecialOffers cdkDropList
                  cdkDropListOrientation="vertical" (cdkDropListDropped)="changeSpecialOfferOrder($event)">
                  <mat-chip *ngFor="let specialOffer of tiers.specialOffers" cdkDrag
                    (removed)="removeSpecialOffer(specialOffer)">
                    {{specialOffer.label}}
                    <button matChipRemove *ngIf="editMode">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input class="input-vertical" matInput placeholder="Saisir une offre spéciale" #specialOfferInput
                    formControlName="specialOffers" [matChipInputFor]="chipListSpecialOffers"
                    [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES" [matAutocomplete]="autoCompleteSpecialOffers">
                  <button *ngIf="editMode" matSuffix mat-icon-button (click)="openSpecialOffersDialog()">
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-chip-list>
                <mat-hint>Glisser/déposer pour ordonner</mat-hint>
                <mat-autocomplete autoActiveFirstOption #autoCompleteSpecialOffers="matAutocomplete"
                  [displayWith]="displayLabel" (optionSelected)="addSpecialOffer($event)">
                  <mat-option *ngFor="let specialOffer of filteredSpecialOffers | async" [value]="specialOffer">
                    {{specialOffer.label}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Taux RCA Formalité</mat-label>
                <input matInput formControlName="rcaFormaliteRate" [(ngModel)]="tiers.rcaFormaliteRate" type="number"
                  placeholder="Taux RCA Formalité">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Taux RCA Insertion</mat-label>
                <input matInput formControlName="rcaInsertionRate" [(ngModel)]="tiers.rcaInsertionRate" type="number"
                  placeholder="Taux RCA Insertion">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Mails</mat-label>
                <mat-chip-list #chipListMails>
                  <mat-chip *ngFor="let mail of tiers.mails" (removed)="removeMail(mail)">
                    {{mail.mail}}
                    <button matChipRemove *ngIf="editMode">
                      <mat-icon>cancel</mat-icon>
                    </button>
                    <mat-icon matChipRemove *ngIf="editMode==false" (click)="prepareMail(mail)">mail</mat-icon>
                  </mat-chip>
                  <input placeholder="Saisir un mail" #mailInput formControlName="mails"
                    [matChipInputFor]="chipListMails" [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
                    (matChipInputTokenEnd)="addMail($event)">
                </mat-chip-list>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Téléphones</mat-label>
                <mat-chip-list #chipListPhones>
                  <mat-chip *ngFor="let phone of tiers.phones" (removed)="removePhone(phone)">
                    {{phone.phoneNumber}}
                    <button matChipRemove *ngIf="editMode">
                      <mat-icon>cancel</mat-icon>
                    </button>
                    <mat-icon matChipRemove *ngIf="editMode==false" (click)="call(phone)">phone</mat-icon>
                  </mat-chip>
                  <input placeholder="Saisir un téléphone" #phoneInput formControlName="phones"
                    [matChipInputFor]="chipListPhones" [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
                    (matChipInputTokenEnd)="addPhone($event)">
                </mat-chip-list>
              </mat-form-field>
            </td>
            <td *ngIf="tiers.isIndividual==false">
              <!-- TODO : fill it when reponsibles done-->
              <mat-form-field class="full-width">
                <mat-label>Nombre de responsables abonnés</mat-label>
                <input matInput formControlName="responsibleSuscribersNumber"
                  placeholder="Nombre de responsables abonnés">
              </mat-form-field>
            </td>
            <td *ngIf="tiers.isIndividual==false">
              <!-- TODO : fill it when reponsibles done-->
              <mat-form-field class="full-width">
                <mat-label>Nombre de comptes web</mat-label>
                <input matInput formControlName="webAccountNumber" placeholder="Nombre de comptes web">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Consignes</mat-label>
                <textarea rows="4" matInput formControlName="instructions" [(ngModel)]="tiers.instructions"></textarea>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Observations / Informations complémentaires</mat-label>
                <textarea rows="4" matInput formControlName="observations" [(ngModel)]="tiers.observations"></textarea>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
  </form>
</div>
