<div class="mat-elevation-z2 form-div" *ngIf="tiers">
  <form [formGroup]="principalForm">
    <div class="full-width">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <table class="full-width">
          <tr>
            <td>
              <select-tiers-type [(model)]="tiers.tiersType" label="Type" [isDisabled]="!editMode"
                [form]="principalForm" propertyName="tiersType" [isMandatory]="true">
              </select-tiers-type>
            </td>
            <td>
              <generic-input [(model)]="tiers.id" label="N° client/prospect" [form]="principalForm"
                propertyName="tiersId" [isDisabled]="true"></generic-input>
            </td>
            <td *ngIf="tiers.isIndividual==false">
              <generic-input [(model)]="tiers.denomination" label="Dénomination" [form]="principalForm"
                propertyName="denomination" [isMandatory]="true" [isDisabled]="!editMode"
                [conditionnalRequired]="!tiers.isIndividual" [maxLength]="60">
              </generic-input>
            </td>
            <td>
              <generic-datepicker [(model)]="tiers.firstBilling" label="Première facturation" [form]="principalForm"
                propertyName="firstBilling" [isDisabled]="true"></generic-datepicker>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-toggle [(model)]="tiers.isIndividual" label="Particulier ?" [form]="principalForm"
                propertyName="isIndividual"></generic-toggle>
            </td>
            <td [hidden]="tiers.isIndividual==false">
              <radio-group-civility [conditionnalRequired]="tiers.isIndividual" [(model)]="tiers.civility"
                [isDisabled]="!editMode" [form]="principalForm" propertyName="civility">
              </radio-group-civility>
            </td>
            <td [hidden]="tiers.isIndividual==false">
              <generic-input [(model)]="tiers.lastname" label="Nom" [isDisabled]="!editMode" [form]="principalForm"
                propertyName="lastname" [isMandatory]="true" [conditionnalRequired]="tiers.isIndividual"
                [maxLength]="20"></generic-input>
            </td>
            <td [hidden]="tiers.isIndividual==false">
              <generic-input [(model)]="tiers.firstname" label="Prénom" [isDisabled]="!editMode" [form]="principalForm"
                propertyName="firstname" [isMandatory]="true" [conditionnalRequired]="tiers.isIndividual"
                [maxLength]="20"></generic-input>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <select-tiers-category [(model)]="tiers.tiersCategory" label="Catégorie" [form]="principalForm"
                [isDisabled]="!editMode" propertyName="tiersCategory"></select-tiers-category>
            </td>
            <td>
              <autocomplete-sales-employee [(model)]="tiers.salesEmployee" [isDisabled]="!editMode" label="Commercial"
                [form]="principalForm" propertyName="salesEmployee" [isMandatory]="true"></autocomplete-sales-employee>
            </td>
            <td>
              <autocomplete-formaliste-employee [(model)]="tiers.formalisteEmployee" [isDisabled]="!editMode"
                label="Formaliste" [isDisabled]="!editMode" [form]="principalForm" propertyName="formalisteEmployee">
              </autocomplete-formaliste-employee>
            </td>
            <td>
              <autocomplete-insertion-employee [(model)]="tiers.insertionEmployee" [isDisabled]="!editMode"
                label="Publiciste" [isDisabled]="!editMode" [form]="principalForm" propertyName="insertionEmployee">
              </autocomplete-insertion-employee>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-textarea [(model)]="tiers.mailRecipient" label="Destinataires(s) courrier" [form]="principalForm"
                propertyName="mailRecipient" (filterInput)="limitTextareaSize(3)">
              </generic-textarea>
            </td>
            <td style="vertical-align: baseline;">
              <radio-group-language [(model)]="tiers.language" [form]="principalForm" propertyName="language"
                [isDisabled]="!editMode" label="Langue de communication"></radio-group-language>
            </td>
            <td>
              <select-delivery-service [(model)]="tiers.deliveryService" label="Service de livraison"
                [form]="principalForm" propertyName="deliveryService" [isMandatory]="true" [isDisabled]="!editMode">
              </select-delivery-service>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-input [(model)]="tiers.address" [isDisabled]="!editMode" [isDisabled]="!editMode" label="Adresse"
                [form]="principalForm" propertyName="address" [isMandatory]="true" [maxLength]="60"></generic-input>
            </td>
            <td>
              <autocomplete-postal-code [(model)]="tiers.postalCode" [form]="principalForm" propertyName="postalCode"
                [isMandatory]="true" label="Code postal" [isDisabled]="!editMode" [byPassAutocompletValidator]="true"
                [conditionnalRequired]="tiers.country != null && tiers.country.id == countryFrance.id"
                (onOptionSelected)="fillCity($event)"></autocomplete-postal-code>
            </td>
            <td>
              <autocomplete-city [(model)]="tiers.city" [modelCountry]="tiers.country" [form]="principalForm"
                propertyName="city" [isMandatory]="true" [isDisabled]="!editMode" label="Ville" [isDisabled]="!editMode"
                label="Ville" (onOptionSelected)="fillPostalCode($event)">
              </autocomplete-city>
            </td>
            <td>
              <autocomplete-country [(model)]="tiers.country" [form]="principalForm" propertyName="country" label="Pays"
                [isDisabled]="!editMode" [isMandatory]="true"></autocomplete-country>
            </td>
            <td>
              <generic-input [(model)]="tiers.intercom" label="Code porte" [isDisabled]="!editMode"
                [isDisabled]="!editMode" [form]="principalForm" propertyName="intercom" [maxLength]="12">
              </generic-input>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td *ngIf="tiers.isIndividual==false">
              <generic-input [(model)]="tiers.intercommunityVat" [isDisabled]="!editMode" label="TVA intercommunaitaire"
                [form]="principalForm" propertyName="intercommunityVat" [isMandatory]="true"
                [conditionnalRequired]="tiers.isIndividual==false && tiers.tiersType && tiers.tiersType.id != prospectTiersType.id"
                [customValidators]="[checkVAT('intercommunityVat')]">
              </generic-input>
            </td>
            <td>
              <chips-special-offers [(model)]="tiers.specialOffers" [form]="principalForm" propertyName="specialOffers"
                [isDisabled]="!editMode"></chips-special-offers>
            </td>
            <td>
              <generic-input [(model)]="tiers.rffFormaliteRate" [isDisabled]="!editMode" label="Taux RCA Formalité"
                [form]="principalForm" propertyName="rcaFormaliteRate" type="number"></generic-input>
            </td>
            <td>
              <generic-input [(model)]="tiers.rffInsertionRate" [isDisabled]="!editMode" label="Taux RCA Insertion"
                [form]="principalForm" propertyName="rcaInsertionRate" type="number"></generic-input>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td *ngIf="tiers.accountingAccountProvider">
              <autocomplete-accounting-account [(model)]="tiers.accountingAccountProvider" [form]="principalForm"
                propertyName="accountingAccountProvider" [isMandatory]="false" [isDisabled]="true"
                label="Compte comptable fournisseur">
              </autocomplete-accounting-account>
            </td>
            <td *ngIf="tiers.accountingAccountCustomer">
              <autocomplete-accounting-account [(model)]="tiers.accountingAccountCustomer" [form]="principalForm"
                propertyName="accountingAccountCustomer" [isMandatory]="false" [isDisabled]="true"
                label="Compte comptable client">
              </autocomplete-accounting-account>
            </td>
            <td *ngIf="tiers.accountingAccountDeposit">
              <autocomplete-accounting-account [(model)]="tiers.accountingAccountDeposit" [form]="principalForm"
                propertyName="accountingAccountDeposit" [isMandatory]="false" [isDisabled]="true"
                label="Compte comptable d'acompte">
              </autocomplete-accounting-account>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <chips-mail [(model)]="tiers.mails" [form]="principalForm" label="Mails" propertyName="mails"
                [isDisabled]="!editMode">
              </chips-mail>
            </td>
            <td>
              <chips-phone [(model)]="tiers.phones" [form]="principalForm" propertyName="phones" label="Téléphones"
                [isDisabled]="!editMode"></chips-phone>
            </td>
            <td *ngIf="tiers.isIndividual==false">
              <!-- TODO : fill it when reponsibles done-->
              <generic-input [(model)]="tiers.responsibleSuscribersNumber" label="Nombre de responsables abonnés"
                [form]="principalForm" propertyName="responsibleSuscribersNumber" [isMandatory]="false"
                [isDisabled]="true"></generic-input>
            </td>
            <td *ngIf="tiers.isIndividual==false">
              <!-- TODO : fill it when reponsibles done-->
              <generic-input [(model)]="tiers.webAccountNumber" label="Nombre de comptes web" [form]="principalForm"
                propertyName="webAccountNumber" [isMandatory]="false" [isDisabled]="true"></generic-input>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <chips-competitor [(model)]="tiers.competitors" [form]="principalForm" propertyName="competitors"
                [isMandatory]="false" [isDisabled]="!editMode" label="Concurrents"></chips-competitor>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-textarea [(model)]="tiers.instructions" label="Consignes" [form]="principalForm"
                propertyName="instructions" [numberOfLines]="4"></generic-textarea>
            </td>
          </tr>
        </table>

        <table class="full-width">
          <tr>
            <td>
              <generic-textarea [(model)]="tiers.observations" label="Observations / Informations complémentaires"
                [form]="principalForm" propertyName="observations" [numberOfLines]="8"></generic-textarea>
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
  </form>
</div>
