<ng-template #accordionTools>
  <mat-panel-description>
    <mat-icon matTooltip="Ouvrir tous les onglets" (click)="accordion!.openAll();$event.stopPropagation();"
      class="pointer">
      unfold_more_double</mat-icon>
    <mat-icon matTooltip="Fermer tous les autres onglets" (click)="accordion!.closeAll();" class="pointer">
      unfold_less_double</mat-icon>
  </mat-panel-description>
</ng-template>

<form [formGroup]="bodaccFusionForm" *ngIf="bodaccFusion">
  <div class="mat-accordion-container full-width">
    <fieldset [disabled]="editMode==false" class="fieldset-no-border">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Société absorbante
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width"
            *ngFor="let mergedCompany of bodaccFusion.bodaccFusionMergingCompanies; let i = index ">
            <tr>
              <td>
                <generic-input [(model)]="mergedCompany.mergingCompanyDenomination" label="Dénomination"
                  [form]="bodaccFusionForm" [propertyName]="'mergingCompanyDenomination'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="60">
                </generic-input>
              </td>
              <td>
                <autocomplete-siren [(model)]="mergedCompany.mergingCompanySiren" [form]="bodaccFusionForm"
                  [propertyName]="'mergingCompanySiren'+i" [isMandatory]="true" label="SIREN" [isDisabled]="!editMode"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [byPassAutocompletValidator]="true"
                  (onOptionSelected)="fillSirenMergingCompany($event,mergedCompany)">
                </autocomplete-siren>
              </td>
              <td>
                <generic-input [(model)]="mergedCompany.mergingCompanyAddress" label="Adresse" [form]="bodaccFusionForm"
                  [propertyName]="'mergingCompanyAddress'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="100">
                </generic-input>
              </td>
              <td class="mini-fab-td"> <button *ngIf="editMode" mat-mini-fab color="warn"
                  matTooltip="Supprimer la société absorbante" class="mini-fab"
                  (click)="deleteMergedCompany(mergedCompany)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <autocomplete-legal-form [(model)]="mergedCompany.mergingCompanyLegalForm" [form]="bodaccFusionForm"
                  label="Forme juridique" [isDisabled]="!editMode" [propertyName]="'mergingCompanyLegalForm'+i"
                  [isMandatory]="true" [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen"
                  [isDisabled]="!editMode">
                </autocomplete-legal-form>
              </td>
              <td>
                <generic-input [(model)]="mergedCompany.mergingCompanyShareCapital" label="Capital social"
                  [form]="bodaccFusionForm" [propertyName]="'mergingCompanyShareCapital'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number">
                </generic-input>
              </td>
              <td>
                <generic-datepicker [(model)]="mergedCompany.mergingCompanyRcsDeclarationDate"
                  label="Date de dépôt au RCS" [form]="bodaccFusionForm"
                  [propertyName]="'mergingCompanyRcsDeclarationDate'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </generic-datepicker>
              </td>
              <td>
                <autocomplete-competent-authority [(model)]="mergedCompany.mergingCompanyRcsCompetentAuthority"
                  [form]="bodaccFusionForm" [propertyName]="'mergingCompanyRcsCompetentAuthority'+i"
                  [isMandatory]="true" label="Immatriculé au RCS"
                  [filteredCompetentAuthorityType]="competentAuthorityTypeRcs">
                </autocomplete-competent-authority>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td colspan="4">
                <button *ngIf="editMode && bodaccFusion.bodaccFusionMergingCompanies" (click)="createMergedCompany()"
                  mat-raised-button color="accent">Ajouter une société absorbante</button>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Société absorbée
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width"
            *ngFor="let absorbedCompany of bodaccFusion.bodaccFusionAbsorbedCompanies; let i = index ">
            <tr>
              <td>
                <generic-input [(model)]="absorbedCompany.absorbedCompanyDenomination" label="Dénomination"
                  [form]="bodaccFusionForm" [propertyName]="'absorbedCompanyDenomination'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="60">
                </generic-input>
              </td>
              <td>
                <autocomplete-siren [(model)]="absorbedCompany.absorbedCompanySiren" [form]="bodaccFusionForm"
                  [propertyName]="'absorbedCompanySiren'+i" [isMandatory]="true" label="SIREN" [isDisabled]="!editMode"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [byPassAutocompletValidator]="true"
                  (onOptionSelected)="fillSirenAbsorbedCompany($event,absorbedCompany)">
                </autocomplete-siren>
              </td>
              <td>
                <generic-input [(model)]="absorbedCompany.absorbedCompanyAddress" label="Adresse"
                  [form]="bodaccFusionForm" [propertyName]="'absorbedCompanyAddress'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="100">
                </generic-input>
              </td>
              <td class="mini-fab-td"> <button *ngIf="editMode" mat-mini-fab color="warn"
                  matTooltip="Supprimer la société absorbée" class="mini-fab"
                  (click)="deleteAbsorbedCompany(absorbedCompany)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <autocomplete-legal-form [(model)]="absorbedCompany.absorbedCompanyLegalForm" [form]="bodaccFusionForm"
                  label="Forme juridique" [isDisabled]="!editMode" [propertyName]="'absorbedCompanyLegalForm'+i"
                  [isMandatory]="true" [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen"
                  [isDisabled]="!editMode">
                </autocomplete-legal-form>
              </td>
              <td>
                <generic-input [(model)]="absorbedCompany.absorbedCompanyShareCapital" label="Capital social"
                  [form]="bodaccFusionForm" [propertyName]="'absorbedCompanyShareCapital'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number">
                </generic-input>
              </td>
              <td>
                <generic-datepicker [(model)]="absorbedCompany.absorbedCompanyRcsDeclarationDate"
                  label="Date de dépôt au RCS" [form]="bodaccFusionForm"
                  [propertyName]="'absorbedCompanyRcsDeclarationDate'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </generic-datepicker>
              </td>
              <td>
                <autocomplete-competent-authority [(model)]="absorbedCompany.absorbedCompanyRcsCompetentAuthority"
                  [form]="bodaccFusionForm" [propertyName]="'absorbedCompanyRcsCompetentAuthority'+i"
                  [isMandatory]="true" [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen"
                  label="Immatriculé au RCS" [filteredCompetentAuthorityType]="competentAuthorityTypeRcs">
                </autocomplete-competent-authority>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td colspan="4">
                <button *ngIf="editMode && bodaccFusion.bodaccFusionAbsorbedCompanies" (click)="createAbsorbedCompany()"
                  mat-raised-button color="accent">Ajouter une société absorbée</button>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fusion
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <generic-input [(model)]="bodaccFusion.assets" label="Actif" [form]="bodaccFusionForm"
                  propertyName="assets" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number"></generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccFusion.liabilities" label="Passif" [form]="bodaccFusionForm"
                  propertyName="liabilities" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccFusion.mergerBonus" label="Prime de fusion" [form]="bodaccFusionForm"
                  propertyName="mergerBonus" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number">
                </generic-input>
              </td>
              <td>
                <generic-datepicker [(model)]="bodaccFusion.mergingProjectDate" label="Date du projet de fusion"
                  [form]="bodaccFusionForm" propertyName="mergingProjectDate" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </generic-datepicker>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <generic-textarea [(model)]="bodaccFusion.exchangeRatioReport" label="Rapport d'échange"
                [form]="bodaccFusionForm" propertyName="exchangeRatioReport" [isMandatory]="true"
                [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                [numberOfLines]="4">
              </generic-textarea>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </fieldset>
  </div>
</form>
