<div class="mat-elevation-z2 form-div">
  <div class=" full-width">
    <table class="full-width table-fixed-layout">
      <tr>
        <td>
          <generic-input [(model)]="textSearch" label="Rechercher" [form]="affaireSearchForm" propertyName="textSearch"
            [isMandatory]="true" [isDisabled]="false" (onFormChange)="searchAffaires()"></generic-input>
        </td>
      </tr>
    </table>
    <sort-table *ngIf="textSearch && textSearch.length>=2" [actions]="tableAction" [columns]="displayedColumns"
      [displayTotalLines]="true" [values]="affaires" tableName="Affaires">
    </sort-table>
  </div>
</div>