<div>
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)" [selectedIndex]="index">
    <mat-tab label="Référentiels">
      <div class="mat-elevation-z2 form-div">
        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width" [formGroup]="referentialForm">
                <mat-label>Référentiel</mat-label>
                <input type="text" [(ngModel)]="selectedReferential" matInput formControlName="entity"
                  [matAutocomplete]="matAutocomplete">
                  <mat-autocomplete autoActiveFirstOption #matAutocomplete="matAutocomplete"
                    (optionSelected)='changeReferential()'>
                    @for (referential of filteredReferentials | async; track referential) {
                      <mat-option [value]="referential">
                        {{referential}}
                      </mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </td>
            </tr>
          </table>
          @if (selectedReferential==ACT_TYPE_REFERENTIAL) {
            <referential-act-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
            [cloneEvent]="cloneEvent.asObservable()"></referential-act-type>
          }
          @if (selectedReferential==BUILDING_DOMICILIATION_REFERENTIAL) {
            <referential-building-domiciliation
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-building-domiciliation>
          }
          @if (selectedReferential==DOMICIALIATION_CONTRACT_TYPE_REFERENTIAL) {
            <referential-domiciliation-contract-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-domiciliation-contract-type>
          }
          @if (selectedReferential==FUND_TYPE_REFERENTIAL) {
            <referential-fund-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
            [cloneEvent]="cloneEvent.asObservable()"></referential-fund-type>
          }
          @if (selectedReferential==JOURNAL_TYPE_REFERENTIAL) {
            <referential-journal-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
            [cloneEvent]="cloneEvent.asObservable()"></referential-journal-type>
          }
          @if (selectedReferential==MAIL_REDIRECTION_TYPE_REFERENTIAL) {
            <referential-mail-redirection-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-mail-redirection-type>
          }
          @if (selectedReferential==NOTICE_TYPE_FAMILY_REFERENTIAL) {
            <referential-notice-type-family
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-notice-type-family>
          }
          @if (selectedReferential==PROVISION_FAMILY_TYPE_REFERENTIAL) {
            <referential-provision-family-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-provision-family-type>
          }
          @if (selectedReferential==RECORD_TYPE_REFERENTIAL) {
            <referential-record-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-record-type>
          }
          @if (selectedReferential==TRANSFERT_FUNDS_TYPE_REFERENTIAL) {
            <referential-transfert-fund-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-transfert-fund-type>
          }
          @if (selectedReferential==BILLING_CLOSURE_RECIPIENT_TYPE_REFERENTIAL) {
            <referential-billing-closure-recipient-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-billing-closure-recipient-type>
          }
          @if (selectedReferential==BILLING_CLOSURE_TYPE_REFERENTIAL) {
            <referential-billing-closure-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-billing-closure-type>
          }
          @if (selectedReferential==BILLING_LABEL_TYPE_REFERENTIAL) {
            <referential-billing-label-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-billing-label-type>
          }
          @if (selectedReferential==PAYMENT_DEALINE_TYPE_REFERENTIAL) {
            <referential-payment-deadline-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-payment-deadline-type>
          }
          @if (selectedReferential==REFUND_TYPE_REFERENTIAL) {
            <referential-refund-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-refund-type>
          }
          @if (selectedReferential==SUBSCRIPTION_PERIOD_TYPE_REFERENTIAL) {
            <referential-subscription-period-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-subscription-period-type>
          }
          @if (selectedReferential==TIERS_CATEGORY_REFERENTIAL) {
            <referential-tiers-category
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-tiers-category>
          }
          @if (selectedReferential==TIERS_TYPE_REFERENTIAL) {
            <referential-tiers-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-tiers-type>
          }
          @if (selectedReferential==TIERS_FOLLOWUP_TYPE_REFERENTIAL) {
            <referential-tiers-followup-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-tiers-followup-type>
          }
          @if (selectedReferential==ATTACHMENT_TYPE_REFERENTIAL) {
            <referential-attachment-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-attachment-type>
          }
          @if (selectedReferential==TYPE_DOCUMENT_REFERENTIAL) {
            <referential-type-document
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-type-document>
          }
          @if (selectedReferential==CIVILITY_REFERENTIAL) {
            <referential-civility
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-civility>
          }
          @if (selectedReferential==COMPETENT_AUTHORITY_TYPE_REFERENTIAL) {
            <referential-competent-authority-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-competent-authority-type>
          }
          @if (selectedReferential==COUNTRY_REFERENTIAL) {
            <referential-country
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-country>
          }
          @if (selectedReferential==DELIVERY_SERVICE_REFERENTIAL) {
            <referential-delivery-service
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-delivery-service>
          }
          @if (selectedReferential==DOCUMENT_TYPE_REFERENTIAL) {
            <referential-document-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-document-type>
          }
          @if (selectedReferential==LANGUAGE_REFERENTIAL) {
            <referential-language
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-language>
          }
          @if (selectedReferential==LEGAL_FORM_REFERENTIAL) {
            <referential-legal-form
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-legal-form>
          }
          @if (selectedReferential==PAYMENT_TYPE_REFERENTIAL) {
            <referential-payment-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-payment-type>
          }
          @if (selectedReferential==REGIONS_REFERENTIAL) {
            <referential-region
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-region>
          }
          @if (selectedReferential==VAT_REFERENTIAL) {
            <referential-vat
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-vat>
          }
          @if (selectedReferential==WEEK_DAY_REFERENTIAL) {
            <referential-weekday
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-weekday>
          }
          @if (selectedReferential==CHARACTER_PRICE_REFERENTIAL) {
            <referential-character-price
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-character-price>
          }
          @if (selectedReferential==NOTICE_TYPE) {
            <referential-notice-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-notice-type>
          }
          @if (selectedReferential==PROVISION_TYPE_REFERENTIAL) {
            <referential-provision-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-provision-type>
          }
          @if (selectedReferential==ANNOUNCEMENT_NOTICE_TEMPLATE_REFERENTIAL) {
            <referential-announcement-notice-template
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-announcement-notice-template>
          }
          @if (selectedReferential==ANNOUNCEMENT_NOTICE_TEMPLATE_FRAGMENT_REFERENTIAL) {
            <referential-announcement-notice-template-fragment
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-announcement-notice-template-fragment>
          }
          @if (selectedReferential==BILLING_ITEM_REFERENTIAL) {
            <referential-billing-item
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-billing-item>
          }
          @if (selectedReferential==BILLING_TYPE_REFERENTIAL) {
            <referential-billing-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-billing-type>
          }
          @if (selectedReferential==CITY_REFERENTIAL) {
            <referential-city
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-city>
          }
          @if (selectedReferential==DEPARTMENT_REFERENTIAL) {
            <referential-department
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-department>
          }
          @if (selectedReferential==GIFT_REFERENTIAL) {
            <referential-gift
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-gift>
          }
          @if (selectedReferential==SPECIAL_OFFER_REFERENTIAL) {
            <referential-special-offer
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-special-offer>
          }
          @if (selectedReferential==ACCOUNTING_ACCOUNT_CLASS_REFERENTIAL) {
            <referential-accounting-account-class
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-accounting-account-class>
          }
          @if (selectedReferential==ACCOUNTING_ACCOUNT_REFERENTIAL) {
            <referential-accounting-account
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-accounting-account>
          }
          @if (selectedReferential==COMPETITOR_REFERENTIAL) {
            <referential-competitor
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-competitor>
          }
          @if (selectedReferential==VAT_COLLECTION_TYPE_REFERENTIAL) {
            <referential-vat-collection-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-vat-collection-type>
          }
          @if (selectedReferential==ACCOUNTING_JOURNAL_REFERENTIAL) {
            <referential-accounting-journal
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-accounting-journal>
          }
          @if (selectedReferential==INVOICE_STAUTS_REFERENTIAL) {
            <referential-invoice-status
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-invoice-status>
          }
          @if (selectedReferential==PRINCIPAL_ACCOUNTING_ACCOUNT_REFERENTIAL) {
            <referential-principal-accounting-account
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-principal-accounting-account>
          }
          @if (selectedReferential==CUSTOMER_ORDER_ORIGIN_REFERENTIAL) {
            <referential-customer-order-origin
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-customer-order-origin>
          }
          @if (selectedReferential==DEPARTMENT_VAT_SETTING_REFERENTIAL) {
            <referential-department-vat-setting
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-department-vat-setting>
          }
          @if (selectedReferential==QUOTATION_ABANDON_REASON_REFERENTIAL) {
            <referential-quotation-abandon-reason
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-quotation-abandon-reason>
          }
          @if (selectedReferential==RFF_FREQUENCY_REFERENTIAL) {
            <referential-rff-frequency
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-rff-frequency>
          }
          @if (selectedReferential==SERVICE_FAMILY_REFERENTIAL) {
            <referential-service-family
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-service-family>
          }
          @if (selectedReferential==SERVICE_FAMILY_GROUP_REFERENTIAL) {
            <referential-service-family-group
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-service-family-group>
          }
          @if (selectedReferential==SERVICE_TYPE_REFERENTIAL) {
            <referential-service-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-service-type>
          }
          @if (selectedReferential==CUSTOMER_ORDER_FREQUENCY_REFERENTIAL) {
            <referential-customer-order-frequency
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-customer-order-frequency>
          }
          @if (selectedReferential==ACTIVE_DIRECTORY_GROUP_REFERENTIAL) {
            <referential-active-directory-group
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-active-directory-group>
          }
          @if (selectedReferential==PAPER_SET_TYPE_REFERENTIAL) {
            <referential-paper-set-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
            [cloneEvent]="cloneEvent.asObservable()"></referential-paper-set-type>
          }
          @if (selectedReferential==SERVICE_FIELD_TYPE_REFERENTIAL) {
            <referential-service-field-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-service-field-type>
          }
          @if (selectedReferential==INDICATOR_REFERENTIAL) {
            <referential-indicator
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-indicator>
          }
          @if (selectedReferential==INDICATOR_GROUP_REFERENTIAL) {
            <referential-indicator-group
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-indicator-group>
          }
          @if (selectedReferential==INVOICING_BLOCAKGE_REFERENTIAL) {
            <referential-invoicing-blockage
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-invoicing-blockage>
          }
          @if (selectedReferential==ORDER_BLOCAKGE_REFERENTIAL) {
            <referential-order-blockage
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-order-blockage>
          }
          @if (selectedReferential==INCIDENT_RESPONSIBILITY_REFERENTIAL) {
            <referential-incident-responsibility
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-incident-responsibility>
          }
          @if (selectedReferential==INCIDENT_CAUSE_REFERENTIAL) {
            <referential-incident-cause
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-incident-cause>
          }
          @if (selectedReferential==INCIDENT_TYPE_REFERENTIAL) {
            <referential-incident-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-incident-type>
          }
          @if (selectedReferential==REPORTING_WORKING_TABLE_REFERENTIAL) {
            <referential-reporting-working-table
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-reporting-working-table>
          }
          @if (selectedReferential==REPORTING_DASHBOARD_REFERENTIAL) {
            <referential-reporting-dashboard
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-reporting-dashboard>
          }
          @if (selectedReferential==REPORTING_WIDGET_REFERENTIAL) {
            <referential-reporting-widget
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-reporting-widget>
          }
          @if (selectedReferential==DISCOVERING_ORIGIN_REFERENTIAL) {
            <referential-discovering-origin
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-discovering-origin>
          }
          @if (selectedReferential==BUSINESS_SECTOR_REFERENTIAL) {
            <referential-business-sector
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-business-sector>
          }
          @if (selectedReferential==PAY_SLIP_LINE_TYPE_REFERENTIAL) {
            <referential-pay-slip-line-type
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-pay-slip-line-type>
          }
          @if (selectedReferential==TOOLTIP_ENTRY_REFERENTIAL) {
            <referential-tooltip-entry
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-tooltip-entry>
          }
          @if (selectedReferential==REJECTION_CAUSE_REFERENTIAL) {
            <referential-rejection-cause
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
              [cloneEvent]="cloneEvent.asObservable()">
            </referential-rejection-cause>
          }
          @if (selectedReferential==TIERS_GROUP_REFERENTIAL) {
            <referential-tiers-group
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
            [cloneEvent]="cloneEvent.asObservable()"></referential-tiers-group>
          }
          @if (selectedReferential==INFORMATION_BANNER_REFERENTIAL) {
            <referential-information-banner
              (selectedEntityChange)="changeSelectedEntity($event)" [(editMode)]="editMode"
              [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"
            [cloneEvent]="cloneEvent.asObservable()"></referential-information-banner>
          }
          @if (editMode) {
            <button matTooltip="Sauvegarder" mat-fab color="warn" class="fab-button"
              (click)="saveEntity()">
              <mat-icon>save</mat-icon>
            </button>
          }
          @if (selectedEntity && !editMode) {
            <button matTooltip="Modifier l'élément" mat-fab color="accent" class="second-fab-button"
              (click)="editEntity()">
              <mat-icon>edit</mat-icon>
            </button>
          }
          @if (selectedEntity && !editMode) {
            <button matTooltip="Cloner l'élément" mat-fab color="accent" class="third-fab-button"
              (click)="cloneEntity()">
              <mat-icon>content_copy</mat-icon>
            </button>
          }
          @if (selectedReferential && !editMode) {
            <button matTooltip="Ajouter un élément" mat-fab color="accent" class="fab-button"
              (click)="createEntity()">
              <mat-icon>add</mat-icon>
            </button>
          }
        </div>
      </mat-tab>
      <mat-tab label="Constantes">
        <ng-template matTabContent>
          <constant></constant>
        </ng-template>
      </mat-tab>
      @if (canViewLogdModule()) {
        <mat-tab label="Logs">
          <log></log>
        </mat-tab>
      }
    </mat-tab-group>
  </div>