<div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Référentiels">
      <div class="mat-elevation-z2 form-div">
        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Référentiel</mat-label>
                <mat-select [(ngModel)]="selectedReferential" (selectionChange)="changeReferential()">
                  <mat-option *ngFor="let referential of referentials" [value]="referential">
                    {{referential}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <referential-act-type *ngIf="selectedReferential==ACT_TYPE_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"></referential-act-type>
        <referential-bodacc-publication-type *ngIf="selectedReferential==BODACC_PUBLICATION_TYPE_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()">
        </referential-bodacc-publication-type>
        <referential-building-domiciliation *ngIf="selectedReferential==BUILDING_DOMICILIATION_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()">
        </referential-building-domiciliation>
        <referential-domiciliation-contract-type *ngIf="selectedReferential==DOMICIALIATION_CONTRACT_TYPE_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()">
        </referential-domiciliation-contract-type>
        <referential-fund-type *ngIf="selectedReferential==FUND_TYPE_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"></referential-fund-type>
        <referential-journal-type *ngIf="selectedReferential==JOURNAL_TYPE_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()"></referential-journal-type>
        <referential-mail-redirection-type *ngIf="selectedReferential==MAIL_REDIRECTION_TYPE_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()">
        </referential-mail-redirection-type>
        <referential-notice-type-family *ngIf="selectedReferential==NOTICE_TYPE_FAMILY_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()">
        </referential-notice-type-family>
        <referential-provision-family-type *ngIf="selectedReferential==PROVISION_FAMILY_TYPE_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()">
        </referential-provision-family-type>
        <referential-quotation-label-type *ngIf="selectedReferential==QUOTATION_LABEL_TYPE_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()">
        </referential-quotation-label-type>
        <referential-quotation-status *ngIf="selectedReferential==QUOTATION_STATUS_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()">
        </referential-quotation-status>
        <referential-record-type *ngIf="selectedReferential==RECORD_TYPE_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()">
        </referential-record-type>
        <referential-transfert-fund-type *ngIf="selectedReferential==TRANSFERT_FUNDS_TYPE_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()">
        </referential-transfert-fund-type>
        <referential-billing-closure-recipient-type
          *ngIf="selectedReferential==BILLING_CLOSURE_RECIPIENT_TYPE_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()">
        </referential-billing-closure-recipient-type>
        <referential-billing-closure-type *ngIf="selectedReferential==BILLING_CLOSURE_TYPE_REFERENTIAL"
          (selectedEntityChange)="changeSelectedEntity($event)" [editMode]="editMode"
          [saveEvent]="saveEvent.asObservable()" [addEvent]="addEvent.asObservable()">
        </referential-billing-closure-type>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<button matTooltip="Sauvegarder" mat-fab color="warn" class="fab-button" *ngIf="editMode" (click)="saveEntity()">
  <mat-icon>save</mat-icon>
</button>
<button matTooltip="Modifier l'élément" mat-fab color="accent" class="second-fab-button"
  *ngIf="selectedEntity && !editMode" (click)="editEntity()">
  <mat-icon>edit</mat-icon>
</button>
<button matTooltip="Ajouter un élément" mat-fab color="accent" class="fab-button"
  *ngIf="selectedReferential && !editMode" (click)="createEntity()">
  <mat-icon>add</mat-icon>
</button>
