<mat-tab-group animationDuration="0ms" #tabs [selectedIndex]="0">
  <mat-tab label="Affaire">
    <div class="mat-elevation-z2 form-div">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <add-affaire *ngIf="affaire" [affaire]="affaire" [editMode]="editMode"></add-affaire>
      </fieldset>
    </div>
  </mat-tab>
  <mat-tab label="Devis" *ngIf="affaire && affaire.id ">
    <quotation-list class="integration-component" [quotationSearch]="quotationSearch" [isForTiersIntegration]="true">
    </quotation-list>
  </mat-tab>
  <mat-tab label="Commandes" *ngIf="affaire && affaire.id ">
    <ordering-list class="integration-component" [orderingSearch]="orderingSearch" [isForTiersIntegration]="true">
    </ordering-list>
  </mat-tab>
  <mat-tab label="Prestations" *ngIf="affaire && affaire.id">
    <provision-list class="integration-component" *ngIf="this.provisionSearch.affaire" [affaireSearch]="provisionSearch"
      [isForTiersIntegration]="true">
    </provision-list>
  </mat-tab>
  <mat-tab label="Historique" *ngIf="affaire && affaire.id">
    <history [entity]="affaire" [entityType]="AFFAIRE_ENTITY_TYPE"></history>
  </mat-tab>
</mat-tab-group>

<button matTooltip="Sauvegarder" mat-fab color="warn" class="fab-button" *ngIf="editMode==true" (click)="saveAffaire()">
  <mat-icon>save</mat-icon>
</button>
<button matTooltip="Modifier l'affaire" mat-fab color="accent" class="fab-button" *ngIf="editMode==false  "
  (click)="editAffaire()">
  <mat-icon>edit</mat-icon>
</button>