<!--form [formGroup]="formaliteForm" *ngIf="formalite && formalite.content">
  <table class="full-width">
    <tr
      *ngIf="formalite.typePersonne.code==typePersonnePersonneMorale.code && formalite.typeFormalite.code==typeFormaliteCreation.code">
      <td>
        <select-succursale-ou-filiale [(model)]="formalite.content.succursaleOuFiliale"
          label="Structure de l'entreprise" [form]="formaliteForm" propertyName="succursaleOuFiliale"
          [isMandatory]="true" [isDisabled]="!editMode"
          [conditionnalRequired]="formalite.typePersonne.code==typePersonnePersonneMorale.code">
        </select-succursale-ou-filiale>
      </td>
    </tr>
  </table>
  <table class="full-width">
    <tr>
      <td>
        <select-forme-exercice-activite-principal [(model)]="formalite.content.formeExerciceActivitePrincipale"
          label="Forme d'exercice de l'activité principale" [form]="formaliteForm"
          propertyName="formeExerciceActivitePrincipale" [isMandatory]="true" [isDisabled]="!editMode"
          [conditionnalRequired]="true"></select-forme-exercice-activite-principal>
      </td>
    </tr>
  </table>
  <table class="full-width">
    <tr *ngIf="formalite.typeFormalite && formalite.typeFormalite.code == typeFormaliteCessation.code">
      <td>
        <radio-group-nature-cessation [(model)]="formalite.content.natureCessation" label="Nature de la cessation"
          [form]="formaliteForm" propertyName="natureCessation" [isMandatory]="true" [isDisabled]="!editMode"
          [conditionnalRequired]="formalite.typeFormalite && formalite.typeFormalite.code == typeFormaliteCessation.code">
        </radio-group-nature-cessation>
      </td>
    </tr>
  </table>
  <table class="full-width">
    <tr *ngIf="formalite.typeFormalite && formalite.typeFormalite.code == typeFormaliteCessation.code">
      <td>
        <generic-input [(model)]="formalite.content.evenementCessation" label="Evènement de cessation"
          [form]="formaliteForm" propertyName="evenementCessation" [isMandatory]="true" [isDisabled]="!editMode"
          [conditionnalRequired]="formalite.typeFormalite && formalite.typeFormalite.code == typeFormaliteCessation.code"
          [maxLength]="255"></generic-input>
      </td>
    </tr>
  </table>
  <table class="full-width" dummyTable>
    <tr *ngIf="formalite.typeFormalite.code==typeFormaliteModification.code">
      <td dummyTd>
        <generic-toggle [(model)]="formalite.content.indicateurPoursuiteCessation"
          label="Poursuite de l'activité suite au décès de l'exploitant" [form]="formaliteForm"
          propertyName="indicateurPoursuiteCessation" [isDisabled]="!editMode" dummyToggle dummyComponent>
        </generic-toggle>
      </td>
    </tr>
  </table>
  <table class="full-width" dummyTable>
    <tr dummyTr>
      <td dummyTd>
        <generic-toggle [(model)]="formalite.content.indicateurActive" label="Entreprise active ?"
          [form]="formaliteForm" propertyName="indicateurActive" [isDisabled]="!editMode" dummyToggle dummyComponent>
        </generic-toggle>
      </td>
    </tr>
  </table>
  <personne-physique [formalite]="formalite" [personnePhysique]="formalite.content.personnePhysique"
    [editMode]="editMode" [isStatusOpen]="isStatusOpen" [instanceOfCustomerOrder]="instanceOfCustomerOrder"
    [provision]="provision" (provisionChange)="provisionChangeFunction()"></personne-physique>
  // TODO : move
  <table class="full-width" dummyTable>
    <tr dummyTr>
      <td dummyTd>
        <generic-input [(model)]="formalite.content.tvaIntraCommunautaire" label="N° de TVA intracommunautaire"
          [form]="formaliteForm" propertyName="tvaIntraCommunautaire" [isMandatory]="true"
          [conditionnalRequired]="formalite.content.natureCreation && formalite.content.natureCreation.societeEtrangere"
          [isDisabled]="!editMode" [customValidators]="[checkVAT('tvaIntraCommunautaire')]" [maxLength]="20" dummyInput
          dummyComponent>
        </generic-input>
      </td>
    </tr>
  </table>

  //TODO : not found for property personneMorale
  //TODO : not found for property declarant
  //TODO : not found for property piecesJointes
  //TODO : not found for property exploitation

</form-->