.custom-dropdown {
  z-index: 1000;
  width: 100%;
}

.container-custom {
  position: relative;
}

.search-result {
  background-color: white;
  position: absolute;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.search-result .list-group-item {
  transition: transform 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
  border: none;
  background-color: white;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

/* Keep pop effect on hover and ::after create a fake element (with same color bg) to hide white background left by the hover pop effect */
.search-result .list-group-item:hover {
  transform: translateY(-2px);
  background-color: #9bb6fc;
}

.search-result .list-group-item:hover::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #9bb6fc;
  z-index: -1;
}

.search-result::-webkit-scrollbar {
  width: 12px;
}

.search-result::-webkit-scrollbar-track {
  background: transparent;
  margin: 8px 0;
  border-radius: 4px;
}

.search-result::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-left: 6px solid white;
  border-right: 2px solid transparent;
}

.search-result:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

.drop-down-body {
  padding: 1rem;
  max-height: 30vh;
  overflow-y: auto;
  padding-right: 20px;
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #FFFFFFB2;
  border: 2pt solid transparent;
  border-radius: 3pt;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .2);
  border: 3pt solid transparent;
  background-clip: content-box;
}

.custom-scroll-vertical-hover::-webkit-scrollbar-thumb:vertical {
  background: #ffffffb4;
  border: none;
  border-radius: 0;
}

.custom-scroll-vertical-hover::-webkit-scrollbar-track:vertical {
  background: rgba(255, 255, 255, .2);
  border: none;
}

.custom-input-group ::ng-deep .form-control {
  color: var(--ar-blue-dark-bg) !important;
}

.seo-fallback {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
