<!--Top search -->

<section class="bg-yellow-custom">
  <div class="container py-5">
    <div class="text-center">
      <h1 class="secondary-heading">Les fiches pratiques de MyJSS</h1>
      <h3 class="secondary-heading">Quelles informations recherchez-vous ?</h3>
    </div>
    <div class="row w-100 mt-3 d-flex justify-content-between">
      <div class="col-12">
        <div class="input-group custom-input-group">
          <generic-input class="" style="flex-grow: 1;" [(model)]="searchText" label="Rechercher"
            [form]="practicalSheetsForm" propertyName="searchText" [isMandatory]="false" [isDisabled]="false"
            [isDisplayLabel]="false" (onFormChange)="searchForPosts()" [icon]="'search'"></generic-input>

          <button *ngIf="searchText" class="btn btn-link" (click)="clearSearch()">
            <i class="ai ai-x"></i>
          </button>

          <select-myjss-category [(model)]="selectedMyJssCategory" label="Catégories" [form]="practicalSheetsForm"
            propertyName="selectedMyJssCategory" [isMandatory]="false" [isDisabled]="false"></select-myjss-category>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container py-5">
  <div class="row justify-content-center mt-3">
    <div *ngIf="searchResults">
      <div class="card mb-3" *ngFor="let post of searchResults">
        <div class="row g-3">
          <div class="col-2">
            <img class="object-fit-cover rounded-5" *ngIf="post.media && post.media.urlThumbnail"
              [src]="post.media.urlThumbnail" alt="">
          </div>
          <div class="col-10 py-3">
            <a (click)="openPost(post.slug, $event)" class="btn-link stretched-link text-reset">
              <h6 class="fw-bold" [innerHTML]="post.titleText | trustHtml"></h6>
            </a>
            <a (click)="openPost(post.slug, $event)" class="btn-link stretched-link text-reset">

              <p>{{truncateChar(post.excerptText, 100)}}</p>
            </a>
            <div class="small mt-1">{{ post.date | date:'EEEE d MMMM' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Second search -->
<section class="container py-5">
  <h1 class="m-4">Guides juridiques</h1>
  <div class="row w-100 mt-3 d-flex justify-content-between ">
    <div class="col-12 ">
      <div class="input-group custom-input-group">
        <generic-input style="flex-grow: 1;" [(model)]="secondSearchText" label="Rechercher"
          [form]="practicalSheetsForm" propertyName="secondSearchText" [isMandatory]="false" [isDisabled]="false"
          [isDisplayLabel]="false" (onFormChange)="searchForSecondPosts()" [icon]="'search'"
          placeholder="Input 2"></generic-input>

        <button *ngIf="secondSearchText" class="btn btn-link" (click)="clearSecondSearch()">
          <i class="ai ai-x"></i>
        </button>
        <select-myjss-category [(model)]="selectSecondMyJssCategory" label="Catégories" [form]="practicalSheetsForm"
          propertyName="selectSecondMyJssCategory" [isMandatory]="false" [isDisabled]="false"></select-myjss-category>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!secondSearchText">
    <ng-container *ngFor="let myJssCategory of myJssCategories;">
      <ng-container *ngIf="myJssCategory.id">
        <div class="card card-custom my-3" [ngClass]="{ 'expanded-card':  isExpanded(myJssCategory.id) }">
          <div class="card-header d-flex justify-content-between ">
            <h5 class="card-title text-white">{{ myJssCategory.name }}</h5>
            <button type="button" class="btn btn-link rounded-circle custom-btn" (click)="toggleCard(myJssCategory)">
              <span class="circle-icon">
                <i [ngClass]=" isExpanded(myJssCategory.id) ? 'ai-chevron-up' : 'ai-chevron-down'" class="fs-4"></i>
              </span>
            </button>
          </div>

          <div class="card-body">
            <div class=" row">
              <div class="col-4"
                *ngFor="let post of (isExpanded(myJssCategory.id) ? postsByMyJssCategory[myJssCategory.id] :  postsByMyJssCategory[myJssCategory.id].slice(0,3))">
                <div>
                  <span class="bg-primary mt-2 me-2 checkbox-custom"></span>
                  <a class="text-decoration-none text-white" href="#" data-bs-toggle="tooltip" [title]="post.titleText"
                    data-bs-placement="top">
                    {{truncateChar(post.titleText, 30) }} </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="secondSearchText">
    <ng-container *ngFor="let myJssCategory of myJssCategories;">
      <ng-container
        *ngIf="myJssCategory.id && secondSearchResults[myJssCategory.id] && secondSearchResults[myJssCategory.id].length>0">
        <div class="card card-custom my-3 expanded-card">
          <div class="card-header d-flex justify-content-between ">
            <h5 class="card-title text-white">{{ myJssCategory.name }}</h5>
            <button type="button" class="btn btn-link rounded-circle custom-btn">
            </button>
          </div>

          <div class="card-body">
            <div class=" row">
              <div class="col-4" *ngFor="let post of secondSearchResults[myJssCategory.id]">
                <div>
                  <span class="bg-primary mt-2 me-2 checkbox-custom"></span>
                  <a class="text-decoration-none text-white" href="#" data-bs-toggle="tooltip" [title]="post.titleText"
                    data-bs-placement="top">
                    {{truncateChar(post.titleText, 30) }} </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</section>
