ul {
  cursor: pointer;
}

.container {
  width: 100%;
}

.custom-dropdown {
  position: absolute !important;
}

.custom-dropdown ul {
  max-height: 400px;
  overflow-y: auto;
}


.card-body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.card-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.card-body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.card-body::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

generic-input label .search-icon, generic-input i, generic-input svg {
  color: #576071 !important;
}

.card-body {
  padding: 1rem;
  max-height: 100px;
  overflow-y: auto;
}

.expanded-card {
  height: auto;
  max-height: 350px;
}

.toggle-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.toggle-content.expanded {
  max-height: 250px;
  overflow-y: auto;
}

.toggle-content.expanded::-webkit-scrollbar {
  width: 6px;
}

.toggle-content.expanded::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6a11cb, #2575fc);
  border-radius: 4px;
}

.toggle-content.expanded::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4a00e0, #00c6ff);
}

.toggle-content.expanded::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
}