<div class="asidebar-button d-xl-none d-flex">
    <button class="btn btn-danger btn-icon rounded-end-0" (click)="open(smallSidebar)">
        <ng-icon name="tablerAdjustmentsHorizontal" class="fs-xl" />
    </button>
</div>

<ng-template #smallSidebar let-offcanvas>
    <ngx-simplebar style="height: 100%">
        <div class="p-0 h-100">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
        </div>
    </ngx-simplebar>
</ng-template>

<div class="d-xl-block d-none asidebar border-start overflow-hidden">
    <ngx-simplebar style="height: 100%">
        <div class="p-0 h-100">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
        </div>
    </ngx-simplebar>
</div>

<!-- Content of sidebar -->
<ng-template #content>
    <div class="d-block">
        <responsable-selection />
        <!-- TODO task-widget -->
        <tasks-widget />
    </div>
</ng-template>