<ng-template #accordionTools>
  <mat-panel-description>
    <mat-icon matTooltip="Ouvrir tous les onglets" (click)="accordion!.openAll();$event.stopPropagation();"
      class="pointer">
      unfold_more_double</mat-icon>
    <mat-icon matTooltip="Fermer tous les autres onglets" (click)="accordion!.closeAll();" class="pointer">
      unfold_less_double</mat-icon>
  </mat-panel-description>
</ng-template>
<form [formGroup]="announcementForm" *ngIf=" announcement">
  <mat-tab-group animationDuration="0ms" #tabs>
    <mat-tab label="Informations générales">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <div class="form-div">
          <table class="full-width">
            <tr>
              <td>
                <autocomplete-confrere [(model)]="announcement.confrere" [form]="announcementForm"
                  propertyName="confrere" [isMandatory]="true" [isDisabled]="!editMode"
                  [filteredDepartment]="announcement.department" (onOptionSelected)="updateHeaderFree()">
                </autocomplete-confrere>
              </td>
              <td>
                <autocomplete-department [(model)]="announcement.department" [form]="announcementForm"
                  propertyName="department" [isMandatory]="true" [isDisabled]="!editMode" label="Département"
                  [isDisabled]="!editMode" (onOptionSelected)="updateCharacterPrice()"
                  [filterAvailableEntities]="announcement.confrere?announcement.confrere.departments:undefined"
                  [conditionnalRequired]=" !isStatusOpen">
                </autocomplete-department>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <generic-datepicker [(model)]="announcement.publicationDate" label="Date de publication"
                  [minDate]="getCurrentDate()" [form]="announcementForm" propertyName="publicationDate"
                  [isMandatory]="true" [conditionnalRequired]=" !isStatusOpen" [isDisabled]="!editMode"
                  (onDateChange)="updateCharacterPrice()"></generic-datepicker>
              </td>
              <td>
                <generic-toggle [(model)]="announcement.isProofReadingDocument" label="Epreuve de relecture ?"
                  [form]="announcementForm" propertyName="isProofReadingDocument"></generic-toggle>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
                <select-notice-family [(model)]="announcement.noticeTypeFamily" label="Rubrique"
                  [form]="announcementForm" propertyName="noticeTypeFamily" [isMandatory]="true"
                  (selectionChange)="clearNoticeTypeField()"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </select-notice-family>
              </td>
              <td *ngIf="announcement.noticeTypeFamily">
                <mat-form-field class="full-width">
                  <mat-label>Sous-rubrique(s)</mat-label>
                  <mat-chip-list #chipListNoticeTypes>
                    <mat-chip *ngFor="let noticeType of announcement.noticeTypes"
                      (removed)="removeNoticeType(noticeType)">
                      {{noticeType.label}}
                      <button matChipRemove *ngIf="editMode">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip>
                    <input placeholder="Saisir une sous-rubrique" #noticeTypesInput formControlName="noticeTypes"
                      [matChipInputFor]="chipListNoticeTypes" [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
                      [matAutocomplete]="autoCompleteNoticeTypes">
                  </mat-chip-list>
                  <mat-autocomplete autoActiveFirstOption #autoCompleteNoticeTypes="matAutocomplete"
                    [displayWith]="displayLabel" (optionSelected)="addNoticeType($event)">
                    <mat-option *ngFor="let noticeType of filteredNoticeTypes | async" [value]="noticeType">
                      {{noticeType.label}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class="full-width" *ngIf="announcement && announcement.id && announcement.confrere">
            <tr>
              <td>
                <generic-input [(model)]="announcement.id" label="Numéro de l'annonce" [form]="announcementForm"
                  propertyName="id" [isMandatory]="false" [isDisabled]="true">
                </generic-input>
              </td>
              <td *ngIf="announcement.actuLegaleId">
                <generic-input [(model)]="announcement.actuLegaleId" label="Identifiant ActuLegale"
                  [form]="announcementForm" propertyName="actuLegaleId" [isMandatory]="false" [isDisabled]="true">
                </generic-input>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td *ngIf="announcement.confrere && announcement.confrere.id !=confrereJssSpel.id && provision ">
                <single-attachment [entity]=" provision" [entityType]="PROVISION_ENTITY_TYPE.entityType"
                  [editMode]="editMode" [attachmentTypeToDisplay]="attachmentTypePublicationReceipt"
                  (onUploadedFile)="updateAttachments($event)">
                </single-attachment>
              </td>
              <td *ngIf="announcement.confrere && announcement.confrere.id !=confrereJssSpel.id && provision">
                <single-attachment [entity]=" provision" [entityType]="PROVISION_ENTITY_TYPE.entityType"
                  [editMode]="editMode" [attachmentTypeToDisplay]="attachmentTypePublicationFlag"
                  (onUploadedFile)="updateAttachments($event)">
                </single-attachment>
              </td>
            </tr>
          </table>
        </div>
      </fieldset>
    </mat-tab>
    <mat-tab label="Annonce">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <div class="form-div">
          <table class="full-width">
            <tr>
              <td>
                <generic-toggle [(model)]="announcement.isHeader" label="En-tête ?" [form]="announcementForm"
                  propertyName="isHeader" [isDisabled]="!editMode"></generic-toggle>
              </td>
              <td>
                <generic-toggle *ngIf="announcement.isHeader" [(model)]="announcement.isHeaderFree"
                  label="En-tête gratuit ?" [form]="announcementForm" propertyName="isHeaderFree"></generic-toggle>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <mat-label>Utiliser des modèles d'annonces</mat-label>
                  <mat-chip-list #chipListNoticeTemplates>
                    <mat-chip *ngFor="let noticeTemplate of selectedNoticeTemplates"
                      (removed)="removeNoticeTemplate(noticeTemplate)">
                      {{noticeTemplate.label}}
                      <button matChipRemove *ngIf="editMode">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip>
                    <input placeholder="Saisir un modèle d'annonce" #noticeTemplateInput
                      formControlName="noticeTemplates" [matChipInputFor]="chipListNoticeTemplates"
                      [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
                      [matAutocomplete]="autoCompleteNoticeTemplates">
                  </mat-chip-list>
                  <mat-autocomplete autoActiveFirstOption #autoCompleteNoticeTemplates="matAutocomplete"
                    [displayWith]="displayLabel" (optionSelected)="addNoticeTemplate($event)">
                    <mat-option *ngFor="let noticeTemplate of filteredNoticeTemplates | async" [value]="noticeTemplate">
                      {{noticeTemplate.label}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </td>
            </tr>
            <tr *ngIf="announcement.isHeader">
              <td>
                <p>En-tête :</p>
                <div *ngIf="!editMode">
                  <span [innerHTML]="announcement.noticeHeader | trustHtml" class="announce-container"></span>
                </div>
                <editor apiKey="tuyvqqbiskpltllm13hwnc00n4gjq5sc3gzrhlocmr75s1fw" *ngIf="editMode"
                  formControlName="noticeHeader" [disabled]="!editMode" [(ngModel)]="announcement.noticeHeader" [init]="{
     height: 500,
     menubar: false,
     entity_encoding : 'raw',
     plugins: [
       'table'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
   }"></editor>
              </td>
            </tr>
            <tr>
              <td>
                <p>Annonce :</p>
                <div *ngIf="!editMode">
                  <span [innerHTML]="announcement.notice | trustHtml" class="announce-container"></span>
                </div>
                <editor apiKey="tuyvqqbiskpltllm13hwnc00n4gjq5sc3gzrhlocmr75s1fw" *ngIf="editMode"
                  formControlName="notice" [disabled]="!editMode" [(ngModel)]="announcement.notice" [init]="{
     height: 500,
     menubar: false,
     entity_encoding : 'raw',
     plugins: [
       'table'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
   }"></editor>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td
                *ngIf="announcement.confrere!=undefined && announcement.department!=undefined && announcement.publicationDate!=undefined">
                Prix au caractère : {{characterPrice.price}} €
              </td>
              <td
                *ngIf="announcement.confrere!=undefined && announcement.department!=undefined && announcement.publicationDate!=undefined">
                Nombre de caractères : {{characterNumber}}
              </td>
              <td
                *ngIf="announcement.confrere!=undefined && announcement.department!=undefined && announcement.publicationDate!=undefined">
                Prix total : {{characterNumber*characterPrice.price | number}} €
              </td>
            </tr>
          </table>
        </div>
      </fieldset>
    </mat-tab>
    <mat-tab label="Options">
      <provision-options [editMode]="editMode" [provision]="provision" (provisionChange)="noticeChangeFunction()">
      </provision-options>
    </mat-tab>
    <mat-tab label="Débours/frais" *ngIf="instanceOfCustomerOrder && !isStatusOpen">
      <add-debour [editMode]="editMode" [(provision)]="provision" [customerOrder]="quotation">
      </add-debour>
    </mat-tab>
    <mat-tab label="Documents" *ngIf="announcement.id!=null && announcement.id!=undefined && provision">
      <attachments [entity]="provision" [editMode]="editMode" [entityType]="PROVISION_ENTITY_TYPE.entityType">
      </attachments>
    </mat-tab>
    <mat-tab label="Historique" *ngIf="announcement && announcement.id">
      <history [entity]="announcement" [entityType]="ANNOUNCEMENT_ENTITY_TYPE"></history>
    </mat-tab>
  </mat-tab-group>
</form>