<form [formGroup]="announcementForm" *ngIf=" announcement">
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)" [selectedIndex]="index">
    <mat-tab label="Informations générales">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <div class="form-div">
          <table class="full-width">
            <tr>
              <td>
                <autocomplete-department [(model)]="announcement.department" [form]="announcementForm"
                  propertyName="department" [isMandatory]="true" [isDisabled]="!editMode" label="Département"
                  [isDisabled]="!editMode" (onOptionSelected)="updateConfrereAndCharacterPrice()"
                  [filterAvailableEntities]="announcement.confrere?announcement.confrere.departments:undefined"
                  [conditionnalRequired]=" !isStatusOpen">
                </autocomplete-department>
              </td>
              <td>
                <autocomplete-confrere [(model)]="announcement.confrere" [form]="announcementForm"
                  propertyName="confrere" [isMandatory]="true" [isDisabled]="!editMode" *ngIf="announcement.department"
                  [filteredDepartment]="announcement.department" (onOptionSelected)="updateHeaderFree()"
                  [hint]="getPublicationDays(announcement.confrere)">
                </autocomplete-confrere>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <generic-datepicker [(model)]="announcement.publicationDate" label="Date de publication"
                  [minDate]="getCurrentDate()" [form]="announcementForm" propertyName="publicationDate"
                  [isMandatory]="true" [conditionnalRequired]=" !isStatusOpen" [isDisabled]="!editMode"
                  (onDateChange)="updateCharacterPrice()"></generic-datepicker>
              </td>
              <td>
                <generic-toggle [(model)]="announcement.isProofReadingDocument" label="Epreuve de relecture ?"
                  [form]="announcementForm" propertyName="isProofReadingDocument"></generic-toggle>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
                <select-notice-family [(model)]="announcement.noticeTypeFamily" label="Rubrique"
                  [form]="announcementForm" propertyName="noticeTypeFamily" [isMandatory]="true"
                  (selectionChange)="clearNoticeTypeField()"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </select-notice-family>
              </td>
              <td *ngIf="announcement.noticeTypeFamily">
                <mat-form-field class="full-width">
                  <mat-label>Sous-rubrique(s)</mat-label>
                  <mat-chip-grid #chipListNoticeTypes>
                    <mat-chip-row *ngFor="let noticeType of announcement.noticeTypes"
                      (removed)="removeNoticeType(noticeType)">
                      {{noticeType.label}}
                      <button matChipRemove *ngIf="editMode">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                    <input placeholder="Saisir une sous-rubrique" #noticeTypesInput formControlName="noticeTypes"
                      [matChipInputFor]="chipListNoticeTypes" [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
                      [matAutocomplete]="autoCompleteNoticeTypes">
                  </mat-chip-grid>
                  <mat-autocomplete autoActiveFirstOption #autoCompleteNoticeTypes="matAutocomplete"
                    [displayWith]="displayLabel" (optionSelected)="addNoticeType($event)">
                    <mat-option *ngFor="let noticeType of filteredNoticeTypes | async" [value]="noticeType">
                      {{noticeType.label}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class="full-width" *ngIf="announcement && announcement.id && announcement.confrere">
            <tr>
              <td>
                <generic-input [(model)]="announcement.id" label="Numéro de l'annonce" [form]="announcementForm"
                  propertyName="id" [isMandatory]="false" [isDisabled]="true">
                </generic-input>
              </td>
              <td *ngIf="announcement.actuLegaleId">
                <generic-input [(model)]="announcement.actuLegaleId" label="Identifiant ActuLegale"
                  [form]="announcementForm" propertyName="actuLegaleId" [isMandatory]="false" [isDisabled]="true">
                </generic-input>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td *ngIf="announcement.confrere && announcement.confrere.id !=confrereJssSpel.id && provision ">
                <single-attachment [entity]=" provision" [entityType]="PROVISION_ENTITY_TYPE.entityType"
                  [editMode]="editMode" [attachmentTypeToDisplay]="attachmentTypePublicationReceipt"
                  (onUploadedFile)="updateAttachments($event)">
                </single-attachment>
              </td>
              <td *ngIf="announcement.confrere && announcement.confrere.id !=confrereJssSpel.id && provision">
                <single-attachment [entity]=" provision" [entityType]="PROVISION_ENTITY_TYPE.entityType"
                  [editMode]="editMode" [attachmentTypeToDisplay]="attachmentTypePublicationFlag"
                  (onUploadedFile)="updateAttachments($event)">
                </single-attachment>
              </td>
            </tr>
          </table>
        </div>
      </fieldset>
    </mat-tab>
    <mat-tab label="Annonce">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <div class="form-div">
          <table class="full-width">
            <tr>
              <td>
                <generic-toggle [(model)]="announcement.isHeader" label="En-tête ?" [form]="announcementForm"
                  propertyName="isHeader" [isDisabled]="!editMode"></generic-toggle>
              </td>
              <td>
                <generic-toggle *ngIf="announcement.isHeader" [(model)]="announcement.isHeaderFree"
                  label="En-tête gratuit ?" [form]="announcementForm" propertyName="isHeaderFree"></generic-toggle>
              </td>
              <td>
                <generic-toggle [(model)]="announcement.isComplexAnnouncement" label="Annonce complexe ?"
                  [form]="announcementForm" propertyName="isComplexAnnouncement"></generic-toggle>
              </td>
            </tr>
          </table>
          <table class="full-width" *ngIf="!announcement.isComplexAnnouncement">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <mat-label>Utiliser des modèles d'annonces</mat-label>
                  <mat-chip-grid #chipListNoticeTemplates>
                    <mat-chip-row *ngFor="let noticeTemplate of selectedNoticeTemplates"
                      (removed)="removeNoticeTemplate(noticeTemplate)">
                      {{noticeTemplate.label}}
                      <button matChipRemove *ngIf="editMode">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                    <input placeholder="Saisir un modèle d'annonce" #noticeTemplateInput
                      formControlName="noticeTemplates" [matChipInputFor]="chipListNoticeTemplates"
                      [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
                      [matAutocomplete]="autoCompleteNoticeTemplates">
                  </mat-chip-grid>
                  <mat-autocomplete autoActiveFirstOption #autoCompleteNoticeTemplates="matAutocomplete"
                    [displayWith]="displayLabel" (optionSelected)="addNoticeTemplate($event)">
                    <mat-option *ngFor="let noticeTemplate of filteredNoticeTemplates | async" [value]="noticeTemplate">
                      {{noticeTemplate.label}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </td>
            </tr>
            <tr *ngIf="announcement.isHeader">
              <td>
                <p>En-tête :</p>
                <div *ngIf="!editMode">
                  <span [innerHTML]="announcement.noticeHeader | trustHtml" class="announce-container"></span>
                </div>
                <editor apiKey="8ejtvpvdytkf17catd32ulsbawbrf0ky7xdnb9935it046jq" *ngIf="editMode"
                  formControlName="noticeHeader" [disabled]="!editMode" [(ngModel)]="announcement.noticeHeader" [init]="{
                    height: 500,
                    menubar: true,
                    entity_encoding : 'raw',
                    language: 'fr_FR',
                    plugins: [
                      'table','fullscreen', 'lists', 'advlist'
                    ],
                    font_formats:'Andale Mono=andale mono,times; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Book Antiqua=book antiqua,palatino;Calibri=Calibri;  Comic Sans MS=comic sans ms,sans-serif; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Symbol=symbol; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats',
                    toolbar:
                    'undo redo | styleselect  | fontselect  | fontsize | bold italic underline forecolor backcolor | \
                    alignleft aligncenter alignright alignjustify | numlist bullist | \
                    bullist numlist outdent indent | removeformat | fullscreen |  table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol'
                  }"></editor>
              </td>
            </tr>
            <tr>
              <td>
                <div *ngIf="!editMode">
                  <span [innerHTML]="announcement.notice | trustHtml" class="announce-container"></span>
                </div>
                <editor apiKey="8ejtvpvdytkf17catd32ulsbawbrf0ky7xdnb9935it046jq" *ngIf="editMode"
                  formControlName="notice" [disabled]="!editMode" [(ngModel)]="announcement.notice" [init]="{
     height: 500,
     menubar: true,
     entity_encoding : 'raw',
     language: 'fr_FR',
     plugins: [
       'table','fullscreen', 'lists', 'advlist'
     ],
     font_formats:'Andale Mono=andale mono,times; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Book Antiqua=book antiqua,palatino;Calibri=Calibri;  Comic Sans MS=comic sans ms,sans-serif; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Symbol=symbol; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats',
     toolbar:
     'undo redo | styleselect  | fontselect  | fontsize | bold italic underline forecolor backcolor | \
     alignleft aligncenter alignright alignjustify | numlist bullist | \
     bullist numlist outdent indent | removeformat | fullscreen |  table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol'
   }"></editor>
              </td>
            </tr>
          </table>
          <table class="full-width" *ngIf="announcement.isComplexAnnouncement">
            <tr *ngIf="announcement.id">
              <td>
                <single-attachment [entity]="provision!" [entityType]="PROVISION_ENTITY_TYPE.entityType"
                  [editMode]="editMode" [attachmentTypeToDisplay]="attachmentTypeComplexAnnouncement"
                  [forcedFileExtension]="'pdf'" (onUploadedFile)="updateAttachments($event)">
                </single-attachment>
              </td>
            </tr>
            <tr *ngIf="editMode && announcement.id">
              <td>
                <p>Ajoutez ici le PDF de l'annonce à publier.</p>
                <p class="color-warn">Attention à bien laisser un en-tête de 5 cm sur la première page.</p>
                <p>Le nombre de caractères et le prix seront calculés à l'enregistrement</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Enregistrez une première fois l'annonce avant de pouvoir ajouter le PDF</p>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td
                *ngIf="announcement.confrere!=undefined && announcement.department!=undefined && announcement.publicationDate!=undefined">
                Prix au caractère : {{characterPrice.price}} €
              </td>
              <td
                *ngIf="announcement.confrere!=undefined && announcement.department!=undefined && announcement.publicationDate!=undefined">
                Nombre de caractères : {{characterNumber}}
              </td>
              <td
                *ngIf="announcement.confrere!=undefined && announcement.department!=undefined && announcement.publicationDate!=undefined">
                Prix total : {{characterNumber*characterPrice.price | number}} €
              </td>
            </tr>
          </table>
          <div *ngIf="!announcement.isComplexAnnouncement">
            <p>Liste des mots-clés disponibles :</p>
            <ul>
              <li>&#123;prenom&#125;</li>
              <li>&#123;nom&#125;</li>
              <li>&#123;civilite&#125;</li>
              <li>&#123;adresse&#125;</li>
              <li>&#123;denomination&#125;</li>
              <li>&#123;sigle&#125;</li>
              <li>&#123;ville&#125;</li>
              <li>&#123;codePostal&#125;</li>
              <li>&#123;activitePrincipale&#125;</li>
              <li>&#123;capitalSocial&#125;</li>
              <li>&#123;formeJuridique&#125;</li>
              <li>&#123;autoriteCompetenteDenomination&#125;</li>
              <li>&#123;autoriteCompetenteVille&#125;</li>
              <li>&#123;siren&#125;</li>
              <li>&#123;siret&#125;</li>
              <li>&#123;rna&#125;</li>
            </ul>
          </div>
        </div>
      </fieldset>
    </mat-tab>
    <mat-tab label="Options">
      <provision-options [editMode]="editMode" [provision]="provision" (provisionChange)="noticeChangeFunction()">
      </provision-options>
    </mat-tab>
    <mat-tab label="Documents" *ngIf="announcement.id!=null && announcement.id!=undefined && provision">
      <attachments [entity]="provision" [editMode]="editMode" [entityType]="PROVISION_ENTITY_TYPE.entityType">
      </attachments>
    </mat-tab>
    <mat-tab label="Paiements & factures"
      *ngIf="announcement.id && provision && quotation &&  instanceOfCustomerOrderFn(quotation)">
      <provision-payment [editMode]="editMode" [provision]="provision" [quotation]="quotation">
      </provision-payment>
    </mat-tab>
    <mat-tab label="Historique" *ngIf="announcement && announcement.id">
      <ng-template matTabContent>
        <history [entity]="announcement" [entityType]="ANNOUNCEMENT_ENTITY_TYPE" [parseTypeList]="announcementStatus">
        </history>
      </ng-template>
    </mat-tab>
    <mat-tab label="Historique (prestation)" *ngIf="provision && provision.id">
      <ng-template matTabContent>
        <history [entity]="provision" [entityType]="PROVISION_ENTITY_TYPE"></history>
      </ng-template>
    </mat-tab>
    <mat-tab label="Débours" *ngIf=" announcement && announcement.id && canAddNewInvoice()">
      <ng-template matTabContent>
        <debour [provision]="provision"></debour>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</form>