<div class="field-row" *ngIf="provision">
  <div class="label pointer" style="width: 100%;"
    (click)="assoAffaireOrder?displayProvision($event, assoAffaireOrder, provision):''">
    <strong>{{provision.provisionFamilyType.label}} -
      {{provision.provisionType.label}}</strong>
  </div>
</div>

<ng-container *ngIf="provision && provision.announcement">
  <div class="field-row" *ngIf="displayStatus">
    <div class="label">Status</div>
    <div class="value">
      {{provision.announcement.announcementStatus.label}}
    </div>
  </div>
  <div class="field-row" *ngIf="provision.announcement.confrere">
    <div class="label">Confrère</div>
    <div class="value">
      {{provision.announcement.confrere.label}}
    </div>
  </div>
  <div class="field-row" *ngIf="provision.announcement.department">
    <div class="label">Département</div>
    <div class="value">
      {{provision.announcement.department.code}}
    </div>
  </div>
  <div class="field-row" *ngIf="provision.announcement.noticeTypeFamily">
    <div class="label">Rubrique</div>
    <div class="value">
      {{provision.announcement.noticeTypeFamily.label}} - {{(provision.announcement.noticeTypes &&
      provision.announcement.noticeTypes[0])?provision.announcement.noticeTypes[0].label:''}}
    </div>
  </div>
  <div class="field-row" *ngIf="provision.announcement.publicationDate">
    <div class="label">Date de publication</div>
    <div class="value">
      {{provision.announcement.publicationDate | date:'EEEE d MMMM HH:mm'}}
    </div>
  </div>
  <div class="field-row" *ngIf="provision.announcement.characterNumber">
    <div class="label">Nombre de caractères</div>
    <div class="value">
      {{provision.announcement.characterNumber}}
    </div>
  </div>
</ng-container>
<ng-container *ngIf="provision && provision.simpleProvision">
  <div class="field-row" *ngIf="displayStatus">
    <div class="label">Status</div>
    <div class="value">
      {{provision.simpleProvision.simpleProvisionStatus.label}}
    </div>
  </div>
  <div class="field-row"
    *ngIf="provision.simpleProvision.waitedCompetentAuthority && provision.simpleProvision.simpleProvisionStatus.code==SIMPLE_PROVISION_STATUS_WAITING_DOCUMENT_AUTHORITY">
    <div class="label">AC en attente</div>
    <div class="value">
      {{provision.simpleProvision.waitedCompetentAuthority.label}}
    </div>
  </div>
</ng-container>
<ng-container *ngIf="provision && provision.formalite">
  <div class="field-row" *ngIf="displayStatus">
    <div class="label">Status</div>
    <div class="value">
      {{provision.formalite.formaliteStatus.label}}
    </div>
  </div>
  <div class="field-row"
    *ngIf="provision.formalite.waitedCompetentAuthority && provision.formalite.formaliteStatus.code==FORMALITE_STATUS_WAITING_DOCUMENT_AUTHORITY">
    <div class="label">AC en attente</div>
    <div class="value">
      {{provision.formalite.waitedCompetentAuthority.label}}
    </div>
  </div>
  <ng-container
    *ngIf="provision.formalite.formalitesGuichetUnique && provision.formalite.formalitesGuichetUnique.length>0">
    <div class="field-row" *ngFor="let formaliteGu of provision.formalite.formalitesGuichetUnique">
      <div class="label pointer" (click)="openFormaliteGu(formaliteGu)">Liasse {{formaliteGu.liasseNumber}}</div>
      <div class="value">
        {{formaliteGu.status.label}}
      </div>
    </div>
  </ng-container>
</ng-container>
