<div>
  <div class="text-center">
    <h1>
      Nos clients
    </h1>
    <p>Plus de 2 000 professionnels simplifient leurs démarches juridiques en ligne grâce à MYJSS.</p>
  </div>

  <swiper-container #ourClientsSwiper1 init="false">
    <ng-container *ngFor="let item of [].constructor(20); let i = index">
      <swiper-slide *ngIf="i%2==0" class="pb-3">
        <div>
          <img class="card p-2 rounded-2" [src]="'assets/img/logos/logo'+ i +'.svg'" />
        </div>
      </swiper-slide>
    </ng-container>
  </swiper-container>
  <swiper-container #ourClientsSwiper2 init="false">
    <ng-container *ngFor="let item of [].constructor(20); let i = index">
      <swiper-slide *ngIf="i%2==1" class="pb-3">
        <div>
          <img class="card p-2 rounded-2" [src]="'assets/img/logos/logo'+ i +'.svg'" />
        </div>
      </swiper-slide>
    </ng-container>
  </swiper-container>
</div>
