<div class=" form-div mat-elevation-z2">
  <div class=" full-width">
    <table class="full-width table-fixed-layout" *ngIf=" paymentSearch">
      <tr>
        <td>
          <generic-input [(model)]="paymentSearch.minAmount" label="Montant minimum" [form]="ofxMatchForm"
            propertyName="minAmount" [isMandatory]="false" [isDisabled]="false" type="number"></generic-input>
        </td>
        <td>
          <generic-input [(model)]="paymentSearch.maxAmount" label="Montant maximum" [form]="ofxMatchForm"
            propertyName="maxAmount" [isMandatory]="false" [isDisabled]="false" type="number"></generic-input>
        </td>
        <td>
          <generic-input [(model)]="paymentSearch.label" label="Contenu du libellé" [form]="ofxMatchForm"
            propertyName="label" [isMandatory]="false" [isDisabled]="false"></generic-input>
        </td>
        <td>
          <generic-datepicker [(model)]="paymentSearch.startDate" label="Date de début" [form]="ofxMatchForm"
            propertyName="startDate" [isMandatory]="false" [isDisabled]="false"></generic-datepicker>
        </td>
        <td>
          <generic-datepicker [(model)]="paymentSearch.endDate" label="Date de fin" [form]="ofxMatchForm"
            propertyName="endDate" [isMandatory]="false" [isDisabled]="false"></generic-datepicker>
        </td>
        <td class="fab-td-button">
          <button mat-mini-fab color="warn" matTooltip="Rechercher" (click)="searchPayments()" class="add-button">
            <mat-icon>search</mat-icon>
          </button>
        </td>
      </tr>
    </table>
    <sort-table [actions]="tableAction" [columns]="displayedColumns" [values]="payments" tableName="Rapprochement OFX"
      *ngIf="displayedColumns && displayedColumns.length>0 && payments" [displayTotalLines]="true">
    </sort-table>
  </div>
</div>