<h3 *ngIf="customerOrder.deposits && customerOrder.deposits.length>0">Acomptes associés :</h3>
<table class="total-table mat-table full-width">
  <tr class="mat-row" *ngFor="let deposit of customerOrder.deposits">
    <td class="mat-cell">
      Acompte n°{{deposit.id}}
    </td>
    <td class="td-price mat-cell">
      {{deposit.depositAmount|number}} €
    </td>
  </tr>
</table>
<div *ngIf="customerOrder.customerOrderStatus.code!=CUSTOMER_ORDER_STATUS_BILLED">
  <div class="advise" *ngIf="advisedPayment && advisedPayment.length>0">
    <h3>Paiements conseillés par Osiris :</h3>
    <sort-table [actions]="tableAction" [columns]="displayedColumns" [values]="advisedPayment"
      tableName="Paiements conseillés">
    </sort-table>
  </div>
  <div class=" advise">
    <h3>Autres paiements :</h3>
    <payment-list [overrideIconAction]="'merge_type'" [overrideTooltipAction]="'Associer le paiement'"
      (actionBypass)="openAssociationDialog($event)"></payment-list>
  </div>
</div>
