mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

mat-drawer-container {
  height: 100%;
}

main {
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
}

.notes-table {
  position: fixed;
  bottom: 10px;
  left: 5px;
  z-index: 999999 !important;
}

.mat-header-row>th {
  text-align: left !important;
  padding-left: 7px !important;
}

.small-icon {
  transform: scale(0.60);
  position: relative;
  top: 2px;
}

.first-mat-icon {
  left: -5px;
}

.second-mat-icon {
  left: -7px;
}

.mat-header-cell-actions {
  padding: 0 !important;
  width: 75px
}

.note-link>.small-icon {
  top: 7px;
}

.drag-cursor {
  cursor: grab;
}
