<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>OSIRIS</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href='../assets/images/jss_icon.png' />
</head>

<body class="mat-body">
  <ng-progress #progressBar></ng-progress>
  <mat-drawer-container autosize *ngIf="loggedIn">
    <mat-drawer #sidenav [opened]="sidenavOpenState" mode="side">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-drawer>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <table *ngIf="userNotes && userNotes.length>0"
      class="mat-table mat-mdc-table mdc-data-table__table notes-table min-widht-table" cdkDrag
      [cdkDragFreeDragPosition]="currentUserNotePosition" (cdkDragEnded)="dropNoteTable($event)">
      <thead>
        <tr class="mat-mdc-header-row mdc-data-table__header-row    drag-cursor" cdkDragHandle>
          <th colspan="3" class="mat-mdc-header-cell mdc-data-table__header-cell icon-row-th ">
            <mat-icon color="accent" (click)="restoreDefaultNoteTablePosition()"
              class="pointer first-mat-icon small-icon" matTooltip="Restaurer la position initiale"
              matTooltipShowDelay="1000">location_on</mat-icon>
          </th>
        </tr>
      </thead>
    </table>
  </mat-drawer-container>
</body>

</html>
