<h1 mat-dialog-title>Choix des types de service</h1>
<div mat-dialog-content>
  <p>Choisissez les types de service ci-dessous :</p>
  <table class="full-width" *ngIf="affaire">
    <tr>
      <td>
        <chips-service-type [(model)]="selectedServiceTypes" label="Type de service" [form]="serviceTypeForm"
          propertyName="selectedServiceType" [isMandatory]="true" [isDisabled]="false"
          [isDisplayOnlyServiceForUnregisteredAffaire]="affaire.isUnregistered"></chips-service-type>
      </td>
    </tr>
    <tr *ngIf="!isJustSelectServiceType">
      <td>
        <generic-input [(model)]="customLabel" label="Libellé personnalisé" [form]="serviceTypeForm"
          propertyName="customLabel" [isMandatory]="false" [maxLength]="2000"></generic-input>
      </td>
    </tr>
    <tr *ngIf="!isJustSelectServiceType">
      <td>
        <generic-textarea [(model)]="customerComment" label="Commentaire client" [form]="serviceTypeForm"
          propertyName="customerComment" [isMandatory]="false" [isDisabled]="false"></generic-textarea>
      </td>
    </tr>
  </table>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="closeDialog()">Annuler</button>
  <button mat-raised-button color="warn" (click)="generateService()" *ngIf="!isJustSelectServiceType">Valider</button>
  <button mat-raised-button color="warn" (click)="chooseService()" *ngIf="isJustSelectServiceType">Valider</button>
</div>
