<mat-form-field class="full-width" [formGroup]="form!">
  <mat-label>{{label}}</mat-label>
  <mat-chip-grid #chipListConfrere>
    <mat-chip-row *ngFor="let confrere of model" (removed)="removeElement(confrere)">
      {{confrere.label}}
      <button matChipRemove *ngIf="!isDisabled">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input matInput placeholder="Choisir un confrère" [formControlName]="propertyName" #confrereInput
      [matChipInputFor]="chipListConfrere" [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES" [disabled]="isDisabled"
      [matAutocomplete]="autoComplete">
    <button *ngIf="!isDisabled" matSuffix mat-icon-button (click)="openConfrereDialog()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-chip-grid>
  <mat-autocomplete autoActiveFirstOption #autoComplete="matAutocomplete" [displayWith]="displayLabel"
    (optionSelected)="addConfrere($event)">
    <mat-option *ngFor="let confrere of filteredConfreres " [value]="confrere">
      {{confrere.label}} - {{confrere.journalType.label}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
