<!-- Newsletter subscription -->
<section class="container">
  <div class="container newsletter my-2 my-md-3 my-xl-4 pb-2 rounded-5 overflow-hidden p-md-5 p-4">
    <div class="row justify-content-center gy-md-5 gy-4 gx-xl-5 p-4">
      <h2 class="h1 text-center">Pour ne rien rater de nos prochains articles,
        inscrivez-vous à notre newsletter</h2>
    </div>
    <div class="row justify-content-center mb-4 mb-md-2 gy-md-5 gy-4 gx-xl-5">
      <div class="col-lg-6 mt-2 mt-sm-4">
        <div class="input-group">
          <label class="form-label fs-base" for="email"></label>
          <input class="form-control " type="email" placeholder="E-mail" [(ngModel)]="mail" required id="email">
          <button class="btn btn-secondary" type="button" (click)="registerEmail(mail)">S'inscrire</button>
        </div>
      </div>
    </div>
  </div>
</section>