<form [formGroup]="adressingForm" *ngIf="document">
  <table class="full-width" *ngIf="document">
    <tr>
      <td *ngIf="displayConsignee">
        <h4>Destinataire(s)</h4>
        <generic-checkbox [(model)]="document.isRecipientAffaire" label="Affaire" [form]="adressingForm"
          (onFormChange)="changeDocument()" propertyName="isRecipientAffaire"></generic-checkbox>
        <generic-checkbox [(model)]="document.isRecipientClient" label="Client" [form]="adressingForm"
          (onFormChange)="changeDocument()" propertyName="isRecipientClient"></generic-checkbox>
      </td>
      <td>
        <button matTooltip="Modifier les adresses postales par défaut" *ngIf="editMode && displayOverrideMail"
          (click)="changeDocument()" mat-icon-button color="accent"
          (click)="overrideAffaireAddress=true;overrideClientAddress=true">
          <mat-icon>edit</mat-icon>
        </button>

        <button matTooltip="Modifier les adresses mail par défaut" *ngIf="editMode && displayOverrideEMail"
          (click)="changeDocument()" mat-icon-button color="accent"
          (click)="overrideAffaireMail=true;overrideClientMail=true">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
      <td *ngIf="document.isRecipientAffaire && displayNumberMailing">
        <generic-input [(model)]="document.numberMailingAffaire" label="Nombre d'exemplaire Affaire"
          (onFormChange)="changeDocument()" [form]="adressingForm" propertyName="numberMailingAffaire"
          [isDisabled]="!editMode" type="number">
        </generic-input>
      </td>
      <td *ngIf="document.isRecipientClient && displayNumberMailing">
        <generic-input [(model)]="document.numberMailingClient" label="Nombre d'exemplaire Client"
          (onFormChange)="changeDocument()" [form]="adressingForm" propertyName="numberMailingClient"
          [isDisabled]="!editMode" type="number">
        </generic-input>
      </td>
    </tr>
    <tr *ngIf=" document.isRecipientAffaire && overrideAffaireAddress">
      <td>
        <generic-textarea [(model)]="document.affaireRecipient" label="Autres destinataires pour l'affaire"
          (onFormChange)="changeDocument()" [form]="adressingForm" propertyName="affaireRecipient"
          [isDisabled]="!editMode" [maxLength]="100" (filterInput)="limitTextareaSizeAffaire(3)">
        </generic-textarea>
      </td>
      <td colspan="2">
        <generic-input [(model)]="document.affaireAddress" label="Autres adresses pour l'affaire" [form]="adressingForm"
          propertyName="affaireAddress" [isDisabled]="!editMode" (onFormChange)="changeDocument()"
          [maxLength]="100"></generic-input>
      </td>
      <td [hidden]="!editMode" align="end"><button mat-icon-button color="accent"
          (click)="overrideAffaireAddress=false ; document.affaireRecipient='' ; document.affaireAddress='';changeDocument()">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </tr>
    <tr *ngIf="document.isRecipientAffaire && overrideAffaireMail">
      <td colspan="2" class="full-width">
        <chips-mail [(model)]="document.mailsAffaire" [form]="adressingForm" propertyName="mailsAffaire"
          (onFormChange)="changeDocument()" label="Autres adresses mail pour l'affaire"
          [isDisabled]="!editMode"></chips-mail>
      </td>
      <td>
        <generic-toggle [(model)]="document.addToAffaireMailList" label="Ajouter à la liste courante de mails ?"
          [form]="adressingForm" propertyName="addToAffaireMailList" (onFormChange)="changeDocument()"></generic-toggle>
      </td>
      <td [hidden]="!editMode" align="end">
        <button mat-icon-button color="accent"
          (click)="overrideAffaireMail=false ; removeAllMailAffaire(document);changeDocument()">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </tr>
    <tr *ngIf="document.isRecipientClient && overrideClientAddress">
      <td>
        <generic-textarea [(model)]="document.clientRecipient" label="Autres destinataires pour le client"
          (onFormChange)="changeDocument()" [form]="adressingForm" propertyName="clientRecipient"
          [isDisabled]="!editMode" [maxLength]="200" (filterInput)="limitTextareaSizeClient(3)">
        </generic-textarea>
      </td>
      <td colspan="2">
        <generic-input [(model)]="document.clientAddress" label="Autres adresses pour le client" [form]="adressingForm"
          propertyName="clientAddress" [isDisabled]="!editMode" (onFormChange)="changeDocument()"
          [maxLength]="100"></generic-input>
      </td>
      <td [hidden]="  !editMode" align="end"><button mat-icon-button color="accent"
          (click)="overrideClientAddress=false ; document.clientAddress='' ; document.clientRecipient='';changeDocument()">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </tr>
    <tr *ngIf="document.isRecipientClient && overrideClientMail">
      <td [hidden]="!overrideClientMail " colspan="2" class="full-width">
        <chips-mail [(model)]="document.mailsClient" [form]="adressingForm" propertyName="mailsClient"
          (onFormChange)="changeDocument()" label="Autres adresses mail pour le client"
          [isDisabled]="!editMode"></chips-mail>
      </td>
      <td>
        <generic-toggle [(model)]="document.addToClientMailList" label="Ajouter à la liste courante de mails ?"
          (onFormChange)="changeDocument()" [form]="adressingForm" propertyName="addToClientMailList"></generic-toggle>
      </td>
      <td [hidden]="!editMode" align="end">
        <button mat-icon-button color="accent"
          (click)="overrideClientMail=false ;removeAllMailClient(document);changeDocument()">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</form>