<!-- =======================
Inner intro START -->
<section class="pt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bg-success bg-opacity-10 text-center rounded-3 p-4">
          <h1 class="text-success">Dossiers et séries</h1>
          <nav class="d-flex justify-content-center" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dots mb-0">
              <li class="breadcrumb-item"><a href="/"><i class="bi bi-house me-1"></i> Accueil</a></li>
              <li class="breadcrumb-item active">Dossiers et séries</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main content START -->
<section class="position-relative pt-0" *ngIf="series">
  <div class="container">
    <div class="row">
      <!-- Card item START -->
      <div class="col-sm-6 col-lg-3" *ngFor="let serie of series">
        <div class="card mb-4">
          <!-- Card img -->
          <div class="card-fold position-relative">
            <img class="card-img" [src]="serie.picture.urlMedium" alt="Card image">
          </div>
          <div class="card-body px-0 pt-3">
            <h4 class="card-title"><a style="cursor: pointer;" (click)="openSeriePosts(serie, $event)"
                class="btn-link text-reset stretched-link fw-bold" [innerHTML]="serie.titleText| trustHtml"></a></h4>
            <!-- Card info -->
            <ul class="nav nav-divider align-items-center text-uppercase small">
              <li class="nav-item">
                <a href="#" class="nav-link text-reset btn-link" [innerHTML]="serie.excerptText| trustHtml"></a>
              </li>
              <li class="nav-item">{{serie.count}} article{{serie.count>1?'s':''}}</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Card item END -->
    </div> <!-- Row end -->
  </div>
</section>
<!-- =======================
Main content END -->