<ng-template #accordionTools>
  <mat-panel-description>
    <mat-icon matTooltip="Ouvrir tous les onglets" (click)="accordion!.openAll();$event.stopPropagation();"
      class="pointer">
      unfold_more_double</mat-icon>
    <mat-icon matTooltip="Fermer tous les autres onglets" (click)="accordion!.closeAll();" class="pointer">
      unfold_less_double</mat-icon>
  </mat-panel-description>
</ng-template>
<form [formGroup]="shalForm" *ngIf=" shal">
  <mat-tab-group animationDuration="0ms" #tabs>
    <mat-tab label="SHAL">
      <div class="form-div">
        <table class="full-width">
          <tr>
            <td>
              <autocomplete-confrere [(model)]="shal.confrere" [form]="shalForm" propertyName="confrere"
                [isMandatory]="true" [isDisabled]="!editMode" (onOptionSelected)="updateHeaderFree()">
              </autocomplete-confrere>
            </td>
            <td *ngIf="shal.confrere!=null && shal.confrere!=undefined">
              <autocomplete-department [(model)]="shal.department" [form]="shalForm" propertyName="department"
                [isMandatory]="true" [isDisabled]="!editMode" (onOptionSelected)="updateCharacterPrice()"
                [conditionnalRequired]=" !isStatusOpen">
              </autocomplete-department>
            </td>
          </tr>
        </table>
        <table class="full-width" *ngIf="shal.confrere!=null && shal.confrere!=undefined">
          <tr>
            <td>
              <generic-datepicker [(model)]="shal.publicationDate" label="Date de publication"
                [minDate]="getCurrentDate()" [form]="shalForm" propertyName="publicationDate" [isMandatory]="true"
                [conditionnalRequired]=" !isStatusOpen" [isDisabled]="!editMode"
                (onDateChange)="updateCharacterPrice()"></generic-datepicker>
            </td>
            <td>
              <generic-toggle [(model)]="shal.isRedactedByJss" label="Rédigé par le JSS ?" [form]="shalForm"
                propertyName="isRedactedByJss"></generic-toggle>
            </td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Annonce">
      <div class="form-div">
        <table class="full-width">
          <tr>
            <td>
              <generic-toggle [(model)]="shal.isHeader" label="En-tête ?" [form]="shalForm" propertyName="isHeader">
              </generic-toggle>
            </td>
            <td>
              <generic-toggle *ngIf="shal.isHeader" [(model)]="shal.isHeaderFree" label="En-tête gratuit ?"
                [form]="shalForm" propertyName="isHeader"></generic-toggle>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Utiliser des modèles d'annonces</mat-label>
                <mat-chip-list #chipListNoticeTemplates>
                  <mat-chip *ngFor="let noticeTemplate of selectedNoticeTemplates"
                    (removed)="removeNoticeTemplate(noticeTemplate)">
                    {{noticeTemplate.label}}
                    <button matChipRemove *ngIf="editMode">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="Saisir un modèle d'annonce" #noticeTemplateInput formControlName="noticeTemplates"
                    [matChipInputFor]="chipListNoticeTemplates" [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
                    [matAutocomplete]="autoCompleteNoticeTemplates">
                </mat-chip-list>
                <mat-autocomplete autoActiveFirstOption #autoCompleteNoticeTemplates="matAutocomplete"
                  [displayWith]="displayLabel" (optionSelected)="addNoticeTemplate($event)">
                  <mat-option *ngFor="let noticeTemplate of filteredNoticeTemplates | async" [value]="noticeTemplate">
                    {{noticeTemplate.label}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
          </tr>
          <tr *ngIf="shal.isHeader">
            <td>
              <p>En-tête :</p>
              <div *ngIf="!editMode">
                <span [innerHTML]="shal.noticeHeader | trustHtml"></span>
              </div>
              <quill-editor [hidden]="!editMode" formControlName="noticeHeader"
                (onContentChanged)="setNoticeHeaderModel($event)">
              </quill-editor>
            </td>
          </tr>
          <tr>
            <td>
              <p>Annonce :</p>
              <div *ngIf="!editMode">
                <span [innerHTML]="shal.notice | trustHtml"></span>
              </div>
              <quill-editor [hidden]="!editMode" formControlName="notice" (onContentChanged)="setNoticeModel($event)">
              </quill-editor>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td *ngIf="shal.confrere!=undefined && shal.department!=undefined && shal.publicationDate!=undefined">
              Prix au caractère : {{characterPrice.price}} €
            </td>
            <td *ngIf="shal.confrere!=undefined && shal.department!=undefined && shal.publicationDate!=undefined">
              Nombre de caractères : {{countCharacterNumber()}}
            </td>
            <td *ngIf="shal.confrere!=undefined && shal.department!=undefined && shal.publicationDate!=undefined">
              Prix total : {{countCharacterNumber()*characterPrice.price | number}} €
            </td>
            <td>
              <mat-icon (click)='exportAsRtf()' class="pointer" color="accent" matTooltip="Télécharger en .rtf">
                description
              </mat-icon>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <select-notice-family [(model)]="shal.noticeTypeFamily" label="Rubrique" [form]="shalForm"
                propertyName="noticeTypeFamily" [isMandatory]="true"
                [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
              </select-notice-family>
            </td>
            <td *ngIf="shal.noticeTypeFamily">
              <mat-form-field class="full-width">
                <mat-label>Sous-rubrique(s)</mat-label>
                <mat-chip-list #chipListNoticeTypes>
                  <mat-chip *ngFor="let noticeType of shal.noticeTypes" (removed)="removeNoticeType(noticeType)">
                    {{noticeType.label}}
                    <button matChipRemove *ngIf="editMode">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="Saisir une sous-rubrique" #noticeTypesInput formControlName="noticeTypes"
                    [matChipInputFor]="chipListNoticeTypes" [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
                    [matAutocomplete]="autoCompleteNoticeTypes">
                </mat-chip-list>
                <mat-autocomplete autoActiveFirstOption #autoCompleteNoticeTypes="matAutocomplete"
                  [displayWith]="displayLabel" (optionSelected)="addNoticeType($event)">
                  <mat-option *ngFor="let noticeType of filteredNoticeTypes | async" [value]="noticeType">
                    {{noticeType.label}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <table class="full-width">
                <tr>
                  <td>
                    <generic-toggle [(model)]="shal.isLogo" label="Logo ?" [form]="shalForm" propertyName="isLogo">
                    </generic-toggle>
                  </td>
                  <td *ngIf="shal.isLogo && shal.id">
                    <single-attachment [entity]="shal!" [entityType]="SHAL_ENTITY_TYPE.entityType" [editMode]="editMode"
                      [attachmentTypeCodeToDisplay]="LOGO_ATTACHMENT_TYPE_CODE"
                      (onUploadedFile)="updateAttachments($event)">
                    </single-attachment>
                  </td>
                  <td *ngIf="shal.isLogo && shal.id && logoUrl "><img width="150px" [src]="logoUrl" /></td>
                </tr>
                <tr *ngIf="shal.confrere && shal.confrere.id==CONFRERE_BALO_ID">
                  <td>
                    <generic-toggle [(model)]="shal.isPictureBaloPackage" label="Forfait image BALO ?" [form]="shalForm"
                      propertyName="isPictureBaloPackage"></generic-toggle>
                  </td>
                </tr>
              </table>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td class="legalDisplayTd">
              <generic-toggle [(model)]="shal.isLegalDisplay" label="Affichage légal ?" [form]="shalForm"
                propertyName="isLegalDisplay"></generic-toggle>
            </td>
            <td *ngIf="shal.isLegalDisplay">
              <table class="full-width">
                <tr>
                  <td>
                    <generic-input [(model)]="shal.posterProductionPrice" label="Production des affiches (€)"
                      [form]="shalForm" propertyName="posterProductionPrice" [isMandatory]="true"
                      [isDisabled]="!editMode"
                      [conditionnalRequired]="shal.isLegalDisplay && instanceOfCustomerOrder && !isStatusOpen"
                      type="number">
                    </generic-input>
                  </td>
                  <td>
                    <generic-input [(model)]="shal.posterProductionJSSPrice" label="Prix JSS (€)" [form]="shalForm"
                      propertyName="posterProductionJSSPrice" [isMandatory]="true" [isDisabled]="!editMode"
                      [conditionnalRequired]="shal.isLegalDisplay && instanceOfCustomerOrder && !isStatusOpen"
                      type="number">
                    </generic-input>
                  </td>
                </tr>
                <tr>
                  <td>
                    <generic-input [(model)]="shal.billPostingPrice" label="Pose des affiches (€)" [form]="shalForm"
                      propertyName="billPostingPrice" [isMandatory]="true" [isDisabled]="!editMode"
                      [conditionnalRequired]="shal.isLegalDisplay && instanceOfCustomerOrder && !isStatusOpen"
                      type="number">
                    </generic-input>
                  </td>
                  <td>
                    <generic-input [(model)]="shal.billPostingJSSPrice" label="Prix JSS (€)" [form]="shalForm"
                      propertyName="billPostingJSSPrice" [isMandatory]="true" [isDisabled]="!editMode"
                      [conditionnalRequired]="shal.isLegalDisplay && instanceOfCustomerOrder && !isStatusOpen"
                      type="number">
                    </generic-input>
                  </td>
                </tr>
                <tr>
                  <td>
                    <generic-input [(model)]="shal.bailiffReportPrice" label="Constat d'huisser (€)" [form]="shalForm"
                      propertyName="bailiffReportPrice" [isMandatory]="true" [isDisabled]="!editMode"
                      [conditionnalRequired]="shal.isLegalDisplay && instanceOfCustomerOrder && !isStatusOpen"
                      type="number">
                    </generic-input>
                  </td>
                  <td>
                    <generic-input [(model)]="shal.bailiffReportJSSPrice" label="Prix JSS (€)" [form]="shalForm"
                      propertyName="bailiffReportJSSPrice" [isMandatory]="true" [isDisabled]="!editMode"
                      [conditionnalRequired]="shal.isLegalDisplay && instanceOfCustomerOrder && !isStatusOpen"
                      type="number">
                    </generic-input>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Gestion des pièces">
      <div class="form-div">
        <mat-accordion multi>
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Epreuve de relecture
              </mat-panel-title>
              <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
            </mat-expansion-panel-header>
            <generic-toggle [(model)]="shal.isProofReadingDocument" label="Epreuve de relecture ?" [form]="shalForm"
              propertyName="isProofReadingDocument"></generic-toggle>
            <addressing *ngIf="shal.isProofReadingDocument" [displayMailCC]="true" [hideConsignee]="true"
              [onlyMail]="true" [editMode]="editMode" [document]="proofReadingDocument">
            </addressing>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Justificatif de parution
              </mat-panel-title>
              <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
            </mat-expansion-panel-header>
            <addressing [editMode]="editMode" [document]="publicationDocument" [displayNumberMailing]="true"
              [displayPaperCopy]="true">
            </addressing>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Attestation de parution
              </mat-panel-title>
              <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
            </mat-expansion-panel-header>
            <generic-toggle [(model)]="shal.isPublicationCertificateDocument" label="Attestation de parution ?"
              [form]="shalForm" propertyName="isPublicationCertificateDocument"></generic-toggle>
            <addressing *ngIf="shal.isPublicationCertificateDocument" [displayMailCC]="true" [hideConsignee]="true"
              [onlyMail]="true" [editMode]=" editMode" [document]="publicationCertificateDocument">
            </addressing>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="Historique de l'annonce" *ngIf="shal.id!=null && shal.id!=undefined">
      <history [entity]="shal" [entityType]="SHAL_ENTITY_TYPE" [displayOnlyFields]="['notice']"
        [historyActions]="getHistoryActions()"></history>
    </mat-tab>
    <mat-tab label="Documents" *ngIf="shal.id!=null && shal.id!=undefined">
      <attachments [entity]="shal" [editMode]="editMode" [entityType]="SHAL_ENTITY_TYPE.entityType">
      </attachments>
    </mat-tab>
    <mat-tab label="Historique" *ngIf="shal && shal.id">
      <history [entity]="shal" [entityType]="SHAL_ENTITY_TYPE"></history>
    </mat-tab>
  </mat-tab-group>
</form>
