<div class="mat-elevation-z2 form-div">
  <fieldset [disabled]="editMode==false" class="fieldset-no-border">

      <sort-table [columns]="displayedColumnsTiersRff" [values]="tiersRff"
                  tableName="Tiers" *ngIf="displayedColumnsTiersRff && displayedColumnsTiersRff.length>0 ">
      </sort-table>

      <sort-table [columns]="displayedColumnsResponsablesRff" [values]="responsablesRff"
                  tableName="Tiers" *ngIf="displayedColumnsTiersRff && displayedColumnsTiersRff.length>0 ">
      </sort-table>
</fieldset>
</div>
