<div class="mat-elevation-z2 form-div">
  <fieldset [disabled]="false" class="fieldset-no-border">

      <sort-table [columns]="displayedColumnsTiersRff" [values]="tiersRff"
                  tableName="Tiers">
      </sort-table>

      <div *ngIf="responsablesRff && responsablesRff.length > 1">
        <mat-form-field class="full-width">
          <input matInput (keyup)="applyFilterResponsableLastYear($event.target)" placeholder="Rechercher">
        </mat-form-field>
      <sort-table [columns]="displayedColumnsResponsablesRff" [values]="responsablesRff" [filterText]="searchTextLastYear"
                  tableName="Responsables">
      </sort-table>
     </div>
</fieldset>
</div>
