.text-center {
  text-align: center;
}

td {
  padding-right: 8px;
}

.mini-fab-add {
  margin: 5px
}

.sidenav-container {
  background-color: transparent;
}

.td-price {
  width: 70px;
  text-align: right;
}

.remise {
  color: red
}

.affaire {
  font-weight: 600;
  padding-top: 15px;
}

table {
  width: 100%;
}

.total-table {
  padding-top: 30px;
  font-weight: 600;
}

.validation-pending {
  color: rgb(211, 84, 0)
}

.validated {
  color: rgb(39, 174, 96)
}
