<ng-template #accordionTools>
  <mat-panel-description>
    <mat-icon matTooltip="Ouvrir tous les onglets" (click)="accordion!.openAll();$event.stopPropagation();"
      class="pointer">
      unfold_more_double</mat-icon>
    <mat-icon matTooltip="Fermer tous les autres onglets" (click)="accordion!.closeAll();" class="pointer">
      unfold_less_double</mat-icon>
  </mat-panel-description>
</ng-template>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" position="end" [fixedInViewport]="true" [fixedTopGap]="165" [fixedBottomGap]="100">
    <table>
      <ng-container *ngFor="let asso of quotation.assoAffaireOrders;let indexAsso = index">
        <tr>
          <td class="affaire " colspan="2" *ngIf="asso.affaire && asso.affaire.denomination">
            {{asso.affaire.denomination}}
          </td>
          <td class="affaire " colspan="2" *ngIf="asso.affaire && asso.affaire.firstname">
            {{asso.affaire.firstname}} - {{asso.affaire.lastname}} -
          </td>
        </tr>
        <ng-container *ngFor="let provision of asso.provisions">
          <tr *ngIf="provision.provisionType">
            <td class="affaire " colspan="2">
              {{provision.provisionType.label}}
            </td>
          </tr>
          <ng-container *ngFor="let invoiceItem of provision.invoiceItems;let indexInvoiceItem = index">
            <table>
              <tr>
                <td>
                  {{invoiceItem.label}}
                </td>
                <td class="td-price">
                  {{invoiceItem.preTaxPrice|number}} €
                </td>
              </tr>
              <tr *ngIf="invoiceItem.discountAmount && invoiceItem.discountAmount>0">
                <td>
                  Remise
                </td>
                <td class="td-price remise">
                  - {{invoiceItem.discountAmount|number}} €
                </td>
              </tr>
            </table>
          </ng-container>
        </ng-container>
      </ng-container>
    </table>
    <table class="total-table">
      <tr>
        <td>
          Prix total HT
        </td>
        <td class="td-price">
          {{getPreTaxPriceTotal() |number}} €
        </td>
      </tr>
      <tr *ngIf="getDiscountTotal() && getDiscountTotal()">
        <td>
          Remise totale
        </td>
        <td class="td-price remise">
          - {{getDiscountTotal()|number}} €
        </td>
      </tr>
      <tr *ngIf="getDiscountTotal() && getDiscountTotal()">
        <td>
          Total HT
        </td>
        <td class="td-price">
          {{getPreTaxPriceTotal()-getDiscountTotal()|number}} €
        </td>
      </tr>
      <ng-container *ngIf="getApplicableVat().length>0">
        <tr *ngFor="let vat of getApplicableVat()">
          <td>
            Total {{vat.label}} sur la base de {{vat.base |number}} €
          </td>
          <td class="td-price">
            {{vat.total|number}} €
          </td>
        </tr>
      </ng-container>
      <tr>
        <td>
          Total TTC
        </td>
        <td class="td-price">
          {{getPriceTotal()|number}} €
        </td>
      </tr>
    </table>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="!editMode && !quotation.id && !isQuotationUrl && !idQuotation">
      <ordering-list></ordering-list>
    </div>
    <div *ngIf="!editMode && !quotation.id && isQuotationUrl && !idQuotation">
      <quotation-list></quotation-list>
    </div>
    <div [hidden]="!editMode && (quotation.id==undefined || quotation.id==null)">
      <mat-tab-group animationDuration="0ms" #tabs [(selectedIndex)]="selectedTabIndex"
        (selectedTabChange)="changeTab($event)">
        <mat-tab label="Donneur d'ordre">
          <ordering-customer [quotation]="quotation" [editMode]="editMode" (updateDocuments)="updateDocuments()">
          </ordering-customer>
        </mat-tab>
        <fieldset [disabled]="editMode==false" class="fieldset-no-border">
          <mat-tab label="Prestations" *ngIf="(quotation.tiers || quotation.responsable  || quotation.confrere)  ">
            <div class="mat-elevation-z2 form-div" *ngIf="quotation.assoAffaireOrders">
              <mat-tab-group animationDuration="0ms" #tabs>
                <mat-tab *ngFor="let asso of quotation.assoAffaireOrders">
                  <ng-template mat-tab-label>
                    {{asso.affaire.denomination?asso.affaire.denomination:(asso.affaire.firstname + ' ' +
                    asso.affaire.lastname)}} {{asso.affaire.city?('- ' + asso.affaire.city.label):''}} <mat-icon matTooltip="Supprimer l'affaire"
                      (click)="deleteAffaire(asso.affaire);$event.stopPropagation();" class="pointer">delete</mat-icon>
                  </ng-template>
                  <div class="mat-accordion-container full-width">
                    <mat-accordion multi>
                      <mat-expansion-panel expanded="false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>Détails de l'affaire
                            {{asso.affaire.denomination?asso.affaire.denomination:(asso.affaire.firstname + ' '
                            +asso.affaire.lastname)}} - {{asso.affaire.address}} - {{asso.affaire.postalCode}} -
                            {{asso.affaire.city.label}}
                          </mat-panel-title>
                          <mat-panel-description>
                            <avatar-chip *ngIf="asso.assignedTo && asso.id" [employee]="asso.assignedTo"
                              (onChangeAssigne)="updateAssignedToForAffaire($event,asso)">
                            </avatar-chip>
                            <mat-icon matTooltip="Voir/éditer l'affaire"
                              (click)="displayAffaire($event, asso.affaire);$event.stopPropagation();"
                              (auxclick)="displayAffaire($event, asso.affaire);$event.stopPropagation();"
                              class="pointer">
                              edit</mat-icon>
                            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <add-affaire [affaire]="asso.affaire" [editMode]="false"></add-affaire>
                        <div *ngIf="asso && asso.id && instanceOfCustomerOrder">
                          <autocomplete-employee [(model)]="asso.assignedTo" [form]="quotationForm"
                            propertyName="assignedTo" [isMandatory]="true" [isDisabled]="false"
                            label="Affaire assignée à" (onOptionSelected)="updateAssignedToForAffaire($event,asso)">
                          </autocomplete-employee>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                  <div class="mat-accordion-container full-width">
                    <mat-accordion multi class="mat-accordion-container">
                      <mat-expansion-panel *ngFor="let provision of asso.provisions" [expanded]="!provision.id">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{getProvisionLabel(provision)}}
                          </mat-panel-title>
                          <span class="status-text"
                            *ngIf="instanceOfCustomerOrderFn(quotation) && getActiveWorkflowElementsForProvision(provision)">{{getActiveWorkflowElementsForProvision(provision).label}}</span>
                          <avatar-chip *ngIf="asso.assignedTo" [employee]="provision.assignedTo"
                            (onChangeAssigne)="updateAssignedToForProvision($event, provision)">
                          </avatar-chip>
                          <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
                          <mat-panel-description>
                            <mat-icon *ngIf="instanceOfCustomerOrderFn(quotation) && quotation.id && !editMode"
                              matTooltip="Voir/éditer la prestation" (click)="displayProvision($event, asso,provision)"
                              (auxclick)="displayProvision($event, asso,provision)" class="pointer">
                              work</mat-icon>
                            <mat-icon *ngIf="editMode" matTooltip="Supprimer la prestation"
                              (click)="deleteProvision(asso,provision)" class="pointer">
                              delete</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <provision-item [quotation]="quotation" *ngIf="asso.affaire && asso.affaire.id"
                          [editMode]="editMode" [provision]="provision" [affaire]="asso.affaire"
                          (selectedProvisionTypeChange)="changeSelectedProvisionType($event)"
                          [instanceOfCustomerOrder]="instanceOfCustomerOrder" [isStatusOpen]="isStatusOpen">
                        </provision-item>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                  <div class="row-field-container">
                    <button mat-raised-button *ngIf="editMode" (click)="createProvision(asso)" color="primary"
                      class="mini-fab-add">
                      Ajouter une prestation pour
                      {{asso.affaire.denomination?asso.affaire.denomination:(asso.affaire.firstname + '
                      '+asso.affaire.lastname)}}
                    </button>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </mat-tab>
        </fieldset>
        <mat-tab label="Facturation" *ngIf="quotation && quotation.id">
          <invoice-management [quotation]="quotation" [editMode]="editMode"
            [customerOrderInvoices]="customerOrderInvoices" (invoiceItemChange)="invoiceItemChange($event)"
            [instanceOfCustomerOrder]="instanceOfCustomerOrder">
          </invoice-management>
        </mat-tab>
        <mat-tab [label]="'Eléments '+(instanceOfCustomerOrder ? 'de la commande' : 'du devis')">
          <quotation-management [(quotation)]="quotation" [editMode]="editMode" [isStatusOpen]="isStatusOpen"
            [instanceOfCustomerOrder]="instanceOfCustomerOrder"
            [updateDocumentsEvent]="updateDocumentsEvent.asObservable()"></quotation-management>
        </mat-tab>
        <mat-tab label="Documents" *ngIf="quotation.id!=null && quotation.id!=undefined">
          <attachments [entity]="quotation" [editMode]="editMode" [entityType]="getEntityType().entityType">
          </attachments>
        </mat-tab>
        <mat-tab label="Mails" *ngIf="quotation.id && instanceOfQuotationFn(quotation)">
          <automatic-mail-list [quotation]="quotation">
          </automatic-mail-list>
        </mat-tab>
        <mat-tab label="Mails" *ngIf="quotation.id && instanceOfCustomerOrderFn(quotation)">
          <automatic-mail-list [customerOrder]="quotation">
          </automatic-mail-list>
        </mat-tab>
        <mat-tab label="Associer un paiement"
          *ngIf="getRemainingToPay()>0 && instanceOfCustomerOrderFn(quotation) && quotation.customerOrderStatus && quotation.customerOrderStatus.code!=CUSTOMER_ORDER_STATUS_BILLED">
          <customer-order-payment (stateChanged)="onStateChange()" [customerOrder]="quotation">
          </customer-order-payment>
        </mat-tab>
        <mat-tab label="Historique" *ngIf="quotation.id!=null && quotation.id!=undefined">
          <history [entity]="quotation" [entityType]="getEntityType()"></history>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<button matTooltip="Sauvegarder" mat-fab color="warn" class="fab-button" *ngIf="editMode==true"
  (click)="saveQuotation()">
  <mat-icon>save</mat-icon>
</button>
<button matTooltip="Ajouter une affaire / prestation" mat-fab color="accent" class="third-fab-button"
  *ngIf="editMode  &&  (quotation.tiers || quotation.responsable || quotation.confrere) " (click)="addAffaire()">
  <mat-icon>person_add</mat-icon>
</button>
<button [matTooltip]="instanceOfCustomerOrder?'Modifier la commande' : 'Modifier le devis'" mat-fab color="accent"
  class="fab-button" *ngIf="editMode==false && quotation.id!=undefined && quotation.id!=null" (click)="editQuotation()">
  <mat-icon>edit</mat-icon>
</button>
<button [matTooltip]="instanceOfCustomerOrder?'Ajouter une commande' : 'Ajouter un devis'" mat-fab color="accent"
  class="fab-button" *ngIf="editMode==false && (quotation.id==undefined || quotation.id==null)"
  (click)="createQuotation()">
  <mat-icon>add</mat-icon>
</button>
<button [matTooltip]="instanceOfCustomerOrder?'Rechercher une commande' : 'Rechercher un devis'" mat-fab color="accent"
  class="second-fab-button" *ngIf="editMode==false" (click)="openSearch()">
  <mat-icon>search</mat-icon>
</button>
<button [matTooltip]='sidenav.opened?"Cacher le détail":"Voir le détail"' mat-fab color="accent"
  class="second-fab-button" *ngIf="(editMode==false && quotation.id!=undefined && quotation.id!=null || editMode)"
  (click)=" sidenav.toggle()">
  <mat-icon>receipt_long</mat-icon>
</button>
<button matTooltip="Recevoir le mail de devis" mat-fab color="accent" class="fourth-fab-button"
  *ngIf="editMode==false && instanceOfQuotationFn(quotation) && quotation.id" (click)="generateQuotationMail()">
  <mat-icon>mail</mat-icon>
</button>

<button matTooltip="Recevoir un mail" mat-fab color="accent" class="fourth-fab-button mail-menu"
  *ngIf="editMode==false && instanceOfCustomerOrderFn(quotation) && quotation.id" [matMenuTriggerFor]="menuMail">
  <mat-icon>mail</mat-icon>
  <mat-menu #menuMail="matMenu" style="min-height: 0px;padding: 0;" xPosition="before">
    <button mat-menu-item (click)="generateCustomerOrderCreationConfirmationToCustomer()">
      <span>Recevoir le mail de confirmation de la commande</span>
    </button>
    <button mat-menu-item (click)="generateCustomerOrderDepositConfirmationToCustomer()">
      <span>Recevoir le mail de confirmation de réception de l'acompte</span>
    </button>
    <button mat-menu-item (click)="generateInvoiceMail()">
      <span>Recevoir le mail de facturation</span>
    </button>
    <button mat-menu-item (click)="generateMailingLabel()">
      <span>Imprimer une étiquette/lettre postale</span>
    </button>
  </mat-menu>
</button>


<button matTooltip="Changer de statut" mat-fab color="accent" class="third-fab-button"
  *ngIf="editMode==false && instanceOfQuotationFn(this.quotation) &&quotation && quotation.quotationStatus "
  [matMenuTriggerFor]="menu">
  <mat-icon>done</mat-icon>
  <mat-menu #menu="matMenu" style="min-height: 0px;padding: 0;" xPosition="before">
    <button mat-menu-item (click)="displayQuotationWorkflowDialog()">
      <span>Voir le workflow</span>
    </button>
    <button disabled mat-menu-item *ngIf="quotation.quotationStatus.successors">
      <span>Passer à</span>
    </button>
    <button mat-menu-item *ngFor="let status of quotation.quotationStatus.successors" (click)="changeStatus(status)">
      <mat-icon>{{status.icon}}</mat-icon><span>{{status.label}}</span>
    </button>
    <button disabled mat-menu-item
      *ngIf="quotation.quotationStatus.predecessors && quotation.quotationStatus.predecessors.length>0">
      <span>Revenir à</span>
    </button>
    <button mat-menu-item *ngFor="let status of quotation.quotationStatus.predecessors" (click)="changeStatus(status)">
      <mat-icon>{{status.icon}}</mat-icon><span>{{status.label}}</span>
    </button>
  </mat-menu>
</button>


<button matTooltip="Changer de statut" mat-fab color="accent" class="third-fab-button"
  *ngIf="editMode==false && instanceOfCustomerOrderFn(this.quotation) &&quotation && quotation.customerOrderStatus"
  [matMenuTriggerFor]="menu">
  <mat-icon>done</mat-icon>
  <mat-menu #menu="matMenu" style="min-height: 0px;padding: 0;" xPosition="before">
    <button mat-menu-item (click)="displayCustomerOrderWorkflowDialog()">
      <span>Voir le workflow</span>
    </button>
    <button disabled mat-menu-item *ngIf="quotation.customerOrderStatus.successors">
      <span>Passer à</span>
    </button>
    <button mat-menu-item *ngFor="let status of quotation.customerOrderStatus.successors"
      (click)="changeStatus(status)">
      <mat-icon>{{status.icon}}</mat-icon><span>{{status.label}}</span>
    </button>
    <button disabled mat-menu-item
      *ngIf="quotation.customerOrderStatus.predecessors && quotation.customerOrderStatus.predecessors.length>0">
      <span>Revenir à</span>
    </button>
    <button mat-menu-item *ngFor="let status of quotation.customerOrderStatus.predecessors"
      (click)="changeStatus(status)">
      <mat-icon>{{status.icon}}</mat-icon><span>{{status.label}}</span>
    </button>
  </mat-menu>
</button>
