.text-center {
  text-align: center;
}

.row-field-container {
  padding-top: 15px;
}

.scrollable-table {
  overflow-y: auto;
  height: calc(85vh - 265px);
}

.sidenav-facture {
  width: 20%;
  height: 100vh;
  margin-right: 20px;
  margin-top: 165px;
}

td {
  padding-right: 8px;
}

.mini-fab-add {
  margin: 5px
}

.sidenav-container {
  background-color: transparent;
}

table {
  width: 100%;
}

.validation-pending {
  color: rgb(211, 84, 0)
}

.validated {
  color: rgb(39, 174, 96)
}

.mat-accordion-container {
  padding-top: 15px
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}

.status-text {
  white-space: nowrap;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 5px;
}

.td-price {
  width: 70px;
  text-align: right;
}

.remise {
  color: red
}

.affaire {
  font-weight: 600;
  padding-top: 15px;
}

table {
  width: 100%;
}

.total-table {
  padding-top: 30px;
  font-weight: 600;
}
