<ng-template #accordionTools>
  <mat-panel-description>
    <mat-icon matTooltip="Ouvrir tous les onglets" (click)="accordion!.openAll();$event.stopPropagation();"
      class="pointer">
      unfold_more_double</mat-icon>
    <mat-icon matTooltip="Fermer tous les autres onglets" (click)="accordion!.closeAll();" class="pointer">
      unfold_less_double</mat-icon>
  </mat-panel-description>
</ng-template>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" position="end" [fixedInViewport]="true" [fixedTopGap]="165" [fixedBottomGap]="100">
    <ng-container *ngIf="quotation && quotation.assoAffaireOrders">
      <div *ngFor="let asso of quotation.assoAffaireOrders">
        <td class="affaire" *ngIf="asso.affaire && asso.affaire.denomination">
          {{asso.affaire.denomination}}
        </td>
        <td class="affaire" *ngIf="asso.affaire && asso.affaire.firstname">
          {{asso.affaire.firstname}} - {{asso.affaire.lastname}} -
        </td>
        <div *ngFor="let provision of asso.provisions">
          <div *ngFor="let invoiceItem of provision.invoiceItems;let index = index">
            <table>
              <tr *ngIf="provision.provisionType">
                <td class="affaire">
                  {{provision.provisionType.label}}
                </td>
              </tr>
              <tr>
                <td>
                  {{invoiceItem.label}}
                </td>
                <td class="td-price">
                  {{invoiceItem.preTaxPrice|number}} €
                </td>
              </tr>
              <tr *ngIf="invoiceItem.discountAmount && invoiceItem.discountAmount>0">
                <td>
                  Remise
                </td>
                <td class="td-price remise">
                  - {{invoiceItem.discountAmount|number}} €
                </td>
              </tr>
              <tr *ngIf="invoiceItem.vat">
                <td>
                  {{invoiceItem.vat.label}}
                </td>
                <td class="td-price">
                  {{invoiceItem.vatPrice|number}} €
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <table class="total-table">
        <tr>
          <td>
            Prix total HT
          </td>
          <td class="td-price">
            {{getPreTaxPriceTotal() |number}} €
          </td>
        </tr>
        <tr *ngIf="getDiscountTotal() && getDiscountTotal()>0">
          <td>
            Remise totale
          </td>
          <td class="td-price remise">
            - {{getDiscountTotal()|number}} €
          </td>
        </tr>
        <tr>
          <td>
            Total HT
          </td>
          <td class="td-price">
            {{getPreTaxPriceTotal()-getDiscountTotal()|number}} €
          </td>
        </tr>
        <tr *ngIf="getApplicableVat()!=undefined">
          <td>
            Total {{getApplicableVat()!.label}}
          </td>
          <td class="td-price">
            {{getVatTotal()|number}} €
          </td>
        </tr>
        <tr>
          <td>
            Total TTC
          </td>
          <td class="td-price">
            {{getPriceTotal()|number}} €
          </td>
        </tr>
      </table>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="!editMode && !quotation.id && !isQuotationUrl && !idQuotation">
      <ordering-list></ordering-list>
    </div>
    <div *ngIf="!editMode && !quotation.id && isQuotationUrl && !idQuotation">
      <quotation-list></quotation-list>
    </div>
    <div [hidden]="!editMode && (quotation.id==undefined || quotation.id==null)">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <mat-tab-group animationDuration="0ms" #tabs [(selectedIndex)]="selectedTabIndex">
          <mat-tab label="Donneur d'ordre">
            <ordering-customer [quotation]="quotation" [editMode]="editMode" (updateDocuments)="updateDocuments()">
            </ordering-customer>
          </mat-tab>
          <mat-tab label="Prestations" *ngIf="(quotation.tiers || quotation.responsable || quotation.confrere)  ">
            <div class="mat-elevation-z2 form-div" *ngIf="quotation.assoAffaireOrders">
              <mat-tab-group animationDuration="0ms" #tabs>
                <mat-tab *ngFor="let asso of quotation.assoAffaireOrders" [label]="asso.affaire.denomination?asso.affaire.denomination:(asso.affaire.firstname + ' ' +
                asso.affaire.lastname)">
                  <div class="mat-accordion-container full-width">
                    <mat-accordion multi>
                      <mat-expansion-panel expanded="false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>Détails de l'affaire
                            {{asso.affaire.denomination?asso.affaire.denomination:(asso.affaire.firstname + ' '
                            +asso.affaire.lastname)}} - {{asso.affaire.address}} - {{asso.affaire.postalCode}} -
                            {{asso.affaire.country.label}}
                          </mat-panel-title>
                          <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
                        </mat-expansion-panel-header>
                        <add-affaire [affaire]="asso.affaire" [editMode]="false"></add-affaire>
                        <div *ngIf="asso && asso.id && instanceOfCustomerOrder">
                          <autocomplete-employee [(model)]="asso.assignedTo" [form]="quotationForm"
                            propertyName="assignedTo" [isMandatory]="true" [isDisabled]="false"
                            label="Affaire assignée à" (onOptionSelected)="updateAssignedToForAffaire($event,asso)">
                          </autocomplete-employee>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                  <div class="mat-accordion-container full-width">
                    <mat-accordion multi class="mat-accordion-container">
                      <mat-expansion-panel *ngFor="let provision of asso.provisions" [expanded]="!provision.id">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{provision.provisionType ? (provision.provisionFamilyType.label +' -
                            '+provision.provisionType.label):''}}
                          </mat-panel-title>
                          <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
                          <mat-panel-description *ngIf="editMode">
                            <mat-icon matTooltip="Supprimer la prestation" (click)="deleteProvision(asso,provision)"
                              class="pointer">
                              delete</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <provision-item *ngIf="asso.affaire && asso.affaire.id" [editMode]="editMode"
                          [provision]="provision" [affaire]="asso.affaire"
                          (selectedProvisionTypeChange)="changeSelectedProvisionType($event)"
                          [instanceOfCustomerOrder]="instanceOfCustomerOrder" [isStatusOpen]="isStatusOpen">
                        </provision-item>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                  <div class="row-field-container">
                    <button mat-raised-button *ngIf="editMode" (click)="createProvision(asso)" color="primary"
                      class="mini-fab-add">
                      Ajouter une prestation pour
                      {{asso.affaire.denomination?asso.affaire.denomination:(asso.affaire.firstname + '
                      '+asso.affaire.lastname)}}
                    </button>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </mat-tab>
          <mat-tab label="Facturation" *ngIf="quotation && quotation.id">
            <invoice-management [quotation]=" quotation" [editMode]="editMode"
              (invoiceItemChange)="invoiceItemChange($event)" [instanceOfCustomerOrder]="instanceOfCustomerOrder">
            </invoice-management>
          </mat-tab>
          <mat-tab [label]="'Eléments '+(instanceOfCustomerOrder ? 'de la commande' : 'du devis')">
            <quotation-management [quotation]="quotation" [editMode]="editMode"
              [updateDocumentsEvent]="updateDocumentsEvent.asObservable()"></quotation-management>
          </mat-tab>
          <mat-tab label="Documents" *ngIf="quotation.id!=null && quotation.id!=undefined">
            <attachments [entity]="quotation" [editMode]="editMode" [entityType]="getEntityType().entityType">
            </attachments>
          </mat-tab>
          <mat-tab label="Historique du statut" *ngIf="quotation.id!=null && quotation.id!=undefined">
            <history [entity]="quotation" [entityType]="getEntityType()" [displayOnlyFields]="['status']"
              [parseTypeList]="quotationStatusList"></history>
          </mat-tab>
          <mat-tab label="Historique" *ngIf="quotation.id!=null && quotation.id!=undefined">
            <history [entity]="quotation" [entityType]="getEntityType()"></history>
          </mat-tab>
        </mat-tab-group>
      </fieldset>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<button matTooltip="Sauvegarder" mat-fab color="warn" class="fab-button" *ngIf="editMode==true"
  (click)="saveQuotation()">
  <mat-icon>save</mat-icon>
</button>
<button matTooltip="Ajouter une affaire / prestation" mat-fab color="accent" class="third-fab-button"
  *ngIf="editMode  &&  (quotation.tiers || quotation.responsable || quotation.confrere) " (click)="addAffaire()">
  <mat-icon>person_add</mat-icon>
</button>
<button [matTooltip]="instanceOfCustomerOrder?'Modifier la commande' : 'Modifier le devis'" mat-fab color="accent"
  class="fab-button" *ngIf="editMode==false && quotation.id!=undefined && quotation.id!=null" (click)="editQuotation()">
  <mat-icon>edit</mat-icon>
</button>
<button [matTooltip]="instanceOfCustomerOrder?'Ajouter une commande' : 'Ajouter un devis'" mat-fab color="accent"
  class="fab-button" *ngIf="editMode==false && (quotation.id==undefined || quotation.id==null)"
  (click)="createQuotation()">
  <mat-icon>add</mat-icon>
</button>
<button [matTooltip]="instanceOfCustomerOrder?'Rechercher une commande' : 'Rechercher un devis'" mat-fab color="accent"
  class="second-fab-button" *ngIf="editMode==false" (click)="openSearch()">
  <mat-icon>search</mat-icon>
</button>
<button [matTooltip]="instanceOfCustomerOrder?'Envoyer la commande' : 'Envoyer le devis'" mat-fab color="accent"
  class="third-fab-button" *ngIf="editMode==false  && quotation.id!=undefined && quotation.id!=null"
  (click)="sendQuotation()">
  <mat-icon>forward_to_inbox</mat-icon>
</button>
<button [matTooltip]="instanceOfCustomerOrder?'Ajouter une commande' : 'Ajouter un devis'" mat-fab color="accent"
  class="second-fab-button" *ngIf="editMode==false && quotation.id!=undefined && quotation.id!=null"
  (click)=" createQuotation()">
  <mat-icon>add</mat-icon>
</button>
<button [matTooltip]='sidenav.opened?"Cacher le détail":"Voir le détail"' mat-fab color="accent"
  [ngClass]="{'fifth-fab-button':editMode==false,'second-fab-button':editMode==true}"
  *ngIf="(editMode==false && quotation.id!=undefined && quotation.id!=null || editMode)" (click)=" sidenav.toggle()">
  <mat-icon>receipt_long</mat-icon>
</button>

<button matTooltip="Changer de statut" mat-fab color="accent" class="fourth-fab-button"
  *ngIf="editMode==false && !instanceOfCustomerOrder && quotation.id!=undefined && quotation.id!=null && quotation.quotationStatus"
  [matMenuTriggerFor]="menu">
  <mat-icon>done</mat-icon>
  <mat-menu #menu="matMenu" style="min-height: 0px;padding: 0;" xPosition="before">
    <button mat-menu-item
      *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_TO_VERIFY || quotation.quotationStatus.code==QUOTATION_STATUS_REFUSED_BY_CUSTOMER|| quotation.quotationStatus.code==QUOTATION_STATUS_CANCELLED|| quotation.quotationStatus.code==QUOTATION_STATUS_ABANDONED"
      (click)="changeStatus(QUOTATION_STATUS_OPEN)">
      <mat-icon>auto_awesome</mat-icon><span>Repasser à ouvert</span>
    </button>
    <button mat-menu-item *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_OPEN"
      (click)="changeStatus(QUOTATION_STATUS_TO_VERIFY)">
      <mat-icon>search</mat-icon><span>Faire vérifier</span>
    </button>
    <button mat-menu-item *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_TO_VERIFY"
      (click)="changeStatus(QUOTATION_STATUS_VALIDATED_BY_JSS)">
      <mat-icon>task_alt</mat-icon><span>Valider par le JSS</span>
    </button>
    <button mat-menu-item *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_VALIDATED_BY_JSS"
      (click)="changeStatus(QUOTATION_STATUS_SENT_TO_CUSTOMER)">
      <mat-icon>outgoing_mail</mat-icon><span>Envoyer au client</span>
    </button>
    <button mat-menu-item *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_SENT_TO_CUSTOMER"
      (click)="changeStatus(QUOTATION_STATUS_VALIDATED_BY_CUSTOMER)">
      <mat-icon>approval</mat-icon><span>Indiquer validé par le client</span>
    </button>
    <button mat-menu-item *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_VALIDATED_BY_CUSTOMER"
      (click)="changeStatus(QUOTATION_STATUS_SENT_TO_CUSTOMER)">
      <mat-icon>shopping_cart</mat-icon><span>Passer en commande</span>
    </button>
    <button mat-menu-item *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_SENT_TO_CUSTOMER"
      (click)="changeStatus(QUOTATION_STATUS_REFUSED_BY_CUSTOMER)">
      <mat-icon>remove_shopping_cart</mat-icon><span>Indiquer refusé par le client</span>
    </button>
    <button mat-menu-item (click)="changeStatus(QUOTATION_STATUS_ABANDONED)"
      *ngIf="quotation.quotationStatus.code!=QUOTATION_STATUS_ABANDONED">
      <mat-icon>block</mat-icon><span>Abandonner</span>
    </button>
    <button mat-menu-item *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_REFUSED_BY_CUSTOMER"
      (click)="changeStatus(QUOTATION_STATUS_CANCELLED)">
      <mat-icon>delete</mat-icon><span>Annuler</span>
    </button>
  </mat-menu>
</button>
<button matTooltip="Changer de statut" mat-fab color="accent" class="fourth-fab-button"
  *ngIf="editMode==false && instanceOfCustomerOrder && quotation.id!=undefined && quotation.id!=null && quotation.quotationStatus"
  [matMenuTriggerFor]="menu">
  <mat-icon>done</mat-icon>
  <mat-menu #menu="matMenu" style="min-height: 0px;padding: 0;" xPosition="before">
    <button mat-menu-item
      *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_TO_VERIFY || quotation.quotationStatus.code==QUOTATION_STATUS_REFUSED_BY_CUSTOMER|| quotation.quotationStatus.code==QUOTATION_STATUS_CANCELLED|| quotation.quotationStatus.code==QUOTATION_STATUS_ABANDONED"
      (click)="changeStatus(QUOTATION_STATUS_OPEN)">
      <mat-icon>auto_awesome</mat-icon><span>Repasser à ouvert</span>
    </button>
    <button mat-menu-item *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_OPEN"
      (click)="changeStatus(QUOTATION_STATUS_TO_VERIFY)">
      <mat-icon>search</mat-icon><span>Faire vérifier</span>
    </button>
    <button mat-menu-item *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_TO_VERIFY"
      (click)="changeStatus(QUOTATION_STATUS_VALIDATED_BY_JSS)">
      <mat-icon>task_alt</mat-icon><span>Valider par le JSS</span>
    </button>
    <button mat-menu-item *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_VALIDATED_BY_JSS"
      (click)="changeStatus(QUOTATION_STATUS_VALIDATED_BY_CUSTOMER)">
      <mat-icon>task_alt</mat-icon><span>Indiquer validé par le client</span>
    </button>
    <button mat-menu-item *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_WAITING_DEPOSIT"
      (click)="changeStatus(QUOTATION_STATUS_BEING_PROCESSED)">
      <mat-icon>task_alt</mat-icon><span>Bypasser la demande d'accompte</span>
    </button>
    <button mat-menu-item *ngIf="quotation.quotationStatus.code==QUOTATION_STATUS_BEING_PROCESSED"
      (click)="changeStatus(QUOTATION_STATUS_BILLED)">
      <mat-icon>task_alt</mat-icon><span>Emettre la facture</span>
    </button>

  </mat-menu>
</button>
