<div class="mat-elevation-z2 form-div " [ngClass]="{'min-height':!isForDashboard && !isForTiersIntegration}">
  <div class=" full-width">
    <table class="full-width table-fixed-layout" *ngIf="!isForDashboard && !isForTiersIntegration && orderingSearch">
      <tr>
        <td>
          <autocomplete-employee [(model)]="orderingSearch.salesEmployee" label="Commercial" [form]="orderingSearchForm"
            propertyName="salesEmployee" [isMandatory]="false">
          </autocomplete-employee>
        </td>
        <td>
          <select-customer-order-status [(model)]="orderingSearch.customerOrderStatus" label="Statut"
            [form]="orderingSearchForm" propertyName="customerOrderStatus" [isMandatory]="false" [isDisabled]="false"
            [defaultCodesSelected]="defaultStatusFilter"></select-customer-order-status>
        </td>
        <td>
          <generic-date-range-picker [(modelStart)]="orderingSearch.startDate" [(modelEnd)]="orderingSearch.endDate"
            label="Date de création" [form]="orderingSearchForm" propertyNameStart="startDate"
            propertyNameEnd="endDate">
          </generic-date-range-picker>
        </td>
        <td class="fab-td-button">
          <button mat-mini-fab color="warn" matTooltip="Rechercher" (click)="searchOrders()" class="add-button">
            <mat-icon>search</mat-icon>
          </button>
        </td>
      </tr>
    </table>
    <sort-table [actions]="tableAction" [columns]="displayedColumns" [values]="orders" tableName="Commandes">
    </sort-table>
  </div>
</div>