<mat-dialog-content class="mat-content">
  <h2>Attention, il existe plusieurs devis envoyés au client pour cette affaire</h2>
  <h3>Vous pouvez choisir l'un des devis ci-dessous pour créer automatiquement la commande associée</h3>

  <quotation-list [quotationSearch]="quotationSearch" [isForSuggestion]="true"
    (selectedQuotationChange)="changeSelectedQuotation($event)"></quotation-list>
  <p> Devis sélectionné :
    {{selectedQuotation.quotationId}}</p>

  <button mat-raised-button color="accent" (click)="onClose()">Fermer</button>
  <button mat-raised-button color="warn" (click)="onConfirm()">Confirmer</button>
</mat-dialog-content>