<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu">
  <div class="offcanvas-header justify-content-end">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column pt-0">
    <div>
      <img class="light-mode-item my-3" src="assets/images/logo.png" alt="logo">
      <img class="dark-mode-item my-3" src="assets/images/logo.png" alt="logo">
      <p>Le Journal Spécial des Sociétés propose un Service de Presse en Ligne disponible 24h/24 pour publier vos
        annonces légales en île de France. Le JSS effectue pour vous toutes les formalités légales. </p>
      <!-- Nav START -->
      <ul class="nav d-block flex-column my-4">
        <li class="nav-item h5">
          <a class="nav-link" href="/">Accueil</a>
        <li class="nav-item h5">
          <a class="nav-link" href="/about">A propos</a>
        </li>
        <li class="nav-item h5">
          <a class="nav-link" href="/presentation">Notre journal</a>
        </li>
        <li class="nav-item h5">
          <a class="nav-link" href="/contact-us">Nous contacter</a>
        </li>
      </ul>
      <!-- Nav END -->
      <div class="bg-primary bg-opacity-10 p-4 mb-4 text-center w-100 rounded">
        <span>Journal Spécial des Sociétés</span>
        <h3>Economisez sur votre abonnement</h3>
        <p>Découvrez les articles rédigés par nos experts dans vos régions et au national. Abonnez-vous dès aujourd'hui
          !</p>
        <a href="/" class="btn btn-warning">Voir les abonnements</a><!-- TODO -->
      </div>
    </div>
    <div class="mt-auto pb-3">
      <!-- Address -->
      <p class="text-body mb-2 fw-bold">Paris, Ile-de-France</p>
      <address class="mb-0">8, rue Saint-Augustin, 75002</address>
      <p class="mb-2">Téléphone : <a href="tel:0147031010" class="text-body"><u>01 47 03 10 10</u></a> </p>
      <a href="mailto:contact@jss.fr" class="text-body d-block">contact&#64;jss.fr</a>
    </div>
  </div>
</div>