.td-price {
  width: 30%;
  text-align: right;
}

.remise {
  color: red
}

.total-table {
  padding-top: 30px;
}

.info-icon {
  color: grey;
}

.container-affaire {
  margin-top: 20px;
}

.sub-row {
  padding-left: 20px;
}

.top {
  padding-top: 20px;
}

.chips-status {
  position: absolute;
  right: 10px;
}

.description-table {
  padding-top: 10px;
}

.underline {
  text-decoration: underline;
}

.td-info {
  vertical-align: top;
  width: 33%;
  border-right: solid;
  border-width: 1px;
  padding: 10px;
}
