<div class="mat-elevation-z2 form-div" *ngIf="invoice">
  <mat-tab-group animationDuration="0ms" #tabs>
    <mat-tab label="Détail">
      <div class="full-width top">
        <div class="chips-status">
          <chips-status [status]="invoice.invoiceStatus.code" [value]="invoice.invoiceStatus.label"></chips-status>
        </div>
        <p>Emis<span *ngIf="!invoice.isCreditNote">e</span> à Paris, le {{invoice.createdDate|date:'dd/MM/yyyy à
          HH:mm'}}<span *ngIf="getLetteringDate(invoice)">,
            lettrée le {{getLetteringDate(invoice)|date:'dd/MM/yyyy à HH:mm'}}</span></p>
        <div class="invoice-title" *ngIf="invoice.creditNote">
          <span>Avoir n°{{invoice.creditNote.id}} émis à Paris, le
            {{invoice.creditNote.createdDate|date:'dd/MM/yyyy à HH:mm'}}</span>
          <mat-icon (click)="openRoute($event,'/invoicing/view/'+invoice.creditNote.id)"
            (auxclick)="openRoute($event,'/invoicing/view/'+invoice.creditNote.id)" matTooltip="Voir l'avoir"
            color="accent" class="pointer invoice-chip">visibility
          </mat-icon>
        </div>
        <div class="invoice-title" *ngIf="invoice.isCreditNote">
          <span>Pour la facture n°{{invoice.reverseCreditNote.id}} émise à Paris, le
            {{invoice.reverseCreditNote.createdDate|date:'dd/MM/yyyy à HH:mm'}}</span>
          <mat-icon (click)="openRoute($event,'/invoicing/view/'+invoice.reverseCreditNote.id)"
            (auxclick)="openRoute($event,'/invoicing/view/'+invoice.reverseCreditNote.id)" matTooltip="Voir la facture"
            color="accent" class="pointer invoice-chip">visibility
          </mat-icon>
        </div>
        <p *ngIf="invoice.customerOrder">Commande n°{{invoice.customerOrder.id}}
          <mat-icon matTooltip="Voir la commande" color="accent" class="pointer"
            (click)="openRoute($event,'/order/'+invoice.customerOrder.id)"
            (auxclick)="openRoute($event,'/order/'+invoice.customerOrder.id)">visibility
          </mat-icon>
        </p>
        <p *ngIf="invoice.customerOrderForInboundInvoice">Commande n°{{invoice.customerOrderForInboundInvoice.id}}
          <mat-icon matTooltip="Voir la commande" color="accent" class="pointer"
            (click)="openRoute($event,'/order/'+invoice.customerOrderForInboundInvoice.id)"
            (auxclick)="openRoute($event,'/order/'+invoice.customerOrderForInboundInvoice.id)">visibility
          </mat-icon>
        </p>
        <p *ngIf="invoice.attachments && !invoice.isCreditNote"> <single-attachment [entity]="invoice"
            [entityType]="INVOICE_ENTITY_TYPE.entityType" [editMode]="false"
            [attachmentTypeToDisplay]="attachmentTypeInvoice">
          </single-attachment>
        </p>
        <table class="full-width mat-table description-table "
          *ngIf="invoice.isInvoiceFromProvider==undefined || invoice.isInvoiceFromProvider==false">
          <tr class=" mat-header-row">
            <th class="mat-header-cell">Affaire(s)</th>
            <th class="mat-header-cell">Payeur</th>
            <th class="mat-header-cell">Donneur d'ordre</th>
          </tr>
          <tr class=" mat-row">
            <td class="mat-cell td-info">
              <p>{{getAffaireList(invoice)}}</p>
            </td>
            <td class="mat-cell td-info">
              <p>{{invoice.billingLabel}}</p>
              <p>{{invoice.billingLabelAddress}}</p>
              <p>{{invoice.billingLabelPostalCode}} {{invoice.billingLabelCity?invoice.billingLabelCity.label:""}}
                {{invoice.billingLabelCountry?invoice.billingLabelCountry.label:""}}</p>
            </td>
            <td class="mat-cell td-info">
              <p>{{getCustomerOrderName(invoice)}} <mat-icon matTooltip="Voir le donneur d'ordre" color="accent"
                  class="pointer" (click)="openCustomerOrderLink($event )"
                  (auxclick)="openCustomerOrderLink($event)">visibility</mat-icon></p>
              <p>{{getCustomerOrder(invoice).address}}</p>
              <p>{{getCustomerOrder(invoice).postalCode}}
                {{getCustomerOrder(invoice).city?getCustomerOrder(invoice).city.label:""}}{{getCustomerOrder(invoice).country?getCustomerOrder(invoice).country.label:""}}
              </p>
              <p>Compte client :
                {{getCustomerOrder(invoice).accountingAccountCustomer.principalAccountingAccount.code+"-"+getCustomerOrder(invoice).accountingAccountCustomer.accountingAccountSubNumber}}
                <br />Compte fournisseur :
                {{getCustomerOrder(invoice).accountingAccountProvider.principalAccountingAccount.code+"-"+getCustomerOrder(invoice).accountingAccountProvider.accountingAccountSubNumber}}
              </p>
            </td>
          </tr>
        </table>
        <table class="full-width mat-table description-table " *ngIf="invoice.provider">
          <tr class=" mat-header-row">
            <th class="mat-header-cell">Fournisseur</th>
          </tr>
          <tr class=" mat-row">
            <td class="mat-cell td-info">
              <p>{{invoice.provider.label}} <mat-icon matTooltip="Voir le fournisseur" color="accent" class="pointer"
                  (click)="openRoute($event,'/referential/provider/'+invoice.provider.id)"
                  (auxclick)="openRoute($event,'/referential/provider/'+invoice.provider.id)">visibility
                </mat-icon></p>
              <p>IBAN : {{invoice.provider.iban}}</p>
              <p>Compte fournisseur :
                {{invoice.provider.accountingAccountProvider.principalAccountingAccount.code+"-"+invoice.provider.accountingAccountProvider.accountingAccountSubNumber}}
              </p>
            </td>
          </tr>
        </table>
        <table class="full-width mat-table description-table "
          *ngIf="invoice.confrere && invoice.isInvoiceFromProvider">
          <tr class=" mat-header-row">
            <th class="mat-header-cell">Confrère (fournisseur)</th>
          </tr>
          <tr class=" mat-row">
            <td class="mat-cell td-info">
              <p>{{invoice.confrere.label}}</p>
            </td>
          </tr>
        </table>
        <table class="full-width mat-table description-table " *ngIf="invoice.tiers && invoice.isInvoiceFromProvider">
          <tr class=" mat-header-row">
            <th class="mat-header-cell">Tiers (fournisseur)</th>
          </tr>
          <tr class=" mat-row">
            <td class="mat-cell td-info">
              <p>{{invoice.tiers.denomination?invoice.tiers.denomination:invoice.tiers.firstname +' ' +
                invoice.tiers.lastname}}
              <p>
            </td>
          </tr>
        </table>
        <table class="full-width mat-table description-table "
          *ngIf="invoice.responsable && invoice.isInvoiceFromProvider">
          <tr class=" mat-header-row">
            <th class="mat-header-cell">Responsable (fournisseur)</th>
          </tr>
          <tr class=" mat-row">
            <td class="mat-cell td-info">
              <p>{{invoice.responsable.firstname +' ' + invoice.responsable.lastname}}
              <p>
            </td>
          </tr>
        </table>
        <table class="full-width container-affaire mat-table" *ngIf="invoice.customerOrder">
          <tr class=" mat-header-row">
            <th class="mat-header-cell" colspan="2">Facture</th>
          </tr>
          <ng-container *ngFor="let asso of invoice.customerOrder.assoAffaireOrders;let indexAsso = index">
            <tr class="mat-row">
              <td class="affaire mat-cell" colspan="2" *ngIf="asso.affaire && asso.affaire.denomination">
                {{asso.affaire.denomination}}
              </td>
              <td class="affaire mat-cell" colspan="2" *ngIf="asso.affaire && asso.affaire.firstname">
                {{asso.affaire.firstname}} - {{asso.affaire.lastname}} -
              </td>
            </tr>
            <ng-container *ngFor="let provision of asso.provisions">
              <tr class="mat-row" *ngIf="provision.provisionType">
                <td class="affaire mat-cell" colspan="2">
                  {{provision.provisionType.label}}
                </td>
              </tr>
              <ng-container *ngFor="let invoiceItem of provision.invoiceItems;let indexInvoiceItem = index">
                <tr class="mat-row">
                  <td class="mat-cell">
                    {{invoiceItem.label}}
                  </td>
                  <td class="td-price mat-cell">
                    {{invoiceItem.preTaxPrice|number}} €
                  </td>
                </tr>
                <tr class="mat-row" *ngIf="invoiceItem.discountAmount && invoiceItem.discountAmount>0">
                  <td class="mat-cell">
                    Remise
                  </td>
                  <td class="td-price remise mat-cell">
                    - {{invoiceItem.discountAmount|number}} €
                  </td>
                </tr>
                <tr class="mat-row" *ngIf="invoiceItem.vat">
                  <td class="mat-cell">
                    {{invoiceItem.vat.label}}
                  </td>
                  <td class="td-price mat-cell">
                    {{invoiceItem.vatPrice|number}} €
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>
        </table>
        <table class="full-width container-affaire mat-table" *ngIf="!invoice.customerOrder">
          <tr class=" mat-header-row">
            <th class="mat-header-cell" colspan="2">Facture</th>
          </tr>
          <ng-container *ngFor="let invoiceItem of invoice.invoiceItems;let indexInvoiceItem = index">
            <tr class="mat-row">
              <td class="mat-cell">
                {{invoiceItem.label}}
              </td>
              <td class="td-price mat-cell">
                {{invoiceItem.preTaxPrice|number}} €
              </td>
            </tr>
            <tr class="mat-row" *ngIf="invoiceItem.discountAmount && invoiceItem.discountAmount>0">
              <td class="mat-cell">
                Remise
              </td>
              <td class="td-price remise mat-cell">
                - {{invoiceItem.discountAmount|number}} €
              </td>
            </tr>
            <tr class="mat-row" *ngIf="invoiceItem.vat">
              <td class="mat-cell">
                {{invoiceItem.vat.label}}
              </td>
              <td class="td-price mat-cell">
                {{invoiceItem.vatPrice|number}} €
              </td>
            </tr>
          </ng-container>
        </table>
        <table class="total-table mat-table full-width">
          <tr class=" mat-header-row">
            <th class="mat-header-cell" colspan="2">Total</th>
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">
              Prix total HT
            </td>
            <td class="td-price mat-cell">
              {{getPreTaxPriceTotal() |number}} €
            </td>
          </tr>
          <tr class="mat-row" *ngIf="getDiscountTotal() && getDiscountTotal()>0">
            <td class="mat-cell">
              Remise totale
            </td>
            <td class="td-price remise mat-cell">
              - {{getDiscountTotal()|number}} €
            </td>
          </tr>
          <tr class="mat-row" *ngIf="getDiscountTotal() && getDiscountTotal()>0">
            <td class="mat-cell">
              Total HT avec remise
            </td>
            <td class="td-price mat-cell">
              {{getPreTaxPriceTotal()-getDiscountTotal()|number}} €
            </td>
          </tr>
          <ng-container *ngIf="getApplicableVat().length>0">
            <tr *ngFor="let vat of getApplicableVat()">
              <td class="mat-cell">
                Total {{vat.label}} sur la base de {{vat.base |number}} €
              </td>
              <td class="td-price mat-cell">
                {{vat.total|number}} €
              </td>
            </tr>
          </ng-container>
          <tr class="mat-row">
            <td class="mat-cell">
              Total TTC
            </td>
            <td class="td-price mat-cell">
              {{getPriceTotal()|number}} €
            </td>
          </tr>
        </table>
        <invoice-payment-table [invoice]="invoice"></invoice-payment-table>
      </div>
    </mat-tab>
    <mat-tab label="Associer un paiement"
      *ngIf="getAmountRemaining(invoice)>0 && (invoice.invoiceStatus.id==invoiceStatusSend.id ||invoice.invoiceStatus.id==invoiceStatusReceived.id)">
      <invoice-payment (stateChanged)=" onStateChange()" [invoice]="invoice">
      </invoice-payment>
    </mat-tab>
    <mat-tab label="Suivi" *ngIf="invoice.id && invoice.invoiceStatus.id==invoiceStatusSend.id ">
      <div>
        <ul>
          <li [ngClass]="{'color-warn':beforeToday(invoice.dueDate)}">Echéance de paiement : {{invoice.dueDate |
            date:'dd/MM/yyyy'}}</li>
          <li *ngIf="invoice.firstReminderDateTime && beforeToday(invoice.firstReminderDateTime)">Relance n°1 :
            {{invoice.firstReminderDateTime |date:'dd/MM/yyyy'}}
            <chips-status class="chips-reminder" [status]="beforeToday(invoice.firstReminderDateTime)?'SENT':'WAITING'"
              [value]="beforeToday(invoice.firstReminderDateTime)?'Envoyée':'En attente'"></chips-status>
          </li>
          <li *ngIf="invoice.secondReminderDateTime && beforeToday(invoice.secondReminderDateTime)">Relance n°2 :
            {{invoice.secondReminderDateTime|date:'dd/MM/yyyy'}}
            <chips-status class="chips-reminder" [status]="beforeToday(invoice.secondReminderDateTime)?'SENT':'WAITING'"
              [value]="beforeToday(invoice.secondReminderDateTime)?'Envoyée':'En attente'"></chips-status>
          </li>
          <li *ngIf="invoice.thirdReminderDateTime && beforeToday(invoice.thirdReminderDateTime)">Relance n°3 :
            {{invoice.thirdReminderDateTime|date:'dd/MM/yyyy'}}
            <chips-status class="chips-reminder" [status]="beforeToday(invoice.thirdReminderDateTime)?'SENT':'WAITING'"
              [value]="beforeToday(invoice.thirdReminderDateTime)?'Envoyée':'En attente'"></chips-status>
          </li>
        </ul>
      </div>
      <tiers-followup [invoice]="invoice" [editMode]="true"></tiers-followup>
    </mat-tab>
    <mat-tab label="Historique" *ngIf="invoice.id">
      <history [entity]="invoice" [entityType]="INVOICE_ENTITY_TYPE"></history>
    </mat-tab>
  </mat-tab-group>
</div>
<button matTooltip="Editer la facture" mat-fab color="accent" class="fab-button" (click)="editInvoice($event)"
  (auxclick)="editInvoice($event)">
  <mat-icon>edit</mat-icon>
</button>
<button
  *ngIf="false && invoice && (invoice.invoiceStatus.code==invoiceStatusSend.code || invoice.invoiceStatus.code==invoiceStatusPayed.code  || invoice.invoiceStatus.code==invoiceStatusReceived.code) "
  matTooltip="Annuler la facture" mat-fab color="accent" class="second-fab-button" (click)="cancelInvoice($event)">
  <mat-icon>close</mat-icon>
</button>