<footer class="footer bg-dark position-relative pb-4 pt-md-3 py-lg-4 py-xl-5">
  <div class="d-none d-dark-mode-block position-absolute top-0 start-0 w-100 h-100"
    style="background-color: rgba(255,255,255, .03);"></div>
  <div class="container position-relative z-2 pt-5 pb-2" data-bs-theme="dark">

    <!-- Columns with links -->
    <div class="row" id="links">
      <div class="col-md-3 col-xl-2 pb-2 pb-md-0">
        <h3 class="h6 text-uppercase d-none d-md-block">Useful links</h3>
        <a class="btn-more h6 mb-1 text-uppercase text-decoration-none d-flex align-items-center collapsed d-md-none"
          href="#useful" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="useful"
          data-show-label="Useful links" data-hide-label="Useful links" aria-label="Useful links"></a>
        <div class="collapse d-md-block" id="useful" data-bs-parent="#links">
          <ul class="nav flex-column pb-2 pb-md-0">
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Trending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Sale</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Shipping &amp; Returns</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Delivery info</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-xl-2 pb-2 pb-md-0">
        <h3 class="h6 text-uppercase d-none d-md-block">Decors</h3>
        <a class="btn-more h6 mb-1 text-uppercase text-decoration-none d-flex align-items-center collapsed d-md-none"
          href="#decors" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="decors"
          data-show-label="Decors" data-hide-label="Decors" aria-label="Decors"></a>
        <div class="collapse d-md-block" id="decors" data-bs-parent="#links">
          <ul class="nav flex-column pb-2 pb-md-0">
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Vases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Mirrors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Paintings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Figurines</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Textile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Lighting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Photo frames</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-xl-2 pb-2 pb-md-0">
        <h3 class="h6 text-uppercase d-none d-md-block">Categories</h3>
        <a class="btn-more h6 mb-1 text-uppercase text-decoration-none d-flex align-items-center collapsed d-md-none"
          href="#categories" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="categories"
          data-show-label="Categories" data-hide-label="Categories" aria-label="Categories"></a>
        <div class="collapse d-md-block" id="categories" data-bs-parent="#links">
          <ul class="nav flex-column pb-2 pb-md-0">
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Kitchen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Bathroom</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Living room</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">Bedroom</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 pb-2 pb-md-0">
        <h3 class="h6 text-uppercase d-none d-md-block">Showroom</h3>
        <a class="btn-more h6 mb-1 text-uppercase text-decoration-none d-flex align-items-center collapsed d-md-none"
          href="#showroom" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="showroom"
          data-show-label="Showroom" data-hide-label="Showroom" aria-label="Showroom"></a>
        <div class="collapse d-md-block" id="showroom" data-bs-parent="#links">
          <ul class="nav flex-column pb-3">
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="#">1501 Main St, Ste 50<br>Tewksbury MA 01876</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="mailto:email@example.com">emailexample.com</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-normal px-0 py-1" href="+15262200459">+1&nbsp;526&nbsp;220&nbsp;0459</a>
            </li>
          </ul>
          <ul class="list-unstyled mb-0 pb-3 pb-md-0">
            <li class="text-light opacity-90 mb-2">Mon-Fri: 8:00 - 21:00</li>
            <li class="text-light opacity-90 mb-2">Sat: 8:00 - 21:00</li>
            <li class="text-light opacity-90">Sun: 8:00 - 21:00</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-xl-3 mt-md-2 mt-xl-0 pt-2 pt-md-4 pt-xl-0">
        <h3 class="h6 text-uppercase mb-1 pb-1">Download our app</h3>
        <div class="d-flex d-xl-block d-xxl-flex">
          <a class="btn btn-secondary px-3 py-2 mt-3 me-3" href="#">
            <img class="mx-1" src="assets/img/market/appstore-light.svg" width="120" alt="App Store">
          </a>
          <a class="btn btn-secondary px-3 py-2 mt-3" href="#">
            <img class="mx-1" src="assets/img/market/googleplay-light.svg" width="119" alt="Google Play">
          </a>
        </div>
      </div>
    </div>

    <!-- Nav + Switcher -->
    <div class="d-sm-flex align-items-end justify-content-between border-bottom mt-2 mt-sm-1 pt-4 pt-sm-5">

      <!-- Nav -->
      <nav class="nav d-flex mb-3 mb-sm-4">
        <a class="nav-link text-body-secondary fs-sm fw-normal ps-0 pe-2 py-2 me-4" href="#">Support</a>
        <a class="nav-link text-body-secondary fs-sm fw-normal ps-0 pe-2 py-2 me-4" href="#">Privacy</a>
        <a class="nav-link text-body-secondary fs-sm fw-normal ps-0 pe-2 py-2 me-sm-4" href="#">Terms of use</a>
      </nav>
    </div>

    <!-- Logo + Socials + Cards -->
    <div class="d-sm-flex align-items-center pt-4">
      <div class="d-sm-flex align-items-center pe-sm-2">
        <a class="navbar-brand d-inline-flex align-items-center me-sm-5 mb-4 mb-sm-0" href="/">
          <img class="navbar-brand" ui-sref='main.tiers' [src]="logoJss" width="60" />
        </a>
        <div class="d-flex mb-4 mb-sm-0">
          <a class="btn btn-icon btn-sm btn-secondary btn-telegram rounded-circle mx-2 ms-sm-0 me-sm-3" href="#"
            aria-label="Facebook">
            <i class="ai-facebook"></i>
          </a>
          <a class="btn btn-icon btn-sm btn-secondary btn-instagram rounded-circle mx-2 ms-sm-0 me-sm-3" href="#"
            aria-label="Instagram">
            <i class="ai-instagram"></i>
          </a>
          <a class="btn btn-icon btn-sm btn-secondary btn-facebook rounded-circle mx-2 ms-sm-0 me-sm-3" href="#"
            aria-label="LinkedIn">
            <i class="ai-linkedin"></i>
          </a>
          <a class="btn btn-icon btn-sm btn-secondary btn-pinterest rounded-circle mx-2 ms-sm-0 me-sm-3" href="#"
            aria-label="X">
            <i class="ai-x"></i>
          </a>
        </div>
      </div>
      <img class="ms-sm-auto" src="assets/img/shop/footer-cards.png" width="187" alt="Accepted cards">
    </div>
  </div>
  <div class="pt-5 pt-lg-0"></div>
</footer>