:host {
  color: #2C4057;
}

:host ::ng-deep * {
  color: #2C4057;
  --ar-body-color: #2C4057;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  color: #4B6380;
}

.quotation-breadcrumb {
  background-color: var(--ar-primary);
  z-index: 100;
  position: relative;
}

.quotation-nav-link {
  border-color: transparent;
  --ar-nav-tabs-link-active-bg: #ECF5FF;
  --ar-nav-tabs-link-active-border-color: #ECF5FF;
  --ar-nav-tabs-link-active-color: #2C4057;
  color: var(--ar-gray-600);
  border-color: transparent !important;
  border-bottom-width: 0px;
}

:host ::ng-deep .btn:hover {
  background-color: #ECF5FF;
  border-color: #2C4057;
}

:host ::ng-deep .btn-primary:hover {
  color: #2C4057;
}

:host ::ng-deep .btn-primary:hover i {
  color: #2C4057;
}

:host ::ng-deep .btn-primary:hover span {
  color: #2C4057;
}

:host ::ng-deep .btn.btn-outline-primary {
  color: #2C4057;
}

:host ::ng-deep .btn-secondary {
  color: #ffffff;
}

:host ::ng-deep .btn-secondary:hover {
  color: #2C4057;
}

:host ::ng-deep .btn-secondary i {
  color: #ffffff;
}

:host ::ng-deep .btn-secondary:hover i {
  color: #2C4057;
}

:host ::ng-deep .btn-secondary span {
  color: #ffffff;
}

:host ::ng-deep .btn-secondary:hover span {
  color: #2C4057;
}

.btn.btn-outline-primary:hover {
  color: var(--ar-secondary);
}

:host ::ng-deep .btn.btn-outline-secondary {
  color: #2C4057;
}

:host ::ng-deep .btn-outline-danger {
  color: var(--ar-danger);
}

:host ::ng-deep .btn-outline-danger i {
  color: var(--ar-danger);
}

:host ::ng-deep .btn-outline-danger:hover {
  border-color: #fff;
  background-color: var(--ar-danger);
}

:host ::ng-deep .btn-outline-danger:hover i {
  color: var(--ar-primary);
  border-color: var(--ar-secondary);
}

:host ::ng-deep .btn-warning {
  background-color: #f0d36a;
}

:host ::ng-deep .btn-warning i {
  color: #ffff;
}

:host ::ng-deep .btn-warning:hover {
  border-color: #fff;
  background-color: var(--ar-warning);
}

:host ::ng-deep .btn-warning:hover i {
  color: var(--ar-primary);
  border-color: var(--ar-secondary);
}

:host ::ng-deep .btn-selected-blue {
  background-color: var(--ar-secondary-bg);
  border-color: var(--ar-secondary);
}

:host ::ng-deep .btn-selected-blue i {
  color: white;
}

:host ::ng-deep .btn-selected-yellow {
  background-color: var(--ar-tertiary-bg);
}

:host ::ng-deep .btn-selected-yellow i {
  color: white;
}

:host ::ng-deep .btn-disabled {
  background-color: var(--ar-gray-400);
}

:host ::ng-deep .btn-disabled:hover {
  background-color: var(--ar-gray-400);
  border-color: var(--ar-gray-400);
}

:host ::ng-deep .btn-disabled i {
  color: white;
}

:host ::ng-deep .form-label {
  color: var(--ar-secondary);
}

:host ::ng-deep .form-control {
  color: var(--ar-gray-600);
}

:host ::ng-deep .form-control:focus {
  color: #2C4057;
}

::ng-deep .sub-title {
  margin-top: 2rem;
  font-weight: 600;
  opacity: 80%;
}

:host ::ng-deep input::placeholder {
  color: var(--ar-gray-600);
}

:host ::ng-deep .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-bottom-color: var(--ar-secondary);
  border-bottom-width: 3px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  color: var(--ar-secondary);
}

:host ::ng-deep .nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link {
  color: var(--ar-gray-700);
  border-radius: 0%;
  border-bottom-width: 0px;
}

:host ::ng-deep .white-card {
  background-color: var(--ar-primary);
  position: relative;
  cursor: pointer;
  border: 1px solid var(--ar-secondary);
}

:host ::ng-deep .card.selected, .card:hover {
  border: 3px solid var(--ar-secondary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

:host ::ng-deep .card:hover {
  opacity: 0.9;
}

:host ::ng-deep .pill {
  position: relative;
  z-index: 1;
}

:host ::ng-deep .dropdown-menu, :host ::ng-deep.dropdown-menu:hover, :host ::ng-deep.dropdown-item, :host ::ng-deep .dropdown-item:hover {
  --ar-dropdown-bg: #fff;
  color: #1c2d41 !important;
}

.cursor-default {
  cursor: default;
}