<section class="pt-5 mt-5 quotation-breadcrumb">
  <h1 style="font-size: 1px; color: white;">Nouvelle commande</h1>
  <div class="container">

    <h2>{{selectedTab?.label?.substring(2)}}</h2>

    <div class="d-flex justify-content-between align-items-center row pb-3">
      <!-- Nav tabs -->
      <ul class="col-auto nav nav-tabs align-items-center mb-0" role="tablist">
        <li class="nav-item d-flex align-items-center rounded-4" *ngFor="let item of myJssQuotationItems;">
          <i class="ai-chevron-right quotation-nav-link me-2 fs-5" *ngIf="item!=myJssQuotationItems[0]"></i>
          <a class="quotation-nav-link nav-link rounded-1 " [class.active]="item == selectedTab"
            [class.disabled]="!isStepAccessible(item)">
            {{ item.label }}
          </a>
        </li>
      </ul>

      <div class="col-auto d-flex align-items-center">
        <osi-tooltip tootltipCodeToDisplay="MYJSS_QUOTATION_GENERAL_CANCEL" class="me-2"></osi-tooltip>
        <div class="btn btn-outline-secondary" (click)="cleanStorageData()">Effacer</div>
      </div>
    </div>
  </div>
</section>

<!-- Content Section -->
<div class="tab-content">
  <div>
    <div class="tab-pane mb-5">
      <router-outlet></router-outlet>
      <div class="container">
        <notice-template *ngIf="isNoticeTemplateReadyToBeShown && selectedTab && selectedTab.id "
          [hidden]="!selectedServiceInRequiredInformation || !isShowNoticeTemplate || selectedTab.id!=2"
          [service]="selectedServiceInRequiredInformation"></notice-template>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmation -->
<ng-template #cleanModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="confirmBackModalLabel">Confirmation</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Fermer"></button>
  </div>
  <div class="modal-body">
    Êtes-vous sûr de vouloir tout effacer ? L'ensemble de votre progression sera perdue.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annuler</button>
    <button type="button" class="btn btn-danger ms-2" (click)="finalCancel();modal.dismiss()">Confirmer</button>
  </div>
</ng-template>