<header class="header-area">
  <div class="header-navbar-top py-1 d-none d-lg-block">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center flex-wrap py-0">
        <div class="d-flex flex-wrap">
          <a (click)="openNewAnnouncement($event)" class="me-2 pointer">PUBLIER UNE ANNONCE LÉGALE <i
              class="fa fa-external-link-alt ms-1"></i></a>
          <a (click)="openNewFormality($event)" class="middle-link me-2 px-2  pointer">DÉPOSER UNE FORMALITÉ <i
              class="fa fa-external-link-alt ms-1"></i></a>
          <a (click)="openSearchAnnouncement($event)" class=" pointer">CONSULTER UNE ANNONCE LÉGALE <i
              class="fa fa-external-link-alt ms-1"></i></a>
        </div>
        <div class="d-flex align-items-center flex-wrap gap-2">
          <a routerLink="kiosk">KIOSQUE</a>
          <a routerLink="newsletter">NEWSLETTER</a>
          <ul class="list-inline mb-0 d-flex gap-1">
            <li class="list-inline-item">
              <a class="social-icon rounded-circle d-flex align-items-center justify-content-center" href="#"
                (click)="openLinkedinJssPage()">
                <i class="bi-linkedin"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="social-icon rounded-circle d-flex align-items-center justify-content-center" href="#"
                (click)="openFacebookJssPage()">
                <i class="bi-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="social-icon rounded-circle d-flex align-items-center justify-content-center" href="#"
                (click)="openInstagramJssPage()">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header-navbar-middle d-none d-lg-block">
    <div class="container">
      <div class="navbar-brand-wrapper py-1 d-flex justify-content-between align-items-center">
        <a class="btn btn-secondary pointer" (click)="openMyJss($event)">MyJSS<i
            class="fa fa-external-link-alt ms-1"></i></a>
        <a class="navbar-brand ms-5 ps-3" href="index.html">
          <img class="lazyload" src="assets/images/homepage/logo.svg" alt="image">
        </a>
        <div>
          <a class="btn btn-light me-2 pointer" *ngIf="!currentUser" (click)="openSignIn($event)">Se connecter</a>
          <a class="btn btn-yellow " *ngIf="!currentUser" routerLink="subscription">S'abonner</a>
          <!-- User signed in state. Account dropdown on screens > 576px -->
          <div class="dropdown nav" [ngClass]="{ show: dropdownOpen }" *ngIf="currentUser && currentUser.id">
            <a href="#" role="button" class="d-flex align-items-center p-0 user-account dropdown-toggle"
              (click)="toggleDropdown($event)" [attr.aria-expanded]="dropdownOpen">

              <avatar class="avatar-select" [user]="currentUser" [size]="48"></avatar>

              <div class="ps-2 d-none d-md-block">
                <div class="fs-xs lh-1 opacity-60">Bonjour,</div>
                <div class="fs-sm">{{ capitalizeName(currentUser.firstname + ' ' + currentUser.lastname) }}</div>
              </div>
            </a>

            <div class="dropdown-menu dropdown-menu-end my-1 custom-drop" [ngClass]="{ show: dropdownOpen }">
              <h6 class="dropdown-header fs-xs fw-medium text-body-secondary text-uppercase pb-1">Mon compte</h6>
              <ng-container *ngFor="let item of myAccountItems">
                <a class="dropdown-item pointer" (click)="openMyJssRoute(item)"
                  *ngIf="item.mainItem==MAIN_ITEM_ACCOUNT">
                  <i class=" fs-lg opacity-70 me-2" [ngClass]="item.iconClass"></i>
                  {{item.label}}
                </a>
              </ng-container>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header fs-xs fw-medium text-body-secondary text-uppercase pb-1">Tableau de
                bord</h6>
              <ng-container *ngFor="let item of myAccountItems">
                <a class="dropdown-item" (click)="openMyJssRoute(item)" *ngIf="item.mainItem==MAIN_ITEM_DASHBOARD">
                  <i class="fs-lg opacity-70 me-2" [ngClass]="item.iconClass"></i>
                  {{item.label}}
                </a>
              </ng-container>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item btn-outline-light" [routerLink]="'/account/signout'">
                Se déconnecter
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="header-navbar-bottom pt-2 pt-lg-0 border-top border-light">
    <div class="container themeix-menu-selector">
      <nav class="navbar text-uppercase text-white-100 navbar-expand-lg">
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown"> <a class="nav-link  dropdown-toggle" routerLink="post/department/idf/all">île
                de France </a>

              <ul class="dropdown-menu">
                <li> <a *ngFor="let department of departments" class="dropdown-item" style="cursor: pointer;"
                    (click)="openDepartment(department,$event)">{{department.code!="0" ?(department.code+ " - ")
                    :""}}{{department.name}}</a>
                </li>
              </ul>
            </li>
            <li class="nav-item" *ngFor="let category of categories"> <a class="nav-link"
                [ngClass]="{'active':getCurrentRoute().indexOf('/post/category')>=0 && getCurrentRoute().indexOf('/'+category.slug)>=0}"
                style="cursor: pointer;" (click)="openCategoryPosts(category,$event)">{{category.name}}</a></li>

            <li class="nav-item nav-item-podcast"><span><a class="nav-link podcast-nav-link mt-auto py-0 ps-2"
                  routerLink="podcasts">Podcast<span><i class="fas fa-bolt"></i></span></a></span></li>

            <li class="nav-item"><a class="nav-link" href="#"><img src="assets/images/premium-icon.svg"
                  class="me-1" />Premium</a></li>
          </ul>
        </div>
        <div class="search-modal"><a class="nav-link pointer" (click)="displaySearchModal(searchModal)"> <i
              class="fas fa-search"></i></a>
        </div>
      </nav>
    </div>
  </div>
</header>


<!-- Modal Search START -->
<ng-template #searchModal let-modal>
  <div class="modal-header border-0 pt-sm-5 pe-sm-5">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="row align-items-center h-100">
      <div class="col-lg-5 mx-auto mb-5">
        <h2 class="mb-4">Rechercher des articles du JSS</h2>
        <!-- Search form START -->
        <form class="position-relative w-100">
          <div class="mb-2 input-group-lg mb-0 position-relative">
            <!-- Search input -->
            <input class="form-control mb-0 pe-6" type="text" name="search" placeholder="Que recherchez-vous ?"
              autocomplete='off' autocomplete="nope" [(ngModel)]="searchText" (keydown)="searchEntities()"
              [ngModelOptions]="{standalone: true}" autocorrect="off" autocapitalize="off" spellcheck="false">
          </div>
          <div *ngIf="searchInProgress" class="position-absolute top-50 translate-middle-y end-4 me-4"
            style="z-index: 2;">
            <div class="spinner-border spinner-border-sm text-secondary" role="status" aria-hidden="true"></div>
          </div>
          <!-- Search button -->
          <button type="button" class="position-absolute end-0 top-0 btn h-100 border-0">
            <i class="bi bi-search display-8"></i>
          </button>
        </form>
        <!-- Search form END -->
        <p class="small mb-0">ex : droit des société, tribunal d'instance, TUP </p>
      </div>
    </div>
    <div class="row">
      <div *ngIf="indexedEntities" class="col-lg-8 mx-auto">
        <div *ngFor="let post of indexedEntities">
          <article data-aos="fade-up" class="blog-style2 card my-3">
            <div class="feature-image order-1 order-lg-0">
              <div class="image-frame image-hover-style-1">
                <a (click)="openPost(post.text.slug, $event)"> <img class="lazyload" *ngIf="post.text.media"
                    [src]="post.text.media.urlLarge!=null ? post.text.media.urlLarge : post.text.media.urlFull"
                    [alt]="post.text.media.alt_text" class="w-100"></a>
              </div>
            </div>
            <div data-aos="fade-in" class="card-body d-flex flex-column flex-lg-row align-items-stretch p-0">
              <div class="order-0 order-lg-1">
                <div class="row align-items-center ms-0 mb-1"
                  *ngIf="post.text.jssCategories && post.text.jssCategories.length>0">
                  <a (click)="openCategoryPosts(post.text.jssCategories[0], $event)"
                    class="badge bg-info rounded-pill px-1 col-auto me-2 mb-0">{{post.text.jssCategories[0].name}}</a>
                </div>
                <h4>
                  <a class="card-text-truncate" (click)="openPost(post.text.slug, $event)"> <img
                      *ngIf="post.text.isPremium" class="col-auto pe-1"
                      src="/assets/images/premium-icon.svg">{{post.text.titleText}}</a>
                </h4>
                <div class="">
                  <div class="card-truncate-6-line">{{post.text.excerptText}}
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <div class="author-block">
                      <ul class="avatar list-inline mb-0">
                        <li class="list-inline-item align-items-center" *ngIf="post.text.author"><a class="fs-9"><img
                              [src]="post.text.author.avatar_url_size_24" [alt]="post.text.author.name"
                              data-bs-toggle="tooltip" data-bs-placement="top" [title]="post.text.author.name">
                            {{post.text.author.name}}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6"> <span class="date-info fs-9 float-lg-end">
                      <span>Publié le {{post.text.date | date:'EEEE d MMMM'}}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</ng-template>