<header class="header-area">
  <div class="header-navbar-middle d-none d-lg-block">
    <div class="container">
      <div class="navbar-brand-wrapper py-1 d-flex justify-content-between align-items-center">
        <a class="btn btn-secondary btn-fixed-secondary px-3 align-items-center d-flex" (click)="openMyJss()"
          target="_blank" [href]="frontendMyJssUrl+MY_JSS_HOME_ROUTE"><img
            src="assets/images/homepage/my-jss-logo-link.svg" /><i class="bi-arrow-up-right ms-1"></i></a>
        <a class="navbar-brand ms-5 ps-3 " [routerLink]="['/']">
          <img class="lazyload" src="assets/images/homepage/logo.svg" style="max-height: 90px;" alt="image">
        </a>
        <div>
          <a class="btn btn-light me-2 pointer" *ngIf="!currentUser" (click)="openSignIn()"
            [href]="frontendMyJssUrl+MY_JSS_SIGN_IN_ROUTE">Se connecter</a>
          <a class="btn btn-yellow " *ngIf="!currentUser" (click)="openSubscribe($event)"
            routerLink="/subscription">S'abonner</a>
          <!-- User signed in state. Account dropdown on screens > 576px -->
          <div class="dropdown nav" [ngClass]="{ show: dropdownOpen }" *ngIf="currentUser && currentUser.id">
            <a href="#" role="button" class="d-flex align-items-center p-0 user-account dropdown-toggle"
              (click)="toggleDropdown($event)" [attr.aria-expanded]="dropdownOpen">

              <avatar class="avatar-select" [user]="currentUser" [size]="48"></avatar>

              <div class="ps-2 d-none d-md-block">
                <div class="fs-xs lh-1 opacity-60">Bonjour,</div>
                <div class="fs-sm">{{ capitalizeName(currentUser.firstname + ' ' + currentUser.lastname) }}</div>
              </div>
            </a>

            <div class="dropdown-menu dropdown-menu-end my-1 custom-drop" [ngClass]="{ show: dropdownOpen }">
              <a class="dropdown-item" [href]="frontendMyJssUrl+'/quotation/identification'">
                <i class="fs-lg opacity-70 me-2 ai-circle-plus"></i>
                Nouvelle demande
              </a>
              <h6 class="dropdown-header fs-xs fw-medium text-body-secondary text-uppercase pb-1">Tableau de
                bord</h6>
              <ng-container *ngFor="let item of myAccountItems">
                <a class="dropdown-item" [href]="frontendMyJssUrl+item.route"
                  *ngIf="item.mainItem==MAIN_ITEM_DASHBOARD">
                  <i class="fs-lg opacity-70 me-2" [ngClass]="item.iconClass"></i>
                  {{item.label}}
                </a>
              </ng-container>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header fs-xs fw-medium text-body-secondary text-uppercase pb-1">Mon compte</h6>
              <ng-container *ngFor="let item of myAccountItems">
                <a class="dropdown-item pointer" [href]="frontendMyJssUrl+item.route"
                  *ngIf="item.mainItem==MAIN_ITEM_ACCOUNT">
                  <i class=" fs-lg opacity-70 me-2" [ngClass]="item.iconClass"></i>
                  {{item.label}}
                </a>
              </ng-container>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item btn-outline-light" (click)="disconnect()">
                Se déconnecter
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="header-navbar-bottom pt-2 pt-lg-0 border-top border-light">
    <div class="container themeix-menu-selector">

      <!-- Top bar on mobile: burger - logo - search -->
      <div class="d-flex justify-content-between align-items-center d-lg-none pb-2 pt-1">
        <!-- Burger button -->
        <a class="btn btn-sm text-white rounded-1 border-light" (click)=" toggleMobileMenu()">
          <i class="bi bi-list fs-3"></i>
        </a>

        <!-- Mobile logo -->
        <a class="navbar-brand mx-auto" [routerLink]="['/']">
          <img src="assets/images/homepage/logo-white.svg" alt="logo" style="height: 40px;" />
        </a>

        <!-- Search icon -->
        <a class="nav-link pointer text-white" (click)="displaySearchModal(searchModal)">
          <i class="fas fa-search fs-5"></i>
        </a>
      </div>

      <!-- Navigation (desktop layout) -->
      <nav class="navbar navbar-expand-lg text-uppercase text-white-100 d-none d-lg-flex">
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown"> <a class="nav-link" *ngIf="idfPublishingDepartment"
                [ngClass]="{'active': getCurrentRoute().includes('/post/department') && getCurrentRoute().includes('/post/department')}"
                [routerLink]='"post/department/"+ idfPublishingDepartment.code'>Ile-de-France</a>
              <ul class="dropdown-menu">
                <li> <a *ngFor="let department of departments" class="dropdown-item"
                    [routerLink]='"/post/department/" + department.code'
                    (click)="openDepartment()">{{department.code.trim().length>0 &&
                    department.code!="0" ?(department.code+ " - ")
                    :""}}{{department.name}}</a>
                </li>
              </ul>
            </li>

            <!-- Categories -->
            <li class="nav-item" *ngFor="let category of categoriesByOrder">
              <a class="nav-link"
                [ngClass]="{'active': getCurrentRoute().includes('/post/category') && getCurrentRoute().includes('/'+category.slug)}"
                (click)="openCategoryPosts()" [routerLink]='"/post/category/" + category.slug'>
                {{category.name}}
              </a>
            </li>

            <!-- Podcast -->
            <li class="nav-item border-left nav-item-podcast">
              <span>
                <a class="nav-link podcast-nav-link mt-auto py-0 ps-2"
                  [ngClass]="{'active': getCurrentRoute().includes('/podcasts') && getCurrentRoute().includes('/podcasts')}"
                  routerLink="/podcasts">
                  Podcast
                </a>
              </span>
            </li>

            <!-- Premium -->
            <li class="nav-item">
              <a class="nav-link" (click)="openPremium()" routerLink="/post/premium">
                <img src="assets/images/premium-icon.svg" class="me-1" />Premium
              </a>
            </li>

            <!-- Annonce légale -->
            <li class="nav-item d-flex align-items-center">
              <a routerLink="/announcement/search" style="padding: 0 !important;"
                (click)="openSearchAnnouncement($event)">
                <button class="btn btn-outline-light fs-9 px-2 m-0 rounded-1" (click)="$event.stopPropagation()">
                  CONSULTER UNE ANNONCE LÉGALE
                </button>
              </a>
            </li>
          </ul>
          <a class="nav-link pointer text-white" (click)="displaySearchModal(searchModal)">
            <i class="fas fa-search fs-5"></i>
          </a>
        </div>
      </nav>

      <!-- Navigation Mobile (expandable) -->
      <div class="d-lg-none" *ngIf="isMobileMenuOpen" #menuMobile>
        <div class="py-3 row g-2">
          <div class="col">
            <a class="btn btn-light w-100" *ngIf="!currentUser" [href]="" (click)="openSignIn()"
              [href]="frontendMyJssUrl+MY_JSS_SIGN_IN_ROUTE">Se connecter</a>
          </div>
          <div class="col">
            <a class="btn btn-yellow btn-yellow-burger w-100" *ngIf="!currentUser" routerLink="/subscription"
              (click)="openSubscribe($event)">S'abonner</a>
          </div>
        </div>

        <ul class="navbar-nav me-auto">
          <!-- Département dropdown -->
          <li class="nav-item dropdown">
            <a class="w-100 mb-2" (click)="toggleDepartmentDropdown()">
              Île-de-France
              <i class="bi float-end"
                [ngClass]="{'bi-chevron-down': !showDepartments, 'bi-chevron-up': showDepartments}"></i>
            </a>
            <ul class="list-unstyled ps-3" *ngIf="showDepartments">
              <li *ngFor="let department of departments" class="py-1">
                <a class="text-white dropdown-item" (click)="openDepartment()"
                  [routerLink]='"/post/department/" + department.code'>
                  {{department.code !== '0' ? department.code + ' - ' : ''}}{{department.name}}
                </a>
              </li>
            </ul>
          </li>

          <!-- Categories -->
          <li class="nav-item" *ngFor="let category of categoriesByOrder">
            <a class="nav-link"
              [ngClass]="{'active': getCurrentRoute().includes('/post/category') && getCurrentRoute().includes('/'+category.slug)}"
              (click)="openCategoryPosts()" [routerLink]='"/post/category/" + category.slug'>
              {{category.name}}
            </a>
          </li>

          <!-- Podcast -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/podcasts">
              Podcast
            </a>
          </li>

          <!-- Premium -->
          <li class="nav-item">
            <a class="nav-link" (click)="openPremiumPosts()">
              Premium <img src="assets/images/premium-icon.svg" class="ms-1" />
            </a>
          </li>
        </ul>
        <hr>
        <!-- End buttons -->
        <div class="pt-1">
          <div class="pb-2 row g-2">
            <div class="col-sm col-12">
              <a class="btn btn-outline-light w-100 h-100 fs-9 d-flex align-items-center justify-content-center"
                (click)="openSearchAnnouncement($event)" routerLink="/announcement/search">CONSULTER UNE ANNONCE
                LÉGALE</a>
            </div>
            <div class="col-sm col-12 ">
              <a class="btn btn-outline-dark w-100 h-100 d-flex align-items-center justify-content-center border-light"
                (click)=" openMyJss()" [href]="frontendMyJssUrl+MY_JSS_HOME_ROUTE">
                <img src="assets/images/homepage/my-jss-logo-link.svg" /> <i class="bi-arrow-up-right ms-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>


<!-- Modal Search START -->
<ng-template #searchModal let-modal>
  <div class="modal-header border-0 pt-sm-5 pe-sm-5">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="row align-items-center"
      [ngClass]="{'h-50': posts && posts.length>0, 'h-100':  !posts || posts.length<=0}">
      <div class="col-lg-5 mx-auto mb-5">
        <h2 class="mb-4">Rechercher des articles du JSS</h2>
        <!-- Search form START -->
        <form class="position-relative w-100">
          <div class="mb-2 input-group-lg mb-0 position-relative">
            <!-- Search input -->
            <input class="form-control mb-0 pe-6" type="text" name="search" placeholder="Que recherchez-vous ?"
              autocomplete='off' autocomplete="nope" [(ngModel)]="searchText" (keydown)="searchEntities()"
              [ngModelOptions]="{standalone: true}" autocorrect="off" autocapitalize="off" spellcheck="false">
          </div>
          <div *ngIf="searchInProgress" class="position-absolute top-50 translate-middle-y end-4 me-4"
            style="z-index: 2;">
            <div class="spinner-border spinner-border-sm text-secondary" role="status" aria-hidden="true"></div>
          </div>
          <!-- Search button -->
          <button type="button" class="position-absolute end-0 top-0 btn h-100 border-0">
            <i class="bi bi-search display-8"></i>
          </button>
        </form>
        <!-- Search form END -->
        <p class="small mb-0">ex : droit des sociétés, tribunal d'instance, TUP </p>
      </div>
    </div>
    <div class="row">
      <div *ngIf="posts" class="col-lg-8 mx-auto">
        <div *ngFor="let post of posts">
          <article data-aos="fade-up" class="blog-style2 card my-3">
            <div class="feature-image order-1 order-lg-0">
              <div class="image-frame image-hover-style-1">
                <a (click)="openPost( )" [routerLink]='"/post/" + post.slug'> <img class="lazyload" *ngIf="post.media"
                    [src]="post.media.urlLarge!=null ? post.media.urlLarge : post.media.urlFull"
                    [alt]="post.media.alt_text" class="w-100"></a>
              </div>
            </div>
            <div data-aos="fade-in" class="ms-3 card-body d-flex flex-column flex-lg-row align-items-stretch p-0">
              <div class="order-0 order-lg-1">
                <div class="row align-items-center ms-0 mb-1" *ngIf="post.jssCategories && post.jssCategories.length>0">
                  <a (click)="openCategoryPosts()" [routerLink]='"/post/category/" + post.jssCategories[0].slug'
                    class="badge bg-info rounded-pill px-1 col-auto me-2 mb-0">{{post.jssCategories[0].name}}</a>
                </div>
                <h4>
                  <a class="card-text-truncate" (click)="openPost( )" [routerLink]='"/post/" + post.slug'> <img
                      *ngIf="post.isPremium" class="col-auto pe-1" src="/assets/images/premium-icon.svg"><img
                      *ngIf="post.isHidePremium" class="ms-1 pe-0"
                      src="/assets/images/premium-icon.svg">{{post.titleText}}</a>
                </h4>
                <div class="">
                  <span class="card-truncate-6-line" [innerHTML]="post.excerptText| trustHtml"></span>
                </div>
                <div class="row align-items-center">
                  <div class="col-lg-6"
                    *ngIf="post.isHiddenAuthor==undefined || post.isHiddenAuthor==null || post.isHiddenAuthor==false">
                    <div class="author-block">
                      <ul class="avatar list-inline mb-0">
                        <li class="list-inline-item align-items-center" *ngIf="post.fullAuthor"><a class="fs-9"><img
                              [src]="post.fullAuthor.avatar_url_size_24" [alt]="post.fullAuthor.name" placement="top"
                              [ngbTooltip]="post.fullAuthor.name">
                            {{post.fullAuthor.name}}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6"> <span class="date-info fs-9 float-lg-end">
                      <span>Publié le {{post.date | literalDatePipe}}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</ng-template>