.table-container-scroll {
  max-height: 215px;
  overflow-y: auto;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  padding-right: 8px;
}

.no-font {
  font-family: initial !important;
  font-size: initial !important;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 200px;
}
