<div>
  <div>
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target)" placeholder="Rechercher">
    </mat-form-field>
  </div>
  <div class="table-container-scroll">
    <sort-table [columns]="displayedColumns" (onRowClick)="selectEntity($event)" [values]="entities"
      tableName="Référentiel " [idRowSelected]="idRowSelected" [filterText]="searchText">
    </sort-table>
  </div>
</div>
<div class="mat-elevation-z2 form-div" *ngIf="selectedEntity ">
  <form [formGroup]="entityForm2">
    <div class="full-width">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <table class="full-width">
          <tr *ngIf="selectedEntity.id">
            <td>
              <generic-input [(model)]="selectedEntity.id" label="Identifiant technique" [form]="entityForm2"
                propertyName="id" [isMandatory]="true" [isDisabled]="true"></generic-input>
            </td>
          </tr>
          <tr>
            <td>
              <generic-input [(model)]="selectedEntity.code" label="Codification" [maxLength]="40" [form]="entityForm2"
                propertyName="code" [isMandatory]="true" [isDisabled]="!editMode"></generic-input>
            </td>
          </tr>
          <tr>
            <td>
              <generic-input [(model)]="selectedEntity.label" label="Nom fonctionnel" [maxLength]="100"
                [form]="entityForm2" propertyName="label" [isMandatory]="true" [isDisabled]="!editMode"></generic-input>
            </td>
          </tr>
          <tr>
            <td>
              <chips-provision-family label="Familles de prestations associées"
                [(model)]="selectedEntity.provisionFamilyTypes" [form]="entityForm2" propertyName="provisionFamilyTypes"
                [isMandatory]="false" [isDisabled]="!editMode">
              </chips-provision-family>
            </td>
          </tr>
          <tr>
            <td>
              <div *ngIf="!editMode">
                <p>Texte :</p>
                <span [innerHTML]="selectedEntity.text| trustHtml" class="no-font"></span>
              </div>
              <ngx-trumbowyg-editor *ngIf="editMode" ngDefaultControl name="text" [(ngModel)]="selectedEntity.text"
                formControlName="notice"></ngx-trumbowyg-editor>
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
  </form>
</div>
