.wrapper-div {
  position: relative;
  overflow-y: auto;
}

.wrapper-max-height {
  max-height: calc(100vh - 225px);
}

.wrapper-div-smaller {
  max-height: calc(100vh - 270px);
}

.wrapper-div-smallest {
  max-height: calc(100vh - 300px);
}

.padding-bottom {
  padding-bottom: 100px;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.export-icon {
  position: absolute;
  top: 3px;
  right: 5px;
  transform: scale(0.66);
}

.column-icon {
  position: absolute;
  top: 3px;
  right: 30px;
  transform: scale(0.66);
}

.column-content-icon {
  position: relative;
  top: 8px;
  transform: scale(1);
}


.column-icon-number {
  position: absolute;
  top: 18px;
  right: -2px;
  transform: scale(0.7);
}

td {
  padding-right: 8px;
}

.td-label {
  white-space: nowrap;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar {
  padding-right: 5px;
}