.wrapper-div {
  position: relative;
}

.export-icon {
  position: absolute;
  top: 3px;
  right: 5px;
  transform: scale(0.66);
}

.column-icon {
  position: absolute;
  top: 3px;
  right: 30px;
  transform: scale(0.66);
}

.column-content-icon {
  position: relative;
  top: 8px;
  transform: scale(1);
}

td {
  padding-right: 8px;
}

.td-label {
  white-space: nowrap;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar {
  padding-right: 5px;
}
