.wrapper-div {
  position: relative;
}

.export-icon {
  position: absolute;
  top: 3px;
  right: 5px;
  color: white;
  transform: scale(0.66);
}

.column-icon {
  position: absolute;
  top: 3px;
  right: 30px;
  color: white;
  transform: scale(0.66);
}

.selected-mat-row {
  background-color: #6B9CBF;
}

.selected-mat-row:hover {
  background-color: #6B9CBF;
}

td {
  padding-right: 8px;
}

tr.mat-row {
  height: 20px;
}

.td-label {
  white-space: nowrap;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
