<div>
  <mat-tab-group animationDuration="0ms" #tabs>
    <mat-tab label="Factures">
      <invoice-list></invoice-list>
    </mat-tab>
    <mat-tab label="Paiements">
      <payment-list></payment-list>
    </mat-tab>
    <mat-tab label="Débours/frais">
      <debour-list></debour-list>
    </mat-tab>
    <mat-tab label="Remboursements">
      <refund-list></refund-list>
    </mat-tab>
    <mat-tab label="Virements">
      <bank-transfer-list></bank-transfer-list>
    </mat-tab>
    <mat-tab label="Prélèvements">
      <direct-debit-transfer-list></direct-debit-transfer-list>
    </mat-tab>
    <mat-tab label="Factures automatiques">
      <azure-invoice-list></azure-invoice-list>
    </mat-tab>
    <mat-tab label="Appoints">
      <appoint-list></appoint-list>
    </mat-tab>
    <mat-tab label="Factures Infogreffe">
      <infogreffe-invoice-list></infogreffe-invoice-list>
    </mat-tab>
  </mat-tab-group>
</div>