<div class="mat-elevation-z2 form-div min-height">
  <div class=" full-width">
    <table class="full-width table-fixed-layout">
      <tr>
        <td>
          <generic-toggle [(model)]="displayOnlyToCheck" label="Afficher seulement les factures à contrôler ?"
            [form]="azureInvoiceForm" propertyName="displayOnlyToCheck"></generic-toggle>
        </td>
        <td class="fab-td-button">
          <button mat-mini-fab color="warn" matTooltip="Rechercher" (click)="searchInvoices()" class="add-button">
            <mat-icon>search</mat-icon>
          </button>
        </td>
      </tr>
    </table>
    <sort-table [actions]="tableAction" [columns]="displayedColumns" [values]="invoices" tableName="Appoints">
    </sort-table>
  </div>
</div>