<!-- =======================
Footer START -->
<footer class="bg-white">
  <!-- Widgets START -->
  <section class="pt-0">
    <div class="container">
      <div class="row pt-5">
        <!-- Footer Widget -->
        <div class="col-md-6 col-lg-2 mb-4">
          <h5 class="mb-4">Actualités</h5>
          <div class="row">
            <div class="col-12">
              <ul class="nav flex-column text-primary-hover">
                <li class="nav-item"><a class="nav-link pt-0" style="cursor: pointer;"
                    [routerLink]='"/post/category/" + category.slug'
                    *ngFor="let category of jssCategories">{{category.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mb-4">
          <h5 class="mb-4">En Île-de-France</h5>
          <div class="row">
            <div class="col-12">
              <ul class="nav flex-column text-primary-hover">
                <li class="nav-item"><a class="nav-link pt-0" style="cursor: pointer;"
                    [routerLink]='"/post/department/" + department.id'
                    *ngFor="let department of departments">{{department.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mb-4">
          <h5 class="mb-4">Journal</h5>
          <div class="row">
            <div class="col-12">
              <ul class="nav flex-column text-primary-hover">
                <li class="nav-item"><a class="nav-link pt-0 px-0" style="cursor: pointer;"
                    [href]="frontendMyJssUrl+MY_JSS_SUBSCRIBE_ROUTE" target="_blank">S'abonner</a></li>
                <li class="nav-item"><a class="nav-link pt-0" style="cursor: pointer;"
                    routerLink="/podcasts">Podcasts</a></li>
                <li class="nav-item"><a class="nav-link pt-0" style="cursor: pointer;" routerLink="/series">Series et
                    dossiers</a></li>
                <li class="nav-item"><a class="nav-link pt-0" style="cursor: pointer;"
                    routerLink="/contribute">Contribuer</a></li>
                <li class="nav-item"><a class="nav-link pt-0" style="cursor: pointer;" routerLink="/kiosk">Kiosque</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mb-4">
          <h5 class="mb-4">Nos services</h5>
          <div class="row">
            <div class="col-12">
              <ul class="nav flex-column text-primary-hover">
                <li class="nav-item"><a class="nav-link pt-0 px-0" style="cursor: pointer;"
                    [href]="frontendMyJssUrl+MY_JSS_SERVICES_ANNOUNCEMENT_ROUTE" target="_blank">Annonces légales</a>
                </li>
                <li class="nav-item"><a class="nav-link pt-0 px-0" style="cursor: pointer;"
                    [href]="frontendMyJssUrl+MY_JSS_SERVICES_FORMALITY_ROUTE" target="_blank">Formalités légales</a>
                </li>
                <li class="nav-item"><a class="nav-link pt-0 px-0" style="cursor: pointer;"
                    [href]="frontendMyJssUrl+MY_JSS_SERVICES_APOSITLLE_ROUTE"
                    target="_blank">Apostilles-Légalisation</a></li>
                <li class="nav-item"><a class="nav-link pt-0 px-0" style="cursor: pointer;"
                    [href]="frontendMyJssUrl+MY_JSS_SERVICES_DOMICILIATION_ROUTE" target="_blank">Domiciliation</a></li>
                <li class="nav-item"><a class="nav-link pt-0 px-0" style="cursor: pointer;"
                    [href]="frontendMyJssUrl+MY_JSS_SERVICES_DOCUMENT_ROUTE" target="_blank">Fourniture de documents</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mb-4">
          <h5 class="mb-4">Le JSS</h5>
          <div class="row">
            <div class="col-12">
              <ul class="nav flex-column text-primary-hover">
                <li class="nav-item"><a class="nav-link pt-0 px-0" style="cursor: pointer;"
                    [href]="frontendMyJssUrl+MY_JSS_WHO_ARE_WE_ROUTE" target="_blank">Qui sommes-nous ?</a></li>
                <li class="nav-item"><a class="nav-link pt-0 px-0" style="cursor: pointer;"
                    [href]="frontendMyJssUrl+MY_JSS_JOIN_US_ROUTE" target="_blank">Nous
                    rejoindre</a></li>
                <li class="nav-item"><a class="nav-link pt-0 px-0" style="cursor: pointer;"
                    [href]="frontendMyJssUrl+MY_JSS_LEGAL_MENTIONS_ROUTE" target="_blank">Mentions légales</a></li>
                <li class="nav-item"><a class="nav-link pt-0 px-0" style="cursor: pointer;"
                    [href]="frontendMyJssUrl+MY_JSS_CGV_ROUTE" target="_blank">CGV</a>
                </li>
                <li class="nav-item"><a class="nav-link pt-0 px-0" style="cursor: pointer;"
                    [href]="frontendMyJssUrl+MY_JSS_CONFIDENTIALITY_ROUTE" target="_blank">Politique de
                    confidentialité</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mb-4">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link px-2 fs-5" href="https://www.facebook.com/Journal.Special.des.Societes"
                target="_blank"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 fs-5" href="https://twitter.com/Jss_Journal" target="_blank"><i
                  class="fab fa-twitter-square"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 fs-5" href="https://www.linkedin.com/company/journal-special-des-societes/"
                target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 fs-5" href="https://www.instagram.com/journalspecialdessocietes/"
                target="_blank"><i class="fab fa-instagram-square"></i></a>
            </li>
          </ul>
          <h5 class="mb-4"><a class="nav-link pt-0" style="cursor: pointer;" routerLink="/contact">Contact</a>
          </h5>
        </div>
      </div>
      <!-- Widgets END -->
    </div>
  </section>
  <!-- Hot topics END -->


</footer>
<!-- =======================
Footer END -->