<div *ngIf="currentEmployee">
  <div *ngIf="!isDisplayCommentInput" style="text-align: center;"><button mat-fab extended color="primary"
      (click)="toggleDisplayCommentInput()">
      <mat-icon>add_comment</mat-icon>
      Ajouter un commentaire
    </button></div>
  <table class="full-width" [formGroup]="commentForm" *ngIf="isDisplayCommentInput">
    <tr>
      <td>
        <editor apiKey="7pgnveyplwectwsk1gw9tdhl1vz1r0lt0zt9jkea2ypfllpm" formControlName="newComment"
          [disabled]="false" [(ngModel)]="newComment.comment" [init]="{
                    menubar: false,
                    selector: '.editor-textarea',
                    inline : true,
                    min_height : 200,
                    entity_encoding : 'raw',
                    browser_spellcheck: true,
                    language: 'fr_FR',
                    plugins: ['lists', 'advlist'
                    ],
                    toolbar:
                    'undo redo | styleselect  |  fontsize | bold italic underline forecolor backcolor | \
                     numlist bullist | \
                    bullist numlist outdent indent | removeformat | '
                  }"></editor>
      </td>
      <td style="width : 20px ; vertical-align: middle;">
        <button mat-mini-fab matTooltip="Ajouter un commentaire" (click)="addNewComment()">
          <mat-icon>add_comment</mat-icon>
        </button>
      </td>
    <tr>
      <td colspan="2" style="display : flex; padding-left: 10px;padding-right: 10px;">
        <chips-status style="margin-right : 5px" *ngFor="let group of adGroups" [value]="'@'+group.label"
          [status]="isAdGroupSelectedInComment(group,newComment)?'SELECTED' : ''"
          (click)="toggleAdGroup(group)"></chips-status>
      </td>
    </tr>
  </table>
  <div class="div-speech">
    <div class="speech-wrapper">
      <div class="bubble" *ngFor="let comment of comments" [class.bubble-for-myself]="comment.isCurrentUserInGroup">
        <div class="txt">
          <p class="name" [ngStyle]="{ 'color': getEmployeeBackgoundColor(comment.employee) }" style="display : flex">
            <span *ngIf="comment.employee">{{comment.employee.firstname}} {{comment.employee.lastname}}</span> <span
              *ngIf="comment.provision" style="color :#b3b3b3; padding-left: 3px;">
              {{getProvisionLabel(comment.provision)}}</span> <span style=" display : flex"
              *ngIf="comment.activeDirectoryGroups && comment.activeDirectoryGroups.length>0"><chips-status
                style="margin-left : 5px;" *ngFor="let group of comment.activeDirectoryGroups"
                [status]="isEmployeeInGroupList(currentEmployee, [group])?'EMPHASIZED' : ''"
                [value]="'@'+group.label"></chips-status></span>
          </p>
          <p class="message" [innerHTML]="comment.comment| trustHtml"> </p>
          <span class="timestamp" [matTooltip]="getTooltipDateText(comment)">{{comment.createdDateTime |
            date:'dd/MM/yyyy à HH:mm'}}</span><button mat-icon-button matTooltip="Editer le commentaire" color="accent"
            class="edit-icon" *ngIf="canEditComment(comment)" (click)="editComment(comment)"><mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Marquer comme non lu"
            *ngIf="comment.activeDirectoryGroups && comment.activeDirectoryGroups.length>0 && comment.isRead"
            class="read-icon" (click)="confirmReading(comment)"><mat-icon>visibility_off</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Marquer comme lu"
            *ngIf="comment.activeDirectoryGroups&& comment.activeDirectoryGroups.length>0 && !comment.isRead"
            class="read-icon" (click)="confirmReading(comment)"><mat-icon>visibility</mat-icon>
          </button>
        </div>
        <div class="bubble-arrow" [class.bubble-arrow-for-myself]="comment.isCurrentUserInGroup"></div>
      </div>
    </div>
  </div>
</div>