<table class="full-width" [formGroup]="provisionItemForm">
  <tr>
    <td>
      <select-provision-family (selectionChange)="changeProvisionType()" [(model)]="provision.provisionFamilyType"
        label="Famille de service" [form]="provisionItemForm" propertyName="provisionFamilyType" [isMandatory]="true"
        [isDisabled]="!editMode">
      </select-provision-family>
    </td>
    <td *ngIf="provision.provisionFamilyType">
      <select-provision-type (selectionChange)="changeProvisionType()" [(model)]="provision.provisionType"
        label="Service" [form]="provisionItemForm" propertyName="provisionType" [isMandatory]="true"
        [isDisabled]="!editMode" [filteredProvisionFamilyType]="provision.provisionFamilyType"></select-provision-type>
    </td>
  </tr>
  <tr *ngIf="instanceOfCustomerOrder && provision && provision.id">
    <td colspan="2">
      <autocomplete-employee [(model)]="provision.assignedTo" [form]="provisionItemForm" propertyName="assignedTo"
        [isMandatory]="true" [isDisabled]="false" label="Prestation assignée à"
        (onOptionSelected)="updateAssignedToForProvision($event,provision)">
      </autocomplete-employee>
    </td>
  </tr>
</table>
<domiciliation [domiciliation]="provision.domiciliation" [editMode]="editMode" [isStatusOpen]="isStatusOpen"
  [instanceOfCustomerOrder]="instanceOfCustomerOrder" [(provision)]="provision" (provisionChange)="noticeChange()"
  *ngIf="provision.domiciliation && provision.provisionType &&  provision.provisionType.provisionScreenType.code==PROVISION_SCREEN_TYPE_DOMICILIATION">
</domiciliation>
<announcement [announcement]="provision.announcement" [editMode]="editMode" [(provision)]="provision"
  [instanceOfCustomerOrder]="instanceOfCustomerOrder" [isStatusOpen]="isStatusOpen" (provisionChange)="noticeChange()"
  *ngIf="provision.announcement && provision.provisionType && provision.provisionType.provisionScreenType.code==PROVISION_SCREEN_TYPE_ANNOUNCEMENT">
  [affaire]="affaire">
</announcement>
<bodacc-main [bodacc]="provision.bodacc" [affaire]="affaire" [editMode]="editMode" [isStatusOpen]="isStatusOpen"
  [instanceOfCustomerOrder]="instanceOfCustomerOrder" [(provision)]="provision" (provisionChange)="noticeChange()"
  *ngIf="provision.bodacc && provision.provisionType && provision.provisionType.provisionScreenType.code==PROVISION_SCREEN_TYPE_BODACC">
</bodacc-main>
<formalite [formalite]="provision.formalite" [editMode]="editMode" [isStatusOpen]="isStatusOpen"
  [instanceOfCustomerOrder]="instanceOfCustomerOrder" [(provision)]="provision" (provisionChange)="noticeChange()"
  *ngIf="provision.formalite && provision.provisionType && provision.provisionType.provisionScreenType.code==PROVISION_SCREEN_TYPE_FORMALITE && false">
</formalite>
<simple-provision [simpleProvision]="provision.simpleProvision" [editMode]="editMode" [isStatusOpen]="isStatusOpen"
  [instanceOfCustomerOrder]="instanceOfCustomerOrder" [(provision)]="provision" (provisionChange)="noticeChange()"
  *ngIf="provision.simpleProvision && provision.provisionType && provision.provisionType.provisionScreenType.code==PROVISION_SCREEN_TYPE_STANDARD">
</simple-provision>
