<div>
  <div>
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target)" placeholder="Rechercher">
    </mat-form-field>
  </div>
  <div class="table-container-scroll">
    <sort-table [columns]="displayedColumns" (onRowClick)="selectEntity($event)" [values]="entities"
      tableName="Référentiel" [idRowSelected]="idRowSelected" [filterText]="searchText">
    </sort-table>
  </div>
</div>
<div class="mat-elevation-z2 form-div" *ngIf="selectedEntity ">
  <form [formGroup]="entityForm">
    <div class="full-width">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <table class="full-width">
          <tr *ngIf="selectedEntity.id">
            <td>
              <generic-input [(model)]="selectedEntity.id" label="Identifiant technique" [form]="entityForm"
                propertyName="id" [isMandatory]="true" [isDisabled]="true"></generic-input>
            </td>
          </tr>
          <tr>
            <td>
              <generic-input [(model)]="selectedEntity.label" label="Nom fonctionnel" [maxLength]="200"
                [form]="entityForm" propertyName="label" [isMandatory]="true" [isDisabled]="!editMode"></generic-input>
            </td>
            <td>
              <generic-toggle [(model)]="selectedEntity.isViewRestricted" label="Est à visibilité restreinte ?"
                [form]="entityForm" propertyName="isViewRestricted"></generic-toggle>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <autocomplete-principal-accounting-account [(model)]="selectedEntity.principalAccountingAccount"
                [form]="entityForm" propertyName="principalAccountingAccount" [isMandatory]="true"
                [isDisabled]="!editMode" label="label"></autocomplete-principal-accounting-account>
            </td>
            <td>
              <generic-input [(model)]="selectedEntity.accountingAccountSubNumber" label="N° de sous-compte comptable"
                [form]="entityForm" propertyName="accountingAccountSubNumber" [isMandatory]="true"
                [isDisabled]="!editMode" [maxLength]="20"></generic-input>
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
  </form>
</div>
