:root {
  --ar-primary: #2C4057;
  --ar-primary-rgb: 44, 64, 87;
  --ar-link-color: #2C4057;
  --ar-link-hover-color: #13273e;
}

.btn-primary {
  --ar-btn-bg: #2C4057;
  --ar-btn-border-color: #2C4057;
  --ar-btn-hover-bg: #13273e;
  --ar-btn-hover-border-color: #13273e;
  --ar-btn-active-bg: #13273e;
  --ar-btn-active-border-color: #13273e;
  --ar-btn-disabled-bg: #2C4057;
  --ar-btn-disabled-border-color: #2C4057;
}

.btn-outline-primary {
  --ar-btn-color: #2C4057;
  --ar-btn-border-color: #2C4057;
  --ar-btn-hover-bg: #2C4057;
  --ar-btn-hover-border-color: #2C4057;
  --ar-btn-active-bg: #2C4057;
  --ar-btn-active-border-color: #2C4057;
  --ar-btn-disabled-color: #2C4057;
  --ar-btn-disabled-border-color: #2C4057;
}

.accordion-button:not(.collapsed)::after {
  --ar-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%20fill='%232C4057'%3e%3cpath%20d='M.5%206.3c.6-.6%201.6-.6%202.3%200l9.3%209.3%209.3-9.3c.6-.6%201.6-.6%202.3%200%20.6.6.6%201.6%200%202.3L13.3%2018.8c-.6.6-1.6.6-2.3%200L.8%208.5c-.9-.8-.9-1.6-.3-2.2z'/%3e%3c/svg%3e");
}