<div class="ng-autocomplete" *ngIf="data">
  <label>Ville</label>
  <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="Ville" (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate" (scrolledToEnd)="fetchNextPage()">
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.label"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>