<div class="card">
  @if(selectedResponsables && selectedResponsables.length>0){
  <div class="card-header border-dashed card-tabs d-flex align-items-center">
    <div class="flex-grow-1">
      <h4 class="card-title">{{selectedKpiCrm ? "Statistiques de " + selectedKpiCrm.kpiCrm.label.toLowerCase() :
        "Statistiques"}}
      </h4>
    </div>
    <ul class="nav nav-tabs nav-justified card-header-tabs nav-bordered">
      <li class="nav-item" (click)="changeTimeScale(ANNUALLY_PERIOD)">
        <a class="nav-link" [class.active]="selectedTimeScale === ANNUALLY_PERIOD">
          <span class="d-none d-md-block">Année</span>
        </a>
      </li>
      <li class="nav-item" (click)="changeTimeScale(MONTHLY_PERIOD)">
        <a class="nav-link" [class.active]="selectedTimeScale === MONTHLY_PERIOD">
          <span class="d-none d-md-block">Mois</span>
        </a>
      </li>
      <li class="nav-item" (click)="changeTimeScale(WEEKLY_PERIOD)">
        <a class="nav-link" [class.active]="selectedTimeScale === WEEKLY_PERIOD">
          <span class="d-none d-md-block">Semaine</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body p-0">
    <div class="row g-0">
      @if(selectedKpiCrm && serieValues && serieValues.length>0){
      <div class="col-xxl-8 border-end border-dashed">
        <app-echart style="height: 450px;" [series]="serieValues" [title]="selectedKpiCrm.kpiCrm.label"
          [unit]="selectedKpiCrm.kpiCrm.unit" [labelType]="selectedKpiCrm.labelType" />
      </div>
      }
      <div class="col-xxl-4">
        <div class="row row-cols-xxl-2 row-cols-md-2 row-cols-1 g-1 p-1">

          @for (kpi of kpiCrms; track $index) {
          <div class="col">
            <div class="card rounded-0 border shadow-none border-dashed mb-0">
              <div class="card-body">
                <div class="mb-3 d-flex justify-content-between align-items-center">
                  <h5 class="fs-xl mb-0">{{ kpi.kpiValue }}{{ kpi.kpiCrm.unit }}</h5>
                  <span>{{ kpi.kpiEvolution }}%
                    @if (kpi.kpiEvolution > 0) { <ng-icon name="tablerTrendingUp" class="text-success" />
                    }
                    @if (kpi.kpiEvolution
                    < 0) { <ng-icon name="tablerArrowDownRight" class="text-danger" />
                    }
                  </span>
                </div>
                <p class="text-muted mb-2"><span>{{ kpi.kpiCrm.label }}</span></p>

              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  }
</div>