<mat-form-field class="full-width" [formGroup]="form!">
  <mat-label>{{label}}</mat-label>
  <input type="text" matInput [formControlName]="propertyName" [matAutocomplete]="matAutocomplete" [(ngModel)]="model"
    [placeholder]="label">
  <mat-icon matSuffix (click)="model=undefined" *ngIf="!isDisabled && model!=undefined">
    close
  </mat-icon>
  <mat-autocomplete autoActiveFirstOption #matAutocomplete="matAutocomplete" [displayWith]="displayLabel"
    (optionSelected)='optionSelected($event.option.value)'>
    <mat-option *ngFor="let employee of filteredTypes | async" [value]="employee">
      {{employee.firstname}} {{employee.lastname}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
