<h1 mat-dialog-title>Choix des débours</h1>
<div mat-dialog-content *ngIf="provision && provision.debours">
  <autocomplete-payment [(model)]="payment" [form]="debourForm" propertyName="payment" [isMandatory]="true"
    label="Paiement à associer"></autocomplete-payment>
  <p>Choisissez ci-dessous les débours à associer :</p>
  <table>
    <tr>
      <td>
        <sort-table class="margin-bottom" (onRowClick)="selectDebour($event)" [columns]="displayedColumns"
          [values]="provision.debours" tableName="Débours">
        </sort-table>
      </td>
    </tr>
    <tr>
      <td>
        <div *ngIf="selectedDebours && selectedDebours.length>0">
          <p>Débours sélectionnés (total {{getSelectedDeboursSum()}} €) : </p>
          <ul>
            <li *ngFor="let debour of selectedDebours; let index = index">{{debour.competentAuthority.label}} -
              {{debour.billingType.label}} - {{debour.debourAmount}} € <span class="pointer"
                (click)="deleteDebour(index)">(supprimer)</span>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="closeDialog()">Annuler</button>
  <button mat-raised-button color="warn" (click)="associatePayment()">Valider</button>
</div>
