<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <p>{{text}}</p>
  <form [formGroup]="assignedForm">
    <div>@if (userList) {
      <mat-radio-group class="radio-group-column" formControlName="choosedEmployee" [(ngModel)]="choosedEmployee"
        >
        @for (user of userList; track user) {
          <mat-radio-button [value]="user">
            {{user?user.firstname:""}} {{user?user.lastname:""}}
          </mat-radio-button>
        }
      </mat-radio-group>
    }
  </div>
  <div>
    <autocomplete-employee [(model)]="choosedEmployee" [form]="assignedForm" propertyName="choosedEmployee"
    [isMandatory]="true" [isDisabled]="false" label="Employé"></autocomplete-employee>
  </div>
</form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onClose()">Annuler</button>
  <button mat-raised-button color="warn" (click)="onConfirm()">Valider</button>
</div>
