<div class="mat-elevation-z2 form-div">
  <div class="full-width">
    <table class="full-width table-fixed-layout" *ngIf="!isForDashboard && quotationSearch">
      <tr>
        <td>
          <autocomplete-sales-employee [(model)]="quotationSearch.salesEmployee" label="Commercial"
            [form]="quotationSearchForm" propertyName="salesEmployee" [isMandatory]="false">
          </autocomplete-sales-employee>
        </td>
        <td>
          <select-quotation-status [(model)]="quotationSearch.quotationStatus" label="Statut"
            [form]="quotationSearchForm" propertyName="quotationStatus" [isMandatory]="false" [isDisabled]="false">
          </select-quotation-status>
        </td>
        <td>
          <generic-date-range-picker [(modelStart)]="quotationSearch.startDate" [(modelEnd)]="quotationSearch.endDate"
            label="Date de création" [form]="quotationSearchForm" propertyNameStart="startDate"
            propertyNameEnd="endDate" (onDateChange)="putDefaultPeriod()">
          </generic-date-range-picker>
        </td>
        <td class="fab-td-button">
          <button mat-mini-fab color="warn" matTooltip="Rechercher" (click)="searchOrders()" class="add-button">
            <mat-icon>search</mat-icon>
          </button>
        </td>
      </tr>
    </table>
    <sort-table [actions]="tableAction" [columns]="displayedColumns" [values]="quotations" tableName="Devis">
    </sort-table>
  </div>
</div>
