<div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center mb-4">
  <h1 class="h2 mb-3 mb-sm-0">Relevé de compte</h1>

  <div class="d-flex flex-sm-row ms-sm-auto gap-2">
    @if (responsablesForCurrentUser && responsablesForCurrentUser.length > 0) {
      <div ngbDropdown [autoClose]="'outside'" class="btn-group dropdown"
        >
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" ngbDropdownToggle aria-haspopup="true"
          aria-expanded="false">
          <i class="ai-filter me-2"></i>
          Responsables
        </button>
        <div ngbDropdownMenu class="dropdown-menu my-1">
          <label class="dropdown-item">
            <input class="form-check-input me-2" type="checkbox" [(ngModel)]="selectAllActiveResponsable"
              (change)="selectAllActiveResponsables()">
              <strong>Sélectionner tout</strong>
            </label>
            <div class="dropdown-divider"></div>
            @for (respo of responsablesForCurrentUser; track respo; let i = $index) {
              @if (i > 0 && !respo.isActive && responsablesForCurrentUser[i-1].isActive) {
                <div class="dropdown-divider"></div>
                <label class="dropdown-item">
                  <input class="form-check-input me-2" type="checkbox" [(ngModel)]="selectAllInactiveResponsable"
                    (change)="selectAllInactiveResponsables()">
                    <strong>Ajouter les inactifs</strong>
                  </label>
                }
                <label class="dropdown-item">
                  <input class="form-check-input me-2" type="checkbox" [(ngModel)]="responsableCheck[respo.id]"
                    (change)="changeFilter()">
                    {{respo.firstname}} {{respo.lastname}}
                  </label>
                }
              </div>
            </div>
          }
          <div ngbDropdown class="btn-group dropdown">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" ngbDropdownToggle aria-haspopup="true"
              aria-expanded="false">
              <i class="ai-bar-chart-3 me-2"></i>
              Trier par
            </button>
            <div ngbDropdownMenu class="dropdown-menu my-1">
              <a class="dropdown-item" style="cursor: pointer;"
                (click)="changeSort('createdDateDesc');$event.stopPropagation();">
                <i class="ai-time me-2"></i>
                De la plus ancienne à la plus récente
                @if (currentSort=='createdDateDesc') {
                  <i class="ai-check me-2"></i>
                }
              </a>
              <a class="dropdown-item" style="cursor: pointer;"
                (click)="changeSort('createdDateAsc');$event.stopPropagation();">
                <i class="ai-time me-2"></i>
                De la plus récente à la plus ancienne
                @if (currentSort=='createdDateAsc') {
                  <i class="ai-check me-2"></i>
                }
              </a>
              <a class="dropdown-item" style="cursor: pointer;" (click)="changeSort('byAffaire');$event.stopPropagation();">
                <i class="ai-time me-2"></i>
                Par affaire
                @if (currentSort=='byAffaire') {
                  <i class="ai-check me-2"></i>
                }
              </a>
              <a class="dropdown-item" style="cursor: pointer;"
                (click)="changeSort('byResponsable');$event.stopPropagation();">
                <i class="ai-time me-2"></i>
                Par responsable
                @if (currentSort=='byResponsable') {
                  <i class="ai-check me-2"></i>
                }
              </a>
            </div>
          </div>

          <div ngbDropdown class="btn-group dropdown">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" ngbDropdownToggle aria-haspopup="true"
              aria-expanded="false">
              <i class="ai-menu me-2"></i>
              Actions
            </button>
            <div ngbDropdownMenu class="dropdown-menu my-1">
              <a class="dropdown-item pointer" (click)="exportReceipt()">
                <i class="ai-download me-2"></i>
                Exporter en Excel <!-- TODO -->
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4">
        <div class="card-body pb-4">

          @if (!isFirstLoading && (!receiptValues || receiptValues.length==0)) {
            <div class="alert alert-info d-flex mb-0" role="alert"
              >
              <i class="ai-circle-info fs-xl"></i>
              <div class="ps-2">Aucune valeur n'a été trouvée, essayez de modifier vos filtres ci-dessus</div>
            </div>
          }

          <!-- Orders accordion -->
          @if (isFirstLoading) {
            <div class="col-sm-7 col-md-5 mb-4 mb-md-0">
              <p class="card-text placeholder-glow">
                <span class="placeholder placeholder-sm col-7 me-2"></span>
                <span class="placeholder placeholder-sm col-4"></span>
                <span class="placeholder placeholder-sm col-4 me-2"></span>
                <span class="placeholder placeholder-sm col-6"></span>
                <span class="placeholder placeholder-sm col-8"></span>
              </p>
            </div>
          }

          @if (!isFirstLoading) {
            <div class="table-responsive">
              @if ((currentSort=='createdDateAsc' || currentSort=='createdDateDesc') && receiptValues && receiptValues.length>0) {
                <div
                  >
                  @for (receiptValue of receiptValues; track receiptValue) {
                    <div class="card mb-3 shadow-sm">
                      <div class="card-body p-3">
                        <div class="d-flex justify-content-between mb-2 flex-wrap">
                          <div><strong>Date :</strong> {{receiptValue.eventDateTime | date:'dd/MM/yyyy'}}</div>
                          <div><strong>Responsable :</strong> {{capitalizeName(getResponsableLabel(receiptValue))}}</div>
                        </div>
                        <div class="mb-3">
                          <strong>Affaire : </strong>
                          <span>{{capitalizeName(receiptValue.affaireLists)}}</span>
                        </div>
                        @if (!receiptValue.idInvoice && !receiptValue.idCustomerOrder) {
                          <div class="mb-3">
                            <strong>Description : </strong>
                            <span [innerHTML]="receiptValue.eventDescription | trustHtml"></span>
                          </div>
                        }
                        @if (receiptValue.idInvoice || receiptValue.idCustomerOrder) {
                          <div class="mb-3">
                            <strong>Service : </strong>
                            <span [innerHTML]="receiptValue.serviceLists"></span>
                          </div>
                        }
                        <div class="d-flex justify-content-end gap-3 pb-2 row px-2 mb-2">
                          @if (receiptValue.idCustomerOrder) {
                            <a class="btn btn-sm btn-outline-primary col" role="button"
                              [routerLink]="'/account/orders/details/' + receiptValue.idCustomerOrder"
                              >
                              <i class="ai-cart me-2"></i>
                              Voir la commande
                            </a>
                          }
                          @if (receiptValue.idInvoice && receiptValue.idCustomerOrder) {
                            <a class="btn btn-sm btn-outline-primary col" role="button"
                              (click)="downloadInvoice(receiptValue.idCustomerOrder)"
                              >
                              <i class="ai-note me-2"></i>
                              Télécharger la facture
                            </a>
                          }
                          @if (receiptValue.idCustomerOrder && orderToPayInCb.indexOf(receiptValue.idCustomerOrder)<0 && receiptValue.debitAmount) {
                            <a class="btn btn-sm btn-outline-primary col" role="button" (click)="addToPayCb(receiptValue)"
                              >
                              <i class="ai-card me-2"></i>
                              Ajouter au paiement CB
                            </a>
                          }
                          @if (receiptValue.idCustomerOrder && orderToPayInCb.indexOf(receiptValue.idCustomerOrder)>=0 && receiptValue.debitAmount) {
                            <a class="btn btn-sm btn-primary col" role="button" (click)="removeFromPayCb(receiptValue)"
                              >
                              <i class="ai-check me-2"></i>
                              Retirer du paiement CB
                            </a>
                          }
                        </div>
                        <div class="d-flex justify-content-start border-top pt-2" style="gap: 2rem; min-width: 200px;">
                          <div style="flex: 1 1 100px;">
                            <strong>Débit</strong><br>
                            <span class="text-danger">{{receiptValue.debitAmount | currency:'EUR'}}</span>
                          </div>
                          <div style="flex: 1 1 100px;">
                            <strong>Crédit</strong><br>
                            <span class="text-success">{{receiptValue.creditAmount | currency:'EUR'}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  }
                  <div class="mt-4 p-3 border-top d-flex justify-content-end" style="gap: 3rem; min-width: 200px;">
                    <div>
                      <strong>Solde total Débit</strong><br>
                      @if (getTotalSolde(undefined,undefined) < 0) {
                        <span class="text-danger">{{
                        (getTotalSolde(undefined,undefined) * -1) | currency:'EUR' }}</span>
                      }
                    </div>
                    <div>
                      <strong>Solde total Crédit</strong><br>
                      @if (getTotalSolde(undefined,undefined) > 0) {
                        <span class="text-success">{{
                        getTotalSolde(undefined,undefined) | currency:'EUR' }}</span>
                      }
                    </div>
                  </div>
                  @if (orderToPayInCb.length>0) {
                    <div class="mt-4 p-3 border-top d-flex justify-content-end fixed-pay-bottom"
                      style="gap: 3rem; min-width: 200px;">
                      <div>
                        <a class="btn btn-sm btn-primary " role="button" (click)="payCb()">
                          <i class="ai-check me-2"></i>
                          Payer {{ totalToPayCb | currency:'EUR' }} en CB
                        </a>
                      </div>
                    </div>
                  }
                </div>
              }
              @if (currentSort=='byAffaire') {
                @for (affaire of allAffaires ; track affaire; let index = $index) {
                  <h4 class="h6 mb-2 mt-6 pt-5">{{capitalizeName(affaire)}}</h4>
                  @for (receiptValue of receiptValues; track receiptValue) {
                    @if (receiptValue.eventDateTime && receiptValue.affaireLists == affaire) {
                      <div class="card mb-3 shadow-sm">
                        <div class="card-body p-3">
                          <div class="d-flex justify-content-between mb-2 flex-wrap">
                            <div><strong>Date :</strong> {{receiptValue.eventDateTime | date:'dd/MM/yyyy'}}</div>
                            <div><strong>Responsable :</strong> {{capitalizeName(getResponsableLabel(receiptValue))}}</div>
                          </div>
                          @if (receiptValue.idInvoice || receiptValue.idCustomerOrder) {
                            <div class="mb-3">
                              <strong>Service : </strong>
                              <span [innerHTML]="receiptValue.serviceLists"></span>
                            </div>
                          }
                          <div class="d-flex justify-content-end gap-2 pb-2">
                            @if (receiptValue.idCustomerOrder) {
                              <a class="btn btn-sm btn-outline-primary  " role="button"
                                [routerLink]="'/account/orders/details/' + receiptValue.idCustomerOrder"
                                >
                                <i class="ai-cart me-2"></i>
                                Voir la commande
                              </a>
                            }
                            @if (receiptValue.idInvoice && receiptValue.idCustomerOrder) {
                              <a class="btn btn-sm btn-outline-primary " role="button"
                                (click)="downloadInvoice(receiptValue.idCustomerOrder)"
                                >
                                <i class="ai-note me-2"></i>
                                Télécharger la facture
                              </a>
                            }
                            @if (receiptValue.idCustomerOrder && orderToPayInCb.indexOf(receiptValue.idCustomerOrder)<0 && receiptValue.debitAmount) {
                              <a class="btn btn-sm btn-outline-primary " role="button" (click)="addToPayCb(receiptValue)"
                                >
                                <i class="ai-card me-2"></i>
                                Ajouter au paiement CB
                              </a>
                            }
                            @if (receiptValue.idCustomerOrder && orderToPayInCb.indexOf(receiptValue.idCustomerOrder)>=0 && receiptValue.debitAmount) {
                              <a class="btn btn-sm btn-primary " role="button" (click)="removeFromPayCb(receiptValue)"
                                >
                                <i class="ai-check me-2"></i>
                                Retirer du paiement CB
                              </a>
                            }
                          </div>
                        </div>
                      </div>
                    }
                  }
                  <div class="mt-4 p-3 border-top d-flex justify-content-end" style="gap: 3rem; min-width: 200px;">
                    <div>
                      <strong>Solde total Débit</strong><br>
                      @if (getTotalSolde(affaire,undefined) < 0) {
                        <span class="text-danger">{{
                        (getTotalSolde(affaire,undefined) * -1) | currency:'EUR' }}</span>
                      }
                    </div>
                    <div>
                      <strong>Solde total Crédit</strong><br>
                      @if (getTotalSolde(affaire,undefined) > 0) {
                        <span class="text-success">{{
                        getTotalSolde(affaire,undefined) | currency:'EUR' }}</span>
                      }
                    </div>
                  </div>
                }
                @if (orderToPayInCb.length>0) {
                  <div class="mt-4 p-3 border-top d-flex justify-content-end fixed-pay-bottom"
                    style="gap: 3rem; min-width: 200px;">
                    <div>
                      <a class="btn btn-sm btn-primary " role="button" (click)="payCb()">
                        <i class="ai-check me-2"></i>
                        Payer {{ totalToPayCb | currency:'EUR' }} en CB
                      </a>
                    </div>
                  </div>
                }
              }
              @if (currentSort=='byResponsable') {
                @for (responsable of allResponsables ; track responsable; let index = $index) {
                  <h4 class="h6 mb-2 pt-5">{{capitalizeName(responsable.firstname+' '+responsable.lastname)}}</h4>
                  @for (receiptValue of receiptValues; track receiptValue) {
                    @if (receiptValue.eventDateTime && receiptValue.responsable.id == responsable.id) {
                      <div
                        class="card mb-3 shadow-sm">
                        <div class="card-body p-3">
                          <div class="d-flex justify-content-between mb-2 flex-wrap">
                            <div><strong>Date :</strong> {{receiptValue.eventDateTime | date:'dd/MM/yyyy'}}</div>
                          </div>
                          @if (receiptValue.idInvoice || receiptValue.idCustomerOrder) {
                            <div class="mb-3">
                              <strong>Service : </strong>
                              <span [innerHTML]="receiptValue.serviceLists"></span>
                            </div>
                          }
                          <div class="d-flex justify-content-end gap-2 pb-2">
                            @if (receiptValue.idCustomerOrder) {
                              <a class="btn btn-sm btn-outline-primary  " role="button"
                                [routerLink]="'/account/orders/details/' + receiptValue.idCustomerOrder"
                                >
                                <i class="ai-cart me-2"></i>
                                Voir la commande
                              </a>
                            }
                            @if (receiptValue.idInvoice && receiptValue.idCustomerOrder) {
                              <a class="btn btn-sm btn-outline-primary " role="button"
                                (click)="downloadInvoice(receiptValue.idCustomerOrder)"
                                >
                                <i class="ai-note me-2"></i>
                                Télécharger la facture
                              </a>
                            }
                            @if (receiptValue.idCustomerOrder && orderToPayInCb.indexOf(receiptValue.idCustomerOrder)<0 && receiptValue.debitAmount) {
                              <a class="btn btn-sm btn-outline-primary " role="button" (click)="addToPayCb(receiptValue)"
                                >
                                <i class="ai-card me-2"></i>
                                Ajouter au paiement CB
                              </a>
                            }
                            @if (receiptValue.idCustomerOrder && orderToPayInCb.indexOf(receiptValue.idCustomerOrder)>=0 && receiptValue.debitAmount) {
                              <a class="btn btn-sm btn-primary " role="button" (click)="removeFromPayCb(receiptValue)"
                                >
                                <i class="ai-check me-2"></i>
                                Retirer du paiement CB
                              </a>
                            }
                          </div>
                        </div>
                      </div>
                    }
                  }
                  <div class="mt-4 p-3 border-top d-flex justify-content-end" style="gap: 3rem; min-width: 200px;">
                    <div>
                      <strong>Solde total Débit</strong><br>
                      @if (getTotalSolde(undefined,responsable) < 0) {
                        <span class="text-danger">{{
                        (getTotalSolde(undefined,responsable) * -1) | currency:'EUR' }}</span>
                      }
                    </div>
                    <div>
                      <strong>Solde total Crédit</strong><br>
                      @if (getTotalSolde(undefined,responsable) > 0) {
                        <span class="text-success">{{
                        getTotalSolde(undefined,responsable) | currency:'EUR' }}</span>
                      }
                    </div>
                  </div>
                }
                @if (orderToPayInCb.length>0) {
                  <div class="mt-4 p-3 border-top d-flex justify-content-end fixed-pay-bottom"
                    style="gap: 3rem; min-width: 200px;">
                    <div>
                      <a class="btn btn-sm btn-primary " role="button" (click)="payCb()">
                        <i class="ai-check me-2"></i>
                        Payer {{ totalToPayCb | currency:'EUR' }} en CB
                      </a>
                    </div>
                  </div>
                }
              }
            </div>
          }
        </div>
      </div>