<mat-form-field class="full-width" [formGroup]="form!">
  <mat-label>{{label}}</mat-label>
  <mat-chip-grid #chipListFormaliteGuichetUnique>
    <mat-chip-row *ngFor="let formaliteGuichetUnique of model" (removed)="removeElement(formaliteGuichetUnique)">
      {{formaliteGuichetUnique.referenceMandataire}} ({{formaliteGuichetUnique.liasseNumber}})
      <button matChipRemove *ngIf="!isDisabled">
        <mat-icon>cancel</mat-icon>
      </button>
      <button matTooltip="Voir le dossier sur le GU" *ngIf="isDisabled" matSuffix mat-icon-button
        (click)="openGuichetUnique($event,formaliteGuichetUnique )">
        <mat-icon>language</mat-icon>
      </button>
    </mat-chip-row>
    <input matInput placeholder="Choisir un dossier du GU" [formControlName]="propertyName" #formaliteGuichetUniqueInput
      [matChipInputFor]="chipListFormaliteGuichetUnique" [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
      [disabled]="isDisabled" [matAutocomplete]="autoComplete">
  </mat-chip-grid>
  <mat-autocomplete autoActiveFirstOption #autoComplete="matAutocomplete" [displayWith]="displayLabel"
    (optionSelected)="addFormaliteGuichetUnique($event)">
    <mat-option *ngFor="let formaliteGuichetUnique of filteredFormaliteGuichetUniques "
      [value]="formaliteGuichetUnique">
      {{formaliteGuichetUnique.referenceMandataire}} ({{formaliteGuichetUnique.liasseNumber}})
    </mat-option>
  </mat-autocomplete>
</mat-form-field>