:host {
  display: flex;
  justify-content: center;
}

.login-card {
  margin: 25px
}

.mat-mdc-form-field {
  width: 100%;
  min-width: 300px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.navbar-brand {
  height: 150px;
}

.text-center {
  text-align: center;
}