<div class="container my-5 position-relative text-center d-none d-md-block">
  <img src="/assets/images/homepage/bandeauJss.svg" class="img-fluid w-100" alt="Top image" />
  <a class="btn btn-yellow position-absolute start-55 top-50 translate-middle" href="#">
    Essayer dès maintenant
  </a>
</div>

<!--/// Blog Area /// -->
<div class="blog-area pt-3 pb-3 pt-lg-2 pb-lg-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <article class="blog-style3 border-0 card mb-4 position-relative">
          <div class="feature-image">
            <div class="image-frame image-hover-style-1">
              <a href="single.html"> <img class="lazyload" src="assets/images/blog-img.jpg" alt="image"
                  class="w-100"></a>
            </div>
          </div>
          <div class="card-body">
            <a href="category.html" class="badge bg-danger">Political</a>
            <h2><a href="single.html">Were in the if and keep paper was their to that to just
                attribute</a>
            </h2>
            <div class="row">
              <div class="col-lg-6">
                <div class="author-block">
                  <ul class="avatar list-inline mb-0">
                    <li class="list-inline-item"><a class="small" href="author.html"><img
                          src="assets/images/author-img.jpg" alt="Jhon Doe" data-bs-toggle="tooltip"
                          data-bs-placement="top" title="Jhon Doe"> Jhon Doe</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6"> <span class="date-info small  float-lg-end">
                  <span>24 August</span>
                  <span>1 mins to read</span>
                </span>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-md-6">
        <article class="blog-style4 ">
          <div class="card border-0">
            <div class="blog-post-image image-hover-style-1">
              <a href="single.html"> <img class="lazyload" src="assets/images/blog-img.jpg" alt="image"
                  class="w-100"></a>
            </div>
            <div class="card-body  px-0">
              <h6><a href="single.html"> I will tell you the truth about food in the next 60
                  seconds</a>
              </h6>
            </div>
          </div>
        </article>
        <article class="blog-style4 ">
          <div class="card border-0">
            <div class="blog-post-image image-hover-style-1">
              <a href="single.html"> <img class="lazyload" src="assets/images/blog-img.jpg" alt="image"
                  class="w-100"></a>
            </div>
            <div class="card-body px-0">
              <h6><a href="single.html"> You will never thought that food could be so good!</a>
              </h6>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>