<div>
  <div>
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target)" placeholder="Rechercher">
    </mat-form-field>
  </div>
  <div class="table-container-scroll">
    <sort-table [columns]="displayedColumns" (onRowClick)="selectEntity($event)" [values]="entities"
      [noMaxHeight]="true" [noPaddingBottom]="true" tableName="Référentiel" [idRowSelected]="idRowSelected"
      [filterText]="searchText">
    </sort-table>
  </div>
</div>
<div class="mat-elevation-z2 form-div" *ngIf="selectedEntity ">
  <form [formGroup]="entityForm">
    <div class="full-width">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <table class="full-width">
          <tr *ngIf="selectedEntity.id">
            <td>
              <generic-input [(model)]="selectedEntity.id" label="Identifiant technique" [form]="entityForm"
                propertyName="id" [isMandatory]="true" [isDisabled]="true"></generic-input>
            </td>
          </tr>
          <tr>
            <td>
              <generic-input [(model)]="selectedEntity.code" label="Codification" [maxLength]="20" [form]="entityForm"
                propertyName="code" [isMandatory]="true" [isDisabled]="!editMode"></generic-input>
            </td>
          </tr>
          <tr>
            <td>
              <generic-input [(model)]="selectedEntity.label" label="Nom fonctionnel" [maxLength]="255"
                [form]="entityForm" propertyName="label" [isMandatory]="true" [isDisabled]="!editMode"></generic-input>
            </td>
          </tr>
          <tr>
            <td>
              <select-service-family [(model)]="selectedEntity.serviceFamily" label="Famille de service"
                [form]="entityForm" propertyName="serviceFamily" [isMandatory]="true"
                [isDisabled]="!editMode"></select-service-family>
            </td>
          </tr>
        </table>
        <p>Prestations du service</p>
        <ng-container
          *ngFor="let assoServiceProvisionType of selectedEntity.assoServiceProvisionTypes ; let index = index">
          <p *ngIf="assoServiceProvisionType.provisionType">{{assoServiceProvisionType.provisionType.label}}</p>
          <table class="full-width">
            <tr>
              <td>
                <autocomplete-provision-type [(model)]="assoServiceProvisionType.provisionType" [form]="entityForm"
                  [propertyName]="'provisionType'+index" [isMandatory]="true"
                  [isDisabled]="!editMode"></autocomplete-provision-type>
              </td>
              <td>
                <generic-textarea [(model)]="assoServiceProvisionType.apeCodes" label="Codes APE" [form]="entityForm"
                  [propertyName]="'apeCodes'+index" [isMandatory]="false" [isDisabled]="!editMode"
                  matTooltipShowDelay="1000"
                  matTooltip="Codes APE nécessaires dans l'une des activités pour appliquer la prestation (séparés par un ;)"
                  [numberOfLines]="1"></generic-textarea>
              </td>
              <td>
                <chips-forme-juridique [(model)]="assoServiceProvisionType.formeJuridiques" label="Formes juridique"
                  [form]="entityForm" [propertyName]="'formeJuridique'+index" [isMandatory]="false"
                  [isDisabled]="!editMode" matTooltipShowDelay="1000"
                  matTooltip="Formes juridiques nécessaires pour appliquer la prestation"></chips-forme-juridique>
              </td>
            </tr>
          </table>
          <table class="full-width" style="padding-top: 20px;">
            <tr>
              <td>
                <generic-input [(model)]="assoServiceProvisionType.minEmployee" label="Nombre minimal de salariés"
                  [form]="entityForm" [propertyName]="'minEmployee'+index" [isMandatory]="false"
                  matTooltipShowDelay="1000" [isDisabled]="!editMode"
                  matTooltip="Nombre minimal de salariés pour appliquer la prestation" type="number"></generic-input>
              </td>
              <td>
                <generic-input [(model)]="assoServiceProvisionType.maxEmployee" label="Nombre maximal de salariés"
                  [form]="entityForm" [propertyName]="'maxEmployee'+index" [isMandatory]="false"
                  matTooltipShowDelay="1000" [isDisabled]="!editMode"
                  matTooltip="Nombre maximal de salariés pour appliquer la prestation" type="number"></generic-input>
              </td>
              <td>
                <generic-input [(model)]="assoServiceProvisionType.customerMessageWhenAdded"
                  label="Message à afficher en cas d'ajout" [form]="entityForm" matTooltipShowDelay="1000"
                  [propertyName]="'customerMessageWhenAdded'+index" [isMandatory]="false" [isDisabled]="!editMode"
                  matTooltip="Message à afficher en cas d'ajout de la prestation suite aux conditions précédentes"
                  [maxLength]="400"></generic-input>
              </td>
              <td>
                <button *ngIf="editMode" (click)="deleteProvisionType(assoServiceProvisionType)" mat-raised-button
                  color="accent">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </ng-container>
        <table class="full-width">
          <tr>
            <td>
              <button *ngIf="editMode" (click)="addProvisionType()" mat-raised-button color="accent">Ajouter une
                prestation au service </button>
            </td>
          </tr>
        </table>
        <mat-divider></mat-divider>
        <p>Pièces-jointes du service</p>
        <table class="full-width">
          <tr *ngFor="let assoServiceTypeDocument of selectedEntity.assoServiceTypeDocuments ; let index = index">
            <td>
              <autocomplete-type-document [(model)]="assoServiceTypeDocument.typeDocument" [form]="entityForm"
                [propertyName]="'typeDocument'+index" [isMandatory]="true" [isDisabled]="!editMode"
                matTooltip="Seuls les types attachés à un Type de pièce jointe sont affichés" [onlyDisplayWithAttachm
                entType]="true"></autocomplete-type-document>
            </td>
            <td>
              <generic-toggle [(model)]="assoServiceTypeDocument.isMandatory" label="Est obligatoire ?"
                [form]="entityForm" [propertyName]="'isMandatory'+index" [isDisabled]="!editMode"></generic-toggle>
            </td>
            <td>
              <button *ngIf="editMode" (click)="deleteTypeDocument(assoServiceTypeDocument)" mat-raised-button
                color="accent">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <button *ngIf="editMode" (click)="addTypeDocument()" mat-raised-button color="accent">Ajouter un type de
                pièce-jointe au service </button>
            </td>
          </tr>
        </table>

        <p>Types de champs du service</p>
        <table class="full-width">
          <tr *ngFor="let assoServiceFieldType of selectedEntity.assoServiceTypeFieldTypes; let index = index">
            <td>
              <select-referential-service-field-type [(model)]="assoServiceFieldType.serviceFieldType"
                [propertyName]="'serviceFieldType'+index" [form]="entityForm" [isMandatory]="true"
                label="Libellé champ type"
                [isDisabled]="!editMode">{{assoServiceFieldType.serviceFieldType.label}}</select-referential-service-field-type>
            </td>
            <td>
              <generic-toggle [(model)]="assoServiceFieldType.isMandatory" label="Est obligatoire ?" [form]="entityForm"
                [propertyName]="'isMandatory'+index" [isDisabled]="!editMode"></generic-toggle>
            </td>
            <td>
              <button *ngIf="editMode" (click)="deleteFieldType(assoServiceFieldType)" mat-raised-button color="accent">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <button *ngIf="editMode" (click)="addFieldType()" mat-raised-button color="accent">Ajouter un champ au
                service </button>
            </td>
          </tr>
        </table>

      </fieldset>
    </div>
  </form>
</div>