@if (selectedEntity && selectedEntity.description && selectedEntity.description.length>0) {
  <div class="description-block"
    >
    <h3>Commentaire de la commande</h3>
    <p>{{selectedEntity.description}}</p>
  </div>
}

@if (selectedEntity) {
  <div>
    <mat-accordion class="custom-panel">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Détails
          </mat-panel-title>
        </mat-expansion-panel-header>
        @if (selectedEntity.responsable && selectedEntity.responsable.salesEmployee) {
          <div class="field-row">
            <div class="label">Commercial</div>
            <div class="value">
              <div style="display: flex;" (click)="displayInTeams(selectedEntity.responsable.salesEmployee)"
                class="pointer">
                <avatar class="avatar-select" [employee]="selectedEntity.responsable.salesEmployee" [size]="14">
                </avatar> {{selectedEntity.responsable.salesEmployee.firstname}}
                {{selectedEntity.responsable.salesEmployee.lastname}}
              </div>
            </div>
          </div>
        }
        @if (selectedEntity.responsable && selectedEntity.responsable.formalisteEmployee) {
          <div class="field-row">
            <div class="label">Formaliste</div>
            <div class="value">
              <div style="display: flex;" (click)="displayInTeams(selectedEntity.responsable.formalisteEmployee)"
                class="pointer">
                <avatar class="avatar-select" [employee]="selectedEntity.responsable.formalisteEmployee" [size]="14">
                </avatar> {{selectedEntity.responsable.formalisteEmployee.firstname}}
                {{selectedEntity.responsable.formalisteEmployee.lastname}}
              </div>
            </div>
          </div>
        }
        @if (selectedEntity.responsable && selectedEntity.responsable.insertionEmployee) {
          <div class="field-row">
            <div class="label">Publisciste</div>
            <div class="value">
              <div style="display: flex;" (click)="displayInTeams(selectedEntity.responsable.insertionEmployee)"
                class="pointer">
                <avatar class="avatar-select" [employee]="selectedEntity.responsable.insertionEmployee" [size]="14">
                </avatar> {{selectedEntity.responsable.insertionEmployee.firstname}}
                {{selectedEntity.responsable.insertionEmployee.lastname}}
              </div>
            </div>
          </div>
        }
        @if (selectedEntity && selectedEntity.invoicingEmployee) {
          <div class="field-row">
            <div class="label">Responsable de la facturation</div>
            <div class="value">
              <div style="display: flex;" (click)="displayInTeams(selectedEntity.invoicingEmployee)" class="pointer">
                <avatar class="avatar-select" [employee]="selectedEntity.invoicingEmployee" [size]="14">
                </avatar> {{selectedEntity.invoicingEmployee.firstname}}
                {{selectedEntity.invoicingEmployee.lastname}}
              </div>
            </div>
          </div>
        }
        @if (selectedEntity && selectedEntity.invoicingBlockage) {
          <div class="field-row">
            <div class="label">Cause du blocage de la facturation</div>
            <div class="value">
              {{selectedEntity.invoicingBlockage.label}}
            </div>
          </div>
        }
        @if (selectedEntity.responsable && selectedEntity.responsable.tiers ) {
          <div class="field-row"
            (click)="openTiers($event,selectedEntity)">
            <div class="label">Tiers</div>
            <div class="value pointer">{{getCustomerOrderNameForTiers(selectedEntity.responsable.tiers)}} <mat-icon
            color="accent" class="small-mat-icon">open_in_new</mat-icon></div>
          </div>
        }
        @if (selectedEntity.responsable  ) {
          <div class="field-row" (click)="openResponsable($event,selectedEntity)">
            <div class="label">Responsable</div>
            <div class="value pointer">{{selectedEntity.responsable.firstname}} {{selectedEntity.responsable.lastname}}
              <mat-icon color="accent" class="small-mat-icon">open_in_new</mat-icon>
            </div>
          </div>
        }
        @if (selectedEntity.responsable && selectedEntity.responsable.mail) {
          <div class="field-row"
            (click)="sendResponsableMail($event,selectedEntity)">
            <div class="label">Mail</div>
            <div class="value pointer">{{selectedEntity.responsable.mail.mail}}</div>
          </div>
        }
        @if (selectedEntity.responsable && selectedEntity.responsable.phones && selectedEntity.responsable.phones.length>0) {
          <div class="field-row"
            (click)="callResponsable($event,selectedEntity)">
            <div class="label">Téléphone</div>
            <div class="value pointer">{{selectedEntity.responsable.phones[0].phoneNumber}}</div>
          </div>
        }
        @if (selectedEntity.responsable && selectedEntity.responsable.mail) {
          <div class="field-row">
            <div class="label">Adresse</div>
            <div class="value">{{selectedEntity.responsable.tiers.address}}
              {{selectedEntity.responsable.tiers.postalCode}}
              {{selectedEntity.responsable.tiers.city?selectedEntity.responsable.tiers.city.label:""}}
            {{selectedEntity.responsable.tiers.country?selectedEntity.responsable.tiers.country.label:""}}</div>
          </div>
        }
        @if (selectedEntity.specialOffers && selectedEntity.specialOffers.length>0) {
          <div class="field-row">
            <div class="label">Tarifs spéciaux</div>
            <div class="value">{{getSpecialOffersLabel(selectedEntity)}}</div>
          </div>
        }
      </mat-expansion-panel>
    </mat-accordion>
  </div>
}

@if (selectedEntity) {
  <div style="margin-top: 10px;">
    <mat-accordion class="custom-panel">
      @for (asso of selectedEntity.assoAffaireOrders; track asso) {
        <mat-expansion-panel expanded="false">
          <mat-expansion-panel-header>
            <mat-panel-title>Détails de l'affaire
              {{getAffaireFromAssoAffaireOrder(asso)}}
            </mat-panel-title>
            <mat-panel-description>
              @if (canDisplayNotifications()) {
                <mat-icon color="accent" matTooltip="Ajouter une notification sur cette affaire"
                  (click)="addNewNotificationOnAffaire(asso.affaire);$event.stopPropagation();"
                  [matBadge]="getNotificationForAffaire(asso.affaire).length"
                  [matBadgeHidden]="getNotificationForAffaire(asso.affaire).length<=0" matBadgePosition="below after"
                matBadgeColor="warn" matBadgeSize="small" class="pointer">notifications</mat-icon>
              }
              <mat-icon color="accent" matTooltip="Voir/éditer l'affaire"
                (click)="displayAffaire($event, asso);$event.stopPropagation();"
                (auxclick)="displayAffaire($event,asso);$event.stopPropagation();" class="pointer status-text">
              edit</mat-icon>
              <ng-template></ng-template>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <add-affaire [affaire]="asso.affaire" [editMode]="false"></add-affaire>
        </mat-expansion-panel>
        @for (service of asso.services; track service; let indexService = $index) {
          <service-side-panel-details (triggerRefreshEntity)="triggerRefreshEntityFn()" [isExpanded]="indexService==0"
          [service]="service"></service-side-panel-details>
        }
      }
    </mat-accordion>
  </div>
}
@if (totalServicesPrice!=0) {
  <div class="custom-panel" style="margin-bottom: 15px; margin-top: 20px;">
    <div class="field-row">
      <div class="label">Prix total du devis</div>
      <div class="value">
        {{totalServicesPrice | currency:'EUR'}}
      </div>
    </div>
  </div>
}

@if (selectedEntity) {
  <div class="timestamps">
    <p>Créée le {{selectedEntity.createdDate | date:'EEEE d MMMM HH:mm'}}<br />
    Mise à jour le {{selectedEntity.lastStatusUpdate | date:'EEEE d MMMM HH:mm'}}</p>
  </div>
}

@if (selectedEntity) {
  <div class="activity">
    <div class="activity-tabs">
      <button mat-raised-button [color]="currentTabDisplayed === 'COMMENTS' ? 'primary' : 'accent'"
      (click)="currentTabDisplayed='COMMENTS'">Commentaires</button>
      <button mat-raised-button [color]="currentTabDisplayed === 'ATTACHMENT' ? 'primary' : 'accent'"
      (click)="currentTabDisplayed='ATTACHMENT'">Documents</button>
      <button mat-raised-button [color]="currentTabDisplayed === 'MAILS' ? 'primary' : 'accent'"
      (click)="currentTabDisplayed='MAILS'">Mails</button>
      <button mat-raised-button [color]="currentTabDisplayed === 'MISSING_ATTACHMENT_QUERY' ? 'primary' : 'accent'"
      (click)="currentTabDisplayed='MISSING_ATTACHMENT_QUERY'">PM</button>
      <button mat-raised-button [color]="currentTabDisplayed === 'HISTORY' ? 'primary' : 'accent'"
      (click)="currentTabDisplayed='HISTORY'">Historique</button>
      <button mat-raised-button [color]="currentTabDisplayed === 'DOCS' ? 'primary' : 'accent'"
      (click)="currentTabDisplayed='DOCS'">Actions doc.</button>
    </div>
    @if (currentTabDisplayed=='COMMENTS') {
      <customer-order-comment [isDisplayCommentInput]="true" [customerOrder]="selectedEntity"
      ></customer-order-comment>
    }
    @if (currentTabDisplayed=='HISTORY') {
      <history [entity]="selectedEntity" [entityType]="CUSTOMER_ORDER_ENTITY_TYPE" [parseTypeList]="possibleEntityStatus"
      ></history>
    }
    @if (currentTabDisplayed=='ATTACHMENT') {
      <attachments [entity]="selectedEntity" [editMode]="true"
      [entityType]="CUSTOMER_ORDER_ENTITY_TYPE.entityType"></attachments>
    }
    @if (currentTabDisplayed=='ATTACHMENT') {
      <paper-set [customerOrder]="selectedEntity"></paper-set>
    }
    @if (currentTabDisplayed=='MAILS') {
      <automatic-mail-list [customerOrder]="selectedEntity"></automatic-mail-list>
    }
    @if (currentTabDisplayed=='MISSING_ATTACHMENT_QUERY') {
      <missing-attachment-queries [customerOrder]="selectedEntity">
      </missing-attachment-queries>
    }
    @if (currentTabDisplayed=='MAILS') {
      <paper-set [customerOrder]="selectedEntity"></paper-set>
    }
  </div>
}