<div class="mat-elevation-z2 form-div">
  <form [formGroup]="orderingCustomerForm">
    <div class="full-width">
      <fieldset [disabled]="editMode==false" class="fieldset-no-border">
        <table class="full-width">
          <tr>
            <td
              *ngIf="quotation.responsable==null || quotation.responsable==undefined || quotation.responsable.id==undefined">
              <autocomplete-tiers-individual [(model)]="quotation.tiers" [form]="orderingCustomerForm"
                propertyName="tiers" (onOptionSelected)="fillTiers($event)"></autocomplete-tiers-individual>
            </td>
            <td *ngIf="quotation.tiers==null || quotation.tiers==undefined || quotation.tiers.id==undefined">
              <autocomplete-responsable [(model)]="quotation.responsable" [form]="orderingCustomerForm"
                propertyName="responsable" (onOptionSelected)="fillResponsable($event)"></autocomplete-responsable>
            </td>
          </tr>
        </table>
        <div *ngIf="quotation.tiers!=null && quotation.tiers.id!=undefined">
          <table class="full-width">
            <tr>
              <td>Commercial : {{quotation.tiers.salesEmployee?.firstname}} {{quotation.tiers.salesEmployee?.lastname}}
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>Adresse : {{quotation.tiers.address}} {{quotation.tiers.postalCode}} {{quotation.tiers.city.label}}
                {{quotation.tiers.country.label}}</td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
                <chips-mail [(model)]="quotation.tiers.mails" label="Mails" [form]="orderingCustomerForm"
                  propertyName="mails" [isDisabled]="true"></chips-mail>
              </td>
              <td>
                <chips-phone [(model)]="quotation.tiers.phones" label="Téléphones" [form]="orderingCustomerForm"
                  propertyName="phones" [isDisabled]="true"></chips-phone>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>Tarif special :
                <ul>
                  <li *ngFor="let specialOffer of quotation.tiers.specialOffers">
                    {{specialOffer? (specialOffer.code + " - " +specialOffer.label):"Aucun"}}
                  </li>
                </ul>
                <button *ngIf="editMode==true" matTooltip="Modifier le tarif spécial par défaut"
                  (click)="overrideSpecialOffer = true" mat-icon-button color="accent">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>
        <div
          *ngIf="quotation.responsable!=null && quotation.responsable.id!=undefined && quotation.responsable.tiers!=null && quotation.responsable.tiers!=undefined">
          <table class="full-width">
            <tr>
              <td>Client : {{quotation.responsable.tiers.denomination}} ({{quotation.responsable.tiers.id}}) <mat-icon
                  matTooltip="Ouvrir le client" [routerLink]="'/tiers/'+quotation.responsable.tiers.id" class="pointer">
                  preview
                </mat-icon>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>Commercial : {{quotation.responsable.salesEmployee?.firstname}}
                {{quotation.responsable.salesEmployee?.lastname}}
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>Adresse : {{quotation.responsable.address}} {{quotation.responsable.postalCode}}
                {{quotation.responsable.city.label}}
                {{quotation.responsable.country.label}}</td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
              <td>
                <chips-mail [(model)]="quotation.responsable.mails" label="Mails" [form]="orderingCustomerForm"
                  propertyName="mails" [isDisabled]="true"></chips-mail>
              </td>
              <td>
                <chips-phone [(model)]="quotation.responsable.phones" label="Téléphones" [form]="orderingCustomerForm"
                  propertyName="phones" [isDisabled]="true"></chips-phone>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>Tarif special :
                <ul>
                  <li *ngFor="let specialOffer of quotation.responsable.tiers.specialOffers">
                    {{specialOffer? (specialOffer.code + " - " +specialOffer.label):"Aucun"}}
                  </li>
                </ul>
                <button *ngIf="editMode==true" matTooltip="Modifier le tarif spécial par défaut"
                  (click)="overrideSpecialOffer = true" mat-icon-button color="accent">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>
        <table class="full-width" [hidden]="!overrideSpecialOffer">
          <tr>
            <td>
              <chips-special-offers [(model)]="quotation.specialOffers" [form]="orderingCustomerForm"
                propertyName="specialOffer" [isMandatory]="true" [isDisabled]="!editMode"
                [conditionnalRequired]="overrideSpecialOffer"></chips-special-offers>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-textarea [(model)]="quotation.observations" label="Observations du tiers"
                [form]="orderingCustomerForm" propertyName="observations" [isDisabled]="!editMode" [numberOfLines]="4">
              </generic-textarea>
            </td>
          </tr>
          <tr>
            <td>
              <generic-textarea [(model)]="quotation.description" label="Description de la demande"
                [form]="orderingCustomerForm" propertyName="description" [isDisabled]="!editMode" [numberOfLines]="4">
              </generic-textarea>
            </td>
          </tr>
        </table>
        <div>Devis créé le {{quotation.createdDate |date:'dd/MM/yyyy à HH:mm'}}</div>
        <div *ngIf=" instanceOfQuotation(quotation) && quotation.customerOrder!=null">Commande
          n°{{quotation.customerOrder}} <mat-icon [routerLink]="'/order/'+quotation.customerOrder.id" class="pointer">
            preview</mat-icon>
        </div>
        <div *ngIf="instanceOfQuotation(quotation) && quotation.customerOrder==null">Pas de commande associée
        </div>
      </fieldset>
    </div>
  </form>
</div>
