<div class="position-relative ">
  <div [formGroup]="form!" class="needs-validation">
    @if (isDisplayLabel && label && label.length>0) {
      <label [for]="'fl-text'+uniqueId"
      class="form-label">{{label}}</label>
    }
    <textarea (keyup)="onInputChange()" (keydown)="onInputChange()" (paste)="onInputChange()" [rows]="numberOfLines"
      matInput [formControlName]="propertyName" [placeholder]="label" [maxlength]="maxLength+''"
    [required]="isMandatory" [minlength]="minLength+''" class="form-control"></textarea>
  </div>
</div>