<form [formGroup]="bodaccSplitForm" *ngIf="bodaccSplit">
  <div class="mat-accordion-container full-width">
    <fieldset [disabled]="editMode==false" class="fieldset-no-border">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Société bénéficiare
            </mat-panel-title>
            <ng-template></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width" *ngFor="let beneficiary of bodaccSplit.bodaccSplitBeneficiaries;let i = index ">
            <tr>
              <td>
                <generic-input [(model)]="beneficiary.beneficiaryCompanyDenomination" label="Dénomination"
                  [form]="bodaccSplitForm" [propertyName]="'beneficiaryCompanyDenomination'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="60">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="beneficiary.beneficiaryCompanyAddress" label="Adresse"
                  [form]="bodaccSplitForm" [propertyName]="'beneficiaryCompanyAddress'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="100">
                </generic-input>
              </td>
              <td class="mini-fab-td"> <button *ngIf="editMode" mat-mini-fab color="warn"
                  matTooltip="Supprimer la société bénéficiaire" class="mini-fab"
                  (click)="deleteBeneficiary(beneficiary)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <autocomplete-legal-form [(model)]="beneficiary.beneficiaryCompanyLegalForm" [form]="bodaccSplitForm"
                  label="Forme juridique" [isDisabled]="!editMode" [propertyName]="'beneficiaryCompanyLegalForm'+i"
                  [isMandatory]="true" [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen"
                  [isDisabled]="!editMode">
                </autocomplete-legal-form>
              </td>
              <td>
                <generic-input [(model)]="beneficiary.beneficiaryCompanyShareCapital" label="Capital social"
                  [form]="bodaccSplitForm" [propertyName]="'beneficiaryCompanyShareCapital'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder" [isDisabled]="!editMode" type="number">
                </generic-input>
              </td>
              <td>
                <generic-datepicker [(model)]="beneficiary.beneficiaryCompanyRcsDeclarationDate"
                  label="Date de dépôt au RCS" [form]="bodaccSplitForm"
                  [propertyName]="'beneficiaryCompanyRcsDeclarationDate'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </generic-datepicker>
              </td>
              <td>
                <autocomplete-competent-authority [(model)]="beneficiary.beneficiaryCompanyRcsCompetentAuthority"
                  [form]="bodaccSplitForm" [propertyName]="'beneficiaryCompanyRcsCompetentAuthority'+i"
                  [isMandatory]="true" label="Immatriculé au RCS"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen"
                  [filteredCompetentAuthorityType]="competentAuthorityTypeRcs">
                </autocomplete-competent-authority>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td colspan="4">
                <button *ngIf="editMode && bodaccSplit.bodaccSplitBeneficiaries" (click)="createBeneficiary()"
                  mat-raised-button color="accent">Ajouter une société bénéficiaire</button>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Société scindée
            </mat-panel-title>
            <ng-template></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width" *ngFor="let splitCompany of bodaccSplit.bodaccSplitCompanies; let i = index ">
            <tr>
              <td>
                <generic-input [(model)]="splitCompany.splitCompanyDenomination" label="Dénomination"
                  [form]="bodaccSplitForm" [propertyName]="'splitCompanyDenomination'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="60">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="splitCompany.splitCompanyAddress" label="Adresse" [form]="bodaccSplitForm"
                  [propertyName]="'splitCompanyAddress'+i" [isMandatory]="true" [isDisabled]="!editMode"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [maxLength]="100">
                </generic-input>
              </td>
              <td class="mini-fab-td"> <button *ngIf="editMode" mat-mini-fab color="warn"
                  matTooltip="Supprimer la société bénéficiaire" class="mini-fab"
                  (click)="deleteSplitCompany(splitCompany)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <autocomplete-legal-form [(model)]="splitCompany.splitCompanyLegalForm" [form]="bodaccSplitForm"
                  label="Forme juridique" [isDisabled]="!editMode" [propertyName]="'splitCompanyLegalForm'+i"
                  [isMandatory]="true" [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen"
                  [isDisabled]="!editMode">
                </autocomplete-legal-form>
              </td>
              <td>
                <generic-input [(model)]="splitCompany.splitCompanyShareCapital" label="Capital social"
                  [form]="bodaccSplitForm" [propertyName]="'splitCompanyShareCapital'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number">
                </generic-input>
              </td>
              <td>
                <generic-datepicker [(model)]="splitCompany.splitCompanyRcsDeclarationDate" label="Date de dépôt au RCS"
                  [form]="bodaccSplitForm" [propertyName]="'splitCompanyRcsDeclarationDate'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </generic-datepicker>
              </td>
              <td>
                <autocomplete-competent-authority [(model)]="splitCompany.splitCompanyRcsCompetentAuthority"
                  [form]="bodaccSplitForm" [propertyName]="'splitCompanyRcsCompetentAuthority'+i" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" label="Immatriculé au RCS"
                  [filteredCompetentAuthorityType]="competentAuthorityTypeRcs">
                </autocomplete-competent-authority>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td colspan="4">
                <button *ngIf="editMode && bodaccSplit.bodaccSplitCompanies" (click)="createSplitCompany()"
                  mat-raised-button color="accent">Ajouter une société scindée</button>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Scission
            </mat-panel-title>
            <ng-template></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <generic-input [(model)]="bodaccSplit.assets" label="Actif" [form]="bodaccSplitForm"
                  propertyName="assets" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number"></generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSplit.liabilities" label="Passif" [form]="bodaccSplitForm"
                  propertyName="liabilities" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSplit.splitBonus" label="Prime de scission" [form]="bodaccSplitForm"
                  propertyName="splitBonus" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number">
                </generic-input>
              </td>
              <td>
                <generic-datepicker [(model)]="bodaccSplit.splitProjectDate" label="Date du projet de scission"
                  [form]="bodaccSplitForm" propertyName="splitProjectDate" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </generic-datepicker>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <generic-textarea [(model)]="bodaccSplit.exchangeRatioReport" label="Rapport d'échange"
                [form]="bodaccSplitForm" propertyName="exchangeRatioReport" [isMandatory]="true"
                [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                [numberOfLines]="4">
              </generic-textarea>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </fieldset>
  </div>
</form>