<div class="position-relative ">
  @if (form && form.get(propertyName)) {
    <div [formGroup]="form!" class="needs-validation">
      @if (isDisplayLabel && label && label.length>0) {
        <label [for]="'fl-text'+uniqueId"
        class="form-label">{{label}}</label>
      }
      @if (icon) {
        <i class="fs-lg position-absolute top-50 start-0 ms-3"
          [ngClass]="{'translate-middle-y' : !isDisplayLabel,'translate-quarter-y' : isDisplayLabel}"
        [class]="'ai-'+icon"></i>
      }
      <input class="form-control" [ngClass]="{'ps-45': icon, 'disable-borders': isDisableBorders}"
        [id]="'fl-text'+uniqueId" [required]="isMandatory" [maxlength]="maxLength+''" [minlength]="minLength+''"
        [formControlName]="propertyName" [placeholder]="label" (blur)="blurForm()" (focus)="focusForm()"
        (keydown.enter)="onEnterTrigger($event)" [type]="type=='number'?'text':type" (change)="parse($event)"
        [class.is-invalid]="!doNotValidate && form.get(propertyName)?.invalid && form.get(propertyName)?.touched"
        [class.is-valid]="!doNotValidate && form.get(propertyName)?.valid && form.get(propertyName)?.touched"
        [autocomplete]="isAutocompleteAvailable" [autocapitalize]="isAutocompleteAvailable" (paste)="onPaste($event)">
        @if (errorMessage && form!.controls[propertyName].hasError('notFilled')) {
          <div class="error">{{errorMessage}}</div>
        }
      </div>
    }
  </div>