.row-field-container-flex-item {
  flex: 1;
}

.add-button {
  top: -8px;
}

.table-fixed-layout {
  table-layout: fixed;
}

.fab-td-button {
  width: 35px;
}

.padding-fab {
  padding-right: 5px;
}

.td-label {
  white-space: nowrap;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.flex-child {
  padding-right: 30px;
}

.flex-child:nth-of-type(2n) {
  padding-left: 30px;
  border-left: solid;
  border-left-width: 1px;
}