.border-end {
    border-color: var(--bs-gray-300);
}

.border-left-red {
    border-left: solid 3px #FF5757;
}

.post-player-bg {
    background-color: #ECF5FF;
}

.btn-yellow:hover {
    color: var(--bs-gray-700) !important;
}