.border-end {
  border-color: var(--bs-gray-300);
}

.border-left-blue {
  border-left: solid 3px #1c2d41;
}

.post-player-bg {
  background-color: #ECF5FF;
}

.btn-yellow:hover {
  color: var(--bs-gray-700) !important;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
  color: var(--ar-primary);
}

.resize-featured-img {
  width: 100%;
  object-fit: cover;
  display: block;
}