.break-line {
  white-space: pre-line
}

.border-top-1 {
  border-top-width: 1px !important;
}

.accordion {
  --ar-accordion-border-radius: 0px !important;
}

.accordion-item {
  border-radius: 0px;
  background-color: var(--primary-color);
}
