<ng-template #accordionTools>
  <mat-panel-description>
    <mat-icon matTooltip="Ouvrir tous les onglets" (click)="accordion!.openAll();$event.stopPropagation();"
      class="pointer">
      unfold_more_double</mat-icon>
    <mat-icon matTooltip="Fermer tous les autres onglets" (click)="accordion!.closeAll();" class="pointer">
      unfold_less_double</mat-icon>
  </mat-panel-description>
</ng-template>
<div class="mat-elevation-z2 form-div">
  <fieldset [disabled]="editMode==false" class="fieldset-no-border">
    <form [formGroup]="quotationManagementForm" *ngIf="quotation">
      <div class="full-width">
        <fieldset [disabled]="editMode==false" class="fieldset-no-border">
          <mat-accordion multi>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Facture
                </mat-panel-title>
                <mat-panel-description>
                  <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="full-width">
                <tr>
                  <td>
                    <radio-group-billing-label [(model)]="billingDocument.billingLabelType" [isDisabled]="!editMode"
                      [isMandatory]="true" [form]="quotationManagementForm" propertyName="billingLabelType"
                      label="Libellé sur facture">
                    </radio-group-billing-label>
                  </td>
                </tr>
              </table>
              <table class="full-width"
                *ngIf="billingDocument.billingLabelType!=undefined && billingDocument.billingLabelType.code!=undefined && billingDocument.billingLabelType.id==billingLabelTypeOther.id">
                <tr>
                  <td>
                    <generic-input [(model)]="billingDocument.billingLabel" label="Libellé"
                      [form]="quotationManagementForm" propertyName="billingLabel" [isMandatory]="true"
                      [isDisabled]="!editMode"></generic-input>
                  </td>
                  <td>
                    <generic-input [(model)]="billingDocument.billingAddress" label="Adresse"
                      [form]="quotationManagementForm" propertyName="billingAddress" [isMandatory]="true"
                      [isDisabled]="!editMode"></generic-input>
                  </td>
                  <td>
                    <autocomplete-postal-code [(model)]="billingDocument.billingPostalCode"
                      [byPassAutocompletValidator]="true" [form]="quotationManagementForm" propertyName="postalCode"
                      [isMandatory]="true" label="Code postal" [isDisabled]="!editMode"
                      [conditionnalRequired]="billingDocument.billingLabelCountry != null && billingDocument.billingLabelCountry.id == countryFrance.id"
                      (onOptionSelected)="fillCity($event)"></autocomplete-postal-code>
                  </td>
                  <td>
                    <autocomplete-city [(model)]="billingDocument.billingLabelCity" [isDisabled]="!editMode"
                      label="Ville" [modelCountry]="billingDocument.billingLabelCountry"
                      [preFilterPostalCode]="billingDocument.billingPostalCode" [form]="quotationManagementForm"
                      propertyName="city" [isMandatory]="true" (onOptionSelected)="fillPostalCode($event)">
                    </autocomplete-city>
                  </td>
                  <td>
                    <autocomplete-country [(model)]="billingDocument.billingLabelCountry"
                      [form]="quotationManagementForm" label="Pays" [isDisabled]="!editMode" propertyName="country"
                      [isMandatory]="true">
                    </autocomplete-country>
                  </td>
                  <td>
                    <generic-toggle [(model)]="billingDocument.billingLabelIsIndividual" label="Est particulier ?"
                      [form]="quotationManagementForm" propertyName="billingLabelIsIndividual"></generic-toggle>
                  </td>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <td>
                    <generic-toggle [(model)]="billingDocument.isResponsableOnBilling" label="Responsable sur facture ?"
                      [form]="quotationManagementForm" propertyName="isResponsableOnBilling"></generic-toggle>
                  </td>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <td>
                    <generic-toggle [(model)]="billingDocument.isCommandNumberMandatory"
                      label="Numéro de commande obligatoire ?" [form]="quotationManagementForm"
                      propertyName="isCommandNumberMandatory"></generic-toggle>
                  </td>
                  <td *ngIf="billingDocument.isCommandNumberMandatory">
                    <generic-input [(model)]="billingDocument.commandNumber" label="N° de commande annuel"
                      [form]="quotationManagementForm" propertyName="commandNumber" [maxLength]="40"></generic-input>
                  </td>
                </tr>
              </table>
              <addressing [editMode]="editMode" [document]="billingDocument " [onlyMail]="true"
                [displayMailCC]="quotation.responsable?true : false"></addressing>
              <table class="full-width">
                <tr *ngIf="billingMailComputeResult">
                  <td>
                    <div *ngIf="billingMailComputeResult?.isSendToAffaire">
                      <p>Les mails pour l'envoi à l'affaire sont les suivants (récupérés depuis les
                        {{billingMailComputeResult.mailToAffaireOrigin}}) :</p>
                      <ul>
                        <li *ngFor="let mail of billingMailComputeResult.recipientsMailTo">{{mail.mail}}</li>
                      </ul>
                      <p
                        *ngIf="billingMailComputeResult.recipientsMailCc && billingMailComputeResult.recipientsMailCc!.length>0">
                        Les mails pour l'envoi en copie à l'affaire
                        sont les suivants (récupérés depuis les
                        {{billingMailComputeResult.mailCcAffaireOrigin}}) :
                      <ul>
                        <li *ngFor="let mail of billingMailComputeResult.recipientsMailCc">{{mail.mail}}</li>
                      </ul>
                    </div>

                    <div *ngIf="billingMailComputeResult.isSendToClient">
                      <p>Les mails pour l'envoi au client sont les suivants (récupérés depuis les
                        {{billingMailComputeResult.mailToClientOrigin}}) :</p>
                      <ul>
                        <li *ngFor="let mail of billingMailComputeResult.recipientsMailTo">{{mail.mail}}</li>
                      </ul>
                      <p
                        *ngIf="billingMailComputeResult.recipientsMailCc && billingMailComputeResult.recipientsMailCc!.length>0">
                        Les mails pour l'envoi en copie au client
                        sont les suivants (récupérés depuis les
                        {{billingMailComputeResult.mailCcClientOrigin}}) :
                      <ul>
                        <li *ngFor="let mail of billingMailComputeResult.recipientsMailCc">{{mail.mail}}</li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr *ngIf=" billingMailComputeResult && billingMailComputeResult.recipientsMailTo.length==0">
                  <td class="color-warn">Aucun mail trouvé !</td>
                </tr>
              </table>

              <table class="full-width">
                <tr *ngIf="invoiceLabelResult">
                  <td>
                    <p>Le libellé de la facture est le suivant (récupéré depuis {{invoiceLabelResult.labelOrigin}}) :
                    </p>
                    <p [ngClass]="{'color-warn':!invoiceLabelResult.billingLabel}">
                      {{invoiceLabelResult.billingLabel?invoiceLabelResult.billingLabel:"Libellé inconnu"}}</p>
                    <p [ngClass]="{'color-warn':!invoiceLabelResult.billingLabelAddress}">
                      {{invoiceLabelResult.billingLabelAddress?invoiceLabelResult.billingLabelAddress:"Adresse"}}</p>
                    <p
                      [ngClass]="{'color-warn':!invoiceLabelResult.billingLabelPostalCode || !invoiceLabelResult.billingLabelCity || !invoiceLabelResult.billingLabelCountry}">
                      {{invoiceLabelResult.billingLabelPostalCode?invoiceLabelResult.billingLabelPostalCode:"Code
                      postal inconnu"}}
                      {{invoiceLabelResult.billingLabelCity?invoiceLabelResult.billingLabelCity.label:"Ville inconnue"}}
                      {{invoiceLabelResult.billingLabelCountry?invoiceLabelResult.billingLabelCountry.label:"Pays
                      inconnu"}}
                    </p>
                  </td>
                </tr>
                <tr *ngIf=" billingMailComputeResult && billingMailComputeResult.recipientsMailTo.length==0">
                  <td class="color-warn">Aucun mail trouvé !</td>
                </tr>
              </table>
            </mat-expansion-panel>
          </mat-accordion>
        </fieldset>
      </div>
    </form>
  </fieldset>
</div>
