<div class="mat-elevation-z2 form-div">
  <fieldset [disabled]="editMode==false" class="fieldset-no-border">
    <form [formGroup]="quotationManagementForm" *ngIf="quotation">
      <div class="full-width">
        <fieldset [disabled]="editMode==false" class="fieldset-no-border">
          <mat-accordion multi>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Facture
                </mat-panel-title>
                <mat-panel-description>
                  <ng-template></ng-template>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="full-width">
                <tr>
                  <td>
                    <radio-group-billing-label [(model)]="billingDocument.billingLabelType"
                      (onFormChange)="updateAdressing($event)" [form]="quotationManagementForm" [isDisabled]="!editMode"
                      propertyName="billingLabelType" label="Libellé sur facture">
                    </radio-group-billing-label>
                  </td>
                </tr>
              </table>
              <table class="full-width"
                *ngIf="billingDocument.billingLabelType!=undefined && billingDocument.billingLabelType.code!=undefined && billingDocument.billingLabelType.id==billingLabelTypeOther.id">
                <tr>
                  <td>
                    <generic-input [(model)]="billingDocument.billingLabel" label="Libellé"
                      (onFormChange)="updateAdressing($event)" [form]="quotationManagementForm"
                      propertyName="billingLabel" [isMandatory]="true" [maxLength]="200"
                      [isDisabled]="!editMode"></generic-input>
                  </td>
                  <td>
                    <generic-input [(model)]="billingDocument.billingAddress" label="Adresse"
                      (onFormChange)="updateAdressing($event)" [form]="quotationManagementForm"
                      propertyName="billingAddress" [isMandatory]="true" [isDisabled]="!editMode"
                      [maxLength]="200"></generic-input>
                  </td>
                  <td>
                    <autocomplete-postal-code [(model)]="billingDocument.billingPostalCode"
                      (onFormChange)="updateAdressing($event)" [form]="quotationManagementForm"
                      [byPassAutocompletValidator]="true" propertyName="postalCode" [isMandatory]="true"
                      label="Code postal" [isDisabled]="!editMode"
                      [conditionnalRequired]="billingDocument.billingLabelCountry != null && billingDocument.billingLabelCountry.id == countryFrance.id"
                      (onOptionSelected)="fillCity($event)"></autocomplete-postal-code>
                  </td>
                  <td>
                    <generic-input [(model)]="billingDocument.cedexComplement" label="Complément CEDEX"
                      (onFormChange)="updateAdressing($event)" [form]="quotationManagementForm"
                      propertyName="cedexComplement" [isMandatory]="false" [isDisabled]="!editMode"
                      [maxLength]="20"></generic-input>
                  </td>
                  <td>
                    <autocomplete-city [(model)]="billingDocument.billingLabelCity" [isDisabled]="!editMode"
                      label="Ville" [preFilterPostalCode]="billingDocument.billingPostalCode"
                      (onFormChange)="updateAdressing($event)" [modelCountry]="billingDocument.billingLabelCountry"
                      [form]="quotationManagementForm" propertyName="city" [isMandatory]="true"
                      (onOptionSelected)="fillPostalCode($event)">
                    </autocomplete-city>
                  </td>
                  <td>
                    <autocomplete-country [(model)]="billingDocument.billingLabelCountry"
                      (onFormChange)="updateAdressing($event)" [form]="quotationManagementForm" label="Pays"
                      [isDisabled]="!editMode" propertyName="country" [isMandatory]="true">
                    </autocomplete-country>
                  </td>
                  <td>
                    <generic-toggle [(model)]="billingDocument.billingLabelIsIndividual" label="Est particulier ?"
                      (onFormChange)="updateAdressing($event)" [form]="quotationManagementForm"
                      propertyName="billingLabelIsIndividual"></generic-toggle>
                  </td>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <td>
                    <generic-input [(model)]="billingDocument.externalReference" label="Référence client"
                      [form]="quotationManagementForm" propertyName="externalReference" [isMandatory]="false"
                      [isDisabled]="!editMode" [maxLength]="250"></generic-input>
                  </td>
                </tr>
              </table>
              <table class="full-width" *ngIf="billingDocument">
                <tr>
                  <td>
                    <generic-toggle [(model)]="billingDocument.isResponsableOnBilling" label="Responsable sur facture ?"
                      (onFormChange)="updateAdressing($event)" [form]="quotationManagementForm"
                      propertyName="isResponsableOnBilling"></generic-toggle>
                  </td>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <td>
                    <generic-toggle [(model)]="billingDocument.isCommandNumberMandatory"
                      (onFormChange)="updateAdressing($event)" label="Numéro de commande obligatoire ?"
                      [form]="quotationManagementForm" propertyName="isCommandNumberMandatory"></generic-toggle>
                  </td>
                  <td *ngIf="billingDocument.isCommandNumberMandatory">
                    <generic-input [(model)]="billingDocument.commandNumber" label="N° de commande"
                      (onFormChange)="updateAdressing($event)" [form]="quotationManagementForm"
                      propertyName="commandNumber" [maxLength]="40"></generic-input>
                  </td>
                </tr>
              </table>
              <addressing [editMode]="editMode" [document]="billingDocument "
                (documentChange)="updateAdressing($event)"></addressing>
              <table class="full-width">
                <tr *ngIf="billingMailComputeResult">
                  <td>
                    <div *ngIf="billingMailComputeResult?.isSendToAffaire">
                      <p>Les mails pour l'envoi à l'affaire sont les suivants (récupérés depuis les
                        {{billingMailComputeResult.mailToAffaireOrigin}}) :</p>
                      <ul>
                        <li *ngFor="let mail of billingMailComputeResult.recipientsMailTo">{{mail.mail}}</li>
                      </ul>
                      <p
                        *ngIf="billingMailComputeResult.recipientsMailCc && billingMailComputeResult.recipientsMailCc!.length>0">
                        Les mails pour l'envoi en copie à l'affaire
                        sont les suivants (récupérés depuis les
                        {{billingMailComputeResult.mailCcAffaireOrigin}}) :
                      <ul>
                        <li *ngFor="let mail of billingMailComputeResult.recipientsMailCc">{{mail.mail}}</li>
                      </ul>
                    </div>

                    <div *ngIf="billingMailComputeResult.isSendToClient">
                      <p>Les mails pour l'envoi au client sont les suivants (récupérés depuis les
                        {{billingMailComputeResult.mailToClientOrigin}}) :</p>
                      <ul>
                        <li *ngFor="let mail of billingMailComputeResult.recipientsMailTo">{{mail.mail}}</li>
                      </ul>
                      <p
                        *ngIf="billingMailComputeResult.recipientsMailCc && billingMailComputeResult.recipientsMailCc!.length>0">
                        Les mails pour l'envoi en copie au client
                        sont les suivants (récupérés depuis les
                        {{billingMailComputeResult.mailCcClientOrigin}}) :
                      <ul>
                        <li *ngFor="let mail of billingMailComputeResult.recipientsMailCc">{{mail.mail}}</li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr *ngIf=" billingMailComputeResult && billingMailComputeResult.recipientsMailTo.length==0">
                  <td class="color-warn">Aucun mail trouvé !</td>
                </tr>
              </table>

              <table class="full-width">
                <tr *ngIf="invoiceLabelResult">
                  <td>
                    <p>Le libellé de la facture est le suivant (récupéré depuis {{invoiceLabelResult.labelOrigin}}) :
                    </p>
                    <p [ngClass]="{'color-warn':!invoiceLabelResult.billingLabel}">
                      {{invoiceLabelResult.billingLabel?invoiceLabelResult.billingLabel:"Libellé inconnu"}}</p>
                    <p [ngClass]="{'color-warn':!invoiceLabelResult.billingLabelAddress}">
                      {{invoiceLabelResult.billingLabelAddress?invoiceLabelResult.billingLabelAddress:"Adresse"}}</p>
                    <p
                      [ngClass]="{'color-warn':!invoiceLabelResult.billingLabelPostalCode || !invoiceLabelResult.billingLabelCity || !invoiceLabelResult.billingLabelCountry}">
                      {{invoiceLabelResult.billingLabelPostalCode?invoiceLabelResult.billingLabelPostalCode:"Code
                      postal inconnu"}}
                      {{invoiceLabelResult.billingLabelCity?invoiceLabelResult.billingLabelCity.label:"Ville inconnue"}}
                      {{invoiceLabelResult.cedexComplement?invoiceLabelResult.cedexComplement:""}}
                      {{invoiceLabelResult.billingLabelCountry?invoiceLabelResult.billingLabelCountry.label:"Pays
                      inconnu"}}
                    </p>
                    <p *ngIf="invoiceLabelResult.billingLabelIntercommunityVat">N° de TVA :
                      {{invoiceLabelResult.billingLabelIntercommunityVat}}</p>
                  </td>
                </tr>
                <tr *ngIf=" billingMailComputeResult && billingMailComputeResult.recipientsMailTo.length==0">
                  <td class="color-warn">Aucun mail trouvé !</td>
                </tr>
              </table>
            </mat-expansion-panel>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Documents numériques
                </mat-panel-title>
                <ng-template></ng-template>
              </mat-expansion-panel-header>
              <addressing [editMode]="editMode" [document]="digitalDocument" [displayOverrideMail]="false"
                (documentChange)="updateAdressing($event)" [displayOverrideEMail]="true">
              </addressing>
              <table class="full-width">
                <tr *ngIf="digitalMailComputeResult">
                  <td>
                    <div *ngIf="digitalMailComputeResult?.isSendToAffaire">
                      <p>Les mails pour l'envoi à l'affaire sont les suivants (récupérés depuis les
                        {{digitalMailComputeResult.mailToAffaireOrigin}}) :</p>
                      <ul>
                        <li *ngFor="let mail of digitalMailComputeResult.recipientsMailTo">{{mail.mail}}</li>
                      </ul>
                      <p
                        *ngIf="digitalMailComputeResult.recipientsMailCc && digitalMailComputeResult.recipientsMailCc!.length>0">
                        Les mails pour l'envoi en copie à l'affaire
                        sont les suivants (récupérés depuis les
                        {{digitalMailComputeResult.mailCcAffaireOrigin}}) :
                      <ul>
                        <li *ngFor="let mail of digitalMailComputeResult.recipientsMailCc">{{mail.mail}}</li>
                      </ul>
                    </div>

                    <div *ngIf="digitalMailComputeResult.isSendToClient">
                      <p>Les mails pour l'envoi au client sont les suivants (récupérés depuis les
                        {{digitalMailComputeResult.mailToClientOrigin}}) :</p>
                      <ul>
                        <li *ngFor="let mail of digitalMailComputeResult.recipientsMailTo">{{mail.mail}}</li>
                      </ul>
                      <p
                        *ngIf="digitalMailComputeResult.recipientsMailCc && digitalMailComputeResult.recipientsMailCc!.length>0">
                        Les mails pour l'envoi en copie au client
                        sont les suivants (récupérés depuis les
                        {{digitalMailComputeResult.mailCcClientOrigin}}) :
                      <ul>
                        <li *ngFor="let mail of digitalMailComputeResult.recipientsMailCc">{{mail.mail}}</li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr *ngIf=" digitalMailComputeResult && digitalMailComputeResult.recipientsMailTo.length==0">
                  <td class="color-warn">Aucun mail trouvé !</td>
                </tr>
              </table>
            </mat-expansion-panel>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Documents papiers
                </mat-panel-title>
                <ng-template></ng-template>
              </mat-expansion-panel-header>
              <addressing [editMode]=" editMode" [document]="paperDocument" [displayOverrideMail]="true"
                [displayNumberMailing]="true" (documentChange)="updateAdressing($event)" [displayOverrideEMail]="false">
              </addressing>
              <table class="full-width break-line">
                <tr *ngIf="paperLabelResult">
                  <td>
                    <p>L'adressage des documents papiers est le suivant (récupéré depuis
                      {{paperLabelResult.labelOrigin}}) :
                    </p>
                    <p [ngClass]="{'color-warn':!paperLabelResult.billingLabel}">
                      {{paperLabelResult.billingLabel?paperLabelResult.billingLabel:"Libellé inconnu"}}</p>
                    <p [ngClass]="{'color-warn':!paperLabelResult.billingLabelAddress}">
                      {{paperLabelResult.billingLabelAddress?paperLabelResult.billingLabelAddress:"Adresse"}}</p>
                    <p>
                      {{paperLabelResult.billingLabelPostalCode}}
                      {{paperLabelResult.billingLabelCity?paperLabelResult.billingLabelCity.label:""}}</p>
                  </td>
                </tr>
              </table>
            </mat-expansion-panel>
          </mat-accordion>
        </fieldset>
      </div>
    </form>
  </fieldset>
</div>