<div class="container d-flex flex-column min-vh-100 pb-5 mb-5 custom-container">

  <section>
    <p class="sub-title" *ngIf="quotation && quotation.assoAffaireOrders && quotation.assoAffaireOrders.length>0  ">
      Sélectionnez une affaire</p>

    <div class="w-100" *ngIf="!quotation ">
      <p class="card-text placeholder-glow">
        <span class="placeholder placeholder-sm col-7 me-2"></span>
        <span class="placeholder placeholder-sm col-4"></span>
        <span class="placeholder placeholder-sm col-4 me-2"></span>
        <span class="placeholder placeholder-sm col-6"></span>
        <span class="placeholder placeholder-sm col-8"></span>
      </p>
    </div>

    <div class="row" *ngIf="quotation && quotation.assoAffaireOrders  ">
      <!-- Afficher les cartes avec ngFor -->
      <div *ngFor="let asso of quotation.assoAffaireOrders; let indexAsso = index;"
        class="col-12 col-sm-6 col-lg-4 my-2" [ngClass]="{'col-sm-6 col-lg-4' : quotation.assoAffaireOrders.length>1}">
        <div class="white-card card rounded-1 d-flex flex-column h-100 p-4 "
          [ngClass]="{'selected': selectedAssoIndex == indexAsso}"
          (click)="selectCard(indexAsso);$event.stopPropagation()">
          <div class="row d-flex flex-row align-items-center">
            <i class="ai-briefcase col-1 selected-hover" [ngClass]="{'selected': selectedAssoIndex == indexAsso}"></i>
            <h6 class="col m-0 selected-hover" [ngClass]="{'selected': selectedAssoIndex == indexAsso}">
              {{asso.affaire.siret?(asso.affaire.siret + ' - '):''}}{{
              asso.affaire.denomination
              ?asso.affaire.denomination : (asso.affaire.firstname+ ' ' +
              asso.affaire.lastname) }} - {{asso.affaire.address}}</h6>
          </div>
          <div class="row align-items-center">
            <!-- Les boutons pills -->
            <a *ngFor="let serviceType of selectedServiceTypes[indexAsso]"
              class="btn rounded-pill mt-2 ms-1 mt-md-3 ms-md-0 col-auto pill text-wrap text-break"
              [ngClass]="{'btn-secondary': selectedAssoIndex == indexAsso,'btn-outline-primary':selectedAssoIndex != indexAsso}"
              (click)="removeServiceFromCurrentAffaire(serviceType);$event.stopPropagation()">
              {{getFamilyLabelForService(serviceType)}} - {{serviceType.customLabel }} <i class="ai-cross ms-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <p class="sub-title">
      Sélectionnez vos services
    </p>
    <div class="w-100" *ngIf="!serviceFamilies || serviceFamilies.length<=0 ">
      <p class="card-text placeholder-glow">
        <span class="placeholder placeholder-sm col-7 me-2"></span>
        <span class="placeholder placeholder-sm col-4"></span>
        <span class="placeholder placeholder-sm col-4 me-2"></span>
        <span class="placeholder placeholder-sm col-6"></span>
        <span class="placeholder placeholder-sm col-8"></span>
      </p>
    </div>

    <ul ngbNav #nav="ngbNav" [activeId]="0" class="nav-tabs ">
      <ng-container *ngIf="serviceFamilies">
        <ng-container *ngFor="let serviceFamily of serviceFamilies;let serviceFamilyIndex=index">
          <li [ngbNavItem]="serviceFamilyIndex" class="nav-item "
            *ngIf="quotation && selectedAssoIndex!=null && quotation.assoAffaireOrders[selectedAssoIndex].affaire.siret!=null || hasServiceForUnregisteredAffaire(serviceFamily) ">
            <button class="nav-link quotation-tabs" ngbNavLink (click)="selecteServiceFamily(serviceFamily)"> <i
                class="{{serviceFamily.myJssIcon}} me-2"></i>{{serviceFamily.customLabel}}</button>
            <ng-template ngbNavContent *ngIf="selectedServiceFamily">
              <div class="quotation-container">
                <div class="pb-3">
                  <generic-input [(model)]="searchtext" label="Rechercher" [form]="servicesForm"
                    propertyName="servicesSearched" [isMandatory]="false" [isDisabled]="false" [isDisplayLabel]="false"
                    [icon]="'search'"></generic-input>
                </div>
                <!-- Stacked checkboxes -->
                <div class="d-flex flex-column flex-md-row flex-wrap">
                  <ng-container *ngFor="let service of selectedServiceFamily.services ; let indexService  =index">
                    <div class="form-check service-item m-1"
                      *ngIf="service.customLabel.toLocaleLowerCase().indexOf(searchtext.toLocaleLowerCase())>=0 && selectedAssoIndex!=null
              && (quotation && selectedAssoIndex!=null && quotation.assoAffaireOrders[selectedAssoIndex].affaire.siret || service.isRequiringNewUnregisteredAffaire)">
                      <input class="form-check-input" type="checkbox" [id]="'ex-check-'+indexService"
                        (click)="removeServiceFromCurrentAffaire(service)"
                        *ngIf="getServiceIndexInCurrentAffaire(service)>=0" checked>
                      <input class="form-check-input" type="checkbox" [id]="'ex-check-'+indexService"
                        (click)="addServiceToCurrentAffaire(service)"
                        *ngIf="getServiceIndexInCurrentAffaire(service)<0">
                      <label class="form-check-label" [for]="'ex-check-'+indexService">{{service.customLabel }}</label>
                      <generic-toggle [(model)]="serviceLinkToggles[indexService]"
                        *ngIf="service.serviceTypeLinked && isServiceSelected(service)"
                        (onToggleChange)="selectLinkedServiceInstead($event, service)"
                        label="Besoin d'inclure aussi la formalité ?" [form]="servicesForm"
                        [propertyName]="'serviceLinkToggles'+indexService" [isDisabled]="false"></generic-toggle>
                    </div>
                  </ng-container>
                </div>
                <div class="text-end">
                  <button type="button" class="btn btn-outline-primary rounded-1 mt-5 ms-auto"
                    [ngClass]="{'btn-secondary' : applyToAllAffaires}" (click)="applyToAllAffaires=!applyToAllAffaires"
                    *ngIf="quotation && quotation.assoAffaireOrders.length>1"><i class="ai-check me-2"
                      *ngIf="applyToAllAffaires"></i> Appliquer mes choix à toutes les affaires</button>
                </div>
              </div>
            </ng-template>
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </section>

  <section class="py-4">
    <hr>
    <div class="row">
      <div class="col with-right-border">
        <div class="row align-items-center mx-2">
          <img class="col-1" src="/assets/img/quotation/services-selection/message-question.svg" />
          <p class="col-11 mb-0">Une question sur la liste des pièces à transmettre pour votre formalité, consultez le
            guide des formalités du JSS à <a href="assets/documents/guide.pdf" target="_blank">télécharger ici</a></p>
        </div>
      </div>
      <div class="col">
        <div class="row align-items-center mx-2">
          <img class="col-1" src="/assets/img/quotation/services-selection/file-validation.svg" />
          <p class="col-11 mb-0">Transmettez-nous vos actes signés et documents justificatifs numérisés en PDF
            accompagnés d'un pouvoir au JSS à <a href="assets/documents/pouvoir.pdf" target="_blank">télécharger ici</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <div
    class="position-fixed bottom-0 start-0 w-100 bg-light shadow-sm p-3 m-0 d-flex justify-content-between align-items-center z-1030">
    <button type="button" class="btn btn-secondary rounded-1 mx-0 mx-sm-5 d-flex align-items-center"
      (click)="goBackQuotation()">
      <i class="ai-arrow-left d-none d-sm-inline"></i>
      <span class="ms-2 ms-lg-2">Étape précédente </span>
    </button>

    <button type="button" class="btn btn-secondary rounded-1  mx-0 mx-sm-5 d-flex align-items-center"
      *ngIf="canSaveQuotation()" (click)="saveQuotation()"> <span class="me-2">Étape
        suivante</span>
      <i class="ai-arrow-right d-none d-sm-inline"></i>
    </button>
  </div>
</div>