.col.with-right-border {
  border-right: 1px solid var(--ar-gray-500);
}

.nav-tabs, .nav-item {
  margin-bottom: 0%;
}

.tab-content {
  margin-top: 0% !important;
}

.service-item {
  width: 330px !important;
}

.btn.btn-outline-primary:hover {
  color: var(--ar-secondary) !important;
}

.btn.btn-secondary {
  color: var(--ar-primary) !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: var(--ar-secondary);
  border-width: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--ar-primary);
  background-color: var(--ar-secondary-bg);
  transition: transform 0.1s ease-in-out;
  transform: scale(1.03);
}

.nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link {
  border-color: var(--ar-tertiary);
  border-bottom: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--ar-secondary);
  background-color: var(--ar-primary);
  border-bottom-width: 3px;
  transition: transform 0.1s ease-in-out;
}