.max-size {
  color: #999;
  font-size: 0.9rem;
}

.download-card {
  cursor: pointer;
  border: 4px dashed #ccccccb9;
  text-align: center;
  padding: 20px;
  transition: border-color 0.3s ease;
}

.download-card:hover {
  border-color: var(--ar-secondary);
}

.download-card.dragover {
  border-color: var(--ar-secondary);
}