.mat-dialog-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 500px;
  length: 400px;

}

.mat-dialog-title {
  text-align: center;
  margin: 0;
}

.mat-dialog-content {
  flex-grow: 1;
}

.mat-dialog-actions {
  align-items: flex-end;
}
