<mat-form-field class="full-width" [formGroup]="form!">
  <mat-label>Pays</mat-label>
  <input type="text" matInput [formControlName]="propertyName" [matAutocomplete]="matAutocomplete" [(ngModel)]="model">
  <mat-icon matSuffix (click)="model=undefined" *ngIf="!isDisabled && model!=undefined">
    close
  </mat-icon>
  <mat-autocomplete autoActiveFirstOption #matAutocomplete="matAutocomplete" [displayWith]="displayLabel"
    (optionSelected)='optionSelected($event.option.value)'>
    <mat-option *ngFor="let country of filteredTypes | async" [value]="country">
      {{country.label}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
