<div data-table data-table-rows-per-page="8" class="card">
  <div class="card-header border-light justify-content-between">

    <div class="d-flex gap-2">
      <div class="app-search">
        <input [(ngModel)]="denominationSearchText" type="search" class="form-control"
          placeholder="Rechercher un tiers...">
        <lucide-angular [img]="LucideSearch" class="app-search-icon text-muted" />
      </div>
      @if (hasSelection) {
      <button class="btn btn-danger" (click)="deleteSelected()">Delete</button>
      }
    </div>


    <div class="d-flex align-items-center gap-2">
      <span class="me-2 fw-semibold">Filter By:</span>

      <div class="app-search">
        <select [(ngModel)]="filterEmail" (ngModelChange)="tableService.setFilter('mails', filterEmail)"
          class="form-select form-control my-1 my-md-0">
          <option value="All">Role</option>
          <option value="Security Officer">Security Officer</option>
          <option value="Project Manager">Project Manager</option>
          <option value="Developer">Developer</option>
          <option value="Support Lead">Support Lead</option>
        </select>
        <lucide-angular [img]="LucideShield" class="app-search-icon text-muted" />
      </div>

      <div class="app-search">
        <lucide-angular [img]="LucideUserCheck" class="app-search-icon text-muted" />
      </div>

      <div>
        <select [(ngModel)]="tableService.pageSize" class="form-select form-control my-1 my-md-0">
          <option [ngValue]="5">5</option>
          <option [ngValue]="8">8</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="15">15</option>
          <option [ngValue]="20">20</option>
        </select>
      </div>

      <button type="submit" class="btn btn-secondary">Add User</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
      <thead class="bg-light align-middle bg-opacity-25 thead-sm">
        <tr class="text-uppercase fs-xxs">
          <th class="ps-3" style="width: 1%;">
            <input [(ngModel)]="selectAll" (change)="toggleAllSelection()"
              class="form-check-input form-check-input-light fs-14 mt-0" type="checkbox" value="option">
          </th>
          <th sortable="id" (sort)="tableService.setSort($event.column, $event.direction)">Id</th>
          <th sortable="denomination" (sort)="tableService.setSort($event.column, $event.direction)">Denomination</th>
          <th sortable="postalCode" (sort)="tableService.setSort($event.column, $event.direction)">Code Postal</th>
          <th sortable="isIndividual" (sort)="tableService.setSort($event.column, $event.direction)">Personne morale
          </th>
          <th sortable="firstname" (sort)="tableService.setSort($event.column, $event.direction)">firstname</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if ((total$ | async)! > 0) {
        @for ( tier of tiers$ | async; track tier.id) {
        <tr>
          <td class="ps-3"><input class="form-check-input form-check-input-light fs-14 file-item-check mt-0"
              type="checkbox" value="option" [(ngModel)]="tier.selected" (change)="toggleSingleSelection()"></td>
          <td>
            <h5 class="m-0">
              <a [routerLink]="[]" class="link-reset">{{ tier.id }}</a>
            </h5>
          </td>
          <td>
            <div class="d-flex align-items-center gap-2">
              <div>
                <h5 class="fs-base mb-0">{{ tier.denomination }}</h5>
                <p class="text-muted fs-xs mb-0">{{ tier.mails.length ? tier.mails[0].mail ? tier.mails[0].mail:
                  tier.mails[0] : "" }}</p>
              </div>
            </div>
          </td>
          @if(tier.postalCode){<td> {{ tier.postalCode }}</td>}
          @else{<td></td>}
          <td>
            <span class="badge badge-label" [class]="
                                  tier.isIndividual ? 'bg-warning-subtle text-warning' :
                                  !tier.isIndividual ? 'bg-success-subtle text-success' : ''
                                ">
            </span>
          </td>
          <td>
            {{tier.firstname}}
          </td>
          <td>
            <div class="d-flex justify-content-center gap-1">
              <a (click)="openTiers(tier)" class="btn btn-light btn-icon btn-sm rounded-circle">
                <ng-icon name="tablerEye" class="fs-lg" />
              </a>
              <a href="javascript:void(0)" class="btn btn-light btn-icon btn-sm rounded-circle">
                <ng-icon name="tablerEdit" class="fs-lg" />
              </a>
              <a href="javascript:void(0)" (click)="tableService.deleteItem(tier)"
                class="btn btn-light btn-icon btn-sm rounded-circle">
                <ng-icon name="tablerTrash" class="fs-lg" />
              </a>
            </div>
          </td>
        </tr>
        }
        } @else {
        <tr class="no-results">
          <td colspan="7" class="text-center text-muted py-3">Nothing found.</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="card-footer border-0">
    @if ((total$ | async)! > 0) {
    <div class="d-flex justify-content-between pagination-boxed align-items-center">
      {{ tableService.showingRange }} roles
      <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="tableService.page"
        [pageSize]="tableService.pageSize">
        <ng-template ngbPaginationPrevious>
          <ng-icon name="tablerChevronLeft" />
        </ng-template>
        <ng-template ngbPaginationNext>
          <ng-icon name="tablerChevronRight" />
        </ng-template>
      </ngb-pagination>
    </div>
    }
  </div>
</div>