<div>
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)" [selectedIndex]="index">
    <mat-tab label="Ecritures">
      <ng-template matTabContent>
        <accounting-record>
        </accounting-record>
      </ng-template>
    </mat-tab>
    <mat-tab label="Balances">
      <ng-template matTabContent>
        <accounting-balance></accounting-balance>
      </ng-template>
    </mat-tab>
    <mat-tab label="Balance générale">
      <ng-template matTabContent>
        <accounting-balance-generale></accounting-balance-generale>
      </ng-template>
    </mat-tab>
    @if (canDisplayBilan()) {
      <mat-tab label="Bilan">
        <accounting-bilan></accounting-bilan>
      </mat-tab>
    }
    @if (canDisplayProfitLost()) {
      <mat-tab label="Compte de résultats">
        <accounting-profit-lost></accounting-profit-lost>
      </mat-tab>
    }
    @if (canDisplayFae()) {
      <mat-tab label="FAE">
        <fae></fae>
      </mat-tab>
    }
    @if (canDisplayFnp()) {
      <mat-tab label="FNP">
        <fnp></fnp>
      </mat-tab>
    }
    @if (canDisplayTreasure()) {
      <mat-tab label="Trésorerie">
        <treasure></treasure>
      </mat-tab>
    }
    @if (canDisplaySuspiciousInvoice()) {
      <mat-tab label="Créances douteuses">
        <ng-template matTabContent>
          <suspicious-invoice></suspicious-invoice>
        </ng-template>
      </mat-tab>
    }
    @if (canDisplaySuspiciousInvoice()) {
      <mat-tab label="OD paie">
        <ng-template matTabContent>
          <payslip-list></payslip-list>
        </ng-template>
      </mat-tab>
    }
  </mat-tab-group>
</div>