<div>
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)" [selectedIndex]="index">
    <mat-tab label="Ecritures">
      <ng-template matTabContent>
        <accounting-record>
        </accounting-record>
      </ng-template>
    </mat-tab>
    <mat-tab label="Balances">
      <ng-template matTabContent>
        <accounting-balance></accounting-balance>
      </ng-template>
    </mat-tab>
    <mat-tab label="Balance générale">
      <ng-template matTabContent>
        <accounting-balance-generale></accounting-balance-generale>
      </ng-template>
    </mat-tab>
    <mat-tab label="Bilan" *ngIf="canDisplayBilan()">
      <accounting-bilan></accounting-bilan>
    </mat-tab>
    <mat-tab label="Compte de résultats" *ngIf="canDisplayProfitLost()">
      <accounting-profit-lost></accounting-profit-lost>
    </mat-tab>
    <mat-tab label="FAE" *ngIf="canDisplayFae()">
      <fae></fae>
    </mat-tab>
    <mat-tab label="FNP" *ngIf="canDisplayFnp()">
      <fnp></fnp>
    </mat-tab>
    <mat-tab label="Trésorerie" *ngIf="canDisplayTreasure()">
      <treasure></treasure>
    </mat-tab>
    <mat-tab label="Créances douteuses" *ngIf="canDisplaySuspiciousInvoice()">
      <ng-template matTabContent>
        <suspicious-invoice></suspicious-invoice>
      </ng-template>
    </mat-tab>
    <mat-tab label="OD paie" *ngIf="canDisplaySuspiciousInvoice()">
      <ng-template matTabContent>
        <payslip-list></payslip-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>