<div>
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)" [selectedIndex]="index">
    <mat-tab label="Ecritures">
      <ng-template matTabContent>
        <accounting-record>
        </accounting-record>
      </ng-template>
    </mat-tab>
    <mat-tab label="Balances">
      <ng-template matTabContent>
        <accounting-balance></accounting-balance>
      </ng-template>
    </mat-tab>
    <mat-tab label="Balance générale">
      <ng-template matTabContent>
        <accounting-balance-generale></accounting-balance-generale>
      </ng-template>
    </mat-tab>
    <!--mat-tab label="Bilan" *ngIf="canDisplayBilan()">
      <accounting-bilan></accounting-bilan>
    </mat-tab>
    <mat-tab label="Compte de résultats" *ngIf="canDisplayProfitLost()">
      <app-accounting-profit-lost></app-accounting-profit-lost>
    </mat-tab-->
  </mat-tab-group>
</div>
