<section class="container mb-5">
  <div class="row pt-md-2 pt-lg-3 pt-xl-4 ">
    <div class="col-md-6">
      <h1 class="h1 pe-xxl-5 me-xl-4 mb-md-0 text-white">Derrière le JSS, des talents avant tout</h1>
    </div>

    <div class="col-md-6 col-xl-5 offset-xl-1">
      <p class="text-body fs-lg mb-5 text-white">Nos équipes sont notre plus grande force.<br>
        Chaque collaborateur apporte son expertise, son énergie et sa motivation pour nous faire avancer.<br><br>
        L’humain est au cœur de notre réussite, c’est pourquoi nous cultivons l’engagement au sein de nos équipes, la
        passion et faisons vivre notre vision. <br><br>Découvrez les visages qui font vivre le JSS & MyJSS au quotidien.
      </p>
    </div>
  </div>
</section>
<div>
</div>

<section class="pb-5 my-5">
  <div class="jarallax d-none d-md-block" data-jarallax>
    <div class="jarallax-img" style="background-image: url(assets/img/societe/team/our_team_banner.jpg);">
    </div>
  </div>
  <div class="d-block d-md-none">
    <img src="assets/img/societe/team/our_team_banner.jpg" />
  </div>
</section>

<section class="container overflow-hidden py-5 my-5">
  <div class="row">
    <h2 class="h2 pb-3 mb-lg-4 text-white">Découvrez nos talents par métier</h2>
  </div>
  <section class="container py-5 mb-lg-3 mb-xl-4 mt-xl-3 my-xxl-5">
    <div class="row">
      <div class="col-md-2 col-12">
        <ul class="nav nav-tabs flex-md-column flex-row" role="tablist">
          <li class="nav-item" *ngFor="let dept of departments">
            <div class="nav-link" [class.active]="dept == selectedTab" (click)="selectedTab = dept">
              <i class="fi-home me-2"></i>
              {{ dept.name }}
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-10 col-12 p-0" data-simplebar>
        <div *ngIf="staff[selectedTab.key] && selectedTab.key != 'formalites'" class="mb-4 mb-lg-5 pb-4 px-3">
          <div class="row row-cols-2 row-cols-lg-4 flex-lg-wrap gy-lg-5 mx-n3 justify-content-center">
            <div class="col" *ngFor="let person of staff[selectedTab.key]">
              <div class="d-block text-center text-decoration-none mt-4 mt-md-0" style="min-width: 110px;">
                <img class="rounded-circle" [src]="'assets/img/societe/team/' + selectedTab.key + '/' + person.photo"
                  width="120" [alt]="person.firstname">
                <h3 class="h5 pt-4 mb-1">{{ person.firstname }} {{ person.lastname }}</h3>
                <p class="text-body-secondary mb-0">{{ person.title }}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="staff[selectedTab.key] && selectedTab.key == 'formalites'" class="mb-4 mb-lg-5 pb-4 px-3">
          <div class="row row-cols-2 row-cols-lg-4 flex-lg-wrap gy-lg-5 mx-n3 justify-content-center">
            <div class="col" *ngFor="let person of staff[selectedTab.key]">
              <div class="d-block text-center text-decoration-none mt-4 mt-md-0" style="min-width: 110px;">
                <img class="rounded-circle" [src]="'assets/img/societe/team/' + selectedTab.key + '/' + person.photo"
                  width="120" [alt]="person.firstname">
                <h3 class="h5 pt-4 mb-1">{{ person.firstname }} {{ person.lastname }}</h3>
                <p class="text-body-secondary mb-0">{{ person.title }}</p>
              </div>
            </div>
          </div>
          <h4 class="mt-5 mb-5 text-center text-white">Elles nous accompagnent </h4>
          <div class="row row-cols-2 row-cols-lg-4 flex-lg-wrap gy-lg-5 mx-n3 justify-content-center">
            <div class="col" *ngFor="let person of staff['formalitesPartner']">
              <div class="d-block text-center text-decoration-none mt-4 mt-md-0" style="min-width: 110px;">
                <img class="rounded-circle" [src]="'assets/img/societe/team/' + selectedTab.key + '/' + person.photo"
                  width="120" [alt]="person.firstname">
                <h3 class="h5 pt-4 mb-1">{{ person.firstname }} {{ person.lastname }}</h3>
                <p class="text-body-secondary mb-0">{{ person.title }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>
</section>