<div class="mat-elevation-z2 form-div" [ngClass]="{'min-height':!isForDashboard  && !isForTiersIntegration }">
  <div class=" full-width">
    <table class="full-width table-fixed-layout" *ngIf="!isForDashboard && !isForTiersIntegration && invoiceSearch">
      <tr>
        <td>
          <select-invoice-status [(model)]=" invoiceSearch.invoiceStatus" label="Statut de la facture"
            [form]="invoiceForm" propertyName="invoiceStatus" [isMandatory]="false"
            [defaultStatusSelected]="defaultStatusFilter">
          </select-invoice-status>
        </td>
        <td>
          <generic-input [(model)]="invoiceSearch.minAmount" label="Montant minimum" [form]="invoiceForm"
            propertyName="minAmount" [isMandatory]="false" [isDisabled]="false" type="number"></generic-input>
        </td>
        <td>
          <generic-input [(model)]="invoiceSearch.maxAmount" label="Montant maximum" [form]="invoiceForm"
            propertyName="maxAmount" [isMandatory]="false" [isDisabled]="false" type="number"></generic-input>
        </td>
        <td>
          <generic-date-range-picker [(modelStart)]="invoiceSearch.startDate" [(modelEnd)]="invoiceSearch.endDate"
            label="Plage de recherche" [form]="invoiceForm" propertyNameStart="startDate" propertyNameEnd="endDate">
          </generic-date-range-picker>
        </td>
        <td *ngIf="!isForPaymentAssocationIntegration">
          <generic-toggle [(model)]="invoiceSearch.showToRecover" label="A recouvrer ?" [form]="invoiceForm"
            propertyName="showToRecover"></generic-toggle>
        </td>
        <td *ngIf="isForPaymentAssocationIntegration">
          <generic-input [(model)]="invoiceSearch.customerOrderId" label="Numéro de commande" [form]="invoiceForm"
            propertyName="customerOrderId" [isMandatory]="false"></generic-input>
        </td>
        <td *ngIf="isForPaymentAssocationIntegration">
          <generic-input [(model)]="invoiceSearch.invoiceId" label="Numéro de facture" [form]="invoiceForm"
            propertyName="invoiceId" [isMandatory]="false"></generic-input>
        </td>
        <td class="fab-td-button">
          <button mat-mini-fab color="warn" matTooltip="Rechercher" (click)="searchInvoices()" class="add-button">
            <mat-icon>search</mat-icon>
          </button>
        </td>
      </tr>
    </table>
    <sort-table [actions]="tableAction" [columns]="displayedColumns" [values]="invoices" tableName="Factures"
      *ngIf="displayedColumns && displayedColumns.length>0 " [displayTotalLines]="true">
    </sort-table>
  </div>
</div>
<button *ngIf="!isForDashboard && canAddNewInvoice()" matTooltip="Ajouter une facture libre" mat-fab color="accent"
  class="fab-button" (click)="addInvoice($event)" (auxclick)="addInvoice($event)">
  <mat-icon>add</mat-icon>
</button>