<div class="mat-elevation-z2 form-div">
  <div class=" full-width">
    <table class="full-width table-fixed-layout">
      <tr>
        <td>
          <select-invoice-status [(model)]="invoiceSearch.invoiceStatus" label="Statut de la facture"
            [form]="invoiceForm" propertyName="invoiceStatus" [isMandatory]="true"
            [defaultCodesSelected]="[INVOICING_STATUS_SENT]">
          </select-invoice-status>
        </td>
        <td>
          <generic-input [(model)]="invoiceSearch.minAmount" label="Montant minimum" [form]="invoiceForm"
            propertyName="minAmount" [isMandatory]="false" [isDisabled]="false" type="number"></generic-input>
        </td>
        <td>
          <generic-input [(model)]="invoiceSearch.maxAmount" label="Montant maximum" [form]="invoiceForm"
            propertyName="maxAmount" [isMandatory]="false" [isDisabled]="false" type="number"></generic-input>
        </td>
        <td>
          <generic-date-range-picker [(modelStart)]="invoiceSearch.startDate" [(modelEnd)]="invoiceSearch.endDate"
            label="Plage de recherche" [form]="invoiceForm" propertyNameStart="startDate" propertyNameEnd="endDate"
            (onDateChange)="putDefaultPeriod()">
          </generic-date-range-picker>
        </td>
        <td class="fab-td-button">
          <button mat-mini-fab color="warn" matTooltip="Rechercher" (click)="searchInvoices()" class="add-button">
            <mat-icon>search</mat-icon>
          </button>
        </td>
      </tr>
    </table>
    <sort-table [actions]="tableAction" [columns]="displayedColumns" [values]="invoices" tableName="Factures">
    </sort-table>
  </div>
</div>
<button matTooltip="Ajouter une facture libre" mat-fab color="accent" class="fab-button" (click)="addInvoice()">
  <mat-icon>add</mat-icon>
</button>
