<section class="container ">
  <div class="py-sm-3 py-md-4 py-lg-5 my-xxl-3">
    <div class="row pt-md-2 pt-lg-3 pt-xl-4 pb-lg-2 pb-xl-3">
      <div class="col-md-6" style="margin-top: -10px;">
        <h1 class="h1 pe-xxl-5 me-xl-4 mb-md-0 text-white">Vos apostilles et légalisations sur mesure</h1>
      </div>

      <div class="col-md-6 col-xl-5 offset-xl-1">
        <p class="text-body fs-lg mb-5 text-white">Confiez à nos experts vos documents à authentifier pour une démarche
          à l'étranger ou en France.{{serviceFamilyGroupOther}}</p>
        <double-buttons class="text-grey" orderActionLabel=" Demander une apostille ou légalisation"
          [orderActionRoute]="'quotation/new/'+serviceFamilyGroupOther!.id+'/'+quotationTypeOrder.id"
          quotationActionLabel="Demander un devis"
          [quotationActionRoute]="'quotation/new/'+serviceFamilyGroupOther!.id+'/'+quotationTypeQuotation.id"
          [isLightButtons]="true">
        </double-buttons>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="jarallax rounded overflow-hidden z-2" data-speed="0.5">
    <div class="jarallax-img"
      style="background-image: url('/assets/img/myjss-services/apostilles/banniere_apostilles.jpg');"></div>
  </div>
</section>

<explaination-video posterPath="assets/img/announcement/annonce_bandeau_img.jpg"
  videoPath="assets/videos/test_video.mp4" title="Authentifiez vos documents pour l’étranger en 3 étapes"
  firstStepTitle="Remplissez le bon de commande"
  firstStepDescription="Indiquez le type de document, le pays de destination et les éventuelles traductions."
  secondStepTitle="Envoyez les originaux"
  secondStepDescription="Transmettez les documents originaux à cette adresse : <br/>JSS - Service Apostilles Légalisations, <br/>10 Boulevard Haussmann, <br/>75009 Paris"
  thirdStepTitle="Récupérez vos documents authentifiés"
  thirdStepDescription="Recevez vos documents selon les modalités que vous aurez précisées." [firstJumpTo]="5"
  [secondJumpTo]="15"></explaination-video>

<description-my-account
  imageSrc="assets/img/myjss-services/apostilles/parcourir_mon_compte_apostille.webp"></description-my-account>

<section class="container mt-lg-3 mt-xl-4 mt-xxl-5 pt-lg-5 pt-sm-3 pt-2">
  <div class="bg-yellow-custom rounded-5 overflow-hidden mt-2 mt-sm-4 mt-lg-5">
    <div class="row align-items-center position-relative">
      <div class="col-md-6 col-lg-5 offset-lg-1 text-container">
        <div class="text-center text-md-start py-5 px-4 px-sm-5 pe-md-0 ps-lg-4 ps-xl-5">
          <div class="d-flex align-items-center justify-content-center justify-content-md-start mb-2">
            <span class="text-blue opacity-70 me-2 practical-sheets-pre-border "></span>
            <span class="fs-xs fw-semibold text-blue text-uppercase">Apostilles et légalisation</span>
          </div>
          <h2 class="h2 secondary-heading pb-2 pb-sm-3 ">N'attendez plus et accédez à nos solutions</h2>
          <double-buttons class="text-grey" orderActionLabel=" Demander une apostille ou légalisation"
            [orderActionRoute]="'quotation/new/'+serviceFamilyGroupOther!.id+'/'+quotationTypeOrder.id"
            quotationActionLabel="Demander un devis"
            [quotationActionRoute]="'quotation/new/'+serviceFamilyGroupOther!.id+'/'+quotationTypeQuotation.id"
            [isLightButtons]="false">
          </double-buttons>
        </div>
      </div>

      <div class="col-md-6 holo-img">
        <img class="d-none d-md-block" src="assets/img/myjss-services/apostilles/holo_nico.png" alt="Image">
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container py-3 py-sm-4 py-lg-5 my-md-2 my-lg-3 my-xl-4 my-xxl-5">
    <div class="text-center">
      <h2 class="h1 pb-3 mb-lg-4 text-white">Votre allié juridique de confiance</h2>
      <p>Optimisez vos démarches sur MyJSS la plateforme intuitive et performante du Journal Spécial des Sociétés</p>
    </div>
    <div class="row">
      <div class="col">
        <div class="card h-100 border-0 rounded-5 ">
          <div class="card-body pb-3">
            <img src="assets/img/icons/assistance_dedie.svg" alt="Icon">
            <h3 class="h4 text-white">Assistance dédiée</h3>
            <p class="mb-0">Nos équipes vous conseillent par téléphone ou
              par mail à chaque étape.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 border-0 rounded-5">
          <div class="card-body pb-3">
            <img src="assets/img/icons/expertise_reconnue.svg" alt="Icon">
            <h3 class="h4 text-white">Expertise reconnue</h3>
            <p class="mb-0">Nous gérons les apostilles et légalisations pour l’ensemble des pays du monde.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 border-0 rounded-5 ">
          <div class="card-body pb-3">
            <img src="assets/img/icons/plateforme_intuitive.svg" alt="Icon">
            <h3 class="h4 text-white">Plateforme intuitive</h3>
            <p class="mb-0">Effectuez vos demandes d'apostilles et légalisations en quelques clics.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0 rounded-5 ">
          <div class="card-body pb-3">
            <img src="assets/img/icons/charge_complete.svg" alt="Icon">
            <h3 class="h4 text-white">Prise en charge complète</h3>
            <p class="mb-0">Gestion du dépôt au retrait de vos apostilles et légalisations auprès des autorités
              compétentes.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="overflow-hidden pb-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-7 order-md-1">
        <img class="object-fit-cover w-100 h-100 rounded-3"
          src="assets/img/myjss-services/apostilles/service_sur_mesure.png" alt="Image">
      </div>
      <div class="col-md-5 order-md-2">
        <div class="d-flex flex-column h-100 card border-0 rounded-3 py-5 px-4 px-lg-5">
          <h2 class="mb-xl-4">MyJSS vous propose un service sur-mesure d’apostilles et de légalisations. </h2>
          <p class="mb-4 mb-xl-5">Selon le type de document et sa destination, nous déterminons s'il s’agit d’une
            apostille, d’une légalisation ou si une dispense s'applique.
            Nous gérons les différentes étapes de ces formalités de A à Z.</p>
          <ul class="list-unstyled mb-4 mb-xl-5">
            <li class="d-flex pb-2 mb-1">
              <span class="bg-primary mt-2 me-2 checkbox-custom"></span>
              Certification notariale de signature
            </li>
            <li class="d-flex pb-2 mb-1">
              <span class="bg-primary mt-2 me-2 checkbox-custom"></span>
              Traduction assermentée en français ou dans une langue étrangère
            </li>
            <li class="d-flex pb-2 mb-1">
              <span class="bg-primary mt-2 me-2 checkbox-custom"></span>
              Certification par la Chambre de Commerce et de l’Industrie
            </li>
            <li class="d-flex pb-2 mb-1">
              <span class="bg-primary mt-2 me-2 checkbox-custom"></span>
              Légalisation par le Ministère des Affaires Etrangères
            </li>
            <li class="d-flex">
              <span class="bg-primary mt-2 me-2 checkbox-custom"></span>
              Ambassade ou Consulat
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="overflow-hidden pb-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-7 order-md-2">
        <img class="object-fit-cover rounded-3 w-100 h-100" src="assets/img/myjss-services/apostilles/Kbis.jpg"
          alt="Image">
      </div>
      <div class="col-md-5 order-md-1">
        <div class="d-flex flex-column h-100 card border-0 rounded-3 py-5 px-4 px-lg-5">
          <h2 class="mb-xl-4">MyJSS commande votre Kbis (certifié si besoin)</h2>
          <p class="mb-4 mb-xl-5">Si vous devez faire apostiller ou légaliser un Kbis, nous pouvons également procéder à
            sa commande en original papier. </p>

          <div class="mt-auto">
            <button type="button" href="#" class="btn btn-light me-3 mb-2 mb-md-0">Commandez un Kbis <i
                class="ai-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="overflow-hidden pb-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-7 order-md-1">
        <img class="object-fit-cover w-100 h-100 rounded-3"
          src="assets/img/myjss-services/apostilles/myjss_occupe_tout.jpg" alt="Image">
      </div>
      <div class="col-md-5 order-md-2">
        <div class="d-flex flex-column h-100 card border-0 rounded-3 py-5 px-4 px-lg-5">
          <h2 class="mb-xl-4">Apostille, légalisation, traduction : MyJSS s’occupe de tout !</h2>
          <p>Besoin d’une apostille, d’une légalisation ou d’une traduction assermentée ?
            Nous prenons en charge l’ensemble de vos documents officiels, qu’ils soient commerciaux (K-Bis, statuts,
            certificats, factures, appels d’offres…) ou juridiques (actes notariés, jugements, procurations,
            attestations…).
            En fonction du pays de destination et du type de document, nous réalisons la procédure adaptée et assurons
            un suivi rigoureux à chaque étape. <br><br>Notre service inclut également la traduction assermentée de vos
            documents administratifs, juridiques et
            techniques, réalisée par des experts agréés pour une reconnaissance officielle en France et à
            l’international.<br><br>Avec MyJSS, simplifiez vos démarches et obtenez des documents conformes aux
            exigences
            légales, rapidement et
            sans stress. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container py-3 py-sm-4 py-lg-5 my-md-2 my-lg-3 my-xl-4 my-xxl-5">
    <div class="text-center">
      <h2 class="h1 pb-3 mb-lg-4 text-white">Nos services</h2>
      <p>Nous proposons une large gamme de services de formalités, adaptés à vos besoins pour simplifier vos démarches
        administratives.</p>
    </div>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 pb-xl-2 pb-xxl-3 justify-content-center align-items-stretch">
      <div class="col-lg-5 d-flex pt-3 pt-xl-0">
        <div class="card h-100 border-0 rounded-5 w-100">
          <div class="card-body pb-3 px-3">
            <img src="assets/img/icons/Annonces.svg" alt="Icon">
            <h3 class="h4 text-white" routerLink="/services/announcement" style="cursor: pointer;">Annonces légales</h3>
            <p class="mb-0">Toutes les annonces légales, sur tout le territoire et sur tous les supports.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" (click)="openAnnouncements($event)"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-flex pt-3 pt-xl-0">
        <div class="card h-100 border-0 rounded-5 w-100">
          <div class="card-body pb-3 px-3">
            <img src="assets/img/icons/Formalite.svg" alt="Icon">
            <h3 class="h4 text-white" routerLink="/services/formality" style="cursor: pointer;">Formalité légale</h3>
            <p class="mb-0">Un accompagnement complet pour toutes vos formalités juridiques.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" (click)="openFormality($event)"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 pb-xl-2 pb-xxl-3 justify-content-center align-items-stretch">
      <div class="col-lg-5 d-flex pt-3 pt-xl-0">
        <div class="card h-100 border-0 rounded-5 w-100">
          <div class="card-body pb-3 px-3">
            <img src="assets/img/icons/Domiciliation.svg" alt="Icon">
            <h3 class="h4 text-white" routerLink="/services/domiciliation" style="cursor: pointer;">Domiciliation</h3>
            <p class="mb-0">Une domiciliation au cœur de Paris avec gestion simplifiée.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" (click)="openDomiciliation($event)"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-flex pt-3 pt-xl-0">
        <div class="card h-100 border-0 rounded-5 w-100">
          <div class="card-body pb-3 px-3">
            <img src="assets/img/icons/Fourniture_documents.svg" alt="Icon">
            <h3 class="h4 text-white" routerLink="/services/document" style="cursor: pointer;">Fourniture de documents
            </h3>
            <p class="mb-0">Vos documents officiels fournis rapidement et en toute conformité.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" (click)="openDocument($event)"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="background-opacity mb-5">
  <div class="container overflow-hidden">
    <generic-swiper *ngIf="tendencyPosts && tendencyPosts.length>0" [items]="tendencyPosts" title="Articles à la une">
      <ng-template let-post>
        <div class="h-100">
          <div class="card border-0 bg-tertiary">
            <a (click)="openPost(post.slug,$event)">
              <img class="card-img-top"
                [src]="post.media && post.media.urlMediumLarge ? post.media.urlMediumLarge : post.media.urlFull"
                alt="Post image">
            </a>
            <div class="card-body pb-4">
              <div class="d-flex align-items-center mb-4 mt-n1">
                <span class="fs-sm text-body-secondary">{{post.date | date:'yyyy-MM-dd'}}</span>
                <span class="fs-xs opacity-20 mx-3">|</span>
                <a class="badge text-nav fs-xs border" *ngIf="post.postTags[0]">{{post.postTags[0].name}}</a>
              </div>
              <h3 class="h4 card-title card-title-truncate">
                <a (click)="openPost(post.slug,$event)">{{post.titleText}}</a>
              </h3>
              <p class="card-text card-text-truncate">{{post.excerptText}}</p>
            </div>
            <div class="card-footer pt-3">
              <div class="d-flex align-items-center text-decoration-none pb-2">
                <img class="rounded-circle"
                  [src]="post.fullAuthor.avatar_url_size_48 ? post.fullAuthor.avatar_url_size_48 : post.fullAuthor.avatar_url_size_24 ? post.fullAuthor.avatar_url_size_24 : post.fullAuthor.avatar_url_size_96 "
                  width="48" alt="Post author">
                <h6 class="ps-3 mb-0">{{post.fullAuthor.name}}</h6>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </generic-swiper>
  </div>
</section>
<div class="my-5 py-5">
  <our-clients></our-clients>
</div>