<div>
  <mat-form-field class="full-width">
    <input matInput (keyup)="applyFilter($event.target)" placeholder="Rechercher">
  </mat-form-field>
</div>
<table mat-table [dataSource]="confreresDataSource" class="mat-elevation-z8 table">
  <ng-container matColumnDef="denomination">
    <th mat-header-cell *matHeaderCellDef>Dénomination</th>
    <td mat-cell *matCellDef="let element">{{element.denomination}} </td>
  </ng-container>
  <ng-container matColumnDef="departments">
    <th mat-header-cell *matHeaderCellDef>Habilitations</th>
    <td mat-cell *matCellDef="let element">{{element.departments}} </td>
  </ng-container>
  <ng-container matColumnDef="discountRate">
    <th mat-header-cell *matHeaderCellDef>Taux de remise</th>
    <td mat-cell *matCellDef="let element">{{element.discountRate}} %</td>
  </ng-container>
  <ng-container matColumnDef="weekDays">
    <th mat-header-cell *matHeaderCellDef>Jours de parution</th>
    <td mat-cell *matCellDef="let element">{{element.weekDays}} </td>
  </ng-container>
  <ng-container matColumnDef="lastShipmentForPublication">
    <th mat-header-cell *matHeaderCellDef>Dernier envoi pour parution</th>
    <td mat-cell *matCellDef="let element">{{element.lastShipmentForPublication}} </td>
  </ng-container>
  <ng-container matColumnDef="preference">
    <th mat-header-cell *matHeaderCellDef>Préférence</th>
    <td mat-cell *matCellDef="let element">{{element.preference}} </td>
  </ng-container>
  <ng-container matColumnDef="mails">
    <th mat-header-cell *matHeaderCellDef>Mails</th>
    <td mat-cell *matCellDef="let element">{{element.mails}} </td>
  </ng-container>
  <ng-container matColumnDef="phones">
    <th mat-header-cell *matHeaderCellDef>Téléphones</th>
    <td mat-cell *matCellDef="let element">{{element.phones}} </td>
  </ng-container>
  <ng-container matColumnDef="numberOfPrint">
    <th mat-header-cell *matHeaderCellDef>Tirage</th>
    <td mat-cell *matCellDef="let element">{{element.numberOfPrint}} </td>
  </ng-container>
  <ng-container matColumnDef="shippingCosts">
    <th mat-header-cell *matHeaderCellDef>Frais de port</th>
    <td mat-cell *matCellDef="let element">{{element.shippingCosts}} €</td>
  </ng-container>
  <ng-container matColumnDef="administrativeFees">
    <th mat-header-cell *matHeaderCellDef>Frais administratifs</th>
    <td mat-cell *matCellDef="let element">{{element.administrativeFees}} €</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="chooseConfrere(row)" class="pointer" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
