<div data-table data-table-rows-per-page="8" class="card">
    <div class="card-header border-light justify-content-between">

        <div class="d-flex gap-2">
            <div class="app-search">
                <input [(ngModel)]="tableService.searchTerm" type="search" class="form-control"
                    placeholder="Nom responsable...">
                <lucide-angular [img]="LucideSearch" class="app-search-icon text-muted" />
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
            <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                <tr class="text-uppercase fs-xxs">
                    <th class="ps-3" style="width: 1%;">
                        <input [(ngModel)]="selectAll" (change)="toggleAllSelection()"
                            class="form-check-input form-check-input-light fs-14 mt-0" type="checkbox" value="option">
                    </th>
                    <th sortable="firstname" (sort)="tableService.setSort($event.column, $event.direction)">Nom du
                        responsable</th>
                </tr>
            </thead>
            <tbody>
                @if ((total$ | async)! > 0) {
                @for ( user of users$ | async; track user.id) {
                <tr>
                    <td class="ps-3"><input class="form-check-input form-check-input-light fs-14 file-item-check mt-0"
                            type="checkbox" value="option" [(ngModel)]="user.selected"
                            (change)="toggleSingleSelection()"></td>
                    <td>
                        <div class="d-flex align-items-center gap-2">
                            <div>
                                <h5 class="fs-base mb-0">{{ user.firstname }} {{user.lastname}}</h5>
                                @if (user.tiersCategory && user.tiersCategory.label){<p class="text-muted fs-xs mb-0">{{
                                    user.tiersCategory.label }}</p>}
                            </div>
                        </div>
                    </td>
                </tr>
                }
                } @else {
                <tr class="no-results">
                    <td colspan="7" class="text-center text-muted py-3">Nothing found.</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer border-0">
        @if ((total$ | async)! > 0) {
        <div class="d-flex justify-content-between pagination-boxed align-items-center">
            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="tableService.page"
                [pageSize]="tableService.pageSize">
                <ng-template ngbPaginationPrevious>
                    <ng-icon name="tablerChevronLeft" />
                </ng-template>
                <ng-template ngbPaginationNext>
                    <ng-icon name="tablerChevronRight" />
                </ng-template>
            </ngb-pagination>
        </div>
        }
    </div>
</div>