<ng-container *ngIf="customerOrder">
  <ng-container *ngFor="let asso of customerOrder.assoAffaireOrders">
    <div class="mat-accordion-container full-width">
      <p> {{asso.affaire.denomination?asso.affaire.denomination:(asso.affaire.firstname + ' '
        +asso.affaire.lastname)}} - {{asso.affaire.address}} - {{asso.affaire.postalCode}} -
        {{asso.affaire.city.label}}</p>
    </div>
    <ng-container *ngFor="let service of asso.services">
      <div class="mat-accordion-container full-width">
        <mat-accordion multi>
          <mat-expansion-panel expanded="false" class="service-tab ">
            <mat-expansion-panel-header>
              <mat-panel-title>Service - {{service.serviceLabelToDisplay}}
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="mat-accordion-container">
        <sort-table [columns]="displayedColumns" [actions]="tableActions" [values]="queries[service.id]"
          tableName="Demandes de PM" [isSmallerHeight]="true"></sort-table>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
