<div id="navbar">
  <nav class="navbar ">
    <div>
      <span class="navbar-title" [ngClass]="{'menu-hidden':!sidenavOpenState}">
        <span class="pointer">
          <mat-icon matTooltip="Revenir à la page précédente" matTooltipShowDelay="1000" (click)="goBack()"> arrow_back
          </mat-icon>
          <mat-icon matTooltip="Ajouter aux notes en tant que titre" matTooltipShowDelay="1000" matSuffix
            (click)="addToNotes()" class="pointer note-icon">
            adjust
          </mat-icon>
        </span> {{title}}
      </span>
    </div>
  </nav>
</div>
