.mat-accordion-container {
  padding-top: 15px
}

.mat-form-field-padding {
  padding-top: 20px;
}

.form-div {
  min-height: 1000px;
}

td {
  padding-right: 8px;
}

.table {
  width: 100%;
}

.row-field-container {
  flex-direction: row;
  display: flex;
}

.mini-fab-add {
  margin: 5px
}
