<section>
  <div class="container overflow-hidden py-5 my-5">
    <div class="row justify-content-between">
      <div class="col">
        <p>{{subtitle}}</p>
        <h2 class="h1 pb-3 mb-lg-4 text-white">{{title}}</h2>
      </div>
      <div class="col-auto ms-auto d-flex justify-content-end align-items-end"
        *ngIf="items && items.length>slidesPerView">
        <div class="d-md-block d-none pb-3 mb-lg-4 ">
          <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle m-2" (click)="slidePrev()"
            aria-label="Previous slide">
            <i class="ai-arrow-left"></i>
          </a>
          <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle m-2" (click)="slideNext()"
            aria-label="Next slide">
            <i class="ai-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>

    <swiper-container #genericSwiper class="genericSwiper" init="false">
      <swiper-slide *ngFor="let item of items" class="pb-5">
        <ng-container *ngTemplateOutlet="templateRef; context: { $implicit: item }"></ng-container>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
