<section>
  <div class="container overflow-hidden py-5 my-5">
    <div class="row justify-content-between">
      <div class="col">
        <p>{{subtitle}}</p>
        <h2 class="h1 pb-3 mb-lg-4 text-white">{{title}}</h2>
      </div>
      <div class="col-auto ms-auto d-flex justify-content-end align-items-end">
        <div class="d-md-block d-none pb-3 mb-lg-4 ">
          <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle m-2" (click)="slidePrev()"
            aria-label="Previous slide">
            <i class="ai-arrow-left"></i>
          </a>
          <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle m-2" (click)="slideNext()"
            aria-label="Next slide">
            <i class="ai-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Fixed img on the left if set -->
      <div *ngIf="firstFixedImage && maxHeight" class="col-lg-3 d-none d-lg-block p-0 pb-5"
        [style.height.px]="maxHeight">
        <div class="card border-0 h-100">
          <img [src]="firstFixedImage" [style.height.px]="maxHeight" class="card-img object-fit-cover"
            alt="Fixed image">
        </div>
      </div>
      <div class="col-12" [ngClass]="firstFixedImage ? 'col-lg-9': 'col-lg-12'">
        <swiper-container #genericSwiper class="genericSwiper" init="false">
          <swiper-slide *ngFor="let item of items" class="pb-5">
            <ng-container *ngTemplateOutlet="templateRef; context: { $implicit: item }"></ng-container>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>