<section class="container pt-5">
  <div class="row g-4 align-items-center">
    <div class="col-6 order-md-1">
      <h1 class="h2 pe-xxl-5 me-xl-4 mb-3  ">Erreur 404
      </h1>
      <p>La page que vous recherchez a été déplacée, supprimée ou n'a peut-être jamais existé.
      </p>

      <div class="col-12 pt-2">
        <button class="btn btn-lg btn-primary" type="submit" routerLink="/home">Retour à l'accueil</button>
      </div>
    </div>

    <div class="col-6 order-md-2">
      <img src="assets/images/error_404.png" alt="Image">
    </div>
  </div>
</section>