<form [formGroup]="settlementBillingForm" *ngIf="tiers">
  <div class="mat-accordion-container full-width">
    <fieldset [disabled]="editMode==false" class="fieldset-no-border">
      <mat-accordion>
        <mat-expansion-panel expanded *ngIf="instanceOfTiers(tiers)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Règlement
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <mat-label>Type</mat-label>
                  <mat-select formControlName="paymentType" [(ngModel)]="tiers.paymentType"
                    [compareWith]="compareWithId" [disabled]="editMode==false">
                    <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType">
                      {{paymentType.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td
                *ngIf="tiers !=undefined && tiers.paymentType!=undefined && tiers.paymentType.code!=undefined && tiers.paymentType.code==PAYMENT_TYPE_PRELEVEMENT">
                <mat-form-field class="full-width">
                  <mat-label>IBAN</mat-label>
                  <input matInput formControlName="paymentIBAN" [(ngModel)]="tiers.paymentIBAN">
                </mat-form-field>
              </td>
              <td>
                <mat-slide-toggle formControlName="isProvisionalPaymentMandatory"
                  [(ngModel)]="tiers.isProvisionalPaymentMandatory">Provision obligatoire ?
                </mat-slide-toggle>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Facture
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <label>Libellé sur facture</label>
                <mat-radio-group class="radio-group-column" [(ngModel)]="billingDocument.billingLabelType"
                  formControlName="billingLabelType">
                  <mat-radio-button *ngFor="let billingLabelType of billingLabelTypes" [value]="billingLabelType"
                    [checked]="billingDocument.billingLabelType != undefined && billingDocument.billingLabelType.id!=undefined && billingDocument.billingLabelType.id==billingLabelType.id">
                    {{billingLabelType.label}}
                  </mat-radio-button>
                </mat-radio-group>
              </td>
              <td
                *ngIf="billingDocument.billingLabelType!=undefined && billingDocument.billingLabelType.code!=undefined && billingDocument.billingLabelType.code==BILLING_TIERS_DOCUMENT_TYPE_OTHER_CODE">
                <mat-form-field class="full-width">
                  <mat-label>Autre libellé sur facture</mat-label>
                  <textarea rows="4" matInput formControlName="billingLabel"
                    [(ngModel)]="billingDocument.billingLabel"></textarea>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
                <mat-slide-toggle formControlName="isResponsableOnBilling"
                  [(ngModel)]="billingDocument.isResponsableOnBilling">Responsable sur facture ?
                </mat-slide-toggle>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
                <mat-slide-toggle formControlName="isCommandNumberMandatory"
                  [(ngModel)]="billingDocument.isCommandNumberMandatory">Numéro de commande obligatoire ?
                </mat-slide-toggle>
              </td>
              <td *ngIf="billingDocument.isCommandNumberMandatory">
                <mat-form-field class="full-width">
                  <mat-label>N° de commande annuel</mat-label>
                  <input matInput formControlName="commandNumber" [(ngModel)]="billingDocument.commandNumber"
                    autocomplete="do-not-autofill">
                </mat-form-field>
              </td>
            </tr>
          </table>
          <addressing [editMode]="editMode" [document]="billingDocument "
            [displayMailCC]="instanceOfResponsable(tiers)"></addressing>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="instanceOfTiers(tiers)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Relance
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <mat-slide-toggle formControlName="isAutomaticDunning" [(ngModel)]="billingDocument.isAutomaticDunning">
                  Relance automatique ?
                </mat-slide-toggle>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <mat-label>Echéance de relance</mat-label>
                  <mat-select formControlName="paymentDeadlineType" [(ngModel)]="dunningDocument.paymentDeadlineType"
                    [compareWith]="compareWithId" [disabled]="editMode==false">
                    <mat-option *ngFor="let paymentDeadlineType of paymentDeadlineTypes" [value]="paymentDeadlineType">
                      {{paymentDeadlineType.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <addressing [editMode]="editMode" [document]="dunningDocument"></addressing>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="instanceOfTiers(tiers)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Remboursement
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <mat-slide-toggle formControlName="isRefundable" [(ngModel)]="refundDocument.isRefundable">Remboursement
                  ?
                </mat-slide-toggle>
              </td>
              <td *ngIf="refundDocument.isRefundable">
                <mat-form-field class="full-width">
                  <mat-label>Type de remboursement</mat-label>
                  <mat-select formControlName="refundType" [(ngModel)]="refundDocument.refundType"
                    [compareWith]="compareWithId" [disabled]="editMode==false">
                    <mat-option *ngFor="let refundType of refundTypes" [value]="refundType">
                      {{refundType.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td
                *ngIf="refundDocument.isRefundable && refundDocument !=undefined && refundDocument.refundType!=undefined && refundDocument.refundType.code!=undefined && refundDocument.refundType.code==REFUND_TYPE_VIREMENT">
                <mat-form-field class="full-width">
                  <mat-label>IBAN</mat-label>
                  <input matInput formControlName="refundIBAN" [(ngModel)]="refundDocument.refundIBAN">
                </mat-form-field>
              </td>
            </tr>
          </table>
          <addressing [editMode]="editMode" [document]="refundDocument" *ngIf="refundDocument.isRefundable">
          </addressing>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Arrêtés de facturation
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <label>Type</label>
                <mat-radio-group class="radio-group-column" [(ngModel)]="billingClosureDocument.billingClosureType"
                  formControlName="billingClosureType">
                  <mat-radio-button *ngFor="let billingClosureType of billingClosureTypes" [value]="billingClosureType"
                    [checked]="billingClosureDocument.billingClosureType != undefined && billingClosureDocument.billingClosureType.id!=undefined && billingClosureDocument.billingClosureType.id==billingClosureType.id">
                    {{billingClosureType.label}}
                  </mat-radio-button>
                </mat-radio-group>
              </td>
              <td>
                <label>Destinataire</label>
                <mat-radio-group class="radio-group-column"
                  [(ngModel)]="billingClosureDocument.billingClosureRecipientType"
                  formControlName="billingClosureRecipientType">
                  <mat-radio-button *ngFor="let billingClosureRecipientType of billingClosureRecipientTypes"
                    [value]="billingClosureRecipientType"
                    [checked]="billingClosureDocument.billingClosureRecipientType != undefined && billingClosureDocument.billingClosureRecipientType.id!=undefined && billingClosureDocument.billingClosureRecipientType.id==billingClosureRecipientType.id">
                    {{billingClosureRecipientType.label}}
                  </mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
          </table>
          <addressing [editMode]="editMode" [document]="billingClosureDocument" [hideConsignee]="true"
            [displayMailCC]="instanceOfResponsable(tiers)"></addressing>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="instanceOfTiers(tiers)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Reçu de provision
            </mat-panel-title>
          </mat-expansion-panel-header>
          <addressing [editMode]="editMode" [document]="provisionalReceiptDocument" [hideAdressing]="true"></addressing>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="instanceOfResponsable(tiers)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Divers
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <mat-label>AR pour création d'une affaire</mat-label>
                  <mat-select formControlName="mailsCreationAffaire" multiple [(ngModel)]="tiers.mailsCreationAffaire">
                    <mat-option *ngFor="let responsable of getResponsables()" [value]=" responsable">
                      {{responsable.firstname}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <mat-label>AR d'une provision</mat-label>
                  <mat-select formControlName="mailsProvisionningConfirmation" multiple
                    [(ngModel)]="tiers.mailsProvisionningConfirmation">
                    <mat-option *ngFor="let responsable of getResponsables()" [value]=" responsable">
                      {{responsable.firstname}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <mat-label>Pièce manquante pour une formalité</mat-label>
                  <mat-select formControlName="mailsMissingItemFormality" multiple
                    [(ngModel)]="tiers.mailsMissingItemFormality">
                    <mat-option *ngFor="let responsable of getResponsables()" [value]=" responsable">
                      {{responsable.firstname}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </fieldset>
  </div>
</form>
