<ng-template #accordionTools>
  <mat-panel-description>
    <mat-icon matTooltip="Ouvrir tous les onglets" (click)="accordion!.openAll();$event.stopPropagation();"
      class="pointer">
      unfold_more_double</mat-icon>
    <mat-icon matTooltip="Fermer tous les autres onglets" (click)="accordion!.closeAll();" class="pointer">
      unfold_less_double</mat-icon>
  </mat-panel-description>
</ng-template>
<form [formGroup]="settlementBillingForm" *ngIf="tiers">
  <div class="mat-accordion-container full-width">
    <fieldset [disabled]="editMode==false" class="fieldset-no-border">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Justificatif de parution
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <addressing [editMode]="editMode" [document]="publicationDocument" [displayPaperCopy]="true"
            [displayMailCC]="instanceOfResponsable(tiers)" [displayNumberMailing]="true">
          </addressing>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Kbis
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <addressing [editMode]="editMode" [document]="kbisDocument" [displayMailCC]="instanceOfResponsable(tiers)">
          </addressing>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              CFE
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <addressing [editMode]="editMode" [document]="cfeDocument" [displayMailCC]="instanceOfResponsable(tiers)">
          </addressing>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Facture
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <radio-group-billing-label [(model)]="billingDocument.billingLabelType" [form]="settlementBillingForm"
                  propertyName="billingLabelType" label="Libellé sur facture"></radio-group-billing-label>
              </td>
            </tr>
          </table>
          <table class="full-width"
            *ngIf="billingDocument.billingLabelType!=undefined && billingDocument.billingLabelType.code!=undefined && billingDocument.billingLabelType.code==BILLING_TIERS_DOCUMENT_TYPE_OTHER_CODE">
            <tr>
              <td>
                <generic-textarea [(model)]="billingDocument.billingLabel" label="Autre libellé sur facture"
                  [form]="settlementBillingForm" propertyName="billingLabel" [isDisabled]="!editMode"
                  [numberOfLines]="4" [customValidators]="[Validators.maxLength(40)]"></generic-textarea>
              </td>
              <td>
                <generic-input [(model)]="billingDocument.billingLabelAddress" label="Adresse"
                  [form]="settlementBillingForm" propertyName="billingLabelAddress" [isMandatory]="true"
                  [maxLength]="20"></generic-input>
              </td>
              <td>
                <autocomplete-city [(model)]="billingDocument.billingLabelCity"
                  [modelCountry]="billingDocument.billingLabelCountry" [form]="settlementBillingForm"
                  propertyName="billingLabelCity" [isMandatory]="true" (onOptionSelected)="fillPostalCode($event)">
                </autocomplete-city>
              </td>
              <td>
                <autocomplete-postal-code [(model)]="billingDocument.billingLabelPostalCode"
                  [form]="settlementBillingForm" propertyName="billingLabelPostalCode" [isMandatory]="true"
                  [conditionnalRequired]="billingDocument.billingLabelCountry != null && billingDocument.billingLabelCountry.code == COUNTRY_CODE_FRANCE"
                  (onOptionSelected)="fillCity($event)"></autocomplete-postal-code>
              </td>
              <td>
                <autocomplete-country [(model)]="billingDocument.billingLabelCountry" [form]="settlementBillingForm"
                  propertyName="billingLabelCountry" [isMandatory]="true"></autocomplete-country>
              </td>
              <td>
                <generic-toggle [(model)]="billingDocument.billingLabelIsIndividual" label="Particulier ?"
                  [form]="settlementBillingForm" propertyName="billingLabelIsIndividual"></generic-toggle>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
                <generic-toggle [(model)]="billingDocument.isResponsableOnBilling" label="Responsable sur facture ?"
                  [form]="settlementBillingForm" propertyName="isResponsableOnBilling"></generic-toggle>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
                <generic-toggle [(model)]="billingDocument.isCommandNumberMandatory"
                  label="Numéro de commande obligatoire ?" [form]="settlementBillingForm"
                  propertyName="isCommandNumberMandatory"></generic-toggle>
              </td>
              <td *ngIf="billingDocument.isCommandNumberMandatory">
                <generic-input [(model)]="billingDocument.commandNumber" label="N° de commande annuel"
                  [form]="settlementBillingForm" propertyName="commandNumber" [maxLength]="40"></generic-input>
              </td>
            </tr>
          </table>
          <addressing [editMode]="editMode" [document]="billingDocument "
            [displayMailCC]="instanceOfResponsable(tiers)"></addressing>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="instanceOfTiers(tiers)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Règlement
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <select-payment-types [(model)]="tiers.paymentType" label="Type" [form]="settlementBillingForm"
                  propertyName="paymentType" [isMandatory]="true" [isDisabled]="!editMode"
                  [filteredPaymentTypeCodes]="[PAYMENT_TYPE_PRELEVEMENT,PAYMENT_TYPE_OTHERS]"></select-payment-types>
              </td>
              <td
                *ngIf="tiers !=undefined && tiers.paymentType!=undefined && tiers.paymentType.code!=undefined && tiers.paymentType.code==PAYMENT_TYPE_PRELEVEMENT">
                <generic-input [(model)]="tiers.paymentIban" label="IBAN" [form]="settlementBillingForm"
                  propertyName="paymentIBAN" [isMandatory]="true" [isDisabled]="!editMode"
                  [conditionnalRequired]="instanceOfTiers(this.tiers) && this.tiers.paymentType != undefined && this.tiers.paymentType.code != undefined && this.tiers.paymentType.code == PAYMENT_TYPE_PRELEVEMENT "
                  [maxLength]="40"></generic-input>
              </td>
              <td
                *ngIf="tiers !=undefined && tiers.paymentType!=undefined && tiers.paymentType.code!=undefined && tiers.paymentType.code==PAYMENT_TYPE_PRELEVEMENT">
                <generic-input [(model)]="tiers.paymentBic" label="BIC" [form]="settlementBillingForm"
                  propertyName="paymentBIC" [isMandatory]="true" [isDisabled]="!editMode"
                  [conditionnalRequired]="instanceOfTiers(this.tiers) && this.tiers.paymentType != undefined && this.tiers.paymentType.code != undefined && this.tiers.paymentType.code == PAYMENT_TYPE_PRELEVEMENT "
                  [maxLength]="8"></generic-input>
              </td>
              <td
                *ngIf="tiers !=undefined && tiers.paymentType!=undefined && tiers.paymentType.code!=undefined && tiers.paymentType.code==PAYMENT_TYPE_PRELEVEMENT">
                <generic-toggle [(model)]="tiers.isSepaMandateReceived" label="Mandat SEPA reçu ?"
                  [form]="settlementBillingForm" propertyName="isSepaMandateReceived"></generic-toggle>
              </td>
            </tr>
            <tr>
              <td>
                <generic-toggle [(model)]="tiers.isProvisionalPaymentMandatory" label="Provision obligatoire ?"
                  [form]="settlementBillingForm" propertyName="isProvisionalPaymentMandatory"></generic-toggle>
              </td>
              <td>
                <select-payment-deadline [(model)]="dunningDocument.paymentDeadlineType" label="Délai de paiement"
                  [form]="settlementBillingForm" propertyName="paymentDeadlineType" [isDisabled]="!editMode">
                </select-payment-deadline>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="instanceOfTiers(tiers)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Remboursement
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <generic-toggle [(model)]="refundDocument.isRefundable" label="Remboursement ?"
                  [form]="settlementBillingForm" propertyName="isRefundable"></generic-toggle>
              </td>
              <td *ngIf="refundDocument.isRefundable">
                <select-refund-type [(model)]="refundDocument.refundType" label="Type de remboursement"
                  [form]="settlementBillingForm" propertyName="refundType"></select-refund-type>
              </td>
              <td
                *ngIf="refundDocument.isRefundable && refundDocument !=undefined && refundDocument.refundType!=undefined && refundDocument.refundType.code!=undefined && refundDocument.refundType.code==REFUND_TYPE_VIREMENT">
                <generic-input [(model)]="refundDocument.refundIBAN" label="IBAN" [form]="settlementBillingForm"
                  propertyName="refundIBAN" [isMandatory]="true" [isDisabled]="!editMode"
                  [conditionnalRequired]="refundDocument.refundType != undefined && refundDocument.refundType.code != undefined && refundDocument.refundType.code == REFUND_TYPE_VIREMENT "
                  [maxLength]="40"></generic-input>
              </td>
            </tr>
          </table>
          <addressing [editMode]="editMode" [document]="refundDocument" *ngIf="refundDocument.isRefundable">
          </addressing>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Relevés de compte
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <radio-group-billing-closure [(model)]="billingClosureDocument.billingClosureType"
                  [form]="settlementBillingForm" propertyName="billingClosureType" label="Type">
                </radio-group-billing-closure>
              </td>
              <td>
                <radio-group-billing-closure-recipient [(model)]="billingClosureDocument.billingClosureRecipientType"
                  [form]="settlementBillingForm" propertyName="billingClosureRecipientType" label="Destinataire(s)">
                </radio-group-billing-closure-recipient>
              </td>
              <td>
                <addressing [editMode]="editMode" [document]="billingClosureDocument" [hideConsignee]="true"
                  [hideOverriding]="!billingClosureDocument.billingClosureRecipientType || !billingClosureDocument.billingClosureRecipientType.code || billingClosureDocument.billingClosureRecipientType.code !=BILLING_CLOSURE_RECIPIENT_OTHERS_CODE"
                  [displayMailCC]="instanceOfResponsable(tiers)"></addressing>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="instanceOfTiers(tiers)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Reçu de provision / chèque du trésor public
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <addressing [editMode]="editMode" [document]="provisionalReceiptDocument" [hideAdressing]="true"></addressing>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="instanceOfResponsable(tiers)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Divers
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <select-responsable [(model)]="tiers.mailsCreationAffaire" label="AR pour création d'une affaire"
                  [form]="settlementBillingForm" propertyName="mailsCreationAffaire"
                  [responsableList]="getResponsables()"></select-responsable>
              </td>
              <td>
                <select-responsable [(model)]="tiers.mailsProvisionningConfirmation" label="AR d'une provision"
                  [form]="settlementBillingForm" propertyName="mailsProvisionningConfirmation"
                  [responsableList]="getResponsables()"></select-responsable>
              </td>
              <td>
                <select-responsable [(model)]="tiers.mailsMissingItemFormality"
                  label="Pièce manquante pour une formalité" [form]="settlementBillingForm"
                  propertyName="mailsMissingItemFormality" [responsableList]="getResponsables()"></select-responsable>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </fieldset>
  </div>
</form>
