.mat-accordion-container {
  padding-top: 15px
}

.mat-form-field-padding {
  padding-top: 20px;
}

.form-div {
  min-height: auto;
}

td {
  padding-right: 8px;
}

.radio-group-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox-margin {
  margin: 0 12px;
}
