<div class="mat-elevation-z2 form-div">
  <mat-tab-group>
    <mat-tab label="Fiche du tiers">
      <sort-table [columns]="displayedColumnsTiersRff" [values]="tiersRff"
                  tableName="Tiers" *ngIf="displayedColumnsTiersRff && displayedColumnsTiersRff.length>0 ">
      </sort-table>
    </mat-tab>

    <!-- <mat-tab label="Fiche du responsable">
      <sort-table [columns]="displayedColumnsResponsables" [values]="tiers.responsables"
                   [noPaddingBottom]="true" [noMaxHeight]="true" tableName="Responsables">
      </sort-table>
    </mat-tab> -->
  </mat-tab-group>
</div>
