.table-container-scroll {
  max-height: 215px;
  overflow-y: auto;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  padding-right: 8px;
}

.card-margin {
  margin: 20px;
  width: 550px;
}

.text-status {
  padding-top: 5px;
  padding-right: 5px;
}

.flex-card {
  display: flex;
  flex-wrap: wrap;
}