<section class="container ">
  <div class="py-sm-3 py-md-4 py-lg-5 my-xxl-3">
    <div class="row pt-md-2 pt-lg-3 pt-xl-4 pb-lg-2 pb-xl-3">
      <div class="col-md-6" style="margin-top: -10px;">
        <h1 class="h1 pe-xxl-5 me-xl-4 mb-md-0 text-white">La solution pour vos annonces légales</h1>
      </div>

      <div class="col-md-6 col-xl-5 offset-xl-1">
        <p class="text-body fs-lg mb-5 text-white">Publiez vos annonces légales en quelques clics 24/7 sur MyJSS notre
          plateforme sécurisée.</p>
        <double-buttons class="text-grey" orderActionLabel=" Publier une annonce légale"
          [orderActionRoute]="'quotation/new/'+serviceFamilyGroupAnnouncement!.id+'/'+quotationTypeOrder.id"
          quotationActionLabel="Demander un devis"
          [quotationActionRoute]="'quotation/new/'+serviceFamilyGroupAnnouncement!.id+'/'+quotationTypeQuotation.id"
          linkLabel="Consulter les annonces légales" linkRoute="announcement/search" [linkRouteToJssMedia]='true'
          [isLightButtons]="true">
        </double-buttons>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="jarallax overflow-hidden z-2" data-speed="0.5">
    <div class="jarallax-img"
      style="background-image: url('/assets/img/myjss-services/announcement/banniere_annonces.jpg');"></div>
  </div>
</section>

<explaination-video posterPath="assets/img/announcement/annonce_bandeau_img.jpg"
  videoPath="assets/videos/test_video.mp4" title="Publiez votre annonce en 3 étapes"
  firstStepTitle="Sélectionnez votre modèle"
  firstStepDescription="Accédez à une bibliothèque complète de formulaires adaptés à vos besoins en annonces légales."
  secondStepTitle=" Remplissez, visualisez et validez votre annonce"
  secondStepDescription="Profitez d’une saisie libre ou guidée et obtenez le prix instantanément."
  thirdStepTitle="Complétez vos coordonnées et payez"
  thirdStepDescription="Bénéficiez d’une interface sécurisée et fiable pour le traitement de vos informations bancaires."
  [firstJumpTo]="5" [secondJumpTo]="15"></explaination-video>

<description-my-account></description-my-account>

<section *ngIf="carouselAnnouncementPosts && carouselAnnouncementPosts.length>0" class="background-opacity">
  <div class="container">
    <div class="row">
      <generic-swiper [items]="carouselAnnouncementPosts" title="Les annonces légales les plus courantes"
        [firstFixedImg]="'assets/img/myjss-services/announcement/annonces_courantes.jpg'">
        <ng-template let-post>
          <div class="h-100">
            <div class="card card-carousel">
              <div class="card-body">
                <h3 class="card-title card-title-truncate">{{post.titleText}}</h3>
                <p class="card-text text-gray card-text-truncate">{{post.excerptText}}</p>
              </div>
              <div class="card-footer ">
                <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" (click)="openPost(post.slug,$event)"
                  aria-label="Learn more">
                  <i class="ai-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </ng-template>
      </generic-swiper>
    </div>
  </div>
</section>

<section class="container mt-lg-3 mt-xl-4 mt-xxl-5 pt-lg-5 pt-sm-3 pt-2">
  <div class="bg-yellow-custom rounded-5 overflow-hidden mt-2 mt-sm-4 mt-lg-5">
    <div class="row align-items-center position-relative">
      <div class="col-md-6 col-lg-5 offset-lg-1 text-container">
        <div class="text-center text-md-start py-5 px-4 px-sm-5 pe-md-0 ps-lg-4 ps-xl-5">
          <div class="d-flex align-items-center justify-content-center justify-content-md-start mb-2">
            <span class="text-blue opacity-70 me-2 practical-sheets-pre-border"></span>
            <span class="fs-xs fw-semibold text-blue text-uppercase">Annonce légale</span>
          </div>
          <h2 class="h2 secondary-heading pb-2 pb-sm-3 ">N'attendez plus et accédez à nos solutions</h2>
          <double-buttons class="text-grey" orderActionLabel=" Publier une annonce légale"
            [orderActionRoute]="'quotation/new/'+serviceFamilyGroupAnnouncement!.id+'/'+quotationTypeOrder.id"
            quotationActionLabel="Demander un devis"
            [quotationActionRoute]="'quotation/new/'+serviceFamilyGroupAnnouncement!.id+'/'+quotationTypeQuotation.id"
            linkLabel="Consulter les annonces légales" linkRoute="announcement/search" [linkRouteToJssMedia]='true'
            [isLightButtons]="false">
          </double-buttons>
        </div>
      </div>

      <div class="col-md-6 holo-img">
        <img class="d-none d-md-block" src="assets/img/myjss-services/announcement/Didier.png" alt="Image">
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container py-3 py-sm-4 py-lg-5 my-md-2 my-lg-3 my-xl-4 my-xxl-5">
    <div class="text-center pb-3">
      <h2 class="h1 pb-1 mb-lg-2 text-white">Votre allié juridique de confiance</h2>
      <p>Optimisez vos démarches sur MyJSS la plateforme intuitive et performante du Journal Spécial des Sociétés</p>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 pb-xl-2 pb-xxl-3">

      <div class="col">
        <div class="card h-100 border-0 rounded-5 ">
          <div class="card-body pb-3">
            <img src="assets/img/icons/assistance_dedie.svg" alt="Icon">
            <h3 class="h4 text-white mt-3">Assistance dédiée</h3>
            <p class="mb-0">Nos équipes spécialisées sont à votre disposition pour vous conseiller. Bénéficiez d’un
              accompagnement précis et personnalisé !
            </p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 border-0 rounded-5">
          <div class="card-body pb-3">
            <img src="assets/img/icons/expertise_reconnue.svg" alt="Icon">
            <h3 class="h4 text-white mt-3">Expertise sur mesure</h3>
            <p class="mb-0">Nous garantissons un service de qualité incluant le conseil, la relecture approfondie et la
              rédaction optimisée de vos annonces légales.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 border-0 rounded-5 ">
          <div class="card-body pb-3">
            <img src="assets/img/icons/attestation_immediate.svg" alt="Icon">
            <h3 class="h4 text-white mt-3">Attestation immédiate</h3>
            <p class="mb-0">Obtenez en quelques secondes votre attestation de parution 24/7 dans notre SPEL habilité
              dans le 75, 78, 91, 92, 93, 94 et 95.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 border-0 rounded-5 ">
          <div class="card-body pb-3">
            <img src="assets/img/icons/Tarifs_avantageux.svg" alt="Icon">
            <h3 class="h4 text-white mt-3">Tarifs avantageux</h3>
            <p class="mb-0">Bénéficiez de toute notre expertise sans surcoût par rapport aux prix réglementés et fixés
              par arrêtés ministériels.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0 rounded-5 yellow-card align-items-center">
          <div class="card-body d-flex justify-content-center align-items-center text-center">
            <h3 class="blue-title">MyJSS, bien plus qu’un service !</h3>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 border-0 rounded-5 ">
          <div class="card-body pb-3">
            <img src="assets/img/icons/couverture_nationale.svg" alt="Icon">
            <h3 class="h4 text-white mt-3">Couverture nationale</h3>
            <p class="mb-0">Confiez-nous l’ensemble de vos annonces légales à faire paraître en France.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="overflow-hidden pb-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-7 order-md-2">
        <img class="object-fit-cover w-100 h-100 rounded-3" src="assets/img/myjss-services/announcement/insertions.png"
          alt="Image">
      </div>
      <div class="col-md-5 order-md-1">
        <div class="d-flex flex-column h-100 card border-0 rounded-3 py-5 px-4 px-lg-5">
          <h2 class="mb-xl-4">Le JSS vous propose de publier toutes vos insertions</h2>
          <p class="mb-4 mb-xl-5">Les annonces légales sont soumises à une législation précise, encadrée par des Lois et
            des décrets et comportent des mentions obligatoires.
            Notre équipe vous conseille et vous accompagne de la rédaction à la publication de :</p>
          <ul class="list-unstyled mb-4 mb-xl-5">
            <li class="d-flex pb-2 mb-1">
              <span class="bg-primary mt-2 me-2 checkbox-custom"></span>
              Vos annonces légales dans un SHAL
            </li>
            <li class="d-flex pb-2 mb-1">
              <span class="bg-primary mt-2 me-2 checkbox-custom"></span>
              Vos publications au BALO
            </li>
            <li class="d-flex pb-2 mb-1">
              <span class="bg-primary mt-2 me-2 checkbox-custom"></span>
              Vos publications au BODACC
            </li>
            <li class="d-flex">
              <span class="bg-primary mt-2 me-2 checkbox-custom"></span>
              Vos annonces légales au Journal Officiel
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container mt-lg-3 mt-xl-4 mt-xxl-5">
  <div class="row align-items-center pt-md-4 mt-2 mt-sm-3">
    <div class="col-md-6 position-relative pb-3 pb-md-0 mb-2 mb-sm-3 mb-md-0">
      <div class="binded-content z-2">
        <div class="binded-item active" id="image1">
          <img class="d-block rounded-5" src="assets/img/myjss-services/announcement/Chiffres.png" alt="Image">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-5 offset-xl-1">
      <div class="ps-md-4 ps-xl-0">
        <h3 class="h4 text-white">Qui est concerné par la publication d'une annonce légale ? </h3>
        <p class="pb-3 mb-3 mb-xl-4">La publicité légale concerne toutes les entreprises en France qui ont l’obligation
          de notifier les tiers des événements clés de leur vie juridique : création, modification, dissolution...
          <br />
          <br />
          Grâce à notre plateforme intuitive, publiez vos annonces légales 24/7 et bénéficiez du conseil de nos experts.
          <br />
          <br />
          MyJSS accompagne plus de 30 000 entreprises chaque année dans la publication de leurs annonces légales dans un
          support habilité aux annonces légales (SHAL), au BALO et au BODACC.
          <br />
          <br />
          MyJSS s’engage à publier votre annonce légale simple ou complexe dans l’heure.
        </p>
        <div class="d-flex d-md-none d-lg-flex justify-content-between w-100 pb-4 pb-xl-5 mb-2 mb-sm-3 mb-xl-2">
          <div class="pe-4">
            <div class="h2 mb-1 text-white">100 %</div>
            <div class="fs-sm">de types d’annonces traitées</div>
          </div>
          <div class="pe-4">
            <div class="h2 mb-1 text-white">+&nbsp;30&nbsp;000</div>
            <div class="fs-sm">entreprises accompagnées /an</div>
          </div>
          <div>
            <div class="h2 mb-1 text-white">100%</div>
            <div class="fs-sm">des annonces légales publiées en 1h</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container py-3 py-sm-4 py-lg-5 my-md-2 my-lg-3 my-xl-4 my-xxl-5">
    <div class="text-center">
      <h2 class="h1 pb-3 mb-lg-4 text-white">Nos services</h2>
      <p>Nous proposons une large gamme de services de formalités, adaptés à vos besoins pour simplifier vos démarches
        administratives.</p>
    </div>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 pb-xl-2 pb-xxl-3 justify-content-center align-items-stretch">
      <div class="col-lg-5 d-flex pt-3 pt-xl-0">
        <div class="card h-100 border-0 rounded-5 w-100">
          <div class="card-body pb-3 px-3">
            <img src="assets/img/icons/Formalite.svg" alt="Icon">
            <h3 class="h4 text-white" routerLink="/services/formality" style="cursor: pointer;">Formalité légale</h3>
            <p class="mb-0">Un accompagnement complet pour toutes vos formalités juridiques.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" (click)="openFormality($event)"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-flex pt-3 pt-xl-0">
        <div class="card h-100 border-0 rounded-5 w-100">
          <div class="card-body pb-3 px-3">
            <img src="assets/img/icons/Apostille.svg" alt="Icon">
            <h3 class="h4 text-white" routerLink="/services/apostille" style="cursor: pointer;">Apostille & Légalisation
            </h3>
            <p class="mb-0">Authentification et certification rapide et conforme de vos documents valables à
              l’international.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" (click)="openApostille($event)"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 pb-xl-2 pb-xxl-3 justify-content-center align-items-stretch">
      <div class="col-lg-5 d-flex pt-3 pt-xl-0">
        <div class="card h-100 border-0 rounded-5 w-100">
          <div class="card-body pb-3 px-3">
            <img src="assets/img/icons/Domiciliation.svg" alt="Icon">
            <h3 class="h4 text-white" routerLink="/services/domiciliation" style="cursor: pointer;">Domiciliations</h3>
            <p class="mb-0">Une adresse prestigieuse pour votre société en plein coeur de Paris.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" (click)="openDomiciliation($event)"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-flex pt-3 pt-xl-0">
        <div class="card h-100 border-0 rounded-5 w-100">
          <div class="card-body pb-3 px-3">
            <img src="assets/img/icons/Fourniture_documents.svg" alt="Icon">
            <h3 class="h4 text-white" routerLink="/services/document" style="cursor: pointer;">Fourniture de documents
            </h3>
            <p class="mb-0">Vos documents officiels fournis rapidement et en toute conformité.</p>
          </div>
          <div class="card-footer border-0 pt-3 mb-3">
            <a class="btn btn-icon btn-lg btn-outline-primary rounded-circle" (click)="openDocument($event)"
              aria-label="Learn more">
              <i class="ai-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="background-opacity mb-5">
  <div class="container overflow-hidden">
    <generic-swiper *ngIf="tendencyPosts && tendencyPosts.length>0" [items]="tendencyPosts" title="Articles à la une">
      <ng-template let-post>
        <div class="h-100">
          <div class="card border-0 bg-tertiary">
            <a (click)="openPost(post.slug,$event)">
              <img class="card-img-top"
                [src]="post.media && post.media.urlMediumLarge ? post.media.urlMediumLarge : post.media.urlFull"
                alt="Post image">
            </a>
            <div class="card-body pb-4">
              <div class="d-flex align-items-center mb-4 mt-n1">
                <span class="fs-sm text-body-secondary">{{post.date | date:'yyyy-MM-dd'}}</span>
                <span class="fs-xs opacity-20 mx-3">|</span>
                <a class="badge text-nav fs-xs border" *ngIf="post.postTags[0]">{{post.postTags[0].name}}</a>
              </div>
              <h3 class="h4 card-title card-title-truncate">
                <a (click)="openPost(post.slug,$event)">{{post.titleText}}</a>
              </h3>
              <p class="card-text card-text-truncate">{{post.excerptText}}</p>
            </div>
            <div class="card-footer pt-3">
              <div class="d-flex align-items-center text-decoration-none pb-2">
                <img class="rounded-circle"
                  [src]="post.fullAuthor.avatar_url_size_48 ? post.fullAuthor.avatar_url_size_48 : post.fullAuthor.avatar_url_size_24 ? post.fullAuthor.avatar_url_size_24 : post.fullAuthor.avatar_url_size_96 "
                  width="48" alt="Post author">
                <h6 class="ps-3 mb-0">{{post.fullAuthor.name}}</h6>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </generic-swiper>
  </div>
</section>

<div class="py-5 my-5">
  <our-clients></our-clients>
</div>