.background-card {
  background-color: #220966;
  width: 100%;
  height: 100%;

  background-position: top, 2541px;
  background-size: cover, cover;
  background-attachment: fixed, scroll;
}

.background-blue {
  width: 100%;
  height: 100%;

  background-position: top, 2541px;
  background-repeat: no-repeat, repeat-y;
  background-size: cover, cover;
  background-attachment: fixed, scroll;
}