.bg-primary {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.bg-primary img {
  position: absolute;
  top: 50%;
  right: 200px;
  transform: translateY(-50%);
  max-height: 100%;
  z-index: 0;
}

.holo-img img {
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.background-yellow {
  background: #F3E3CA;
}