<div class="mat-elevation-z2 form-div">
  <div class=" full-width padding-top">
    <div>
      <table class="full-width">
        <tr>
          <td>
            <generic-input [(model)]="journal.label" label="Description du journal" [form]="journalForm"
              propertyName="label" [isMandatory]="true" [isDisabled]="false" [maxLength]="255"></generic-input>
          </td>
          <td>
            <generic-datepicker [(model)]="journal.journalDate" label="Date du journal" [form]="journalForm"
              propertyName="journalDate" [isMandatory]="true" [isDisabled]="false"></generic-datepicker>
          </td>
        </tr>
        <tr *ngIf="journal && journal.id">
          <td>
            <single-attachment [entity]="journal!" [entityType]="JOURNAL_ENTITY_TYPE.entityType" [editMode]="true"
              [attachmentTypeToDisplay]="attachmentTypeJournal" (onUploadedFile)="updateAttachments($event)">
            </single-attachment>
          </td>
        </tr>
        <tr *ngIf="journal && journal.id">
          <td color="warn">
            Attention : l'ajout d'un journal déclenche la génération des justificatifs de parution associés !
          </td>
        </tr>
        <tr *ngIf="journal &&  !journal.id">
          <td>Enregistrez une première fois le journal avant de pouvoir enregistrer le PDF.</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<button matTooltip="Sauvegarder" mat-fab color="warn" class="fab-button" (click)="saveJournal()">
  <mat-icon>save</mat-icon>
</button>
