<div
  *ngIf="entity &&  (instanceOfIAttachmentCode(entity) && entity.code || (!instanceOfIAttachmentCode(entity) && entity.id))">
  <form [formGroup]="attachmentForm" *ngIf="entity">
    <div class="full-width container" *ngIf="files==null ||files.length==0 ">
      <input class="pointer" type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target)"
        multiple />
      <mat-icon color="accent" class="mat-icon-upload" color="warn">file_upload</mat-icon>
      <h3>Glissez/déposez vos fichiers ici</h3>
      <h3>ou</h3>
      <label for="fileDropRef" class="upload-label" color="warn">Recherchez sur votre ordinateur</label>
      <p class="max-size">(10 Mo max.)</p>
    </div>
    <table class="full-width" style="min-width: 600px;" *ngIf="!isDirectUpload">
      <tr>
        <td colspan="2"><select-attachment-type *ngIf="files && files.length>0" [(model)]="attachmentType"
            label="Type de fichier" [form]="attachmentForm" propertyName="attachmentType" [isMandatory]="true"
            [isDisabled]="forcedAttachmentType!=undefined"></select-attachment-type></td>
      </tr>
      <tr>
        <td>
          <generic-input *ngIf="files && files.length==1" [(model)]="filename" label="Nom du fichier"
            [form]="attachmentForm" propertyName="filename" [isMandatory]="true" [isDisabled]="false"
            [maxLength]="250"></generic-input>
        </td>
        <td>
          <generic-input
            *ngIf="files && files.length==1 && filename &&  filename.toLowerCase().substring(filename.length-3)=='pdf'"
            [(model)]="pageSelection" label="Plage de page" [form]="attachmentForm" propertyName="pageSelection"
            [isMandatory]="false" [isDisabled]="false"
            hint="Plage de pages au format 1-3,4-6 (seulement pour les fichiers non signés)"></generic-input>
        </td>
      </tr>
    </table>
    <div *ngIf="files && files.length>0 && !isDirectUpload">
      <div *ngFor="let file of files">
        {{ file?.name }} ({{ formatBytes(file?.size,1) }})
      </div>
      <div *ngIf="isSending">
        <mat-progress-bar mode="determinate" [value]="progress/files.length*100"></mat-progress-bar>
      </div>
    </div>
    <div align="center" class="send-button"
      *ngIf="!isDirectUpload && files && files.length>0 && attachmentType!=null && !isSending && !hideUploadButton"
      (click)="uploadFiles()">
      <button mat-raised-button color="warn">{{files.length>1?"Uploader les fichiers":"Uploader
        le fichier"}}</button>
    </div>
  </form>
</div>
