.mat-mdc-chip.mat-mdc-standard-chip.ok-status {
  background-color: #2ecc71;
}

.mat-mdc-chip.mat-mdc-standard-chip {
  height: 20px;
  font-size: 12px;
}

.mat-mdc-chip {
  --mdc-chip-label-text-color: #fff !important;
  --mdc-chip-with-icon-selected-icon-color: #fff !important;
}

.mat-mdc-chip.mat-mdc-standard-chip.ko-status {
  background-color: #c0392b;
}

.mat-mdc-chip.mat-mdc-standard-chip.warn-status {
  background-color: #f39c12;
}

.mat-mdc-chip.mat-mdc-standard-chip.standard-status {
  background-color: #c4ae8b;
}

.div-wrapper {
  display: flex;
  justify-content: space-around;
}