<header class="navbar navbar-expand-lg fixed-top navbar-stuck">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand pe-sm-3" href="">
      <img class="navbar-brand" ui-sref='main.tiers' [src]="logoJss" width="60" />
    </a>

    <!-- Theme switcher -->
    <div class="form-check form-switch mode-switch order-lg-2 me-3 me-lg-4 ms-auto" data-bs-toggle="mode">
      <input class="form-check-input" type="checkbox" id="theme-mode">
      <label class="form-check-label" for="theme-mode">
        <i class="ai-sun fs-lg"></i>
      </label>
      <label class="form-check-label" for="theme-mode">
        <i class="ai-moon fs-lg"></i>
      </label>
    </div>

    <div class="order-lg-3 me-3 me-lg-4 ms-auto" *ngIf="currentUser" data-bs-toggle="modal"
      data-bs-target="#searchModal">
      <a class="nav-link fs-4 p-2 mx-sm-1" style="cursor: pointer;" title="Rechercher" data-bs-toggle="tooltip"
        data-bs-placement="right" aria-label="Search2">
        <i class="ai-search"></i>
      </a>
    </div>

    <!-- User not signed in state.   -->
    <div class="d-none d-sm-block order-lg-3" *ngIf="!currentUser || !currentUser.id">
      <a class="btn btn-primary w-100 mb-1" [routerLink]="['/account/signin']" rel="noopener">
        <i class="ai-login fs-xl me-2 ms-n1"></i>
        Se connecter
      </a>
    </div>

    <!-- User signed in state. Account dropdown on screens > 576px -->
    <div class="dropdown nav d-none d-sm-block order-lg-3" *ngIf="currentUser && currentUser.id">
      <a class="nav-link d-flex align-items-center p-0" href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <avatar class="avatar-select" [user]="currentUser" [size]="48"></avatar>
        <div class="ps-2">
          <div class="fs-xs lh-1 opacity-60">Bonjour,</div>
          <div class="fs-sm dropdown-toggle">{{capitalizeName(currentUser.firstname + " " +currentUser.lastname)}}</div>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-end my-1">
        <h6 class="dropdown-header fs-xs fw-medium text-body-secondary text-uppercase pb-1">Mon compte</h6>
        <ng-container *ngFor="let menuItem of menuItems">
          <a class="dropdown-item" [routerLink]="menuItem.route" *ngIf="menuItem.mainItem==MAIN_ITEM_ACCOUNT">
            <i class=" fs-lg opacity-70 me-2" [ngClass]="menuItem.iconClass"></i>
            {{menuItem.label}}
          </a>
        </ng-container>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header fs-xs fw-medium text-body-secondary text-uppercase pb-1">Tableau de bord</h6>
        <ng-container *ngFor="let menuItem of menuItems">
          <a class="dropdown-item" [routerLink]="menuItem.route" *ngIf="menuItem.mainItem==MAIN_ITEM_DASHBOARD">
            <i class="fs-lg opacity-70 me-2" [ngClass]="menuItem.iconClass"></i>
            {{menuItem.label}}
          </a>
        </ng-container>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="'/account/signout'">
          <i class="ai-logout fs-lg opacity-70 me-2"></i>
          Se déconnecter
        </a>
      </div>
    </div>


    <!-- Mobile menu toggler (Hamburger) -->
    <button class="navbar-toggler ms-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar collapse (Main navigation) -->
    <nav class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-nav-scroll me-auto" style="--ar-scroll-height: 520px;">
        <li class="nav-item dropdown d-block d-sm-none ">
          <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            aria-expanded="false">Mon compte</a>
          <ul class="dropdown-menu">
            <li *ngFor="let menuItem of menuItems"><a class="dropdown-item" [routerLink]="menuItem.route">
                {{menuItem.label}}</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Formalités</a>
          <div class="dropdown-menu overflow-hidden p-0">
            <div class="d-lg-flex">
              <div class="mega-dropdown-column pt-1 pt-lg-3 pb-lg-4">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a class="dropdown-item" (click)="openOffers($event)" style="cursor: pointer;">Nos offres</a>
                    <span
                      class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 rounded-3 rounded-start-0"
                      style="background-image: url(assets/img/megamenu/landings.jpg);"></span>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="openProduct($event)" style="cursor: pointer;">Produit 2</a>
                    <span
                      class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0"
                      style="background-image: url(assets/img/megamenu/mobile-app.jpg);"></span>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="openProduct($event)" style="cursor: pointer;">Produit 3</a>
                    <span
                      class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0"
                      style="background-image: url(assets/img/megamenu/mobile-app.jpg);"></span>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="openProduct($event)" style="cursor: pointer;">Produit 4</a>
                    <span
                      class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0"
                      style="background-image: url(assets/img/megamenu/mobile-app.jpg);"></span>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="openProduct($event)" style="cursor: pointer;">Produit 5</a>
                    <span
                      class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0"
                      style="background-image: url(assets/img/megamenu/mobile-app.jpg);"></span>
                  </li>
                </ul>
              </div>
              <div class="mega-dropdown-column position-relative border-start z-3"></div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Annonces
            légales</a>
          <div class="dropdown-menu overflow-hidden p-0">
            <div class="d-lg-flex">
              <div class="mega-dropdown-column pt-1 pt-lg-3 pb-lg-4">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a class="dropdown-item" (click)="openOffers($event)" style="cursor: pointer;">Nos offres</a>
                    <span
                      class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 rounded-3 rounded-start-0"
                      style="background-image: url(assets/img/megamenu/landings.jpg);"></span>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="openProduct($event)" style="cursor: pointer;">Produit 2</a>
                    <span
                      class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0"
                      style="background-image: url(assets/img/megamenu/mobile-app.jpg);"></span>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="openProduct($event)" style="cursor: pointer;">Produit 3</a>
                    <span
                      class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0"
                      style="background-image: url(assets/img/megamenu/mobile-app.jpg);"></span>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="openProduct($event)" style="cursor: pointer;">Produit 4</a>
                    <span
                      class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0"
                      style="background-image: url(assets/img/megamenu/mobile-app.jpg);"></span>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="openProduct($event)" style="cursor: pointer;">Produit 5</a>
                    <span
                      class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0"
                      style="background-image: url(assets/img/megamenu/mobile-app.jpg);"></span>
                  </li>
                </ul>
              </div>
              <div class="mega-dropdown-column position-relative border-start z-3"></div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " style="cursor: pointer;" (click)="openNewOrder($event)">Nouvelle demande</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<search></search>