<ng-template #accordionTools>
  <mat-panel-description>
    <mat-icon matTooltip="Ouvrir tous les onglets" (click)="accordion!.openAll();$event.stopPropagation();"
      class="pointer">
      unfold_more_double</mat-icon>
    <mat-icon matTooltip="Fermer tous les autres onglets" (click)="accordion!.closeAll();" class="pointer">
      unfold_less_double</mat-icon>
  </mat-panel-description>
</ng-template>

<form [formGroup]="bodaccSaleForm" *ngIf="bodaccSale">
  <div class="mat-accordion-container full-width">
    <fieldset [disabled]="editMode==false" class="fieldset-no-border">
      <mat-accordion multi *ngIf="transfertFundsType ">
        <mat-expansion-panel *ngIf="transfertFundsType.code!=BODACC_SALE_TRANSFERT_FUND_TYPE_BAIL">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fonds cédée
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <generic-input [(model)]="bodaccSale.divestedBusinessAddress" label="Adresse" [form]="bodaccSaleForm"
                  propertyName="divestedBusinessAddress" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="100">
                </generic-input>
              </td>
              <td>
                <select-fund-type [(model)]="bodaccSale.fundType" label="Nature du fonds" [form]="bodaccSaleForm"
                  propertyName="fundType" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </select-fund-type>
              </td>
            </tr>
            <tr>
              <td>
                <generic-textarea [(model)]="bodaccSale.divestedBusinessActivities" label="Activitées exercées"
                  [form]="bodaccSaleForm" propertyName="divestedBusinessActivities" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </generic-textarea>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="transfertFundsType.code!=BODACC_SALE_TRANSFERT_FUND_TYPE_BAIL">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Propriétaire / cédant
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <generic-input [(model)]="bodaccSale.ownerFirstname" label="Prénom" [form]="bodaccSaleForm"
                  propertyName="ownerFirstname" [isMandatory]="false"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="30">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.ownerLastname" label="Nom" [form]="bodaccSaleForm"
                  propertyName="ownerLastname" [isMandatory]="false"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="30">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.ownerDenomination" label="Dénomination" [form]="bodaccSaleForm"
                  propertyName="ownerDenomination" [isMandatory]="false"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="30">
                </generic-input>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
                <generic-input [(model)]="bodaccSale.ownerAddress" label="Adresse" [form]="bodaccSaleForm"
                  propertyName="ownerAddress" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="100">
                </generic-input>
              </td>
              <td>
                <autocomplete-siren [(model)]="bodaccSale.ownerSiren" [form]="bodaccSaleForm" propertyName="ownerSiren"
                  [isMandatory]="true" [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen"
                  (onOptionSelected)="fillSirenOwner($event)">
                </autocomplete-siren>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="transfertFundsType.code==BODACC_SALE_TRANSFERT_FUND_TYPE_PHYSIQUE">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Acquéreur / cessionnaire
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <generic-input [(model)]="bodaccSale.purchaserFirstname" label="Prénom" [form]="bodaccSaleForm"
                  propertyName="purchaserFirstname" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="30">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.purchaserLastname" label="Nom" [form]="bodaccSaleForm"
                  propertyName="purchaserLastname" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="30">
                </generic-input>
              </td>
            </tr>
            <tr>
              <td>
                <autocomplete-siren [(model)]="bodaccSale.purchaserSiren" [form]="bodaccSaleForm"
                  propertyName="purchaserSiren" [isMandatory]="false" (onOptionSelected)="fillSirenPurchaser($event)">
                </autocomplete-siren>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="transfertFundsType.code==BODACC_SALE_TRANSFERT_FUND_TYPE_MORAL">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personne
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <generic-input [(model)]="bodaccSale.purchaserDenomination" label="Dénomination" [form]="bodaccSaleForm"
                  propertyName="purchaserDenomination" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="60">
                </generic-input>
              </td>
              <td>
                <autocomplete-siren [(model)]="bodaccSale.purchaserSiren" [form]="bodaccSaleForm"
                  propertyName="purchaserSiren" [isMandatory]="false" (onOptionSelected)="fillSirenPurchaser($event)">
                </autocomplete-siren>
              </td>
              <td>
                <autocomplete-legal-form [(model)]="bodaccSale.purchaserLegalForm" [form]="bodaccSaleForm"
                  propertyName="purchaserLegalForm" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </autocomplete-legal-form>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
                <generic-input [(model)]="bodaccSale.purchaserAbbreviation" label="Sigle" [form]="bodaccSaleForm"
                  propertyName="purchaserAbbreviation" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="20">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.purchaserBusinessName" label="Nom commercial"
                  [form]="bodaccSaleForm" propertyName="purchaserBusinessName" [isMandatory]="false"
                  [isDisabled]="!editMode" [maxLength]="60">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.purchaserShareCapital" label="Capital social"
                  [form]="bodaccSaleForm" propertyName="purchaserShareCapital" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.purchaserMinimumCapital" label="Capital minimum"
                  [form]="bodaccSaleForm" propertyName="purchaserMinimumCapital" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number">
                </generic-input>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="transfertFundsType.code==BODACC_SALE_TRANSFERT_FUND_TYPE_BAIL">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Propriétaire / cédant
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <generic-toggle [(model)]="bodaccSale.isOwnerIndividual" label="Est une personne physique ?"
                  [form]="bodaccSaleForm" propertyName="isOwnerIndividual"></generic-toggle>
              </td>
            </tr>
            <tr *ngIf="bodaccSale.isOwnerIndividual">
              <td>
                <generic-input [(model)]="bodaccSale.ownerFirstname" label="Prénom" [form]="bodaccSaleForm"
                  propertyName="ownerFirstname" [isMandatory]="true" [isDisabled]="!editMode"
                  [conditionnalRequired]="bodaccSale.isOwnerIndividual && instanceOfCustomerOrder && !isStatusOpen"
                  [maxLength]="30">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.ownerLastname" label="Nom" [form]="bodaccSaleForm"
                  propertyName="ownerLastname" [isMandatory]="true" [isDisabled]="!editMode"
                  [conditionnalRequired]="bodaccSale.isOwnerIndividual && instanceOfCustomerOrder && !isStatusOpen"
                  [maxLength]="30">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.ownerAddress" label="Adresse" [form]="bodaccSaleForm"
                  propertyName="ownerAddress" [isMandatory]="true" [isDisabled]="!editMode"
                  [conditionnalRequired]="bodaccSale.isOwnerIndividual && instanceOfCustomerOrder && !isStatusOpen"
                  [maxLength]="100">
                </generic-input>
              </td>
            </tr>
            <tr *ngIf="!bodaccSale.isOwnerIndividual">
              <td>
                <autocomplete-siren [(model)]="bodaccSale.ownerSiren" [form]="bodaccSaleForm" propertyName="ownerSiren"
                  [isMandatory]="true" [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen"
                  (onOptionSelected)="fillSirenOwner($event)">
                </autocomplete-siren>
              </td>
              <td>
                <autocomplete-legal-form [(model)]="bodaccSale.ownerLegalForm" [form]="bodaccSaleForm"
                  propertyName="ownerLegalForm" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </autocomplete-legal-form>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.ownerAddress" label="Adresse du siège social"
                  [form]="bodaccSaleForm" propertyName="ownerAddress" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="100">
                </generic-input>
              </td>
            </tr>
            <tr *ngIf="!bodaccSale.isOwnerIndividual">
              <td>
                <generic-input [(model)]="bodaccSale.ownerAbbreviation" label="Sigle" [form]="bodaccSaleForm"
                  propertyName="ownerAbbreviation" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="20">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.ownerBusinessName" label="Nom commercial" [form]="bodaccSaleForm"
                  propertyName="ownerBusinessName" [isMandatory]="false" [isDisabled]="!editMode" [maxLength]="60">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.ownerShareCapital" label="Capital social" [form]="bodaccSaleForm"
                  propertyName="ownerShareCapital" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number">
                </generic-input>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="transfertFundsType.code==BODACC_SALE_TRANSFERT_FUND_TYPE_BAIL">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Résiliation
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <generic-datepicker [(model)]="bodaccSale.leaseResilisationDate" label="Date de résiliation"
                  [form]="bodaccSaleForm" propertyName="leaseResilisationDate" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </generic-datepicker>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.leaseResilisationFee" label="Moyennant une indemnité de"
                  [form]="bodaccSaleForm" propertyName="leaseResilisationFee" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.leaseAddress" label="Adresse des locaux dont le bail est résilié"
                  [form]="bodaccSaleForm" propertyName="leaseAddress" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="100">
                </generic-input>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="transfertFundsType.code==BODACC_SALE_TRANSFERT_FUND_TYPE_BAIL">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ancien locataire
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <generic-toggle [(model)]="bodaccSale.isTenantIndividual" label="Est une personne physique ?"
                  [form]="bodaccSaleForm" propertyName="isTenantIndividual"></generic-toggle>
              </td>
            </tr>
            <tr *ngIf="bodaccSale.isTenantIndividual">
              <td>
                <generic-input [(model)]="bodaccSale.tenantFirstname" label="Prénom" [form]="bodaccSaleForm"
                  propertyName="tenantFirstname" [isMandatory]="true" [isDisabled]="!editMode"
                  [conditionnalRequired]="bodaccSale.isTenantIndividual && instanceOfCustomerOrder && !isStatusOpen"
                  [maxLength]="30">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.tenantLastname" label="Nom" [form]="bodaccSaleForm"
                  propertyName="tenantLastname" [isMandatory]="true" [isDisabled]="!editMode"
                  [conditionnalRequired]="bodaccSale.isTenantIndividual && instanceOfCustomerOrder && !isStatusOpen"
                  [maxLength]="30">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.tenantAddress" label="Adresse" [form]="bodaccSaleForm"
                  propertyName="tenantAddress" [isMandatory]="true" [isDisabled]="!editMode"
                  [conditionnalRequired]="bodaccSale.isTenantIndividual && instanceOfCustomerOrder && !isStatusOpen"
                  [maxLength]="100">
                </generic-input>
              </td>
            </tr>
            <tr *ngIf="!bodaccSale.isTenantIndividual">
              <td>
                <autocomplete-siren [(model)]="bodaccSale.tenantSiren" [form]="bodaccSaleForm"
                  propertyName="tenantSiren" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen"
                  (onOptionSelected)="fillSirenTenant($event)">
                </autocomplete-siren>
              </td>
              <td>
                <autocomplete-legal-form [(model)]="bodaccSale.tenantLegalForm" [form]="bodaccSaleForm"
                  propertyName="tenantLegalForm" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </autocomplete-legal-form>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.tenantAddress" label="Adresse du siège social"
                  [form]="bodaccSaleForm" propertyName="tenantAddress" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="100">
                </generic-input>
              </td>
            </tr>
            <tr *ngIf="!bodaccSale.isTenantIndividual">
              <td>
                <generic-input [(model)]="bodaccSale.tenantAbbreviation" label="Sigle" [form]="bodaccSaleForm"
                  propertyName="tenantAbbreviation" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="20">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.tenantBusinessName" label="Nom commercial" [form]="bodaccSaleForm"
                  propertyName="tenantBusinessName" [isMandatory]="false" [isDisabled]="!editMode" [maxLength]="60">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.tenantShareCapital" label="Capital social" [form]="bodaccSaleForm"
                  propertyName="tenantShareCapital" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number">
                </generic-input>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Acte de vente du fonds et informations fiscales
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <generic-datepicker [(model)]="bodaccSale.deedDate" label="Date de l'acte" [form]="bodaccSaleForm"
                  propertyName="deedDate" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </generic-datepicker>
              </td>
              <td>
                <generic-datepicker [(model)]="bodaccSale.purchaserActivityStartDate"
                  label="Date de début de l'activité" [form]="bodaccSaleForm" propertyName="purchaserActivityStartDate"
                  [isMandatory]="true" [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen"
                  [isDisabled]="!editMode">
                </generic-datepicker>
              </td>
            </tr>
          </table>
          <table class="full-width">
            <tr>
              <td>
                <generic-input [(model)]="bodaccSale.salePrice" label="Prix de cession" [form]="bodaccSaleForm"
                  propertyName="salePrice" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  type="number"></generic-input>
              </td>
              <td>
                <radio-group-act-type [(model)]="bodaccSale.actType" [form]="bodaccSaleForm" propertyName="actType"
                  label="Type de l'acte"></radio-group-act-type>
              </td>
              <td *ngIf="bodaccSale.actType && bodaccSale.actType.code==BODACC_SALE_ACT_TYPE_AUTHENTIC_CODE">
                <generic-input [(model)]="bodaccSale.writor" label="Rédacteur" [form]="bodaccSaleForm"
                  propertyName="writor" [isMandatory]="true" [isDisabled]="!editMode"
                  [conditionnalRequired]="bodaccSale.actType.code==BODACC_SALE_ACT_TYPE_AUTHENTIC_CODE && instanceOfCustomerOrder && !isStatusOpen"
                  [maxLength]="60"></generic-input>
              </td>
              <td *ngIf="bodaccSale.actType && bodaccSale.actType.code==BODACC_SALE_ACT_TYPE_AUTHENTIC_CODE">
                <generic-input [(model)]="bodaccSale.writorAddress" label="Adresse du rédacteur" [form]="bodaccSaleForm"
                  propertyName="writorAddress" [isMandatory]="true" [isDisabled]="!editMode"
                  [conditionnalRequired]="bodaccSale.actType.code==BODACC_SALE_ACT_TYPE_AUTHENTIC_CODE && instanceOfCustomerOrder && !isStatusOpen"
                  [maxLength]="100"></generic-input>
              </td>
            </tr>
            <tr>
              <td>
                <generic-datepicker [(model)]="bodaccSale.registrationDate" label="Date de l'enregistrement"
                  [form]="bodaccSaleForm" propertyName="registrationDate" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode">
                </generic-datepicker>
              </td>
              <td>
                <autocomplete-competent-authority [(model)]="bodaccSale.registrationAuthority" [form]="bodaccSaleForm"
                  propertyName="registrationAuthority" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" label="Bureau de l'enregistrement"
                  [filteredCompetentAuthorityTypeCode]="COMPETENT_AUTHORITY_TYPE_CFP_CODE">
                </autocomplete-competent-authority>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.registrationReferences" label="Référence de l'enregistrement"
                  [form]="bodaccSaleForm" propertyName="registrationReferences" [isMandatory]="true"
                  [conditionnalRequired]="bodaccSale.actType && bodaccSale.actType.code==BODACC_SALE_ACT_TYPE_SEING_CODE && instanceOfCustomerOrder && !isStatusOpen"
                  [isDisabled]="!editMode" [maxLength]="50"></generic-input>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Oppositions
            </mat-panel-title>
            <ng-template [ngTemplateOutlet]="accordionTools"></ng-template>
          </mat-expansion-panel-header>
          <table class="full-width">
            <tr>
              <td>
                <generic-input [(model)]="bodaccSale.validityObjectionAddress" label="Adresse pour la validité"
                  [form]="bodaccSaleForm" propertyName="validityObjectionAddress" [isMandatory]="true"
                  [conditionnalRequired]="instanceOfCustomerOrder && !isStatusOpen" [isDisabled]="!editMode"
                  [maxLength]="100">
                </generic-input>
              </td>
              <td>
                <generic-input [(model)]="bodaccSale.mailObjectionAddress" label="Adresse pour la correspondance"
                  [form]="bodaccSaleForm" propertyName="mailObjectionAddress" [isMandatory]="false"
                  [isDisabled]="!editMode" [maxLength]="100"></generic-input>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </fieldset>
  </div>
</form>
