.card {
  background-color: #F6F9FC;
  padding: 2rem;
}

.btn-fixed-width {
  min-width: 300px;
}

.btn-wrap {
  white-space: normal;
  text-align: center;
}

.btn-service-family:checked+.btn-service-family, :not(.btn-check)+.btn-service-family:active, .btn-service-family:first-child:active, .btn-service-family.active, .btn-service-family.show {
  background-color: #ECF5FF;
  border-color: #2C4057;
}