<div>

  <div class="container">
    <div class="bg-container">
      <div class="w-100 justify-content-between">
        <div class="container header-hub-bg d-flex align-items-center">
          <div class="row w-100">
            <div class="col-12 ">
              <div class="d-flex align-items-center gap-3 flex-wrap">
                <h1 class="section-widget-title m-0">Tendances</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <tendency-hub [selectedEntityType]="{id: 1 }"></tendency-hub>
</div>