<h3>Paiements associés :</h3>
<invoice-payment-table [invoice]="invoice"></invoice-payment-table>
<div
  *ngIf="invoice.invoiceStatus.id==invoiceStatusSend.id || invoice.invoiceStatus.id==invoiceStatusReceived.id || invoice.invoiceStatus.id==invoiceStatusCreditNoteReceived.id">
  <div class="advise" *ngIf="advisedPayment && advisedPayment.length>0">
    <h3>Paiements conseillés par Osiris :</h3>
    <sort-table [actions]="tableAction" [columns]="displayedColumns" [values]="advisedPayment" [noPaddingBottom]="true"
      [noMaxHeight]="true" tableName="Paiements conseillés">
    </sort-table>
  </div>
  <div class=" advise">
    <h3>Autres paiements :</h3>
    <payment-list [overrideIconAction]="'merge_type'" [overrideTooltipAction]="'Associer le paiement'"
      (actionBypass)="openAssociationDialog($event)"></payment-list>
  </div>
  <div class=" advise" *ngIf="displayAddCashPayment && !invoice.isInvoiceFromProvider && !invoice.isProviderCreditNote">
    <h3>Déclarer un paiement en espèces</h3>
    <div>
      <form [formGroup]="invoicePaymentForm">
        <div class="full-width">
          <table>
            <tr>
              <td>
                <generic-input [(model)]="newPayment.paymentAmount" label="Montant" [form]="invoicePaymentForm"
                  propertyName="paymentAmount" [isMandatory]="true" [isDisabled]="false"
                  (onFormChange)="onModifyAmount()" type="number"></generic-input>
              </td>
              <td>
                <generic-datetime-picker [(model)]="newPayment.paymentDate" label="Date de paiement"
                  [form]="invoicePaymentForm" propertyName="paymentDate" [isMandatory]="true"
                  [isDisabled]="false"></generic-datetime-picker>
              </td>
              <td>
                <generic-input [(model)]="newPayment.label" label="Libellé du paiement" [form]="invoicePaymentForm"
                  propertyName="label" [isMandatory]="true" [isDisabled]="false" [maxLength]="250"></generic-input>
              </td>
              <td class="button-td">
                <button (click)="addCashPayment()" mat-mini-fab color="warn" class="mini-fab-add add-button">
                  <mat-icon>add</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>