<div class="position-relative ">
  <div [formGroup]="form!">
    <label [for]="'fl-text'+uniqueId" *ngIf="isDisplayLabel && label && label.length>0"
      class="form-label">{{label}}</label>
    <div>
      <ng-autocomplete [data]="filteredTypes" [searchKeyword]="'label'" [placeholder]="label" [attr.name]="propertyName"
        [initialValue]="selectedItem" (selected)='optionSelected($event)' (inputChanged)='onChangeSearch($event)'
        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" [minQueryLength]="expectedMinLengthInput"
        [debounceTime]="200" [attr.required]="isMandatory" (scrolledToEnd)="fetchNextPage()" #autoComp
        [historyIdentifier]="propertyName" historyHeading="Choix récents" [isLoading]="isLoading"
        [disabled]="isDisabled">
      </ng-autocomplete>
    </div>
    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.label"></a>
    </ng-template>
    <ng-template #notFoundTemplate let-notFound>
      <div innerHTML="Aucun résultat trouvé"></div>
    </ng-template>
  </div>
</div>