table {
  width: 100%;
  table-layout: fixed;
}

td {
  padding-right: 8px;
}

.button-td {
  width: 35px
}

.mini-fab-add {
  margin: 5px
}

.add-button {
  top: -8px;
}

.row-field-container {
  flex-direction: row;
  display: flex;
}

.margin-bottom {
  margin-bottom: 15px;
}
