<form [formGroup]="bodaccForm" *ngIf="bodacc">
  <mat-tab-group animationDuration="0ms" #tabs>
    <mat-tab label="BODACC">
      <div class=" form-div">
        <table class="full-width">
          <tr *ngIf="bodacc.id">
            <td>
              <generic-input [(model)]="bodacc.id" label="Numéro de BODACC" [form]="bodaccForm" propertyName="id"
                [isMandatory]="true" [isDisabled]="true"></generic-input>
            </td>
          </tr>
          <tr>
            <td>
              <select-bodacc-publication-type [(model)]="bodacc.bodaccPublicationType" label="Type de parution"
                [form]="bodaccForm" propertyName="bodaccPublicationType" [isMandatory]="true"
                [conditionnalRequired]=" !isStatusOpen" [isDisabled]="!editMode"
                (selectionChange)="changePublicationType()"></select-bodacc-publication-type>
            </td>
            <td
              *ngIf="bodacc.bodaccPublicationType && bodacc.bodaccPublicationType.code==BODACC_PUBLICATION_TYPE_SALE_OF_BUSINESS">
              <radio-group-transfert-funds [(model)]="bodacc.transfertFundsType" [form]="bodaccForm"
                propertyName="transfertFundsType" label="Type de cession de fonds"></radio-group-transfert-funds>
            </td>
            <td
              *ngIf="bodacc.bodaccPublicationType && (bodacc.bodaccPublicationType.code ==BODACC_PUBLICATION_TYPE_POSSESSION_DISPATCH || bodacc.bodaccPublicationType.code ==BODACC_PUBLICATION_TYPE_ESTATE_REPRESENTATIVE_DESIGNATION)">
              <a href="https://declar-successions.journal-officiel.gouv.fr/successions/index.html" target="_blank">Lien
                vers la plateforme BODACC.fr</a>
            </td>
          </tr>
        </table>
        <table class="full-width">
          <tr>
            <td>
              <generic-datepicker [(model)]="bodacc.dateOfPublication" label="Date de parution" [form]="bodaccForm"
                propertyName="dateOfPublication" [isMandatory]="false" [isDisabled]="!editMode"
                [conditionnalRequired]=" !isStatusOpen"></generic-datepicker>
            </td>
            <td> </td>
            <td> </td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Options">
      <provision-options [editMode]="editMode" [provision]="provision"></provision-options>
    </mat-tab>
    <mat-tab label="Imprimé"
      *ngIf="bodacc.bodaccPublicationType && (bodacc.bodaccPublicationType.code==BODACC_PUBLICATION_TYPE_PARTIAL_SPLIT ||bodacc.bodaccPublicationType.code==BODACC_PUBLICATION_TYPE_SPLIT || bodacc.bodaccPublicationType.code==BODACC_PUBLICATION_TYPE_MERGING || bodacc.bodaccPublicationType.code==BODACC_PUBLICATION_TYPE_SALE_OF_BUSINESS)">
      <bodacc-sale [bodaccSale]="bodacc.bodaccSale" [editMode]="editMode"
        [instanceOfCustomerOrder]="instanceOfCustomerOrder" [transfertFundsType]="bodacc.transfertFundsType"
        [affaire]="affaire" [isStatusOpen]="isStatusOpen"
        *ngIf="bodacc.bodaccPublicationType && bodacc.transfertFundsType && bodacc.bodaccPublicationType.code==BODACC_PUBLICATION_TYPE_SALE_OF_BUSINESS">
      </bodacc-sale>
      <bodacc-fusion [bodaccFusion]="bodacc.bodaccFusion" [editMode]="editMode"
        [instanceOfCustomerOrder]="instanceOfCustomerOrder" [isStatusOpen]="isStatusOpen"
        *ngIf="bodacc.bodaccPublicationType &&  bodacc.bodaccPublicationType.code==BODACC_PUBLICATION_TYPE_MERGING">
      </bodacc-fusion>
      <bodacc-split [bodaccSplit]="bodacc.bodaccSplit" [editMode]="editMode"
        [instanceOfCustomerOrder]="instanceOfCustomerOrder" [isStatusOpen]="isStatusOpen"
        *ngIf="bodacc.bodaccPublicationType &&  bodacc.bodaccPublicationType.code==BODACC_PUBLICATION_TYPE_SPLIT">
      </bodacc-split>
    </mat-tab>
    <mat-tab label="Documents">
      <attachments [entity]="bodacc" [editMode]="editMode" [entityType]="BODACC_ENTITY_TYPE.entityType">
      </attachments>
    </mat-tab>
  </mat-tab-group>
</form>
