.kpi-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;
  margin-right: 1rem;
}

.kpi-item {
  width: 250px;
  margin-bottom: 0.5rem;
}

@media (max-width: 1200px) {
  .kpi-container {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: none;
    margin-right: 0;
  }

  .kpi-item {
    width: calc(50% - 0.5rem);
    margin-right: 0.5rem;
  }
}

.graph-container {
  flex-grow: 1;
  min-width: 0;
}

.kpi-card {
  width: 220px;
  flex: 0 0 auto;
}