<section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 my-4">
  <div class="card-body">
    <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
      <i class="ai-messages text-primary lead pe-1 me-2"></i>
      <h2 class="h4 mb-0">Liste de lecture </h2>
    </div>
    <div class="d-md-flex align-items-center">
      <div class="d-sm-flex align-items-center">
        <div class="pt-3 pt-sm-0 ps-sm-3">
          <div class="text-body-secondary fw-medium d-flex flex-wrap flex-sm-nowrap align-iteems-center">
            <div class="container my-4">
              <div *ngFor="let post of bookmarkPosts" class="col-12 mb-2">
                <article class="blog-style2 card mb-4">
                  <div class="feature-image">
                    <div class="image-frame image-hover-style-1">
                      <a (click)="openPost(post, $event)"> <img *ngIf="post.media" class="lazyload"
                          [src]="post.media.urlMediumLarge!=null ? post.media.urlMediumLarge : post.media.urlFull"
                          [alt]="post.media.alt_text" class="w-100"></a>
                    </div>
                  </div>
                  <div class="card-body  d-md-flex align-items-center">
                    <div class="card-flex-content">
                      <div class="d-flex flex-wrap">
                        <a *ngFor="let tag of post.postTags" (click)="openTagPosts(tag, $event)"
                          class="badge bg-info rounded-pill px-2">{{ tag.name }}</a>
                        <a class="rounded-outline-icon rounded-circle fs-8 d-flex align-items-center justify-content-center ms-2"
                          (click)="post.isBookmarked ? unBookmarkPost(post) : bookmarkPost(post)">
                          <i [ngClass]="{'bi-bookmark': !post.isBookmarked,
                                'bi-bookmark-fill text-dark': post.isBookmarked,
                                'text-transparent': !post.isBookmarked}">
                          </i>
                        </a>
                      </div>
                      <h4>
                        <a class="card-text-truncate" (click)="openPost(post, $event)"> <img *ngIf="post.isPremium"
                            class="pe-0" src="/assets/images/premium-icon.svg">
                          {{post.titleText}}</a>
                      </h4>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="author-block">
                            <ul class="avatar list-inline mb-0">
                              <li class="list-inline-item"><a class="fs-9"
                                  (click)="openAuthorPosts(post.fullAuthor, $event)"><img
                                    [src]="post.fullAuthor.avatar_url_size_24" [alt]="post.fullAuthor.name"
                                    ngbTooltipplacement="top" [ngbTooltip]="post.fullAuthor.name">
                                  {{post.fullAuthor.name}}</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-6"> <span class="date-info fs-9 float-lg-end">
                            <span>Publié le {{post.date | date:'EEEE d MMMM'}} à {{post.date | date:'HH:mm'}}</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <hr>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>