@if ( provision && provision.id && quotation) {
  <form [formGroup]="provisionPaymentForm">
    <div class="form-div">
      <div>
        <p>
          Déclarer un paiement :
        </p>
        <table class="full-width">
          <tr>
            <td>
              <generic-datepicker [(model)]="newPayment.paymentDate" label="Date du paiement"
                [form]="provisionPaymentForm" propertyName="paymentDate" [isMandatory]="true"
              [isDisabled]="!editMode"></generic-datepicker>
            </td>
            <td>
              <generic-input [(model)]="newPayment.paymentAmount" label="Montant" [form]="provisionPaymentForm"
              propertyName="paymentAmount" [isMandatory]="true" [isDisabled]="!editMode" type="number"></generic-input>
            </td>
            <td>
              <select-payment-types [(model)]="newPayment.paymentType" label="Type de paiement"
                [form]="provisionPaymentForm" propertyName="paymentType" [isMandatory]="true" [isDisabled]="!editMode"
              [filteredPaymentType]="[paymentTypeCheck, paymentTypeCash]"></select-payment-types>
            </td>
            <td>
              <generic-input [(model)]="newPayment.label" label="Libellé" [form]="provisionPaymentForm"
              propertyName="label" [isMandatory]="false" [isDisabled]="!editMode" [maxLength]="250"></generic-input>
            </td>
            @if (newPayment.paymentType && newPayment.paymentType.id == paymentTypeCheck.id) {
              <td>
                <generic-input [(model)]="newPayment.checkNumber" label="N° de chèque" [form]="provisionPaymentForm"
                propertyName="checkNumber" [isMandatory]="true" [isDisabled]="!editMode" [maxLength]="50"></generic-input>
              </td>
            }
            <td class="fab-td-button">
              <button mat-mini-fab color="warn" matTooltip="Ajouter le paiement" (click)="addNewPayment()"
                class="add-button fab-td-button-top">
                <mat-icon>add</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </div>
      @if (provision.payments) {
        <div>
          <p>
            Paiements associés :
          </p>
          @if (paymentsDisplayedColumns && paymentsDisplayedColumns.length>0 ) {
            <sort-table [actions]="paymentsTableActions" [columns]="paymentsDisplayedColumns" [values]="provision.payments"
              [noPaddingBottom]="true" [noMaxHeight]="true" tableName="Paiements fournisseur "
              [displayTotalLines]="true">
            </sort-table>
          }
        </div>
      }
      @if (provision.providerInvoices) {
        <div class="padding-top">
          <p>
            Factures associées :
          </p>
          @if (invoiceDisplayedColumns && invoiceDisplayedColumns.length>0 ) {
            <sort-table [actions]="invoiceTableActions" [columns]="invoiceDisplayedColumns"
              [values]="provision.providerInvoices" tableName="Factures fournisseur " [noPaddingBottom]="true"
              [noMaxHeight]="true"
              [displayTotalLines]="true">
            </sort-table>
          }
        </div>
      }
      @if (getAvailableAzureInvoices() && canAddNewAzureInvoice()) {
        <div class="padding-top">
          <p>
            Associer une facture automatique :
          </p>
          <ul>
            @for (attachment of getAvailableAzureInvoices(); track attachment) {
              <li>N°{{attachment.id}} -
                {{attachment.azureInvoice.invoiceId}} - {{attachment.azureInvoice.invoiceTotal}} € <span class="pointer"
              (click)="createInvoiceFromAzureInvoice(attachment.azureInvoice, $event)">(créer la facture libre)</span>
            </li>
          }
        </ul>
      </div>
    }
    @if (canAddNewInvoice()) {
      <div>
        <autocomplete-azure-invoice [(model)]="azureInvoiceSelected" [form]="provisionPaymentForm"
          propertyName="azureInvoiceSelected" [isMandatory]="false" label="Rechercher une facture automatique"
        (onOptionSelected)="createInvoiceFromAzureInvoice(azureInvoiceSelected!,$event)"></autocomplete-azure-invoice>
      </div>
    }
    @if (canAddNewInvoice()) {
      <div class="padding-top">
        <p (click)="createNewInvoice($event)" class="pointer">
          Créer une facture libre
        </p>
      </div>
    }
  </div>
</form>
}