<section class="pt-4 mt-5 ">
  <!-- Breadcrumb -->
  <div style="box-shadow: 0px 3px 3px #B4BBC3;">
    <nav aria-label="breadcrumb" class="container">
      <ol class="pt-lg-2 pb-2 breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
        <li class="breadcrumb-item" [ngClass]="{'active' : !typeChosen}" style="cursor: pointer;"
          (click)="typeChosen=undefined">Nouvelle demande</li>
        <li class="breadcrumb-item active" *ngIf="isAnOrder()">Nouvelle commande</li>
        <li class="breadcrumb-item active" *ngIf="isAQuotation()">Nouveau devis</li>
      </ol>
      <div class="tab-pane pb-3">
        <button type="button" class="btn btn-link btn-sm mb-2 me-1 fw-bold">1. Choix du formulaire</button>
        <button type="button" class="btn btn-link btn-sm mb-2 me-1 disabled d-none d-md-inline">></button>
        <button type="button" class="btn btn-secondary btn-sm mb-2 me-1 ">2. Remplissage du formulaire</button>
        <button type="button" class="btn btn-link btn-sm mb-2 me-1 disabled d-none d-md-inline">></button>
        <button type="button" class="btn btn-link btn-sm mb-2 me-1 disabled">3. Récapitulatif</button>
      </div>
    </nav>
  </div>
</section>

<div style="
background-image: url('assets/images/order_background.png');
position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Place l'image derrière le contenu */
">
</div>
<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
  <choose-type (onChoseType)="chooseType($event)" *ngIf="!typeChosen"></choose-type>
  <choose-service (onChoseService)="chooseNewService($event)" [currentOrderAffaires]="getCurrentAffaires()"
    *ngIf="typeChosen!=undefined && displayAddNewService" [editedService]="editedService"></choose-service>
  <checkout [serviceTypesSelected]="servicesChosen" *ngIf="servicesChosen && !displayAddNewService"
    (onRemoveServiceChoosen)="removeService($event)" (onEditServiceChoosen)="editService($event)"
    (onAddServiceChoosen)="addService()" [typeChosen]="typeChosen">
  </checkout>
</section>