@if (entity && (instanceOfIAttachmentCode(entity) && entity.code || (!instanceOfIAttachmentCode(entity) && entity.id))) {
  <div class="mat-elevation-z2 form-div mat-body" style="padding : 20px"
    >
    <multiple-upload [entity]="entity" [entityType]="entityType" [editMode]="true"
      [replaceExistingAttachementType]="replaceExistingAttachementType" [forcedAttachmentType]="forcedAttachmentType"
    [forcedFileExtension]="forcedFileExtension" (endOfUpload)="endUpload($event)"></multiple-upload>
  </div>
}
