.video-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  object-fit: cover;
}


button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.background-card {
  background-color: #FFFFFF08;
  background-size: cover;
}