.video-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.progress-bar {
  width: 80%;
  margin: 0 10px;
  cursor: pointer;
}