<!DOCTYPE html>
<html lang="fr">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        * {
            font-family: 'Times New Roman', Times, serif
        }

        @page {
            size: a4 portrait;

            @bottom-right {
                content: counter(page);
            }

            counter-increment: page;
            counter-reset: page 1;
        }

        .page-break {
            page-break-before: always;
        }

        .cgv {
            width: 297px;
        }

        .cgv h4 {
            margin: 0;
            margin-top: 5px;
            font-size: 13px;
        }

        .cgv p {
            margin: 0;
            text-align: justify;
            margin-top: 0px;
            line-height: 9px;
            font-size: 9px
        }

        .td-with-price {
            width: 130px;
        }

        .date-maj {
            position: absolute;
            bottom: -50px;
            right: 0;
            text-align: right;
        }
    </style>
</head>

<body style="background-color: #FFFFFF; margin: 0; padding: 0; -webkit-text-size-adjust: none; text-size-adjust: none;">

    <table style="table-layout: fixed;width: 690px;margin-top: 20px;">
        <tr>
            <td style="text-align: left;">
                <span th:if="${invoice.isCreditNote!=null} and ${invoice.isCreditNote==true}">Avoir : <span
                        th:text="${invoice.id}"></span><br /></span>
                <span th:if="${invoice.isCreditNote!=null} and ${invoice.isCreditNote==true}">Facture : <span
                        th:text="${reverseCreditNote.id}"></span><br /></span>
                <span th:if="${invoice.isCreditNote==false}">Facture : <span
                        th:text="${invoice.id}"></span><br /></span>
                <span th:if="${tiersReference!=null}">N° client : <span th:text="${tiersReference}"></span><br /></span>
                <span th:if="${customerOrder!=null}">Commande n°<span th:text="${customerOrder.id}"></span><span
                        th:id="${recurringParentId!=null}">
                        <span th:text="${recurringParentId}"></span></span><br /></span>
                <span th:if="${quotation!=null}">Devis : <span th:text="${quotation.id}"></span><br /></span>
                <span th:if="${responsableOnBilling!=null}">Commande transmise par :<span
                        th:text="${responsableOnBilling}"></span><br />
                </span>
                <span th:if="${invoice.isCommandNumberMandatory}">Votre référence annuelle :<span
                        th:text="${invoice.commandNumber}"></span><br />
                </span>
                <span th:if="${externalReference!=null}">Votre référence : <span
                        th:text="${externalReference}"></span></span>
            </td>
            <td style="width: 100px;"></td>
            <td colspan="2">
                <table style=" width: 100%;">
                    <tr>
                        <td>
                            <p>Paris le <span th:text="${invoiceCreatedDate}"></span></p>
                        </td>
                    </tr>
                </table>
                <table style="border : solid; border-color: rgb(0,83,159);width: 100%;">
                    <tr>
                        <td>
                            <span th:text="${invoice.billingLabel}"></span><br />
                            <span th:text="${invoice.billingLabelAddress}"></span><br />
                            <span><span th:text="${invoice.billingLabelPostalCode}"></span> <span
                                    th:text="${invoice.billingLabelCity.label}"></span><span
                                    th:if="${invoice.cedexComplement}"
                                    th:text="${invoice.cedexComplement}"></span></span>
                        </td>
                    </tr>
                </table>
                <table style=" width: 100%;" th:if="${recurringStartDate!=null}">
                    <tr>
                        <td>
                            <p>
                                Période du <span th:text="${recurringStartDate}"></span> au
                                <span th:text="${recurringEndDate}"></span>
                            </p>
                        </td>
                    </tr>
                </table>
                <table style=" width: 100%;">
                    <tr>
                        <td>
                            <span
                                th:if="${invoice.billingLabelIntercommunityVat!=null} and ${invoice.billingLabelIntercommunityVat.length()>0} ">TVA
                                Intracomm. :<span th:text="${invoice.billingLabelIntercommunityVat}"></span></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div th:if="${invoice.isCreditNote!=null} and ${invoice.isCreditNote==true}">
        <p>Avoir n°<span th:text="${invoice.id}"></span> annulant la facture n°<span
                th:text="${reverseCreditNote.id}">th:text="${invoice.id}"</span></p>
    </div>
    <table style="border : solid; border-color: rgb(0,83,159);width: 680px;margin-top: 20px;"
        th:if="${reverseCreditNote==null}">
        <th:block th:if="${assos!=null}" th:each="asso : ${assos}">
            <tr>
                <td style="padding-top: 20px; text-align : center" th:if="${asso.affaire.denomination!=null} "
                    colspan="2">
                    <strong>Société <span th:text="${asso.affaire.denomination}"></span><span
                            th:text="${asso.affaire.firstname}"></span>
                        <span th:text="${asso.affaire.lastname}"></span></strong>
                </td>
                <td style="padding-top: 20px;text-align : center" th:if="${asso.affaire.denomination==null} "
                    colspan="2">
                    <strong><span th:text="${asso.affaire.civility.label}"></span> <span
                            th:text="${asso.affaire.firstname}"></span> <span
                            th:text="${asso.affaire.lastname}"></span></strong>
                </td>
            </tr>
            <th:block th:each="service : ${asso.services}">
                <tr>
                    <td style="padding-top: 20px; text-align : center" colspan="2">
                        <strong><span th:if="${service.serviceLabelToDisplay!=null}"
                                th:text="${service.serviceLabelToDisplay}"></span></strong>
                        <strong><span th:if="${service.serviceLabelToDisplay==null}"
                                th:text="${service.serviceLabelToDisplay}"></span></strong>
                    </td>
                </tr>
                <th:block th:each="invoiceItem : ${service.provisions[0].invoiceItemsGrouped}"
                    th:if="${invoiceItem.preTaxPrice!=0} or ${invoiceItem.isGifted}">
                    <tr>
                        <td style="padding-left: 10px">
                            <span th:text="${invoiceItem.label}"></span>
                        </td>
                        <td class="td-with-price" style="text-align: right;white-space: nowrap;">
                            <span th:text="${#numbers.formatDecimal(invoiceItem.preTaxPrice,1,2)}"></span>
                            €
                        </td>
                    </tr>
                    <tr th:if="${invoiceItem.discountAmount!=null} and ${invoiceItem.discountAmount>0}">
                        <td>
                            <span style="padding-left: 10px">Remise</span>
                        </td>
                        <td class="td-with-price" style="text-align: right;white-space: nowrap;">
                            - <span th:text="${#numbers.formatDecimal(invoiceItem.discountAmount,1,2)}"></span>
                            €</td>
                    </tr>
                </th:block>
            </th:block>
        </th:block>

        <th:block th:each="invoiceItem : ${invoiceItems}"
            th:if="${invoiceItems!=null} and (${invoiceItem.preTaxPrice!=0} or ${invoiceItem.isGifted})">
            <tr>
                <td style="padding-left: 10px">
                    <span th:text="${invoiceItem.label}"></span>
                </td>
                <td class="td-with-price" style="text-align: right;white-space: nowrap;">
                    <span th:text="${#numbers.formatDecimal(invoiceItem.preTaxPrice,1,2)}"></span>
                    €
                </td>
            </tr>
            <tr th:if="${invoiceItem.discountAmount!=null} and ${invoiceItem.discountAmount>0}">
                <td>
                    <span style="padding-left: 10px">Remise</span>
                </td>
                <td class="td-with-price" style="text-align: right;white-space: nowrap;">
                    - <span th:text="${#numbers.formatDecimal(invoiceItem.discountAmount,1,2)}"></span>
                    €</td>
            </tr>
        </th:block>

    </table>
    <table style="border : solid; border-color: rgb(0,83,159);width: 680px;margin-top: 20px;"
        th:if="${reverseCreditNote!=null}">
        <th:block th:each="invoiceItem : ${invoice.invoiceItems}"
            th:if="${invoiceItem.preTaxPrice!=0} or ${invoiceItem.isGifted}">
            <tr>
                <td style="padding-left: 10px">
                    <span th:text="${invoiceItem.label}"></span>
                </td>
                <td class="td-with-price" style="text-align: right;white-space: nowrap;">
                    <span th:text="${#numbers.formatDecimal(invoiceItem.preTaxPrice,1,2)}"></span>
                    €
                </td>
            </tr>
            <tr th:if="${invoiceItem.discountAmount!=null} and ${invoiceItem.discountAmount>0}">
                <td>
                    <span style="padding-left: 10px">Remise</span>
                </td>
                <td class="td-with-price" style="text-align: right;white-space: nowrap;">
                    - <span th:text="${#numbers.formatDecimal(invoiceItem.discountAmount,1,2)}"></span>
                    €</td>
            </tr>
        </th:block>
    </table>
    <p style="margin-top: 10px;">&#160;</p>
    <table
        style="border : solid; border-color: rgb(0,83,159);width: 680px;margin-top: 20px;  break-inside: avoid;  transform: translateY(2px); ">
        <tr>
            <td>
                Total HT
            </td>
            <td class="td-with-price" style="text-align: right;white-space: nowrap;"><span
                    th:text="${#numbers.formatDecimal(preTaxPriceTotal,1,2)}"></span>
                €
            </td>
        </tr>

        <tr th:if="${discountTotal!=null}">
            <td>
                Total remises
            </td>
            <td class="td-with-price" style="text-align: right;white-space: nowrap;"> - <span
                    th:text="${#numbers.formatDecimal(discountTotal,1,2)}"></span>
                €
            </td>
        </tr>

        <tr th:if="${discountTotal!=null}">
            <td>
                Total HT remisé
            </td>
            <td class="td-with-price" style="text-align: right;white-space: nowrap;"><span
                    th:text="${#numbers.formatDecimal(preTaxPriceTotalWithDicount,1,2)}"></span>
                €
            </td>
        </tr>

        <tr th:if="${vats!=null}" th:each="vat : ${vats}">
            <td><span th:text="${vat.label}"></span><span>
                    sur la base de </span><span th:text="${#numbers.formatDecimal(vat.base,1,2)}"></span>
                €
            </td>
            <td class="td-with-price" style="text-align: right;white-space: nowrap;"><span
                    th:text="${#numbers.formatDecimal(vat.total,1,2)}"></span>
                €
            </td>
        </tr>

        <tr>
            <td>
                Total TTC
            </td>
            <td class="td-with-price" style="text-align: right;white-space: nowrap;"><span
                    th:text="${#numbers.formatDecimal(priceTotal,1,2)}"></span>
                €
            </td>
        </tr>
        <tr th:if="${payments.size()>0}" th:each="payment : ${payments}">
            <td>
                Acompte <span th:text="${payment.label}"></span> (<span
                    th:text="${#numbers.formatDecimal(payment.originPaymentAmount,1,2)}"></span> €)
            </td>
            <td class="td-with-price" style="text-align: right;white-space: nowrap;">
                - <span th:text="${#numbers.formatDecimal(payment.paymentAmount,1,2)}"></span>
                €
            </td>
        </tr>
        <tr th:if="(${invoice.isCreditNote==null} or ${invoice.isCreditNote==false})">
            <td style="border-top: solid; border-color: rgb(0,83,159)">
                <span th:if="${remainingToPay!=null} and ${remainingToPay>0 }">Restant dû</span><span
                    th:if="${remainingToPay==null} or ${remainingToPay==0 }">Solde en votre faveur</span>
            </td>
            <td class="td-with-price"
                style="text-align: right;white-space: nowrap;border-top: solid; border-color: rgb(0,83,159)">
                <strong><span
                        th:text="${remainingToPay != null && remainingToPay != 0 ? #numbers.formatDecimal(remainingToPay,1,2) : '0,00'}"></span>
                    €</strong>
            </td>
        </tr>
        <tr th:if="${refunds.size()>0}" th:each="refund : ${refunds}">
            <td>
                <strong><span th:text="${refund.label}"></span></strong>
            </td>
            <td class="td-with-price" style="text-align: right;white-space: nowrap;">
                <strong>- <span th:text="${#numbers.formatDecimal(refund.refundAmount,1,2)}"></span>
                    €</strong>
            </td>
        </tr>
    </table>
    <p style="font-size: 12px;" th:if="${!isPrelevementType}"><strong>Echéance de paiement : <span
                th:text="${invoiceDueDate}"></span></strong></p>
    <p style="font-size: 12px;" th:if="${isPrelevementType}"><strong>Date d'exécution du prélèvement : <span
                th:text="${invoiceDueDate}"></span></strong></p>
    <p style="font-size: 12px;">Retard de paiement. Maj de 3 fois le taux d’intérêt légal (Application du CC -
        Article
        L441-6)<br />
        TVA acquittée sur les débits</p>
    <p style="font-size: 12px;">Les règlements par chèque ne sont plus acceptés et peuvent se faire par carte bleue ou
        virement</p>
</body>

</html>