<div class=" full-width" *ngIf="batchSearch">
  <table class="full-width table-fixed-layout">
    <tr>
      <td>
        <select-batch-status [(model)]="batchSearch.batchStatus" label="Statut" [form]="batchSearchForm"
          propertyName="batchStatus" [isMandatory]="false" [isDisabled]="false"></select-batch-status>
      </td>
      <td>
        <select-batch-settings [(model)]="batchSearch.batchSettings" label="Batch" [form]="batchSearchForm"
          propertyName="batchSettings" [isMandatory]="false" [isDisabled]="false"></select-batch-settings>
      </td>
      <td>
        <select-node [(model)]="batchSearch.nodes" label="Noeud" [form]="batchSearchForm" propertyName="nodes"
          [isMandatory]="false" [isDisabled]="false"></select-node>
      </td>
      <td>
        <generic-input [(model)]="batchSearch.entityId" label="N° de l'entité" [form]="batchSearchForm"
          propertyName="entityId" [isMandatory]="false" [isDisabled]="false" type="number"></generic-input>
      </td>
      <td>
        <generic-datepicker [(model)]="batchSearch.startDate" label="Date de début" [form]="batchSearchForm"
          propertyName="startDate" [isMandatory]="false" [isDisabled]="false"></generic-datepicker>
      </td>
      <td>
        <generic-datepicker [(model)]="batchSearch.endDate" label="Date de fin" [form]="batchSearchForm"
          propertyName="endDate" [isMandatory]="false" [isDisabled]="false"></generic-datepicker>
      </td>
      <td class="fab-td-button">
        <button mat-mini-fab color="warn" matTooltip="Rechercher" (click)="searchBatchs()" class="add-button">
          <mat-icon>search</mat-icon>
        </button>
      </td>
    </tr>
  </table>
  <sort-table [actions]="batchDetailsActions" [columns]="batchDetailsColomns" [values]="batchDetails"
    [noPaddingBottom]="true" [noMaxHeight]="true" tableName="Détails des batch"
    *ngIf="batchDetailsColomns && batchDetailsColomns.length>0 ">
  </sort-table>
</div>