<div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 g-4 pb-sm-3 pb-md-4 pb-xl-5">
  <div class="col">
    <a class="card card-hover-primary bg-secondary border-0 h-100 text-decoration-none" style="cursor: pointer;"
      (click)="choseType(TYPE_CHOSEN_ORDER)">
      <div class="card-body pb-0">
        <button type="button" class="btn btn-warning btn-icon">
          <i class="ai-cart"></i>
        </button>
        <h3 class="h4 card-title mt-0">Commande</h3>
        <p class="card-text">Passez votre commande en ligne pour une prise en charge rapide</p>
      </div>
      <div class="card-footer border-0 py-3 my-3 mb-sm-4">
        <div class="btn btn-lg btn-icon btn-outline-primary rounded-circle pe-none">
          <i class="ai-arrow-right"></i>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a class="card card-hover-primary bg-secondary border-0 h-100 text-decoration-none" style="cursor: pointer;"
      (click)="choseType(TYPE_CHOSEN_QUOTATION)">
      <div class="card-body pb-0">
        <button type="button" class="btn btn-warning btn-icon">
          <i class="ai-slider"></i>
        </button>
        <h3 class="h4 card-title mt-0">Devis</h3>
        <p class="card-text">Réalisez votre devis en tout autonomie</p>
      </div>
      <div class="card-footer border-0 py-3 my-3 mb-sm-4">
        <div class="btn btn-lg btn-icon btn-outline-primary rounded-circle pe-none">
          <i class="ai-arrow-right"></i>
        </div>
      </div>
    </a>
  </div>
</div>