table {
  width: 100%;
  table-layout: fixed;
}

td {
  padding-right: 8px;
}

.mini-fab-add {
  margin: 5px
}

.responsable-tabs {
  margin-top: 20px;
}

.checkbox-margin {
  margin: 0 12px;
}

.table-container-scroll {
  max-height: 215px;
  overflow-y: auto;
  padding-top: 15px;
}

.mat-accordion-container {
  padding-top: 15px
}

.integration-component {
  width: 100%;
  height: 100%;
}