<div class="mat-elevation-z2 form-div">
  <div class="row-field-container">
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target)" placeholder="Rechercher">
    </mat-form-field>
    <span *ngIf="editMode" matTooltip=" Créer un nouveau responsable" matTooltipPosition="above"><button
        (click)="addResponsable()" mat-mini-fab color="warn" class="mini-fab-add">
        <mat-icon>add</mat-icon>
      </button></span>
  </div>
  <div class="table-container-scroll">
    <sort-table [columns]="displayedColumns" (onRowClick)="selectResponsable($event)" [values]="tiers.responsables"
      tableName="Responsables" [filterText]="searchText" [actions]="tableActions"
      [idRowSelected]="selectedResponsable?selectedResponsable.id:undefined"></sort-table>
  </div>
  <div [hidden]="selectedResponsable==null" class="responsable-tabs">
    <form [formGroup]="principalForm" *ngIf="selectedResponsable!=null">
      <mat-tab-group animationDuration="0ms" #tabs>
        <mat-tab label="Fiche du responsable">
          <div class="full-width">
            <fieldset [disabled]="editMode==false" class="fieldset-no-border">
              <table class="full-width">
                <tr>
                  <td>
                    <generic-input [(model)]="selectedResponsable.id" label="N° client/prospect" [form]="principalForm"
                      propertyName="id" [isDisabled]="true"></generic-input>
                  </td>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <td>
                    <radio-group-civility [(model)]="selectedResponsable.civility" [form]="principalForm"
                      [isDisabled]="!editMode" propertyName="civility" label="Civilité"></radio-group-civility>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.lastname" label="Nom" [form]="principalForm"
                      propertyName="lastname" [isMandatory]="true" [isDisabled]="!editMode" [maxLength]="40">
                    </generic-input>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.firstname" label="Prénom" [form]="principalForm"
                      propertyName="firstname" [isMandatory]="true" [isDisabled]="!editMode" [maxLength]="40">
                    </generic-input>
                  </td>
                  <td>
                    <generic-toggle [(model)]="selectedResponsable.isActive" label="Actif ?" [form]="principalForm"
                      [isDisabled]="!editMode" propertyName="isActive"></generic-toggle>
                  </td>
                </tr>
              </table>

              <table class="full-width">
                <tr>
                  <td>
                    <generic-input [(model)]="tiers.id" label="N° de client" [form]="principalForm"
                      propertyName="idTiers" [isDisabled]="true"></generic-input>
                  </td>
                  <td>
                    <select-tiers-type [(model)]="selectedResponsable.tiersType" label="Type" [form]="principalForm"
                      propertyName="tiersType" [isMandatory]="true" [isDisabled]="!editMode"></select-tiers-type>
                  </td>
                  <td>
                    <select-tiers-category [(model)]="selectedResponsable.tiersCategory" label="Catégorie"
                      [form]="principalForm" propertyName="tiersCategory" [isDisabled]="!editMode">
                    </select-tiers-category>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.function" label="Fonction" [form]="principalForm"
                      propertyName="function" [maxLength]="100"></generic-input>
                  </td>
                </tr>
              </table>

              <table class="full-width">
                <tr>
                  <td>
                    <autocomplete-employee [(model)]="selectedResponsable.salesEmployee" [form]="principalForm"
                      label="Commercial" propertyName="salesEmployee" [isMandatory]="true" [isDisabled]="!editMode">
                    </autocomplete-employee>
                  </td>
                  <td>
                    <autocomplete-employee [(model)]="selectedResponsable.formalisteEmployee" label="Formaliste"
                      [isDisabled]="!editMode" [form]="principalForm" propertyName="formalisteEmployee"
                      [isDisabled]="!editMode">
                    </autocomplete-employee>
                  <td>
                    <autocomplete-employee [(model)]="selectedResponsable.insertionEmployee" label="Publiciste"
                      [isDisabled]="!editMode" [form]="principalForm" propertyName="insertionEmployee"
                      [isDisabled]="!editMode">
                    </autocomplete-employee>
                  </td>
                  <td>
                    <generic-datepicker [(model)]="selectedResponsable.firstBilling" label="Première facturation"
                      [form]="principalForm" propertyName="firstBilling" [isDisabled]="true"></generic-datepicker>
                  </td>
                </tr>
              </table>

              <table class="full-width">
                <tr>
                  <td>
                    <generic-textarea [(model)]="selectedResponsable.mailRecipient" label="Destinataire(s) courrier"
                      [form]="principalForm" propertyName="mailRecipient" [isDisabled]="!editMode"
                      (filterInput)="limitTextareaSize(3)"></generic-textarea>
                  </td>
                  <td style="vertical-align: baseline;">
                    <radio-group-language [(model)]="selectedResponsable.language" [form]="principalForm"
                      [isDisabled]="!editMode" propertyName="language" label="Langue de communication">
                    </radio-group-language>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.loginWeb" label="Numéro de compte JSS.FR"
                      [form]="principalForm" propertyName="loginWeb" [isMandatory]="false"
                      [isDisabled]="true"></generic-input>
                  </td>
                  <td>
                    <generic-toggle [(model)]="selectedResponsable.canViewAllTiersInWeb"
                      label="JSS.fr : peut voir l'ensemble du tiers ? " [form]="principalForm"
                      propertyName="canViewAllTiersInWeb"></generic-toggle>
                  </td>
                </tr>
              </table>


              <table class="full-width">
                <tr>
                  <td>
                    <generic-input [(model)]="selectedResponsable.address" label="Adresse" [form]="principalForm"
                      propertyName="address" [isMandatory]="false" [maxLength]="60"></generic-input>
                  </td>
                  <td>
                    <autocomplete-postal-code [(model)]="selectedResponsable.postalCode" [form]="principalForm"
                      [byPassAutocompletValidator]="true" propertyName="postalCode" [isMandatory]="false"
                      label="Code postal" [isDisabled]="!editMode"
                      [conditionnalRequired]="selectedResponsable.country != null && selectedResponsable.country.id ==franceCountry.id "
                      (onOptionSelected)="fillCity($event)"></autocomplete-postal-code>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.cedexComplement" label="Complément CEDEX"
                      [form]="principalForm" propertyName="cedexComplement" [isMandatory]="false"
                      [isDisabled]="!editMode" [maxLength]="20"></generic-input>
                  </td>
                  <td>
                    <autocomplete-city [(model)]="selectedResponsable.city" [modelCountry]="selectedResponsable.country"
                      [preFilterPostalCode]="selectedResponsable.postalCode" [form]="principalForm" propertyName="city"
                      [isMandatory]="false" [isDisabled]="!editMode" label="Ville"
                      (onOptionSelected)="fillPostalCode($event)">
                    </autocomplete-city>
                  </td>
                  <td>
                    <autocomplete-country [(model)]="selectedResponsable.country" [form]="principalForm" label="Pays"
                      [isDisabled]="!editMode" propertyName="country" [isMandatory]="false"></autocomplete-country>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.building" label="Bâtiment" [form]="principalForm"
                      propertyName="building" [maxLength]="20"></generic-input>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.floor" label="Etage" [form]="principalForm"
                      propertyName="floor" [maxLength]="8"></generic-input>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <td>
                    <generic-input [(model)]="selectedResponsable.rffFormaliteRate" label="Taux RFF Formalité"
                      [form]="principalForm" propertyName="rffFormaliteRate" type="number"></generic-input>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.rffInsertionRate" label="Taux RFF Insertion"
                      [form]="principalForm" propertyName="rffInsertionRate" type="number"></generic-input>
                  </td>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <td>
                    <chips-mail label="Mails" [(model)]="selectedResponsable.mails" [form]="principalForm"
                      propertyName="mails" [isDisabled]="!editMode"></chips-mail>
                  </td>
                  <td>
                    <chips-phone label="Téléphones" [(model)]="selectedResponsable.phones" [form]="principalForm"
                      propertyName="phones" [isDisabled]="!editMode"></chips-phone>
                  </td>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <generic-textarea [(model)]="selectedResponsable.observations"
                    label="Observations / Informations complémentaires" [form]="principalForm"
                    propertyName="observations" [isDisabled]="!editMode" [numberOfLines]="4">
                  </generic-textarea>
                </tr>
              </table>
            </fieldset>
          </div>
        </mat-tab>
        <mat-tab label="Pièces et facturation" *ngIf="isResponsableTypeProspect()==false">
          <settlement-billing [tiers]="selectedResponsable!" [editMode]="editMode"></settlement-billing>
        </mat-tab>
        <mat-tab label="Documents" *ngIf="selectedResponsable?.id!=null && selectedResponsable?.id!=undefined">
          <attachments [entity]="selectedResponsable!" [editMode]="editMode"
            [entityType]="RESPONSABLE_ENTITY_TYPE.entityType">
          </attachments>
        </mat-tab>
        <mat-tab label="Mails" *ngIf="selectedResponsable.id">
          <automatic-mail-list [responsable]="selectedResponsable">
          </automatic-mail-list>
        </mat-tab>
        <mat-tab label="Devis" *ngIf="tiers.id!=null && tiers.id!=undefined">
          <quotation-list class="integration-component"
            *ngIf="this.quotationSearch.customerOrders && this.quotationSearch.customerOrders.length>0"
            [quotationSearch]="quotationSearch" [isForTiersIntegration]="true">
          </quotation-list>
        </mat-tab>
        <mat-tab label="Commandes" *ngIf="tiers.id!=null && tiers.id!=undefined">
          <ordering-list class="integration-component"
            *ngIf="this.orderingSearch.customerOrders && this.orderingSearch.customerOrders.length>0"
            [orderingSearch]="orderingSearch" [isForTiersIntegration]="true">
          </ordering-list>
        </mat-tab>
        <mat-tab label="Factures" *ngIf="tiers.id!=null && tiers.id!=undefined">
          <invoice-list *ngIf="this.invoiceSearch.customerOrders && this.invoiceSearch.customerOrders.length>0"
            [invoiceSearch]="invoiceSearch" [isForTiersIntegration]="true"></invoice-list>
        </mat-tab>
        <mat-tab label="Comptes" *ngIf="responsableAccountSearch && responsableAccountSearch.id">
          <accounting-record [tiersToDisplay]="responsableAccountSearch"></accounting-record>
        </mat-tab>
        <mat-tab label="Suivi" *ngIf="selectedResponsable?.id!=null && selectedResponsable?.id!=undefined">
          <tiers-followup [tiers]="selectedResponsable!" [editMode]="editMode"></tiers-followup>
        </mat-tab>
        <mat-tab label="Historique" *ngIf="selectedResponsable?.id!=null && selectedResponsable?.id!=undefined">
          <history [entity]="selectedResponsable" [entityType]="RESPONSABLE_ENTITY_TYPE"></history>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>


  <button
    [matTooltip]="'Renouveler le mot de passe JSS.fr pour '+selectedResponsable.firstname+' '+ selectedResponsable.lastname"
    mat-fab color="accent" class="third-fab-button" *ngIf="!editMode && selectedResponsable" (click)="renewPassword()">
    <mat-icon>password</mat-icon>
  </button>
