<div class="mat-elevation-z2 form-div">
  <div class="row-field-container">
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target)" placeholder="Rechercher">
    </mat-form-field>
    <span *ngIf="editMode" matTooltip=" Créer un nouveau responsable" matTooltipPosition="above"><button
        (click)="addResponsable()" mat-mini-fab color="warn" class="mini-fab-add">
        <mat-icon>add</mat-icon>
      </button></span>
  </div>
  <div class="table-container-scroll">
    <table mat-table matSort [dataSource]="responsableDataSource" class="table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>N° du responsable</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let element">{{(element.firstname !=null ? element.firstname:"") + " " +
          (element.lastname!=null?element.lastname:"")}}</td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</th>
        <td mat-cell *matCellDef="let element">{{element.address}}</td>
      </ng-container>
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ville</th>
        <td mat-cell *matCellDef="let element">{{(element.city!=undefined ?element.city.label:"")}}</td>
      </ng-container>
      <ng-container matColumnDef="salesEmployee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Commercial</th>
        <td mat-cell *matCellDef="let element">{{(element.salesEmployee!=undefined?element.salesEmployee.firstname:"") +
          "
          " +
          (element.salesEmployee!=undefined?element.salesEmployee.lastname:"")}}</td>
      </ng-container>
      <ng-container matColumnDef="formalisteEmployee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Formaliste</th>
        <td mat-cell *matCellDef="let element">
          {{(element.formalisteEmployee!=undefined?element.formalisteEmployee.firstname:"") + " " +
          (element.formalisteEmployee!=undefined?element.formalisteEmployee.lastname:"")}}
      </ng-container>
      <ng-container matColumnDef="insertionEmployee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Publiciste</th>
        <td mat-cell *matCellDef="let element">
          {{(element.insertionEmployee!=undefined?element.insertionEmployee.firstname:"") + " " +
          (element.insertionEmployee!=undefined?element.insertionEmployee.lastname:"")}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.id==null && editMode" color="accent" (click)="deleteResponsable(element)">delete
          </mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="pointer" [ngClass]="{'selected-mat-row':selectedResponsable==row}"
        *matRowDef="let row; columns: displayedColumns;" (click)="selectResponsable(row.id)"></tr>
    </table>
  </div>
  <div [hidden]="selectedResponsable==null" class="responsable-tabs">
    <form [formGroup]="principalForm" *ngIf="selectedResponsable!=null">
      <mat-tab-group animationDuration="0ms" #tabs>
        <mat-tab label="Fiche du responsable">
          <div class="full-width">
            <fieldset [disabled]="editMode==false" class="fieldset-no-border">
              <table class="full-width">
                <tr>
                  <td>
                    <mat-form-field class="full-width">
                      <mat-label>N° responsable</mat-label>
                      <input matInput formControlName="responsableId" [(ngModel)]="selectedResponsable.id"
                        placeholder="N° client/prospect">
                    </mat-form-field>
                  </td>
                </tr>
              </table>
              <!--TODO: Compte Web-->

              <table class="full-width">
                <tr>
                  <td>
                    <radio-group-civility [(model)]="selectedResponsable.civility" [form]="principalForm"
                      propertyName="civility" label="Civilité"></radio-group-civility>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.lastname" label="Nom" [form]="principalForm"
                      propertyName="lastname" [isMandatory]="true" [isDisabled]="!editMode" [maxLength]="20">
                    </generic-input>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.firstname" label="Prénom" [form]="principalForm"
                      propertyName="firstname" [isMandatory]="true" [isDisabled]="!editMode" [maxLength]="20">
                    </generic-input>
                  </td>
                  <td>
                    <generic-toggle [(model)]="selectedResponsable.isActive" label="Actif ?" [form]="principalForm"
                      propertyName="isActive"></generic-toggle>
                  </td>
                </tr>
              </table>

              <table class="full-width">
                <tr>
                  <td>
                    <generic-input [(model)]="tiers.id" label="N° de client" [form]="principalForm"
                      propertyName="idTiers" [isDisabled]="true"></generic-input>
                  </td>
                  <td>
                    <select-tiers-type [(model)]="selectedResponsable.tiersType" label="Type" [form]="principalForm"
                      propertyName="tiersType" [isMandatory]="true" [isDisabled]="!editMode"></select-tiers-type>
                  </td>
                  <td>
                    <select-tiers-category [(model)]="selectedResponsable.tiersCategory" label="Catégorie"
                      [form]="principalForm" propertyName="tiersCategory" [isDisabled]="!editMode">
                    </select-tiers-category>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.function" label="Fonction" [form]="principalForm"
                      propertyName="function" [maxLength]="20"></generic-input>
                  </td>
                </tr>
              </table>

              <table class="full-width">
                <tr>
                  <td>
                    <autocomplete-sales-employee [(model)]="selectedResponsable.salesEmployee" [form]="principalForm"
                      propertyName="salesEmployee" [isMandatory]="true" [isDisabled]="!editMode">
                    </autocomplete-sales-employee>
                  </td>
                  <td>
                    <autocomplete-formaliste-employee [(model)]="selectedResponsable.formalisteEmployee"
                      [form]="principalForm" propertyName="formalisteEmployee" [isDisabled]="!editMode">
                    </autocomplete-formaliste-employee>
                  <td>
                    <autocomplete-insertion-employee [(model)]="selectedResponsable.insertionEmployee"
                      [form]="principalForm" propertyName="insertionEmployee" [isDisabled]="!editMode">
                    </autocomplete-insertion-employee>
                  </td>
                  <td>
                    <generic-datepicker [(model)]="selectedResponsable.firstBilling" label="Première facturation"
                      [form]="principalForm" propertyName="firstBilling" [isDisabled]="true"></generic-datepicker>
                  </td>
                </tr>
              </table>

              <table class="full-width">
                <tr>
                  <td>
                    <generic-textarea [(model)]="selectedResponsable.mailRecipient" label="Destinataire(s) courrier"
                      [form]="principalForm" propertyName="mailRecipient" [isDisabled]="!editMode"
                      (filterInput)="limitTextareaSize(3)"></generic-textarea>
                  </td>
                  <td style="vertical-align: baseline;">
                    <radio-group-language [(model)]="selectedResponsable.language" [form]="principalForm"
                      propertyName="language" label="Langue de communication"></radio-group-language>
                  </td>
                </tr>
              </table>


              <table class="full-width">
                <tr>
                  <td>
                    <generic-input [(model)]="selectedResponsable.address" label="Adresse" [form]="principalForm"
                      propertyName="address" [isMandatory]="true" [maxLength]="20"></generic-input>
                  </td>
                  <td>
                    <autocomplete-city [(model)]="selectedResponsable.city" [modelCountry]="selectedResponsable.country"
                      [form]="principalForm" propertyName="city" [isMandatory]="true"
                      (onOptionSelected)="fillPostalCode($event)">
                    </autocomplete-city>
                  </td>
                  <td>
                    <autocomplete-postal-code [(model)]="selectedResponsable.postalCode" [form]="principalForm"
                      propertyName="postalCode" [isMandatory]="true"
                      [conditionnalRequired]="selectedResponsable.country != null && selectedResponsable.country.code == COUNTRY_CODE_FRANCE"
                      (onOptionSelected)="fillCity($event)"></autocomplete-postal-code>
                  </td>
                  <td>
                    <autocomplete-country [(model)]="selectedResponsable.country" [form]="principalForm"
                      propertyName="country" [isMandatory]="true"></autocomplete-country>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.building" label="Bâtiment" [form]="principalForm"
                      propertyName="building" [maxLength]="20"></generic-input>
                  </td>
                  <td>
                    <generic-input [(model)]="selectedResponsable.floor" label="Etage" [form]="principalForm"
                      propertyName="floor" [maxLength]="8"></generic-input>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <td
                    *ngIf="selectedResponsable.jssSubscription!=undefined && selectedResponsable.jssSubscription!=null">
                    <h4>Abonnement JSS</h4>
                    <mat-checkbox formControlName="jssSubscription1" class="checkbox-margin"
                      [(ngModel)]="selectedResponsable.jssSubscription.isWebSubscription">Numérique
                    </mat-checkbox>
                    <mat-checkbox formControlName="jssSubscription2" class="checkbox-margin"
                      [(ngModel)]="selectedResponsable.jssSubscription.isPaperSubscription">Papier/Numérique
                    </mat-checkbox>
                  </td>
                  <td
                    *ngIf="selectedResponsable.jssSubscription.isPaperSubscription || selectedResponsable.jssSubscription.isWebSubscription">
                    <select-subscription-period [(model)]="selectedResponsable.subscriptionPeriodType"
                      label="Durée de l'abonnement" [form]="principalForm" propertyName="subscriptionPeriodType"
                      [isDisabled]="!editMode" [isMandatory]="true"
                      [conditionnalRequired]="this.selectedResponsable != null && this.selectedResponsable.jssSubscription != null && (this.selectedResponsable.jssSubscription.isPaperSubscription || this.selectedResponsable.jssSubscription.isWebSubscription)">
                    </select-subscription-period>
                  </td>
                  <td
                    *ngIf="selectedResponsable.subscriptionPeriodType!=null && selectedResponsable.subscriptionPeriodType.code==SUSCRIPTION_TYPE_CODE_PERIODE_12M">
                    <generic-toggle [(model)]="selectedResponsable.isBouclette" label="Bouclette ?"
                      [form]="principalForm" propertyName="isBouclette"></generic-toggle>
                  </td>
                  <td>
                    <generic-input [(model)]="tiers.rcaFormaliteRate" label="Taux RCA Formalité" [form]="principalForm"
                      propertyName="rcaFormaliteRate" type="number"></generic-input>
                  </td>
                  <td>
                    <generic-input [(model)]="tiers.rcaInsertionRate" label="Taux RCA Insertion" [form]="principalForm"
                      propertyName="rcaInsertionRate" type="number"></generic-input>
                  </td>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <td>
                    <chips-mail label="Mails" [(model)]="selectedResponsable.mails" [form]="principalForm"
                      propertyName="mails" [isDisabled]="!editMode"></chips-mail>
                  </td>
                  <td>
                    <chips-phone label="Téléphones" [(model)]="selectedResponsable.phones" [form]="principalForm"
                      propertyName="phones" [isDisabled]="!editMode"></chips-phone>
                  </td>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <generic-textarea [(model)]="selectedResponsable.observations"
                    label="Observations / Informations complémentaires" [form]="principalForm"
                    propertyName="observations" [isDisabled]="!editMode" [numberOfLines]="4">
                  </generic-textarea>
                </tr>
              </table>
            </fieldset>
          </div>
        </mat-tab>
        <mat-tab label="Pièces et facturation">
          <settlement-billing [tiers]="selectedResponsable!" [editMode]="editMode"></settlement-billing>
        </mat-tab>
        <mat-tab label="Documents" *ngIf="selectedResponsable?.id!=null && selectedResponsable?.id!=undefined">
          <attachments [entity]="selectedResponsable!" [editMode]="editMode"
            [entityType]="RESPONSABLE_ENTITY_TYPE.entityType">
          </attachments>
        </mat-tab>
        <mat-tab label="Suivi" *ngIf="selectedResponsable?.id!=null && selectedResponsable?.id!=undefined">
          <tiers-followup [tiers]="selectedResponsable!" [editMode]="editMode"></tiers-followup>
        </mat-tab>
        <mat-tab label="Historique" *ngIf="selectedResponsable?.id!=null && selectedResponsable?.id!=undefined">
          <history [entity]="selectedResponsable" [entityType]="RESPONSABLE_ENTITY_TYPE"></history>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
