table {
  width: 100%;
  table-layout: fixed;
}

td {
  padding-right: 8px;
}

.mini-fab-add {
  margin: 5px
}

.responsable-tabs {
  margin-top: 20px;
}

.selected-mat-row {
  background-color: #6B9CBF;
}

.selected-mat-row:hover {
  background-color: #6B9CBF;
}

.checkbox-margin {
  margin: 0 12px;
}

tr.mat-row {
  height: 20px;
}

.table-container-scroll {
  max-height: 215px;
  overflow-y: auto;
  padding-top: 15px;
}

.mat-accordion-container {
  padding-top: 15px
}
